schema/2009v1.0/PartnershipIncome/Common/IRS8908/IRS8908.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Partnership Income Tax Schema - IRS Form 8908</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 20, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =================================================================== -->
	<!-- =======================  IRS Form 8908 ============================ -->
	<!-- =================================================================== -->

	<xsd:element name="IRS8908">
		<xsd:annotation>
			<xsd:documentation>IRS Form8908</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8908Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8908">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8908Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form8908</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Total Homes Meeting 50% Standard -->
			<xsd:element name="TotalHomesMeeting50PctStandard" type="LongIntegerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total homes meeting 50% Standard</Description>
						<LineNumber>Line 1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 1a by $2,000 -->
			<xsd:element name="MultiplyTotHomeStandardBy2000" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 1a by $2,000</Description>
						<LineNumber>Line 1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>		
			</xsd:element>

			<!-- Total Manufactured Homes Meeting 30% Standard -->
			<xsd:element name="TotManufacturedHmsMeetingStd" type="LongIntegerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total manufactured homes meeting 30% standard</Description>
						<LineNumber>Line 2a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 2a by $1,000 -->
			<xsd:element name="MultiplyTotManfctrdHmsBy1000" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 2a by $1,000</Description>
						<LineNumber>Line 2b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Energy Efficient Home Credit -->
			<xsd:element name="EnergyEfficientHomeCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Energy Efficient Home Credit</Description>
						<LineNumber>Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add lines 1b, 2b, and 3 -->
			<xsd:element name="TotalCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 1b, 2b, and 3</Description>
						<LineNumber>Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
