schema/2007v2.1/CorporateIncomeTax/Common/IRS8907/IRS8907.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8907</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>December 7, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =================================================================== -->
	<!-- =======================  IRS Form 8907 ============================ -->
	<!-- =================================================================== -->

	<xsd:element name="IRS8907">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8907</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8907Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8907">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8907Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 8907</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		
			<!-- Type of Qualified Fuel -->
			<xsd:element name="TypeOfQualifiedFuel" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Type of qualified fuel</Description>
						<LineNumber>Line A</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="xsd:string">
						<xsd:pattern value="[ABC]{1,3}" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Date the facility was placed in service -->
			<xsd:element name="DateFacilityPlacedInService" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date the facility was placed in service</Description>
						<LineNumber>Line B</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="DateType">
							<xsd:attribute name="referenceDocumentId" type="IdListType" />
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="FacilityPlacedInServiceStatement" />
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Barrel Of Equivalents - CY Qualified Coke and Coke Gas Sold Type -->
			<xsd:element name="CYQlfyCokeAndCokeGasSoldType1" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Barrel-of-equivalents - CY qualified coke and coke gas sold type</Description>
						<LineNumber>Line 1(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Barrel Of Equivalents - CY Qualified Fuels Sold Type -->
			<xsd:element name="CYQualifiedFuelsSoldType1" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Barrel-of-equivalents - CY qualified fuels sold type</Description>
						<LineNumber>Line 1(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
					
			<!-- Barrel Of Equivalents - Next Year Qualified Coke and Coke Gas Sold Type -->
			<xsd:element name="NYQlfyCokeAndCokeGasSoldType1" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Barrel of equivalents - Next year qualified coke and coke gas sold Type</Description>
						<LineNumber>Line 1(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Multiply $3 By The Inflation Adjustment Factor - CY Qualified Coke and Coke Gas Sold Type -->
			<xsd:element name="CYQlfyCokeAndCokeGasSoldType2" type="LargeRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply $3 by the inflation adjustment factor - CY qualified coke and coke gas sold type</Description>
						<LineNumber>Line 2(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Multiply $3 By The Inflation Adjustment Factor - CY Qualified Fuels Sold Type -->
			<xsd:element name="CYQualifiedFuelsSoldType2" type="LargeRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply $3 by the inflation adjustment factor - CY qualified fuels sold type</Description>
						<LineNumber>Line 2(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Multiply $3 By The Inflation Adjustment Factor - Next Year Qualified Coke and Coke Gas Sold Type -->
			<xsd:element name="NYQlfyCokeAndCokeGasSoldType2" type="LargeRatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply $3 by the inflation adjustment factor - Next year qualified coke and coke gas sold Type</Description>
						<LineNumber>Line 2(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Multiply Line 2 by Line 1 - CY Qualified Coke and Coke Gas Sold Type -->
			<xsd:element name="CYQlfyCokeAndCokeGasSoldType3" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 2 by line 1 - CY qualified coke and coke gas sold type</Description>
						<LineNumber>Line 3(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Multiply Line 2 by Line 1 - CY Qualified Fuels Sold Type -->
			<xsd:element name="CYQualifiedFuelsSoldType3" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 2 by line 1 - CY qualified fuels sold type</Description>
						<LineNumber>Line 3(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Multiply Line 2 by Line 1 - Next Year Qualified Coke and Coke Gas Sold Type -->
			<xsd:element name="NYQlfyCokeAndCokeGasSoldType3" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 2 by line 1 - Next year qualified coke and coke gas sold type</Description>
						<LineNumber>Line 3(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Phase Out Adjustments - CY Qualified Coke and Coke Gas Sold Type -->
			<xsd:element name="CYQlfyCokeAndCokeGasSoldType4" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Phase out adjustments - CY qualified coke and coke gas sold type</Description>
						<LineNumber>Line 4(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Phase Out Adjustments - CY Qualified Fuels Sold Type -->
			<xsd:element name="CYQualifiedFuelsSoldType4" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Phase out adjustments - CY qualified fuels sold type</Description>
						<LineNumber>Line 4(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Phase Out Adjustments - Next Year Qualified Coke and Coke Gas Sold Type -->
			<xsd:element name="NYQlfyCokeAndCokeGasSoldType4" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Phase out adjustments - Next year qualified coke and coke gas sold type</Description>
						<LineNumber>Line 4(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Subtract Line 4 From Line 3 - CY Qualified Coke and Coke Gas Sold Type -->
			<xsd:element name="CYQlfyCokeAndCokeGasSoldType5" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 4 from line 3 - CY qualified coke and coke gas sold type</Description>
						<LineNumber>Line 5(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Subtract Line 4 From Line 3 - CY Qualified Fuels Sold Type -->
			<xsd:element name="CYQualifiedFuelsSoldType5" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 4 from line 3 - CY qualified fuels sold type</Description>
						<LineNumber>Line 5(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Subtract Line 4 From Line 3 - Next Year Qualified Coke and Coke Gas Sold Type -->
			<xsd:element name="NYQlfyCokeAndCokeGasSoldType5" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 4 from line 3 - Next year qualified coke and coke gas sold type</Description>
						<LineNumber>Line 5(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Add Columns (a) Through (c) on Line 5 -->
			<xsd:element name="TotalFuelsSold" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add columns (a) through (c) on line 5</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Reduction Due to Government Monies and Subsidized Financing -->
			<xsd:element name="ReductionDueToGovernment" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduction due to government monies and subsidized financing</Description>
						<LineNumber>Line 7(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total of Additions to the Capital Account  -->
			<xsd:element name="TotalAdditionsCapitalAccount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total of additions to the capital account</Description>
						<LineNumber>Line 7(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Divide Line 7a by Line 7b -->
			<xsd:element name="DivideLine7aByLine7b" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Divide line 7a by line 7b</Description>
						<LineNumber>Line 7(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Multiply Line 6 by Line 7c -->
			<xsd:element name="MultiplyLine6ByLine7c" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 6 by line 7c</Description>
						<LineNumber>Line 7(d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Subtract Line 7d From Line 6 -->
			<xsd:element name="SubtractLine7dFromLine6" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 7d from line 6</Description>
						<LineNumber>Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Reduction Due to Energy Credit -->
			<xsd:element name="ReductionDueToEnergyCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduction due to energy credit</Description>
						<LineNumber>Line 9(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Amount Recaptured on Line 9a -->
			<xsd:element name="TotalAmountRecaptured" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total amount recaptured on line 9a</Description>
						<LineNumber>Line 9(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Subtract Line 9b From Line 9a -->
			<xsd:element name="SubtractLine9bFromLine9a" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 9b from line 9a</Description>
						<LineNumber>Line 9(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Subtract Line 9c From Line 8 -->
			<xsd:element name="SubtractLine9cFromLine8" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract Line 9c From Line 8</Description>
						<LineNumber>Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Reduction Due to Enhance Oil Recovery Credit (Form 8830) -->
			<xsd:element name="ReductionEnhanceOilRecoveryCr" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reduction due to enhance oil recovery credit (Form 8830)</Description>
						<LineNumber>Line 11(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Amount of Enhanced Oil Recovery Credit -->
			<xsd:element name="TotAmountEnhancedOilRecoveryCr" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total amount of enhanced oil recovery credit</Description>
						<LineNumber>Line 11(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Subtract Line 11b From Line 11a -->
			<xsd:element name="SubtractLine11bFromLine11a" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 11b from line 11a</Description>
						<LineNumber>Line 11(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Subtract Line 11c From Line 10 -->
			<xsd:element name="SubtractLine11cFromLine10" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 11c from line 10</Description>
						<LineNumber>Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Nonconventional Source Fuel Credits -->
			<xsd:element name="NonconventionalSourceFuelCr" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Nonconventional source fuel credits</Description>
						<LineNumber>Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Add Lines 12 And 13 -->
			<xsd:element name="AddLines12And13" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 12 and 13</Description>
						<LineNumber>Line 14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Amount Allocated to Beneficiaries -->
			<xsd:element name="AmountAllocatedToBeneficiaries" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount allocated to beneficiaries</Description>
						<LineNumber>Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Estates and Trusts Credit -->
			<xsd:element name="EstatesAndTrustsCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Estates and trusts credit</Description>
						<LineNumber>Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
		
</xsd:schema>
