schema/2006v4.3/TEGE/TEGE990EZ/IRS990EZ/ProxyTaxExplanation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Proxy Tax Explanation</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>November 14, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ============================================================== -->
	<!-- ================= Proxy Tax Explanation =============== -->
	<!-- ============================================================== -->
	
	<xsd:element name="ProxyTaxExplanation">
		<xsd:annotation>
			<xsd:documentation>Proxy tax explanation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ProxyTaxExplanationType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ProxyTaxExplanation">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="ProxyTaxExplanationType">
		<xsd:annotation>
			<xsd:documentation>Content model for Proxy tax explanation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		
			<!-- Non-deductible Dues -->
			<xsd:element name="NondeductibleDues" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Non-deductible dues</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- In-house Lobbying Expenditures -->
			<xsd:element name="InhouseLobbyingExpenditures" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>In-house lobbying expenditures</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Dues and Assessments -->
			<xsd:element name="DuesAndAssessments" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Dues and assessments</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Sec. 162(e) Expenditures -->
			<xsd:element name="Sect162eExpenditures" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sec. 162(e) expenditures</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Aggregate Nondeductible Amount -->
			<xsd:element name="AggregateNondeductibleAmount" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Aggregate nondeductible amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Taxable Amount -->
			<xsd:element name="TaxableAmount" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- 6033(e) Election -->
			<xsd:element name="Election6033e" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>6033(e) election</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Dues Notice -->
			<xsd:element name="DuesNotice" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Dues notice</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
