schema/2009v1.8/CorporateIncomeTax/Common/IRS3115/WholesaleOrRetailGoodsProposedNumOfPoolsStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Wholesaling or Retailing Goods Proposed Number of Pools Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 25, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ========================================================================= -->
	<!-- === Wholesaling or Retailing Goods Proposed Number of Pools Statement === -->
	<!-- ========================================================================= -->


	<xsd:element name="WholesaleRetailPrpsdPoolsStmt">
		<xsd:annotation>
			<xsd:documentation>Wholesaling or Retailing Goods Proposed Number of Pools Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="WholesaleRetailPrpsdPoolsStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="WholesaleOrRetailGoodsProposedNumOfPoolsStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="WholesaleRetailPrpsdPoolsStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Wholesaling or Retailing Goods Proposed Number of Pools Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="Statement" type="ShortExplanationType" minOccurs="0" maxOccurs="unbounded"/>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
