schema/2007v2.10/TEGE/TEGE990PF/IRS990PF/Section4942a2ExplanationStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Section 4942(a)(2) Explanation Statement</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>November 14, 2008</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
		
	<!-- =============================================================== -->
	<!-- ========== Section 4942(a)(2) Explanation Statement =========== -->
	<!-- =============================================================== -->
	
	<xsd:element name="Sect4942a2ExplanationStatement">
		<xsd:annotation>
			<xsd:documentation>Section 4942(a)(2) Explanation Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Sect4942a2ExplanationStatementType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="Section4942a2ExplanationStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="Sect4942a2ExplanationStatementType">
		<xsd:annotation>
			<xsd:documentation>Content model for Section 4942(a)(2) Explanation Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="Explanation" type="ShortExplanationType" minOccurs="0" />

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
