schema/2009v1.1/CorporateIncomeTax/Common/IRS3115/RequestToDeferAdvancePaymentUnderRegSect14515Stmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Request to Defer Advance Payment Under Reg. Sect 1.451-5 Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 22, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ========================================================================== -->
	<!-- === Request to Defer Advance Payment Under Reg. Sect 1.451-5 Statement === -->
	<!-- ========================================================================== -->


	<xsd:element name="ReqToDeferUndRegSect14515Stmt">
		<xsd:annotation>
			<xsd:documentation>Request to Defer Advance Payment Under Reg. Sect 1.451-5 Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ReqToDeferUndRegSect14515StmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="RequestToDeferAdvancePaymentUnderRegSect14515Stmt">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="ReqToDeferUndRegSect14515StmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Request to Defer Advance Payment Under Reg. Sect 1.451-5 Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Statement -->
			<xsd:element name="Statement" type="ExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Statement</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>		

</xsd:schema>
