schema/2009v1.7/CorporateIncomeTax/Common/IRS6765/CapExpensesDedAmountsSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Capitalized Expenses/Deduction Schedule</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>September 29, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ========================================================= -->
	<!-- ======== Capitalized Expenses/Deduction Schedule ======= -->
	<!-- ========================================================= -->

	<xsd:element name="CapExpensesDedAmountsSch">
		<xsd:annotation>
			<xsd:documentation>Capitalized Expenses/Deduction Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CapExpensesDedAmountsSchType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Transfer</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="CapExpensesDedAmountsSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Capitalized Expenses/Deduction Schedule-->
	<xsd:complexType name="CapExpensesDedAmountsSchType">
		<xsd:annotation>
			<xsd:documentation>Capitalized Expenses/Deduction Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="CapExpensesDedAmounts" maxOccurs="unbounded"> 
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Type" type="LineExplanationType"/>
						<xsd:element name="Amount" type="USAmountType"/>
						<xsd:element name="LineNumber">
							<xsd:simpleType>
								<xsd:restriction base="IntegerType">
									<xsd:totalDigits value="5"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
