schema/2015v2.1/CorporateIncomeTax/Common/IRS5713/BoycottAgreementsStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Boycott Agreements Statement</Description>
			<TaxYear>2015</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 29, 2015</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	<!-- ============================================= -->
	<!-- ======== Boycott Agreements Statement ======= -->
	<!-- ============================================== -->
	<xsd:element name="BoycottAgreementsStatement">
		<xsd:annotation>
			<xsd:documentation>Boycott Agreements Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="BoycottAgreementsStatementType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Boycott Agreements</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="BoycottAgreementsStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- Boycott Agreements Statement -->
	<xsd:complexType name="BoycottAgreementsStatementType">
		<xsd:annotation>
			<xsd:documentation>Boycott Agreements Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LongExplanationTxt" type="LongExplanationType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
