schema/2015v2.1/CorporateIncomeTax/Common/IRS5713/IRS5713.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 5713</Description>
			<TaxYear>2015</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 29, 2015</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ================================================================== -->
	<!-- ======================  IRS Form 5713 ============================ -->
	<!-- ================================================================== -->


	<xsd:element name="IRS5713">
		<xsd:annotation>
			<xsd:documentation>IRS Form 5713</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS5713Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS5713">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType"/>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="GeneralDependencySmall IRS5713ScheduleA IRS5713ScheduleB IRS5713ScheduleC"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS5713Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 5713</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Tax Year Beginnining -->
			<xsd:element name="TaxYearBeginDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year beginnining</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax Year Ending -->
			<xsd:element name="TaxYearEndDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year ending</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Choice between Business Name or Name -->
			<xsd:choice minOccurs="0">

				<!-- Business Name -->
				<xsd:element name="BusinessName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Business name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Name -->
				<xsd:element name="NameLine1Txt" type="NameLine1Type">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between EIN, SSN or Missing EIN Reason -->
			<xsd:choice minOccurs="0">

				<!-- EIN -->
				<xsd:element name="EIN" type="EINType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- SSN -->
				<xsd:element name="SSN" type="SSNType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SSN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Missing EIN Reason -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Address -->
			<xsd:element name="USAddress" type="USAddressType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Address</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Service Center where Tax Return is Filed -->
			<xsd:element name="ServiceCenterWhereRetFiledCd" type="IRSServiceCenterType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Service Center where Tax Return is Filed</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Filer Type -->
			<xsd:choice>

				<!-- Individual Filer Type-->
				<xsd:element name="IndividualInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Individual filer type</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!--Partnership Filer Type-->
				<xsd:element name="PartnershipInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Partnership filer type</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Corporation Filer Type -->
				<xsd:element name="CorporationInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Corporation filer type</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Trust Filer Type-->
				<xsd:element name="TrustInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Trust filer type</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Estate Filer Type-->
				<xsd:element name="EstateInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Estate filer type</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Other Filer Type -->
				<xsd:element name="OtherInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Other filer type</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!--  Adjusted Gross Income -->
 			<xsd:element name="AdjustedGrossIncomeAmt" type="USAmountType" minOccurs="0">
 				<xsd:annotation>
					<xsd:documentation>
 						<Description>Adjusted Gross Income</Description>
 						<LineNumber>1</LineNumber>
 					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Partnerships and Corporations -->
			<xsd:element name="PartnershipAndCorporationGrp" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partnerships and Corporations</Description>
						<LineNumber>2b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="PartnershipAndCorporationGrpType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS851"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Additional Partnership and Corporation Information Included -->
			<xsd:element name="AdditionalSpaceRequiredInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Additional partnership and corporation information included</Description>
						<LineNumber>2b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Principal business activity code or Inactive -->
			<xsd:choice minOccurs="0">

				<!-- Principal Business Activity Code -->
				<xsd:element name="PrincipalBusinessActivityCd" type="BusinessActivityCodeType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Principal business activity code</Description>
							<LineNumber>2c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Inactive principal business activity code -->
				<xsd:element name="InactivePrincipalBusActyCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Inactive Principal business activity code</Description>
							<LineNumber>2c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="Inactive"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Principal Business Activity Description -->
			<xsd:element name="PrincipalBusinessActivityDesc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Principal business activity description</Description>
						<LineNumber>2c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Principal Product Code -->
			<xsd:element name="PrincipalProductCodeDesc" type="ShortDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Principal product code</Description>
						<LineNumber>2d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Principal Product Code Description -->
			<xsd:element name="PrincipalProductDesc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Principal product code description</Description>
						<LineNumber>2d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Partnership’s Total Asset-->
			<xsd:element name="PartnershipsTotalAssetAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
   						<Description> Partnership’s Total Asset</Description>
   						<LineNumber>3a</LineNumber>
   					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Partnership’s Ordinary Income -->
 			<xsd:element name="PartnershipsOrdinaryIncomeAmt" type="USAmountType" minOccurs="0">
 				<xsd:annotation>
					<xsd:documentation>
 						<Description> Partnership’s Ordinary Income</Description>
 						<LineNumber>3b</LineNumber>
 					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Type of Form Filed -->
			<xsd:element name="FormFiledTypeCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Type of form filed</Description>
						<LineNumber>4a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:enumeration value="1120"/>
						<xsd:enumeration value="1120S"/>
						<xsd:enumeration value="1120-F"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Name of Corporation -->
			<xsd:element name="CorporationName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of corporation</Description>
						<LineNumber>4b(1)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="BusinessNameType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="CommonTaxableYearElectionStmt"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Choice between Employer Identification Number, or EIN Missing Reason -->
			<xsd:choice minOccurs="0">

				<!-- Employer Identification Number -->
				<xsd:element name="EmployerIdentificationNum" type="EINType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Employer identification number</Description>
							<LineNumber>4b(2)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- EIN Missing Reason -->
				<xsd:element name="CorporationMissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN Missing reason</Description>
							<LineNumber>4b(2)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Common Tax Year Beginning -->
			<xsd:element name="CommonTaxYearBeginDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Common tax year beginning</Description>
						<LineNumber>4b(3)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Common Tax Year Ending -->
			<xsd:element name="CommonTaxYearEndDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Common tax year ending</Description>
						<LineNumber>4b(3)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Assets -->
			<xsd:element name="TotalAssetsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total assets</Description>
						<LineNumber>4c(1)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxable Income Before Net Loss and Deductions -->
			<xsd:element name="TaxableIncomeLossBfrNOLDedAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxable income before net loss and deductions</Description>
						<LineNumber>4c(2)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Income Of Estates Or Trusts -->
			<xsd:element name="TotalEstateOrTrustIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total income of estates or trusts</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Credit -->
			<xsd:element name="ForeignTaxCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign tax credit</Description>
						<LineNumber>6a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Deferral of Earnings of Controlled Foreign Corporations -->
			<xsd:element name="DeferralEarnCtrlFrgnCorpAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deferral of earnings of controlled foreign corporations</Description>
						<LineNumber>6b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Deferral Of IC-DISC Income -->
			<xsd:element name="DeferralICDISCIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deferral Of IC-DISC Income</Description>
						<LineNumber>6c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Exempt FSC Income -->
			<xsd:element name="FSCExemptForeignTradeIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Exempt FSC income</Description>
						<LineNumber>6d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Extraterritorial Exclusion Foreign Trade Income -->
			<xsd:element name="ExtraterritorialExclIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Extraterritorial exclusion foreign trade income</Description>
						<LineNumber>6e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Shareholder of Foreign Corporation that had Operations Reportable Under Section 999(a) -->
			<xsd:element name="ShrFrgnCorpReportableOprInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Shareholder of foreign corporation that had operations reportable under Section 999(a)</Description>
						<LineNumber>7a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Is Any Foreign Corporation a Controlled Foreign Corporation -->
			<xsd:element name="FrgnCorpControlledFrgnCorpInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is any foreign corporation a controlled foreign corporation</Description>
						<LineNumber>7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Do You Own any Stock of an IC-DISC -->
			<xsd:element name="OwnICDISCStockInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Do you own any stock of an IC-DISC</Description>
						<LineNumber>7c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Do You Claim Any Foreign Tax Credit -->
			<xsd:element name="ClaimForeignTaxCreditInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Do you claim any foreign tax credit</Description>
						<LineNumber>7d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Do You Control Any Corporation that has Operations Reportable Under Section 999(a) -->
			<xsd:element name="ControlCorpReportableOprInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Do you control any corporation that has operations reportable under Section 999(a)</Description>
						<LineNumber>7e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Did That Corporation Participate in an International Boycott -->
			<xsd:element name="CorporationParticipateByctInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did that corporation participate in an international boycott</Description>
						<LineNumber>7e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Are You Controlled by Any Person who has Operations Reportable Under Section 999(a) -->
			<xsd:element name="ControlledPrsnReportableOprInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Are you controlled by any person who has operations reportable under Section 999(a)</Description>
						<LineNumber>7f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Did that Person Participate in an International Boycott -->
			<xsd:element name="PersonParticipateBoycottInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did that person participate in an international boycott</Description>
						<LineNumber>7f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Do You Own a Trust that has Reportable Operations under Section 999(a) -->
			<xsd:element name="OwnerTrustReportableOprInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Do You Own a Trust that has Reportable Operations under Section 999(a)</Description>
						<LineNumber>7g</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Are You a Partner in a Partnership that has Reportable Operations Under Section 999(a) -->
			<xsd:element name="PartnershipReportableOprInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Are you a partner in a partnership that has reportable operations under Section 999(a)</Description>
						<LineNumber>7h</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Are You a Foreign Sales Corporation -->
			<xsd:element name="ForeignSalesCorporationInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Are you a foreign sales corporation</Description>
						<LineNumber>7i</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Are You Excluding Extraterritorial Income from Gross Income -->
			<xsd:element name="ExtraterritorialExclGroIncmInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Are you excluding extraterritorial income from gross income</Description>
						<LineNumber>7j</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part I: Operations in or Related to a Boycotting Country -->

			<!-- Has Operations in Countries Boycotting Israel -->
			<xsd:element name="OperationsCountryByctIsraelInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Has operations in countries boycotting Israel</Description>
						<LineNumber>Part I, Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Addition Information about Operations in Countries Boycotting Israel -->
			<xsd:element name="AddnlInfoCountryByctIsraelInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Addition information about operations in countries boycotting Israel</Description>
						<LineNumber>Part I, Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Operations in Countries Boycotting Israel -->
			<xsd:element name="OprInCtryBoycottingIsrael" type="BoycottDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Operations in countries boycotting Israel</Description>
						<LineNumber>Part I, Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Has Operations in Nonlisted Countries Boycotting Israel -->
			<xsd:element name="OprNonlistedCtryByctIsraelInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Has operations in nonlisted countries boycotting Israel</Description>
						<LineNumber>Part I, Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Additional Information Relating to Operations in Nonlisted Countries Boycotting Israel -->
			<xsd:element name="AddnlInfoNonlistByctIsraelInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Additional information relating to operations in nonlisted countries boycotting Israel</Description>
						<LineNumber>Part I, Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Operations in Nonlisted Countries Boycotting Israel -->
			<xsd:element name="OprInNonlistedCtryByctIsrael" type="BoycottDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Operations in nonlisted countries boycotting Israel</Description>
						<LineNumber>Part I, Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Has Operations in Countries Boycotting Country Besides Israel -->
			<xsd:element name="OperationsNonIsraelByctCtryInd" type="BooleanType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Has operations in countries boycotting country besides Israel</Description>
						<LineNumber>Part I, Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Additional Information Relating to Countries Boycotting Country Besides Israel -->
			<xsd:element name="AddnlInfoOprNonIsrlByctCtryInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Additional information relating to nonlisted countries boycotting Israel</Description>
						<LineNumber>Part I, Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Operations in Countries Boycotting Country Besides Israel -->
			<xsd:element name="OprInNonIsraelBoycottingCtry" type="BoycottDetailsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Operations in countries boycotting country besides Israel</Description>
						<LineNumber>Part I, Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Were You Requested to Participate in or Cooperate with an International Boycott -->
			<xsd:element name="ReqParticipateBoycottInd">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Were you requested to participate in or cooperate with an international boycott</Description>
						<LineNumber>Part I, Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BoycottRequestsStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Did You Participate in or Cooperate with an International Boycott -->
			<xsd:element name="ParticipateBoycottInd">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did you participate in or cooperate with an international boycott</Description>
						<LineNumber>Part I, Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BoycottAgreementsStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Part II: Requests for and Acts of Participation in or Cooperation With an International Boycott -->

			<!-- Received Request to Refrain from Doing Business with a Boycotted Country -->
			<xsd:element name="ReqRefrainDoingBusByctCtryInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Received request to refrain from doing business with a boycotted country</Description>
						<LineNumber>Part II, Line 13a(1)(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Agree to Refrain from Doing Business with a Boycotted Country -->
			<xsd:element name="AgrRefrainDoingBusByctCtryInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Agree to refrain from doing business with a boycotted country</Description>
						<LineNumber>Part II, Line 13a(1)(a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Received Request to Refrain from Doing Business with a US Person -->
			<xsd:element name="ReqRefrainDoingBusUSPrsnInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Received request to refrain from doing business with a US person</Description>
						<LineNumber>Part II, Line 13a(1)(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Agree to Refrain from Doing Business with a US Person -->
			<xsd:element name="AgreeRefrainDoingBusUSPrsnInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Agree to refrain from doing business with a US person</Description>
						<LineNumber>Part II, Line 13a(1)(b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Received Request to Refrain from Doing Business with a company -->
			<xsd:element name="RequestRefrainDoingBusCoRNOInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Received request to refrain from doing business with a company</Description>
						<LineNumber>Part II, Line 13a(1)(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Agree to Refrain from Doing Business with a company -->
			<xsd:element name="AgreeRefrainDoingBusCoRNOInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Agree to refrain from doing business with a company</Description>
						<LineNumber>Part II, Line 13a(1)(c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Received Request to Refrain from Employing Certain Individuals -->
			<xsd:element name="RequestRefrainEmplgIndivRNOInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Received request to refrain from employing certain individuals</Description>
						<LineNumber>Part II, Line 13a(1)(d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Agree to Refrain from Employing Certain Individuals -->
			<xsd:element name="AgreeRefrainEmplgIndivRNOInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Agree to refrain from employing certain individuals</Description>
						<LineNumber>Part II, Line 13a(1)(d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Received Request to Refrain from Shipping or Insuring Certain Products -->
			<xsd:element name="RequestRefrainShippingProdInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Received request to refrain from shipping or insuring certain products</Description>
						<LineNumber>Part II, Line 13a(2)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Agree to Refrain from Shipping or Insuring Certain Products -->
			<xsd:element name="AgreeRefrainShippingProdInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Agree to refrain from shipping or insuring certain products</Description>
						<LineNumber>Part II, Line 13a(2)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Additional Boycott Requests and Agreements Information Included -->
			<xsd:element name="AddnlByctReqAndAgrmtIncldInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Additional boycott requests and agreements information included</Description>
						<LineNumber>Part II, Line 13b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Boycott Requests and Agreements -->
			<xsd:element name="BoycottRequestsAndAgreements" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Boycott requests and agreements</Description>
						<LineNumber>Part II, Line 13b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="BoycottDetailsType">
							<xsd:sequence>

								<!-- Total Number of Boycott Requests -->
								<xsd:element name="BoycottRequestCnt" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>
											<Description>Total number of boycott requests</Description>
											<LineNumber>Part II, Line 13b, Column (6)</LineNumber>
										</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="IntegerType">
											<xsd:totalDigits value="12"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>

								<!-- Number of Boycott Requests Code -->
								<xsd:element name="NumberBoycottRequestCd" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>
											<Description>Number of boycott requests code</Description>
											<LineNumber>Part II, Line 13b, Column (7)</LineNumber>
										</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="StringType">
											<xsd:enumeration value="01"/>
											<xsd:enumeration value="02"/>
											<xsd:enumeration value="03"/>
											<xsd:enumeration value="04"/>
											<xsd:enumeration value="05"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>

								<!-- Total Number of Boycott Agreements -->
								<xsd:element name="BoycottAgrmtCnt" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>
											<Description>Total number of boycott Agreements</Description>
											<LineNumber>Part II, Line 13b, Column (8)</LineNumber>
										</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="IntegerType">
											<xsd:totalDigits value="12"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>

								<!-- Number of Boycott Agreements Code -->
								<xsd:element name="NumberBoycottAgrmtCd" minOccurs="0">
									<xsd:annotation>
										<xsd:documentation>
											<Description>Number of boycott agreements code</Description>
											<LineNumber>Part II, Line 13b, Column (9)</LineNumber>
										</xsd:documentation>
									</xsd:annotation>
									<xsd:simpleType>
										<xsd:restriction base="StringType">
											<xsd:enumeration value="01"/>
											<xsd:enumeration value="02"/>
											<xsd:enumeration value="03"/>
											<xsd:enumeration value="04"/>
											<xsd:enumeration value="05"/>
										</xsd:restriction>
									</xsd:simpleType>
								</xsd:element>

							</xsd:sequence>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>

			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>


	<!-- ========================================================================== -->
	<!-- ======================  Recurring Local Types ============================ -->
	<!-- ========================================================================== -->


	<!-- Partnership and Corporation Repeating Group Type -->
	<xsd:complexType name="PartnershipAndCorporationGrpType">
		<xsd:sequence>

			<!-- Choice between Business Name, or Name -->
			<xsd:choice minOccurs="1">

				<!-- Name of Partnership or Corporation -->
				<xsd:element name="BusinessName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of partnership or corporation</Description>
							<LineNumber>2b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Name -->
				<xsd:element name="NameLine1Txt" type="NameLine1Type">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name</Description>
							<LineNumber>2b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between EIN, SSN, or Missing EIN Reason -->
			<xsd:choice minOccurs="0">

				<!-- Identifying Number of Partnership or Corporation -->
				<xsd:element name="EIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identifying number of partnership or corporation</Description>
							<LineNumber>2b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
				<!-- SSN of Individual -->
				<xsd:element name="SSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SSN of individual</Description>
							<LineNumber>2b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>				

				<!-- Missing EIN Reason -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
							<LineNumber>2b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Boycott Details Repeating Group Type -->
	<xsd:complexType name="BoycottDetailsType">
		<xsd:sequence>

			<!-- Name of Country -->
			<xsd:element name="CountryCd" type="CountryType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>NameOfCountry</Description>
						<LineNumber>Part I, Column (1)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- SSN of Person Involved, EIN of Person Involved or Missing EIN Reason -->
			<xsd:choice minOccurs="0">

				<!--  SSN of Person Involved -->
				<xsd:element name="PersonInvolvedSSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SSN of Person Involved</Description>
							<LineNumber>Part I, Column (2)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!--  EIN of Person Involved -->
				<xsd:element name="PersonInvolvedEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN of Person Involved</Description>
							<LineNumber>Part I, Column (2)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Missing EIN Reason -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
							<LineNumber>Part I, Column (2)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Name of Foreign Corporation Having the Operation in or Related to the Listed Country -->
			<xsd:element name="ForeignCorporationName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of foreign corporation having the operation in or related to the listed country</Description>
						<LineNumber>Part I, Column (2)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Identifying Number of the Related Foreign Corporations: choice between EIN, or "APPLD FOR" or "FOREIGNUS" -->
			<xsd:choice minOccurs="0">

				<!-- Identifying Number of the Related Foreign Corporations-->
				<xsd:element name="ForeignCorporationEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identifying number of the related foreign corporations</Description>
							<LineNumber>Part I, Column (2)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Missing Identifying Number Reason of the Related Foreign Corporations-->
				<xsd:element name="ForeignCorpMissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing identifying number reason of the related foreign corporations</Description>
							<LineNumber>Part I, Column (2)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Principal business activity code or Inactive -->
			<xsd:choice minOccurs="0">

				<!-- Principal Business Activity Code -->
				<xsd:element name="PrincipalBusinessActivityCd" type="BusinessActivityCodeType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Principal business activity code</Description>
							<LineNumber>Part I, Column (3)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Inactive principal business activity code -->
				<xsd:element name="InactivePrincipalBusActyCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Inactive Principal business activity code</Description>
							<LineNumber>Part I, Column (3)</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="Inactive"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Principal Business Activity Description -->
			<xsd:element name="PrincipalBusinessActivityDesc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Principal business activity description</Description>
						<LineNumber>Part I, Column (4)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- IC-DISCS only - Enter Product Code -->
			<xsd:element name="PrincipalProductCodeDesc" type="ShortDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>IC-DISCS only - enter product code</Description>
						<LineNumber>Part I, Column (5)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
