schema/2013v2.0/TEGE/TEGE990PF/IRS990PF/OtherDecreasesSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Other Decreases Schedule</Description>
			<TaxYear>2013</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>September 16, 2013</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ============================================ -->
	<!-- ========= Other Decreases Schedule ========= -->
	<!-- ============================================ -->
	
	<xsd:element name="OtherDecreasesSchedule">
		<xsd:annotation>
			<xsd:documentation>Other Decreases Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OtherDecreasesScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="OtherDecreasesSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="OtherDecreasesScheduleType">
		<xsd:annotation>
			<xsd:documentation>Content model for Other Decreases Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="OtherDecreasesDetail" type="USItemizedEntryType" minOccurs="0" maxOccurs="unbounded"/>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
