schema/2013v2.0/CorporateIncomeTax/Common/IRS8835/IRS8835.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8835</Description>
			<TaxYear>2013</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>September 16, 2013</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ================================================================== -->
	<!-- ======================  IRS Form 8835 ============================ -->
	<!-- ================================================================== -->


	<xsd:element name="IRS8835">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8835</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8835Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8835">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="fiscalYearTaxpayerCd">
						<xsd:simpleType>
							<xsd:restriction base="StringType">
								<xsd:enumeration value="FY"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8835Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8835</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Part I - Part I   Electricity Produced at Qualified Facilities Placed in Service Before October 23, 2004 -->
			<xsd:element name="QualifiedFacilitiesPriorTo1023" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>

					<!-- Number of Kilowatt-Hours Produced and Sold -->
						<xsd:element name="KilowattHoursPrdcdAndSoldQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Number of kilowatt-hours produced and sold</Description>
									<LineNumber>Part I Line 1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Total Kilowatt-Hours Produced and Sold Credit -->
						<xsd:element name="TotalKwHrsPrdcdAndSoldCrAmt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total kilowatt-hours produced and sold credit</Description>
									<LineNumber>Part I Line 1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="USAmountType">
										<xsd:attribute name="referenceDocumentId" type="IdListType"/>
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ClosedLoopFacilityKwHrsComputationSchedule"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>

						<!-- Credit Before Phaseout Adjustment -->
						<xsd:element name="CreditBfrPhaseoutAdjustmentAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Credit before phaseout adjustment</Description>
									<LineNumber>Part I Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Phaseout Adjustment Rate -->
						<xsd:element name="PhaseoutAdjustmentRt" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Phaseout adjustment rate</Description>
									<LineNumber>Part I Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total Phaseout Adjustment -->
						<xsd:element name="TotalPhaseoutAdjustmentAmt" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total phaseout adjustment</Description>
									<LineNumber>Part I Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="USAmountType">
										<xsd:attribute name="referenceDocumentId" type="IdListType"/>
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ClosedLoopFacilityPhaseoutAdjComputationSchedule"/>
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>

						<!-- Credit Before Reduction -->
						<xsd:element name="CreditBeforeReductionAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Credit before reduction.  Subtract line 2 from line 1</Description>
									<LineNumber>Part I Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total of Government Grants -->
						<xsd:element name="TotalGovernmentGrantsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total of government grants</Description>
									<LineNumber>Part I Line 4</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total of Additions to the Capital Account -->
						<xsd:element name="TotCapitalAccountAdditionsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total of additions to the capital account</Description>
									<LineNumber>Part I Line 5</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Credit Reduction Percentage -->
						<xsd:element name="CreditReductionRt" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Divide line 4 by line 5</Description>
									<LineNumber>Part I Line 6</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Credit Reduction -->
						<xsd:element name="CreditReductionAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Multiply line 3 by line 6</Description>
									<LineNumber>Part I Line 7</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adjusted Credit Reduction -->
						<xsd:element name="AdjustedCreditReductionAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Subtract line 7 from line 3</Description>
									<LineNumber>Part I Line 8</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Renewable Electricity Production Credit -->
						<xsd:element name="RenewableElectricityProdCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Part I Renewable electricity production credit</Description>
									<LineNumber>Part I Line 9</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adjusted Credit Reduction and Renewable Electricity Production Credit  -->
						<xsd:element name="AdjCrRedAndRnwblElecProdCrAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Adjusted credit reduction and renewable electricity production credit.  Add lines 8 and 9</Description>
									<LineNumber>Part I Line 10</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Part II - Allowable Credit -->

						<!--Amount allocated to patrons of cooperatives or beneficiaries   -->
						<xsd:element name="AllocatedToBeneficiariesAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Amount allocated to patrons of cooperatives or beneficiaries</Description>
									<LineNumber>Part I Line 11</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!--  Estates, Trusts and Cooperatives Credit-->
						<xsd:element name="EstatesTrustsCooperativesAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Estates, trusts and cooperatives credit</Description>
									<LineNumber>Part I Line 12</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>



					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Part II - Electricity and Refined Coal Produced at Qualified Facilities Placed In Service After October 22, 2008 -->
			<xsd:element name="QualifiedFacilitiesAfter1022" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Kilowatt-Hours Produced and Sold - Wind Number -->
						<xsd:element name="KwHrsPrdcdAndSoldWindQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Wind number</Description>
									<LineNumber>Part II Line 13a(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Wind Credit Amount -->
						<xsd:element name="KwHrsPrdcdAndSoldWindCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Wind credit amount</Description>
									<LineNumber>Part II Line 13a(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Closed Loop Biomass Number -->
						<xsd:element name="KwHrsPrdcdSoldClsLoopBmssQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Closed loop biomass number</Description>
									<LineNumber>Part II Line 13b(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Closed Loop Biomass Credit Amount -->
						<xsd:element name="KwHrsPrdcdSoldClsLoopBmssCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Closed loop biomass credit amount</Description>
									<LineNumber>Part II Line 13b(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Geothermal Number -->
						<xsd:element name="KwHrsPrdcdAndSoldGthrmlQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Geothermal number</Description>
									<LineNumber>Part II Line 13c(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Geothermal Credit Amount -->
						<xsd:element name="KwHrsPrdcdAndSoldGthrmlAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Geothermal credit amount</Description>
									<LineNumber>Part II Line 13c(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Solar Number -->
						<xsd:element name="KwHrsPrdcdAndSoldSolarQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Solar number</Description>
									<LineNumber>Part II Line 13d(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Solar Credit Amount -->
						<xsd:element name="KwHrsPrdcdAndSoldSolarCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Solar credit amount</Description>
									<LineNumber>Part II Line 13d(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total For Credit Rate Under 45a1 Amount -->
						<xsd:element name="TotalForCreditRateUnder45a1Amt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total for credit rate under 45a1 amount</Description>
									<LineNumber>Part II Line 13e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Open Loop Biomass Number -->
						<xsd:element name="KwHrsPrdcdSoldOpenLoopBmssQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Open loop biomass number</Description>
									<LineNumber>Part II Line 14a(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Open Loop Biomass Credit Amount -->
						<xsd:element name="KwHrsPrdcdSoldOpenLopBmssCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Open loop biomass credit amount</Description>
									<LineNumber>Part II Line 14a(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Small Irrigation Power Number -->
						<xsd:element name="KwHrsPrdcdSoldSmllIrgtnPwrQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Small irrigation power number</Description>
									<LineNumber>Part II Line 14b(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Small Irrigation Power Credit Amount -->
						<xsd:element name="KwHrsPrdcdSldSmllIrgtnPwrCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Small irrigation power credit amount</Description>
									<LineNumber>Part II Line 14b(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Landfill Gas Number -->
						<xsd:element name="KwHrsPrdcdAndSoldLndfllGasQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Landfill gas number</Description>
									<LineNumber>Part II Line 14c(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Landfill Gas Credit Amount -->
						<xsd:element name="KwHrsPrdcdAndSoldLndfllGsCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Landfill gas credit amount</Description>
									<LineNumber>Part II Line 14c(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Trash Number -->
						<xsd:element name="KwHrsPrdcdAndSoldTrashQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Trash number</Description>
									<LineNumber>Part II Line 14d(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Trash Credit Amount -->
						<xsd:element name="KwHrsPrdcdAndSoldTrashCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Trash credit amount</Description>
									<LineNumber>Part II Line 14d(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Hydropower Number -->
						<xsd:element name="KwHrsPrdcdAndSoldHydropowerQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Hydropower number</Description>
									<LineNumber>Part II Line 14e(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Hydropower Credit Amount -->
						<xsd:element name="KwHrsPrdcdAndSoldHydropwrCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Hydropower credit amount</Description>
									<LineNumber>Part II Line 14e(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Marine Hydrokinetic Number -->
						<xsd:element name="KwHrsPrdcdSoldMarineRnwblQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Marine hydrokinetic number</Description>
									<LineNumber>Part II Line 14f(a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Kilowatt-Hours Produced and Sold - Marine Hydrokinetic Credit Amount -->
						<xsd:element name="KwHrsPrdcdSoldMarineRnwblCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Kilowatt-hours produced and sold - Marine hydrokinetic credit amount</Description>
									<LineNumber>Part II Line 14f(c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total For Credit Rate Under 45b4a Amount -->
						<xsd:element name="TotalForCreditRtUnder45b4AAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total for credit rate under 45b4a amount</Description>
									<LineNumber>Part II Line 14g</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total Closed and Open-Loop Facility Kilowatt-Hours Produced and Sold Credit -->
						<xsd:element name="TotClsOpenKwHrsPrdcdSoldCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total closed and open-loop facility kilowatt-hours produced and sold credit</Description>
									<LineNumber>Part II Line 15</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Closed and Open-Loop - Credit Before Phaseout Adjustment -->
						<xsd:element name="CreditBfrPhaseoutAdjustmentAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Closed and open-Loop - credit before phaseout adjustment</Description>
									<LineNumber>Part II Line 16</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Closed and Open-Loop - Phaseout Adjustment Rate -->
						<xsd:element name="PhaseoutAdjustmentRt" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Closed and open-Loop - phaseout adjustment rate</Description>
									<LineNumber>Part II Line 16</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Closed and Open-Loop - Total Phaseout Adjustment -->
						<xsd:element name="TotalPhaseoutAdjustmentAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Closed and open-Loop - total phaseout adjustment</Description>
									<LineNumber>Part II Line 16</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Closed and Open-Loop - Kilowatt-Hours Credit Minus Phaseout Adjustment -->
						<xsd:element name="NetPhaseoutAdjustmentAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Closed and open-loop - kilowatt-hours credit minus phaseout adjustment.  Subtract line 4 from line 3</Description>
									<LineNumber>Part II Line 17</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Number of Refined Coal Tons Produced and Sold -->
						<xsd:element name="RefineCoalTonPrdcdSoldQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Number of refined coal tons produced and sold</Description>
									<LineNumber>Part II Line 18</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Total Refined Coal Tons Produced and Sold Credit -->
						<xsd:element name="TotRefineCoalTonPrdcdSoldCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total refined coal tons produced and sold credit</Description>
									<LineNumber>Part II Line 18</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Refined Coal - Credit Before Phaseout Adjustment -->
						<xsd:element name="RefinedCoalCrBfrPhaseoutAdjAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Refined coal - credit before phaseout adjustment</Description>
									<LineNumber>Part II Line 19</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Refined Coal - Phaseout Adjustment Rate -->
						<xsd:element name="RefinedCoalPhaseoutAdjRt" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Refined coal - phaseout adjustment rate</Description>
									<LineNumber>Part II Line 19</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Refined Coal - Total Phaseout Adjustment -->
						<xsd:element name="RefinedCoalTotalPhaseoutAdjAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Refined coal - total phaseout adjustment</Description>
									<LineNumber>Part II Line 19</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Refined Coal - Tons Credit Minus Phaseout Adjustment -->
						<xsd:element name="NetRefinedCoalPhaseoutAdjAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Refined coal - tons credit minus phaseout adjustment.  Subtract line 7 from line 6</Description>
									<LineNumber>Part II Line 20</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Line 21 Reserved for Future Use -->

						<!-- Line 21 Reserved for Future Use -->

						<!-- Number of Indian Coal Tons Produced and Sold -->
						<xsd:element name="IndianCoalTonPrdcdSoldQty" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Number of Indian coal tons produced and sold</Description>
									<LineNumber>Part II Line 22</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Total Indian Coal Tons Produced and Sold Credit -->
						<xsd:element name="TotIndianCoalTonPrdcdSoldCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Indian coal tons produced and sold credit</Description>
									<LineNumber>Part II Line 22</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Refined Coal Credit Before Reduction -->
						<xsd:element name="RefinedCoalCreditBeforeRedAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Refined coal credit before reduction</Description>
									<LineNumber>Part II Line 23</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total of Government Grants -->
						<xsd:element name="TotalGovernmentGrantsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total of government grants</Description>
									<LineNumber>Part II Line 24</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total of Additions to the Capital Account -->
						<xsd:element name="TotCapitalAccountAdditionsAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total of additions to the capital account</Description>
									<LineNumber>Part II Line 25</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Credit Reduction Percentage -->
						<xsd:element name="CreditReductionRt" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Divide line 24 by line 25</Description>
									<LineNumber>Part II Line 26</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Credit Reduction -->
						<xsd:element name="CreditReductionAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Multiply line 23 by the lessor of 1/2 or line 26</Description>
									<LineNumber>Part II Line 27</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adjusted Credit Reduction -->
						<xsd:element name="AdjustedCreditReductionAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Subtract line 27 from line 23</Description>
									<LineNumber>Part II Line 28</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Renewable Electricity, Refined Coal, and Indian Coal Production Credit -->
						<xsd:element name="RnwblElecRefinedCoalProdCrAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Part II Line 29 renewable electricity, refined coal, and indian coal production credit </Description>
									<LineNumber>Part II Line 29</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total Allowed Tax Credit -->
						<xsd:element name="TotalAllowedTaxCreditAmt" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total allowed tax credit.  Add lines 28 through 29</Description>
									<LineNumber>Part II Line 30</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Amount Allocated to Patrons of the Cooperatives or Beneficiaries-->
						<xsd:element name="AllocatedToBeneficiariesAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Amount allocated to patrons of the cooperatives or beneficiaries</Description>
									<LineNumber>Part II Line 31</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Estates, Trusts and  Cooperatives Credit-->
						<xsd:element name="EstatesTrustsAndCoopsCreditAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Estates, trusts and  cooperatives credit</Description>
									<LineNumber>Part II Line 32</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
