schema/2010v1.0/CorporateIncomeTax/Common/Dependencies/PassiveActivitySection1231GainLossStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Passive Activity Section 1231 Gain/Loss Statement</Description>
			<TaxYear>2010</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>July 15, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ============================================================== -->
	<!-- ====  Passive Activity Section 1231 Gain/Loss Statement  ===== -->
	<!-- ============================================================== -->


	<xsd:element name="PssvActySect1231GainLossStmt">
		<xsd:annotation>
			<xsd:documentation>Passive activity section 1231 gain/loss statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="PssvActySect1231GainStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="PassiveActivitySection1231GainLossStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="PssvActySect1231GainStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for passive activity section 1231 gain/loss statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		
				
			<!-- Passive Activity Section 1231 Gain/Loss -->
			<xsd:element name="PassiveActySection1231GainLoss" type="PssvActySect1231GainLossType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive activity section 1231 gain/loss</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		

	<!-- Type for Repeating Group - Passive Activity Section 1231 Gain/Loss -->
	<xsd:complexType name="PssvActySect1231GainLossType">
		<xsd:sequence>		
	
			<!-- Name of Trade/Business -->
			<xsd:element name="NameOfTradeOrBusiness" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of trade/business</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
						
		</xsd:sequence>
	</xsd:complexType>	
	
</xsd:schema>
