schema/2005v4.0/CorporateIncomeTax/Common/IRS8900/IRS8900.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - IRS Form 8900</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>October 19, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ===================================================================== -->
	<!-- =======================	IRS Form 8900 ============================ -->
	<!-- ===================================================================== -->

	<xsd:element name="IRS8900">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8900</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8900Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8900">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- ========================================= -->
	<!-- Qualified Railroad Track Maintenance Credit -->
	<!-- ========================================= -->

	<xsd:complexType name="IRS8900Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 8900</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Qualified Railroad Track Maintenance Expenditures  -->
			<xsd:element name="QualifiedRlrdTrackMaintExpend" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified railroad track maintenance expenditures</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter 50% (.50) Of Line 1   -->
			<xsd:element name="FiftyPctRlrdTrackMaintExpend" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter 50% (.50) of line 1</Description>
						<LineNumber>2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Number of Miles of Railroad Track Owned or Leased  -->
			<xsd:element name="MilesOfRlrdTrackOwnedorLeased" type="LongIntegerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of miles of railroad track owned or leased</Description>
						<LineNumber>3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Less Number of Miles of Railroad Track Owned or Leased and Assigned   -->
			<xsd:element name="LessNumMileRlrdTrackOwnLsdAsgn" type="LongIntegerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Less number of miles of railroad track owned or leased and assigned</Description>
						<LineNumber>3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Number Of Miles Of Railroad Track Assigned By Owner Or Lessee -->
			<xsd:element name="MileRlrdTrackAsgnByOwnrLessee" type="LongIntegerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of miles of railroad track assigned by owner or lessee</Description>
						<LineNumber>3c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total   -->
			<xsd:element name="TotalRailroadTrack" type="LongIntegerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total</Description>
						<LineNumber>3d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Multiply total by $3,500 -->
			<xsd:element name="AdjustedTotalRlrdTrack" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply total by $3,500</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter smaller of line 2 or line 4 -->
			<xsd:element name="QlfyPercentageOfRlrdTrack" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter smaller of line 2 or line 4</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit From Pass-Through Entities -->
			<xsd:element name="CreditPassThroughEntities" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit from pass-through entities</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current Year Credit -->
			<xsd:element name="CurrentYearCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year credit</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Regular Tax Before Credits -->
			<xsd:element name="RegularTaxBeforeCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Regular tax before credits</Description>
						<LineNumber>8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Alternative Minimum Tax  -->
			<xsd:element name="AlternativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative minimum tax</Description>
						<LineNumber>9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Sum Of Regular Tax And Alternative Minimum Tax -->
			<xsd:element name="SumOfRegTaxAndAltMinTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum of Regular Tax and Alternative Minimum Tax</Description>
						<LineNumber>10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Credit  -->
			<xsd:element name="ForeignTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign tax credit</Description>
						<LineNumber>11a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Possessions Tax Credit (Form 5735) -->
			<xsd:element name="PossessionsTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Possessions tax credit (Form 5735)</Description>
						<LineNumber>11c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit For Fuel From A Nonconventional Source-->
			<xsd:element name="CreditForFuelNnconvSource" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit for fuel from a nonconventional source</Description>
						<LineNumber>11d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Specified Credits -->
			<xsd:element name="OtherSpecifiedCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other specified credits</Description>
						<LineNumber>11e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Sum Of Lines 11a Through 11e  -->
			<xsd:element name="TotalCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum of lines 11a through 11e</Description>
						<LineNumber>11f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Income Tax -->
			<xsd:element name="NetIncomeTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income tax</Description>
						<LineNumber>12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Regular Tax -->
			<xsd:element name="NetRegularTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net regular tax</Description>
						<LineNumber>13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


			<!-- Enter 25% (.25) Of The Excess   -->
			<xsd:element name="TwentyFivePercentOfExcess" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter 25% (.25) of the excess</Description>
						<LineNumber>14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tentative Minimum Tax -->
			<xsd:element name="TentativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative minimum tax</Description>
						<LineNumber>15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter The Greater Of Line 14 Or Line 15 -->
			<xsd:element name="GreaterOfExcessOrTentMinTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the greater of line 14 or line 15</Description>
						<LineNumber>16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Subtract Line 16 From Line 12  -->
			<xsd:element name="SubtractGrtrFromNetIncmTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 16 from line 12</Description>
						<LineNumber>17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit Allowed For The Current Year -->
			<xsd:element name="CreditAllowedForCY" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit allowed for the current year</Description>
						<LineNumber>18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
