schema/2005v4.0/CorporateIncomeTax/Common/Dependencies/ForeignGrossIncomeAtCorpLevelListedCatSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Foreign Gross Income at Corporate Level Listed Categories Schedule</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>October 19, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ========================================================================= -->
	<!-- == Foreign Gross Income at Corporate Level Listed Categories Schedule  == -->
	<!-- ========================================================================= -->


	<xsd:element name="FrgnGroIncmCorpLvlListedCatSch">
		<xsd:annotation>
			<xsd:documentation>Foreign gross income at corporate level listed categories schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="FrgnGroIncmCorpListedCatSchTyp">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ForeignGrossIncomeAtCorpLevelListedCatSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="FrgnGroIncmCorpListedCatSchTyp">
		<xsd:annotation>
			<xsd:documentation>Content model for foreign gross income at corporate level listed categories schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		
				
			<!-- Foreign Gross Income at Corporate Level Listed Categories -->
			<xsd:element name="FrgnGrossIncmCorpListedCat" type="FrgnGrossIncmCorpListedCatType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign gross income at corporate level listed categories</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		

	<!-- Type for Repeating Group - Foreign Gross Income at Corporate Level Listed Categories -->
	<xsd:complexType name="FrgnGrossIncmCorpListedCatType">
		<xsd:sequence>		
	
			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
						
		</xsd:sequence>
	</xsd:complexType>	
	
</xsd:schema>
