schema/2010v3.7/CorporateIncomeTax/Common/IRS8594/ReasonsForIncreaseOrDecreaseStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8594 Reason(s) for Increase or Decrease Statement</Description>
			<TaxYear>2010</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 25, 2011</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ==================================================================================== -->
	<!-- ==================== Form 8594 Reason(s) for Increase or Decrease Statement     ============== -->
	<!-- ==================================================================================== -->

	<xsd:element name="ReasonsIncreaseOrDecreaseStmt">
		<xsd:annotation>
			<xsd:documentation>Form 8594 Reason(s) for Increase or Decrease Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ReasonsForIncreaseOrDecreaseType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ReasonsForIncreaseOrDecreaseStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="ReasonsForIncreaseOrDecreaseType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8594 Reason(s) for Increase or Decrease Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Statement" type="ExplanationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
