schema/2015v2.1/CorporateIncomeTax/Common/IRS5471/ExplanationOfBlockedIncomeStmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Other Assets Statement</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>October 29, 2015</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>



	<!-- ===================================== -->

	<!-- ====== Other Assets Statement ======= -->

	<!-- ===================================== -->



	<xsd:element name="ExplanationOfBlockedIncomeStmt">

		<xsd:annotation>

			<xsd:documentation>Explanation of block statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="ExplnOfBlockedIncomeStmtType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="StringType" fixed="ExplanationOfBlockedIncomeStmt">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<!-- Other Assets Statement -->

	<xsd:complexType name="ExplnOfBlockedIncomeStmtType">

		<xsd:annotation>

			<xsd:documentation>Other Assets Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>



			<!-- Description -->

			<xsd:element name="ExplanationTxt" type="ExplanationType" minOccurs="0"/>



		</xsd:sequence>

	</xsd:complexType>

</xsd:schema>
