schema/2015v3.0/TEGE/TEGE990PF/IRS990PF/AllOtherProgramRelatedInvestmentsSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Tax Exempt and Government Entities Schema - All Other Program Related Investments Schedule</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>May 27, 2016</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>

	

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	

	<!-- ================================================================== -->

	<!-- ========= All Other Program Related Investments Schedule ========= -->

	<!-- ================================================================== -->

	

	<xsd:element name="AllOthProgRltdInvestmentsSch">

		<xsd:annotation>

			<xsd:documentation>All Other Program Related Investments Schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="AllOthProgRltdInvestmentsSchType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="AllOtherProgramRelatedInvestmentsSchedule">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>

	

	<xsd:complexType name="AllOthProgRltdInvestmentsSchType">

		<xsd:annotation>

			<xsd:documentation>Content model for All Other Program Related Investments Schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>



			<xsd:element name="AllOtherProgramRelatedInvstGrp" minOccurs="0" maxOccurs="unbounded">

				<xsd:complexType>

					<xsd:sequence>



						<!-- Description -->

						<xsd:element name="Desc" type="ShortExplanationType" minOccurs="0">

							<xsd:annotation>

								<xsd:documentation>

									<Description>Description</Description>

								</xsd:documentation>

							</xsd:annotation>

						</xsd:element>



						<!-- Amount -->

						<xsd:element name="Amt" type="USAmountType" minOccurs="0">

							<xsd:annotation>

								<xsd:documentation>

									<Description>Amount</Description>

								</xsd:documentation>

							</xsd:annotation>

						</xsd:element>



					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>



		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
