schema/2006v4.2/CorporateIncomeTax/Common/Dependencies/NetIncomeLossPssvRntlREActyStmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Net Income Loss Passive Rental Real Estate Activities Statement</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>March 11, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ===================================================================== -->
	<!-- == Net Income Loss Passive Rental Real Estate Activities Statement == -->
	<!-- ===================================================================== -->


	<xsd:element name="NetIncmLossPssvRntlREActyStmt">
		<xsd:annotation>
			<xsd:documentation>Net income loss passive rental real estate activities statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="NetIncmLossPssvRentalREActyTyp">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="NetIncomeLossPssvRntlREActyStmt">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="NetIncmLossPssvRentalREActyTyp">
		<xsd:annotation>
			<xsd:documentation>Content model for net income loss passive rental real estate activities statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		
				
			<!-- Net Income Loss Passive rental real estate Activity -->
			<xsd:element name="NetIncomeLossPssvRentalREActy" type="OrdnryIncmPssvRentalREActyType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income loss passive rental real estate activity</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		

	<!-- Type for Repeating Group - Net Income Loss Passive rental real estate Activity -->
	<xsd:complexType name="OrdnryIncmPssvRentalREActyType">
		<xsd:sequence>		
	
			<!-- Name of Trade/Business -->
			<xsd:element name="NameOfTradeOrBusiness" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of trade/business</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>				
						
		</xsd:sequence>
	</xsd:complexType>	
	
</xsd:schema>
