schema/2009v1.9/TEGE/TEGE990PF/IRS990PF/ReductionExplanationStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Reduction Explanation Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>December 7, 2010</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
		
	<!-- ====================================================== -->
	<!-- ========== Reduction Explanation Statement =========== -->
	<!-- ====================================================== -->
	
	<xsd:element name="ReductionExplanationStatement">
		<xsd:annotation>
			<xsd:documentation>Reduction Explanation Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ReductionExplanationStatementType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ReductionExplanationStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="ReductionExplanationStatementType">
		<xsd:annotation>
			<xsd:documentation>Content model for Reduction Explanation Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="Explanation" type="ShortExplanationType" minOccurs="0" />

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
