schema/2008v2.0/CorporateIncomeTax/Common/IRS3115/OtherIdentificationAndValuationMethodsStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Other Identification and Valuation Methods Statement</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>July 7, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ================================================================== -->
	<!-- ====== Other Identification and Valuation Methods Statement ====== -->
	<!-- ================================================================== -->

	<xsd:element name="OtherIdAndValuationMethodsStmt">
		<xsd:annotation>
			<xsd:documentation>Other Identification and Valuation Methods Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OtherIdAndValuationMethodsStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="OtherIdentificationAndValuationMethodsStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Other Identification and Valuation Methods Statement Type -->
	<xsd:complexType name="OtherIdAndValuationMethodsStmtType">
		<xsd:sequence>
			<xsd:element name="Explanation" type="ShortExplanationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
