schema/2007v1.1/TEGE/Common/IRS990ScheduleA/AffiliatedGroupAttachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Affiliated Group Attachment</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>October 19, 2007</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- =================================================================== -->
	<!-- ================== Affiliated Group Attachment ==================== -->
	<!-- =================================================================== -->
	
	<xsd:element name="AffiliatedGroupAttachment">
		<xsd:annotation>
			<xsd:documentation>Affiliated Group Attachment</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="AffiliatedGroupAttachmentType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="AffiliatedGroupAttachment">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="AffiliatedGroupAttachmentType">
		<xsd:annotation>
			<xsd:documentation>Content model for Affiliated Group Attachment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence >
		
			<!-- Explanation -->
			<xsd:element name="Explanation" type="MediumExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Explanation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
