schema/2005v3.3/CorporateIncomeTax/Common/IRS6765/IRS6765.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - IRS Form 6765</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 17, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ================================================================== -->
	<!-- ======================  IRS Form 6765 ============================ -->
	<!-- ================================================================== -->


	<xsd:element name="IRS6765">
		<xsd:annotation>
			<xsd:documentation>IRS Form 6765</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS6765Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS6765">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS6765Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 6765</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Part I: Current Year Credit -->

			<!-- Section A: Regular Credit-->
			
			<!-- Paid or Incurred to Energy consortia After August 8, 2005 -->
			<xsd:element name="EnergyConsortiaAmount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Paid or incurred to energy consortia after August 8, 2005</Description>
						<LineNumber>Part I Section A Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Basic Research Payments Paid or Incurred to Qualified Organizations -->
			<xsd:element name="BasicResearchPayment" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basic research payments paid or incurred to qualified organizations</Description>
						<LineNumber>Part I Section A Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Organization Base Period Amount -->
			<xsd:element name="BasePeriodAmount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified organization base period amount</Description>
						<LineNumber>Part I Section A Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 3 from line 2 -->
			<xsd:element name="ResearchPymtMinusBasePeriodAmt" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract Line 3 from line 2</Description>
						<LineNumber>Part I Section A Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Wages for Qualified Services -->
			<xsd:element name="WagesForQualifiedServices" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Wages for qualified services</Description>
						<LineNumber>Part I Section A Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Cost of Supplies -->
			<xsd:element name="CostOfSupplies" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost of supplies</Description>
						<LineNumber>Part I Section A Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Rental or Lease Costs of Computers -->
			<xsd:element name="RentalOrLeaseCostsOfComputers" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rental or lease costs of computers</Description>
						<LineNumber>Part I Section A Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Applicable Percentage of Contract Research Expenses -->
			<xsd:element name="PctOfContractResearchExpenses" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the applicable percentage of contract research expenses</Description>
						<LineNumber>Part I Section A Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Qualified Research Expenses -->
			<xsd:element name="TotalQualifedResearchExpenses" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total qualified research expenses</Description>
						<LineNumber>Part I Section A Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter Fixed-base Percentage, but Not More Than 16% -->
			<xsd:element name="FixedBasePercentage" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter fixed-base percentage, but not more than 16%</Description>
						<LineNumber>Part I Section A Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter Average Annual Gross Receipts -->
			<xsd:element name="AverageAnnualGrossReceipts" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter average annual gross receipts</Description>
						<LineNumber>Part I Section A Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 11 by the Percentage on Line 10 -->
			<xsd:element name="FixedBasePctTimesGrossReceipts" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 11 by the percentage on line 10</Description>
						<LineNumber>Part I Section A Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 12 from Line 9 -->
			<xsd:element name="AdjTotQualifedResearchExpenses" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 12 from line 9</Description>
						<LineNumber>Part I Section A Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 9 by 50% -->
			<xsd:element name="HalfAdjTotQlfyResearchExpenses" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 9 by 50%</Description>
						<LineNumber>Part I Section A Line 14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Smaller of Line 13 or Line 14 -->
			<xsd:element name="SmallestQlfyResearchExpenses" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the smaller of line 13 or line 14</Description>
						<LineNumber>Part I Section A Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 1, 4 and 15 -->
			<xsd:element name="RsrchExpensesPlusRrchPayments" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 1, 4 and 15</Description>
						<LineNumber>Part I Section A Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Regular Credit -->
			<xsd:element name="RegularCredit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Regular credit</Description>
						<LineNumber>Part I Section A Line 17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="reducedCreditIndicator">
								<xsd:simpleType>
									<xsd:restriction base="StringType">
										<xsd:enumeration value="SEC280C"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="MembersOfControlledGroupStmt CapExpensesDedAmountsSchedule" />
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Section B: Alternative Incremental Credit -->

			<!-- Paid or Incurred to Energy Consortia After August 8, 2005 -->
			<xsd:element name="EnergyConsortiaAmountSectB" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Paid or incurred to energy consortia after August 8, 2005</Description>
						<LineNumber>Part I Section B Line 18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Basic Research Payments Paid or Incurred to Qualified Organizations -->
			<xsd:element name="BasicResearchPaymentSectB" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Basic research payments paid or incurred to qualified organizations</Description>
						<LineNumber>Part I Section B Line 19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Organization Base Period Amount -->
			<xsd:element name="BasePeriodAmountSectB" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified organization base period amount</Description>
						<LineNumber>Part I Section B Line 20</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 20 from Line 19 -->
			<xsd:element name="RsrchPymtMinusBasePrdAmtSectB" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 20 from line 19</Description>
						<LineNumber>Part I Section B Line 21a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 18 and 21a -->
			<xsd:element name="AddLine18And21A" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 18 and 21a</Description>
						<LineNumber>Part I Section B Line 21b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 21b by 20% -->
			<xsd:element name="FifthOfRsrchPymtMinusBasePrd" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply Line 21b by 20%</Description>
						<LineNumber>Part I Section B Line 22</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Wages for Qualified Services -->
			<xsd:element name="WagesForQualifiedServicesSectB" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Wages for qualified services</Description>
						<LineNumber>Part I Section B Line 23</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Cost of Supplies -->
			<xsd:element name="CostOfSuppliesSectB" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost of supplies</Description>
						<LineNumber>Part I Section B Line 24</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Rental or Lease Costs of Computers -->
			<xsd:element name="RntlOrLsCostsOfComputersSectB" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rental or lease costs of computers</Description>
						<LineNumber>Part I Section B Line 25</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Applicable Percentage of Contract Research Expenses -->
			<xsd:element name="PctOfCntrctRsrchExpensesSectB" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the applicable percentage of contract research expenses</Description>
						<LineNumber>Part I Section B Line 26</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Qualified Research Expenses. Add Lines 23 through 26 -->
			<xsd:element name="TotQualifedRsrchExpensesSectB" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total qualified research expenses. Add lines 23 through 26</Description>
						<LineNumber>Part I Section B Line 27</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter Average Annual Gross Receipts -->
			<xsd:element name="AvgAnnualGrossReceiptsSectB" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter average annual gross receipts</Description>
						<LineNumber>Part I Section B Line 28</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 28 by 1% -->
			<xsd:element name="OnePctOfAvgAnnualGrossReceipts" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 28 by 1%</Description>
						<LineNumber>Part I Section B Line 29</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 29 from Line 27 -->
			<xsd:element name="AdjustedTotalResearchExpenses" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 29 from line 27</Description>
						<LineNumber>Part I Section B Line 30</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 28 by 1.5% -->
			<xsd:element name="PctOfAnnualGrossReceipts" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 28 by 1.5%</Description>
						<LineNumber>Part I Section B Line 31</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 31 from Line 27 -->
			<xsd:element name="RsrchExpnsMinusPctOfGroRcpts" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 31 from line 27</Description>
						<LineNumber>Part I Section B Line 32</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract line 32 from Line 30 -->
			<xsd:element name="RsrchMinusAdjResearchExpenses" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 32 from line 30</Description>
						<LineNumber>Part I Section B Line 33</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 28 by 2% -->
			<xsd:element name="TwoPctOfAvgAnnualGrossReceipts" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 28 by 2%</Description>
						<LineNumber>Part I Section B Line 34</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 34 from Line 27 -->
			<xsd:element name="ResearchMinus2PctOfReceipts" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 34 from line 27</Description>
						<LineNumber>Part I Section B Line 35</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 35 from Line 32 -->
			<xsd:element name="ResearchMinusPctOfReceiptsDiff" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 35 from line 32</Description>
						<LineNumber>Part I Section B Line 36</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 33 by 2.65% -->
			<xsd:element name="PctOfResearchMinusAdjResearch" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 33 by 2.65%</Description>
						<LineNumber>Part I Section B Line 37</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 36 by 3.2% -->
			<xsd:element name="PctOfResearchMinusReceiptsDiff" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 36 by 3.2%</Description>
						<LineNumber>Part I Section B Line 38</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 35 by 3.75% -->
			<xsd:element name="PctOfResearchMinus2PctOfRcpts" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 35 by 3.75%</Description>
						<LineNumber>Part I Section B Line 39</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 22, 37, 38, and 39 -->
			<xsd:element name="PctOfResearchExpensesTotal" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 22, 37, 38, and 39</Description>
						<LineNumber>Part I Section B Line 40</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternate Incremental Credit -->
			<xsd:element name="AlternateIncrementalCredit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternate incremental credit</Description>
						<LineNumber>Part I Section B Line 41</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="reducedCreditIndicator">
								<xsd:simpleType>
									<xsd:restriction base="StringType">
										<xsd:enumeration value="SEC280C"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="MembersOfControlledGroupStmt CapExpensesDedAmountsSchedule" />
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Section C: Total Current Year Credit for Increasing Research Activites -->

			<!-- Pass-through Research Credit(s) from a Partnership, S Corporation, Estate, or Trust -->
			<xsd:element name="PassThroughCreditsFromPrtshp" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pass-through research credit(s) from a partnership, S corporation, estate, or trust</Description>
						<LineNumber>Part I Section C Line 42</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current Year Credit -->
			<xsd:element name="CurrentYearCredit" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current Year Credit</Description>
						<LineNumber>Part I Section C Line 43</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II: Allowable Credit -->

			<!-- Regular Tax Before Credits -->
			<xsd:element name="RegularTaxBeforeCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Regular tax before credits</Description>
						<LineNumber>Part II Line 44</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternative Minimum Tax -->
			<xsd:element name="AlternativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative minimum tax</Description>
						<LineNumber>Part II Line 45</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 44 and 45 -->
			<xsd:element name="TaxBeforeCreditsPlusAltMinTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 44 and 45</Description>
						<LineNumber>Part II Line 46</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Credit -->
			<xsd:element name="ForeignTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign tax credit</Description>
						<LineNumber>Part II Line 47a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Possessions Tax Credit -->
			<xsd:element name="PossessionsTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Possessions tax credit</Description>
						<LineNumber>Part II Line 47c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit for Fuel from a Nonconventional Source -->
			<xsd:element name="CreditForNonconventionalFuel" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit for fuel from a nonconventional source</Description>
						<LineNumber>Part II Line 47d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Specified Credits -->
			<xsd:element name="OtherSpecifiedCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other specified credits</Description>
						<LineNumber>Part II Line 47e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 47a through 47e -->
			<xsd:element name="TotalTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 47a through 47e</Description>
						<LineNumber>Part II Line 47f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Income Tax -->
			<xsd:element name="NetIncomeTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income tax</Description>
						<LineNumber>Part II Line 48</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Net Regular Tax -->
			<xsd:element name="NetRegularTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net regular tax</Description>
						<LineNumber>Part II Line 49</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Enter 25% of the Excess, if any, of Line 49 Over $25,000 -->
			<xsd:element name="TwentyFivePercentOfExcess" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter 25% of the excess, if any, of line 49 over $25,000</Description>
						<LineNumber>Part II Line 50</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Tentative Minimum Tax -->
			<xsd:element name="TentativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative minimum tax</Description>
						<LineNumber>Part II Line 51</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		

			<!-- Enter the Greater of Line 50 or Line 51 -->
			<xsd:element name="GreaterOfTentMinOrExcessTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the greater of line 50 or line 51</Description>
						<LineNumber>Part II Line 52</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 52 from Line 48 -->
			<xsd:element name="AdjustedNetIncomeTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 52 from line 48</Description>
						<LineNumber>Part II Line 53</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit Allowed for the Current Year -->
			<xsd:element name="CYTotalCreditAllowed" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit allowed for the current year</Description>
						<LineNumber>Part II Line 54</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
