schema/2007v2.4/TEGE/TEGE990/IRS990/DAFCashGrantsPaidSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Donor Advised Funds Cash Grants Paid Schedule</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>April 22, 2008</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
		
	<!-- ================================================================ -->
	<!-- =================  Cash Grants Paid Schedule =================== -->
	<!-- ================================================================ -->
	
	<xsd:element name="DAFCashGrantsPaidSchedule">
		<xsd:annotation>
			<xsd:documentation>Donor advised funds cash grants paid schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DAFCashGrantsPaidScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="DAFCashGrantsPaidSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="DAFCashGrantsPaidScheduleType">
		<xsd:annotation>
			<xsd:documentation>Content model for donor advised funds cash grants paid schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="DAFCashGrantPaid" type="DAFCashGrantPaidType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DAFCashGrantPaidType">
		<xsd:annotation>
			<xsd:documentation>Content model for cash grant paid</xsd:documentation>
		</xsd:annotation>
		
		<xsd:sequence>
	
			<!-- Class of Activity -->
			<xsd:element name="ClassOfActivity" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Class of Activity</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Recipient's Name -->
			<xsd:element name="RecipientName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recipient's name</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
					 	<xsd:choice>
					 		<xsd:element name="Individual" type="PersonNameType"/>
				 			<xsd:element name="Business" type="BusinessNameType"/>					 		
				 		</xsd:choice>				 		
					</xsd:sequence>
				</xsd:complexType>										 	
			</xsd:element>	
			
			<!-- Address -->			
			<xsd:choice minOccurs="0">
				<xsd:element name="AddressUS" type="USAddressType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Address - US</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<xsd:element name="AddressForeign" type="ForeignAddressType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Address - Foreign</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>			
			
			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Relationship -->
			<xsd:element name="Relationship" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Relationship</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>																	
			
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
