schema/2004v1.0/TEGE/TEGE990PF/IRS990PF/AmortizationSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Amortization Schedule</Description>
			<TaxYear>2004</TaxYear>
			<MaturityLevel>Initial Draft</MaturityLevel>
			<ReleaseDate>August 30, 2004</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ================================================= -->
	<!-- =============  Amortization Schedule ============ -->
	<!-- ================================================= -->
	
	<xsd:element name="AmortizationSchedule">
		<xsd:annotation>
			<xsd:documentation>Amortization Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="AmortizationScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="AmortizationSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="AmortizationScheduleType">
		<xsd:annotation>
			<xsd:documentation>Content model for Amortization Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="Amortization" minOccurs="0" maxOccurs="99">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Description of Amortized Expenses -->
						<xsd:element name="DescriptionOfAmortizedExpenses" type="LineExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Description of Amortized Expenses</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Date Acquired, Completed, or Expended -->
						<xsd:element name="DateAcquiredCompletedExpended" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Date Acquired, Completed, or Expended</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Amount Amortized -->
						<xsd:element name="AmountAmortized" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Amount Amortized</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Deduction for Prior Years -->
						<xsd:element name="DeductionForPriorYears" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Deduction for Prior Years</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Amortization Period -->
						<xsd:element name="AmortizationPeriod" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Amortization Method</Description>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="IntegerNNType">
									<xsd:totalDigits value="4"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Current Year Amortization -->
						<xsd:element name="CurrentYearAmortization" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Current Year Amortization</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total Amount of Amortization -->
						<xsd:element name="TotalAmountOfAmortization" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Amount of Amortization</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
