schema/2015v2.1/CorporateIncomeTax/Common/IRS8275R/IRS8275R.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8275-R</Description>
			<TaxYear>2015</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 29, 2015</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- =======================  IRS Form 8275-R ========================= -->
	<!-- =============================================================== -->

	<xsd:element name="IRS8275R">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8275-R</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8275RType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8275R">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8275RType">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 8275R</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!-- Name of Foreign Entity -->
			<xsd:element name="ForeignEntityName" type="BusinessNameType" minOccurs="0" maxOccurs="1">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of foreign entity</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Choice: Foreign Entity EIN  or EIN Missing Reason Cd  -->
			<xsd:choice minOccurs="0">
			
				<!-- EIN -->
				<xsd:element name="ForeignEntityEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
				<!-- Missing EIN Reason -->
				<xsd:element name="EINMissingReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
				
			</xsd:choice>
			
			<!-- Foreign Entity Identification Group -->
			<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Entity Identification Group</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	

			<!-- ===== Part I - General Information ===== -->

			<!-- General Information -->
			<xsd:element name="DisclosureGeneralInformation" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>

						<!--  Citation Name  -->
						<xsd:element name="CitationNm" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Citation name</Description>
									<LineNumber>Part I column (a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:maxLength value="35"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Disclosure Item Name -->
						<xsd:element name="DisclosureItemNm" type="ShortDescriptionType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Disclosure item name</Description>
									<LineNumber>Part I column (b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Detailed Description of Items -->
						<xsd:element name="DetailedItemDesc" type="ShortExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Detailed Description of Items</Description>
									<LineNumber>Part I column (c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Form or Schedule -->
						<xsd:element name="ScheduleOrFormNum" type="ShortDescriptionType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Form or Schedule</Description>
									<LineNumber>Part I column (d)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Form Or Schedule Line Number -->
						<xsd:element name="LineNum" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Form or schedule line number</Description>
									<LineNumber>Part I column (e)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:maxLength value="10"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Disclosed Item Amount -->
						<xsd:element name="DisclosedItemAmt" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Disclosed item amount</Description>
									<LineNumber>Part I column (f)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- ===== Part II - Detailed Explanation ===== -->

						<!-- Detailed Explanation -->
						<xsd:element name="DetailedExplanationDesc" type="MediumExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Detailed Explanation</Description>
									<LineNumber>Part II</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- ===== Part III - Information About Pass-Through Entity ===== -->

			<!-- Choice: Pass-Through Entity Business Name or Individual Name -->
			<xsd:choice minOccurs="0">
			
				<!-- Pass-Through Entity Business Name -->
				<xsd:element name="PassThroughEntityBusName" type="BusinessNameType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Pass-through entity business name</Description>
							<LineNumber>Part III Line 1</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
				<!-- Pass-Through Entity Individual Name -->
				<xsd:element name="PassThroughEntityIndivNm" type="NameLine1Type" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Pass-through entity individual name</Description>
							<LineNumber>Part III Line 1</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:choice>

			<!-- Choice: Pass-Through Entity US or Foreign Address -->
			<xsd:choice minOccurs="0">

			<!-- Pass-Through Entity US Address -->
			<xsd:element name="PassThroughEntityUSAddress" type="USAddressType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pass-through entity US address</Description>
						<LineNumber>Part III Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

				<!-- Pass-Through Entity Foreign Address -->
				<xsd:element name="PassThroughEntityFrgnAddress" type="ForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Pass-through entity Foreign address</Description>
							<LineNumber>Part III Line 1</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Identifying Number of Pass-Through Entity: choice between SSN, EIN or Missing EIN Reason -->
			<xsd:choice minOccurs="0">

				<!-- SSN -->
				<xsd:element name="PassThroughEntitySSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identifying number of pass-through entity</Description>
							<LineNumber>Part III Line 2</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- EIN -->
				<xsd:element name="PassThroughEntityEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identifying number of pass-through entity</Description>
							<LineNumber>Part III Line 2</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Missing EIN Reason -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
							<LineNumber>Part III Line 2</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Pass-Through Entity Tax Year (From) -->
			<xsd:element name="PassThroughEntityTaxYearFromDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year of pass-through entity (from)</Description>
						<LineNumber>Part III Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pass-Through Entity Tax Year (To) -->
			<xsd:element name="PassThroughEntityTaxYearToDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year of pass-through entity (to)</Description>
						<LineNumber>Part III Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- IRS Center Where Pass-Through Entity Filed Return -->
			<xsd:element name="ServiceCenterWhereRetFiledCd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Internal Revenue Service Center where the pass-through entity filed its return</Description>
						<LineNumber>Part III Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="IRSServiceCenterType">
							<xsd:attribute name="efileCd">
								<xsd:simpleType>
									<xsd:restriction base="StringType">
										<xsd:enumeration value="E-File"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
