schema/2006v4.1/TEGE/Common/Dependencies/ReasonableCauseExplanation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Reasonable Cause Explanation</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 15, 2008</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
		
	<!-- ====================================================================== -->
	<!-- ================= Reasonable Cause Explanation ======================= -->
	<!-- ====================================================================== -->
	
	<xsd:element name="ReasonableCauseExplanation">
		<xsd:annotation>
			<xsd:documentation>Reasonable cause explanation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ReasonableCauseExplanationType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ReasonableCauseExplanation">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="ReasonableCauseExplanationType">
		<xsd:annotation>
			<xsd:documentation>Content model for reasonable cause explanation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		
			<xsd:element name="Explanation" type="ExplanationType" minOccurs="0" />
			
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
