schema/2006v4.4/CorporateIncomeTax/Common/IRS5884/IRS5884.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - IRS Form 5884</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>May 13, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- ====================== IRS Form 5884 ============================ -->
	<!-- =============================================================== -->

	<xsd:element name="IRS5884">
		<xsd:annotation>
			<xsd:documentation>IRS Form 5884</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS5884Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS5884">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS5884Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 5884</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			
			<!-- Wages Paid to Workers that Worked Between 120 and 399 Hours -->
			<xsd:element name="WagesBetween120And399Hours" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Wages Paid to Workers that Worked Between 120 and 399 Hours</Description>
						<LineNumber>1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Wages Paid to Workers that Worked Between 120 and 399 Hours -->
			<xsd:element name="TotalWagesBetween120And399Hrs" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Wages Paid to Workers that Worked Between 120 and 399 Hours</Description>
						<LineNumber>1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Wages Paid to Workers that Worked 400 Hours or More -->
			<xsd:element name="WagesFor400HoursOrMore" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Wages Paid to Workers that Worked 400 Hours or More</Description>
						<LineNumber>1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit for Wages Paid to Workers that Worked 400 Hours or More -->
			<xsd:element name="CreditForWagesOf400OrMoreHours" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit for Wages Paid to Workers that Worked 400 Hours or More</Description>
						<LineNumber>1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Wages -->
			<xsd:element name="TotalWages" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total wages</Description>
						<LineNumber>2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType" />
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ControlledGroupMemberStatement DeductionDifferentiationStmt" />
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Work Opportunity Credits from Pass Through Entities -->
			<xsd:element name="PassThruWorkOpportunityCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Work Opportunity Credits from Pass Through Entities</Description>
						<LineNumber>3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 2 and 3 -->
			<xsd:element name="TotalWagesPlusWOCr" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 2 and 3</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			
			<!-- Beneficiaries Allocation -->
			<xsd:element name="BeneficiariesAllocation" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Beneficiaries Allocation</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Estates, trusts, and cooperatives credit -->
			<xsd:element name="EstatesTrustsCoopsWorkOpCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Estates, trusts, and cooperatives credit</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
