schema/2005v3.0/CorporateIncomeTax/Common/IRS8586/IRS8586.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - IRS Form 8586</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>November 8, 2006</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ================================================================== -->
	<!-- ======================  IRS Form 8586 ============================ -->
	<!-- ================================================================== -->


	<xsd:element name="IRS8586">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8586</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8586Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8586">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8586Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8586</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Part I Current Year Credit -->

			<!-- Number of Forms 8609-A Attached -->
			<xsd:element name="NumberOfForms8609AAttached" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of Forms 8609-A Attached</Description>
						<LineNumber>Part I Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="NumberOfAttachedFormsType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" fixed="MultipleBuildingProjectSchedule"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Has There Been a Decrease in the Qualified Basis of any Building(s) Since the Close of the Preceding Tax Year -->
			<xsd:element name="DecreaseInQlfyBasisOfBuildings" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Has there been a decrease in the qualified basis of any building(s) since the close of the preceding tax year</Description>
						<LineNumber>Part I Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Building Identification Number of the Building(s) that had a Decreased Basis -->
			<xsd:element name="BldgIdOfBldgWithDecreasedBasis" type="BINType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Building identification number of the building(s) that had a decreased basis</Description>
						<LineNumber>Part I Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current Year Credit -->
			<xsd:element name="CurrentYearCredit" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year credit</Description>
						<LineNumber>Part I Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" fixed="PassThroughEntitySchedule"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- EIN of Pass-through Entity -->
			<xsd:element name="EINOfPassThroughEntity" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EIN of pass-through entity</Description>
						<LineNumber>Part I Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credits from Pass-through Entities -->
			<xsd:element name="CreditsFromPassThroughEntities" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credits from pass-through entities</Description>
						<LineNumber>Part I Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" fixed="OverOnePassThroughEntitySchedule"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Add Lines 3 and 4 -->
			<xsd:element name="PassThroughPlusCurrentYearCr" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 3 and 4</Description>
						<LineNumber>Part I Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Passive Activity Credit or Total Current Year Credit for 2001 -->
			<xsd:element name="PassiveActivityOrTotalCYCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive activity credit or total current year credit for 2001</Description>
						<LineNumber>Part I Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II: Tax Liability Limit -->

			<!-- Regular Tax Before Credits -->
			<xsd:element name="RegularTaxBeforeCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Regular tax before credits</Description>
						<LineNumber>Part II Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternative Minimum Tax -->
			<xsd:element name="AlternativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative minimum tax</Description>
						<LineNumber>Part II Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 7 and 8 -->
			<xsd:element name="RegularTaxPlusAltMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 7 and 8</Description>
						<LineNumber>Part II Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Credit -->
			<xsd:element name="ForeignTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign tax credit</Description>
						<LineNumber>Part II Line 10a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Possessions Tax Credit -->
			<xsd:element name="PossessionsTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Possessions tax credit</Description>
						<LineNumber>Part II Line 10c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit for Fuel from a Nonconventional Source -->
			<xsd:element name="NonconventionalSourceFuelCr" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit for fuel from a nonconventional source</Description>
						<LineNumber>Part II Line 10d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Specified Credits -->
			<xsd:element name="OtherSpecifiedCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other specified credits</Description>
						<LineNumber>Part II Line 10e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Credits -->
			<xsd:element name="TotalCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 10a through 10e</Description>
						<LineNumber>Part II Line 10f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Income Tax -->
			<xsd:element name="NetIncomeTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income tax</Description>
						<LineNumber>Part II Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Regular Tax -->
			<xsd:element name="NetRegularTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net regular tax</Description>
						<LineNumber>Part II Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter 25% of the Excess, if any, of Line 12 Over $25,000 -->
			<xsd:element name="NetRegularTax25PercentOfExcess" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter 25% of the excess, if any, of line 12 over $25,000</Description>
						<LineNumber>Part II Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Tentative Minimum Tax -->
			<xsd:element name="TentativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative minimum tax</Description>
						<LineNumber>Part II Line 14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Enter the Greater of Line 13 or Line 14 -->
			<xsd:element name="GrtrOfTentativeTaxAndExcessTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the Greater of Line 13 or Line 14</Description>
						<LineNumber>Part II Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 15 from Line 11 -->
			<xsd:element name="AdjustedNetIncome" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 15 from line 11</Description>
						<LineNumber>Part II Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit Allowed for the Current Year -->
			<xsd:element name="CreditAllowedForCY" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit allowed for the current year</Description>
						<LineNumber>Part II Line 17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Number of Attached Forms Type -->
	<xsd:simpleType name="NumberOfAttachedFormsType">
		<xsd:restriction base="IntegerType">
			<xsd:totalDigits value="4"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
