schema/2009v1.10/CorporateIncomeTax/Common/IRS3115/PresentAndProposedLIFOMethodsStatment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Present and Proposed LIFO Methods Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>September 13, 2011</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ================================================================= -->
	<!-- ========= Present and Proposed LIFO Methods Statement =========== -->
	<!-- ================================================================= -->


	<xsd:element name="PresentAndProposedLIFOMthdStmt">
		<xsd:annotation>
			<xsd:documentation>Present and Proposed LIFO Methods Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="PresentAndProposedLIFOMthdStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="PresentAndProposedLIFOMethodsStatment">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="PresentAndProposedLIFOMthdStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Present and Proposed LIFO Methods Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="PresentAndProposedLIFOMthdInfo" type="PresentAndProposedLIFOMthdInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Content model for Present and Proposed LIFO Methods Info</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>		

	<xsd:complexType name="PresentAndProposedLIFOMthdInfoType">
		<xsd:annotation>
			<xsd:documentation>Content model for Present and Proposed LIFO Methods Info</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Present Valuing Inventory Method -->
			<xsd:element name="PresentValuingInventoryMethod" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Present Valuing Inventory Method</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Proposed Valuing Inventory Method -->
			<xsd:element name="ProposedValuingInventoryMethod" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proposed Valuing Inventory Method</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Present Pooling Method -->
			<xsd:element name="PresentPoolingMethod" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Present Pooling Method</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Proposed Pooling Method -->
			<xsd:element name="ProposedPoolingMethod" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proposed Pooling Method</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Present Price-Dollar-Value Pools Method -->
			<xsd:element name="PresentPrcDolValuePoolsMethod" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Present Price-Dollar-Value Pools Method</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Proposed Price-Dollar-Value Pools Method -->
			<xsd:element name="ProposedPrcDolValuePoolsMethod" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proposed Price-Dollar-Value Pools Method</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Present Determining the Current Year Costs of Goods in the Ending Inventory -->
			<xsd:element name="PresentDetermCostsEndInvntry" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Present Determining the Current Year Costs of Goods in the Ending Inventory</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Proposed Determining the Current Year Costs of Goods in the Ending Inventory -->
			<xsd:element name="ProposedDetermCostsEndInvntry" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proposed Determining the Current Year Costs of Goods in the Ending Inventory</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		

</xsd:schema>
