schema/2003V21/CorporateIncomeTax/Corp1120/IRS1120ScheduleD/UnusedCapitalLossCarryoverSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Unused Capital Loss Carryover Computation Schedule</Description>
			<TaxYear>2003</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>April 8, 2004</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ================================================================ -->
	<!-- ==============  Unused Capital Loss Carryover Computation Schedule ============== -->
	<!-- ================================================================ -->


	<xsd:element name="UnusedCapLossCarryoverCmptn">
		<xsd:annotation>
			<xsd:documentation>Unused Capital Loss Carryover Computation Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="UnusedCapLossCarryoverCmptnType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="UnusedCapitalLossCarryoverSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="UnusedCapLossCarryoverCmptnType">
		<xsd:annotation>
			<xsd:documentation>Content model for Unused Capital Loss Carryover Computation Schedule</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>
			<!-- Repeating for each property with Loss -->

			<xsd:element name="UnusedCapitalLossCarryoverProp" minOccurs="0" maxOccurs="unbounded">

				<xsd:complexType>
					<xsd:annotation>
						<xsd:documentation>Content model for A Repeating Unused Capital Loss Carryover Computation</xsd:documentation>
					</xsd:annotation>

					<xsd:sequence>

						<!-- Description -->
						<xsd:element name="Description" type="ShortDescriptionType">
							<xsd:annotation>
								<xsd:documentation>Description</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Year -->
						<xsd:element name="Year" type="YearType">
							<xsd:annotation>
								<xsd:documentation>Year</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Amount -->
						<xsd:element name="Amount" type="USAmountNNType">
							<xsd:annotation>
								<xsd:documentation>Amount</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>

			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>


</xsd:schema>
