schema/2010v3.0/CorporateIncomeTax/Common/IRS970/LIFOInventoryMethodNotUsedForGoodsStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - LIFO Inventory Method Not Used For Goods Statement</Description>
			<TaxYear>2010</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>September 29, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ============================================================================================== -->
	<!-- ===============  LIFO Inventory Method Not Used For Goods Statement ========================== -->
	<!-- ============================================================================================== -->

	<xsd:element name="LIFOInvntryMthdNotUsedGoodStmt">
		<xsd:annotation>
			<xsd:documentation>LIFO Inventory Method Not Used For Goods Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="LIFOInvntryMthdNotUsedGoodStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="LIFOInventoryMethodNotUsedForGoodsStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="LIFOInvntryMthdNotUsedGoodStmtType">
		<xsd:annotation>
			<xsd:documentation>LIFO Inventory Method Not Used For Goods Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Medium Explanation-->
			<xsd:element name="MediumExplanation" type="MediumExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Medium explanation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
