schema/2007v2.2/CorporateIncomeTax/Common/IRS6478/IRS6478.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 6478</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 15, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ================================================================== -->
	<!-- ======================  IRS Form 6478 ============================ -->
	<!-- ================================================================== -->

	<xsd:element name="IRS6478">
		<xsd:annotation>
			<xsd:documentation>IRS Form 6478</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS6478Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS6478">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType"/>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="SmallEthanolProducerCreditElection"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS6478Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 6478</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Qualified Ethanol Fuel Production (in gallons) -->
			<xsd:element name="QualifiedEthanolFuelProduction" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified ethanol fuel production (in gallons)</Description>
						<LineNumber>Line 1 Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerType">
						<xsd:totalDigits value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Qualified ethanol fuel production rate ( Column (b)) -->
			<xsd:element name="QualifiedEthanolFuelProdRate" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified ethanol fuel production rate</Description>
						<LineNumber>Line 1 Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Ethanol Fuel Credit (Column (a) x Column (b)) -->
			<xsd:element name="QualifiedEthanolFuelCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified ethanol fuel credit (Column (a) x Column (b))</Description>
						<LineNumber>Line 1 Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- 190 Proof or Greater (in gallons) -->
			<xsd:element name="Alcohol190ProofOrHigherPrf" type="Form6478NumGallonsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>190 proof or greater (in gallons)</Description>
						<LineNumber>Line 2 Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alcohol 190 Proof or Greater Rate -->
			<xsd:element name="RateFor190OrHigherPrfAlcohol" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alcohol 190 proof or greater rate</Description>
						<LineNumber>Line 2 Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total 190 Proof or Greater  -->
			<xsd:element name="Alcohol190ProofOrGreaterCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total 190 Proof or Greater</Description>
						<LineNumber>Line 2 Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Less than 190 Proof but At Least 150 Proof (in gallons) -->
			<xsd:element name="GallonsOf150To189ProofAlcohol" type="Form6478NumGallonsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Less than 190 proof but at least 150 proof (in gallons)</Description>
						<LineNumber>Line 3 Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alcohol Less Than 190 Proof but At Least 150 Rate -->
			<xsd:element name="RateFor150To189ProofAlcohol" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alcohol less than 190 proof but at least 150 proof rate</Description>
						<LineNumber>Line 3 Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Less than 190 Proof but At Least 150 Proof  -->
			<xsd:element name="Alcohol150To189ProofCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total less than 190 proof but at least 150 proof</Description>
						<LineNumber>Line 3 Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add The Amounts In Column C On Lines 1, 2, And 3 -->
			<xsd:element name="OtherIncome" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add the amounts in column C on lines 1, 2, and 3</Description>
						<LineNumber>Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alcohol Fuel Credit -->
			<xsd:element name="AlcoholFuelCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alcohol fuel credit</Description>
						<LineNumber>Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add lines 4 and 5 -->
			<xsd:element name="EthanolAlcoholOtherCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 4 and 5</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alcohol Fuel Credit Included From Passive Activities -->
			<xsd:element name="AlcoholCreditFromPassiveActy" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alcohol fuel credit included from passive activities</Description>
						<LineNumber>Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 7 from Line 6 -->
			<xsd:element name="NetAlcoholCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 7 from line 6</Description>
						<LineNumber>Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alcohol Fuel Credit Allowed From Passive Activity -->
			<xsd:element name="AlcoholPassiveCreditAllowed" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
							<Description>Alcohol fuel credit allowed from passive activity</Description>
						<LineNumber>Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Carryforward/Carryback Of Alcohol Fuel Credit -->
			<xsd:element name="AlcoholFuelCreditCfwdCybk" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Carryforward/carryback of alcohol fuel credit</Description>
						<LineNumber>Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 8 Through 10 -->
			<xsd:element name="TotalCYCreditForAlcoholAsFuel" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 8 through 10</Description>
						<LineNumber>Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Allocated To Beneficiaries -->
			<xsd:element name="AmtAllocatedToBeneficiaries" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount allocated to beneficiaries</Description>
						<LineNumber>Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Estates And Trusts And Cooperatives -->
			<xsd:element name="EstatesTrustsCooperatives" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Estates and trusts and cooperatives</Description>
						<LineNumber>Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Regular Tax Before Credits -->
			<xsd:element name="RegularTaxBeforeCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Regular tax before credits</Description>
						<LineNumber>Line 14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternative Minimum Tax -->
			<xsd:element name="AlternativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative minimum tax</Description>
						<LineNumber>Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 14 And 15 -->
			<xsd:element name="RegularTaxPlusAltMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 14 and 15</Description>
						<LineNumber>Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Credit -->
			<xsd:element name="ForeignTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign tax credit</Description>
						<LineNumber>Line 17b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credits From Forms 5735 and 8834 -->
			<xsd:element name="CrFrom5735And8834" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credits from forms 5735 and 8834</Description>
						<LineNumber>Line 17c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternative Motor Vehicle Credit -->
			<xsd:element name="AlternativeMotorVehicleCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative motor vehicle credit</Description>
						<LineNumber>Line 17d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternative Fuel Vehicle Refueling Property Credit -->
			<xsd:element name="AlternativeRefuelingPropertyCr" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative fuel vehicle refueling property credit</Description>
						<LineNumber>Line 17e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add lines 17a through 17e -->
			<xsd:element name="TaxCreditTotal" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 17a through 17e</Description>
						<LineNumber>Line 17f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Income Tax. -->
			<xsd:element name="NetIncomeTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income tax</Description>
						<LineNumber>Line 18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Regular Tax. -->
			<xsd:element name="NetRegularTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net regular tax.</Description>
						<LineNumber>Line 19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter 25% of the Excess -->
			<xsd:element name="NetRegularTax25PctOfExcess" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter 25% of excess</Description>
						<LineNumber>Line 20</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 20 From line 18 -->
			<xsd:element name="NetIncomeTaxLessExcess" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 20 from line 18</Description>
						<LineNumber>Line 21</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- General Business Credit -->
			<xsd:element name="GeneralBusinessCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>General Business Credit</Description>
						<LineNumber>Line 22a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Empowerment Zone Community Credit -->
			<xsd:element name="EmpowermentZoneCommunityCr" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Empowerment zone community credit</Description>
						<LineNumber>Line 22b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Work Opportunity Credit -->
			<xsd:element name="WorkOpportunityCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Work opportunity credit</Description>
						<LineNumber>Line 22c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Sum of Lines 22a Thru 22c -->
			<xsd:element name="SumOfLines22aThru22c" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum of lines 22a thru 22c</Description>
						<LineNumber>Line 22d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 22d from Line 21 -->
			<xsd:element name="AdjustedNetIncomeTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 22d from line 21</Description>
						<LineNumber>Line 23</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current year credit for alcohol used as fuel. -->
			<xsd:element name="CYCreditForAlcoholAsFuel" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year credit for alcohol used as fuel.</Description>
						<LineNumber>Line 24</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Number of Gallons Type Used Throughout Form 6478 -->
	<xsd:simpleType name="Form6478NumGallonsType">
		<xsd:restriction base="IntegerType">
			<xsd:totalDigits value="9"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
