schema/V2003_06/CorporateIncomeTax/Corp1120/V2003_06/IRS1120ScheduleD/SSBICElectionPostponedGainStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - SSBIC Election Postponed Gain Statement</Description>
			<TaxYear>2003</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 29, 2004</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../../Common/V2003_06/efileTypes.xsd" />


	<!-- ========================================================= -->
	<!-- ====== SSBIC Election Postponed Gain Statement ======= -->
	<!-- ========================================================= -->


	<xsd:element name="SSBICElectionPostponedGainStmt">
		<xsd:annotation>
			<xsd:documentation>Postponed gain statement for SSBIC election</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="SSBICElectionPostponedGainStatementType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="SSBICElectionPostponedGainStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="SSBICElectionPostponedGainStatementType">
		<xsd:annotation>
			<xsd:documentation>Content model for postponed gain statement for SSBIC election</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Explanation" type="ExplanationType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
