schema/2014v6.0/CorporateIncomeTax/Common/IRS3115/ChangeFromLIFOToNonLIFOMethodStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Change from LIFO to non-LIFO Method Statement</Description>

			<TaxYear>2014</TaxYear>

			<MaturityLevel>Drop 3 Release</MaturityLevel>

			<ReleaseDate>Sept.8, 2015</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>



	<!-- ================================================================== -->

	<!-- ========== Change from LIFO to non-LIFO Method Statement ========= -->

	<!-- ================================================================== -->



	<xsd:element name="ChangeLIFOToNonLIFOMethodStmt">

		<xsd:annotation>

			<xsd:documentation>Change from LIFO to non-LIFO Method Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="ChangeLIFOToNonLIFOMethodStmtType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="StringType" fixed="ChangeFromLIFOToNonLIFOMethodStatement">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<!-- Change from LIFO to non-LIFO Method Statement Type -->

	<xsd:complexType name="ChangeLIFOToNonLIFOMethodStmtType">

		<xsd:sequence>

			<xsd:element name="ShortExplanationTxt" type="ShortExplanationType" minOccurs="0"/>

		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
