schema/2005v4.1/CorporateIncomeTax/Common/IRS8865/ItemizedListedCategoriesStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Itemized Schedule of Listed Categories</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 15, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ============================================================= -->
	<!-- ==========  Itemized Schedule of Listed Categories ========== -->
	<!-- ============================================================= -->
	
	<xsd:element name="ItemizedListedCatStatement">
		<xsd:annotation>
			<xsd:documentation>Itemized schedule of listed categories statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ItemizedListedCatStatementType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ItemizedListedCategoriesStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="ItemizedListedCatStatementType">
		<xsd:annotation>
			<xsd:documentation>Content model for itemized schedule of listed categories statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ItemizedListedCategory" type="ItemizedListedCategoryType" minOccurs="1" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="ItemizedListedCategoryType">
		<xsd:annotation>
			<xsd:documentation>Content model for listed category</xsd:documentation>
		</xsd:annotation>
		
		<xsd:sequence>
		
			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
