schema/2007v2.8/CorporateIncomeTax/Common/Dependencies/GrossIncomeSourcedAtShareholderLevelSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Gross Income Sourced At Shareholder Level Schedule</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>September 25, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ============================================================== -->
	<!-- ===== Gross Income Sourced At Shareholder Level Schedule ===== -->
	<!-- ============================================================== -->


	<xsd:element name="GrossIncmSourcedAtShrLevelSch">
		<xsd:annotation>
			<xsd:documentation>Gross income sourced at shareholder level schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="GroIncmSourcedAtShrLvlSchType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="GrossIncomeSourcedAtShareholderLevelSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="GroIncmSourcedAtShrLvlSchType">
		<xsd:annotation>
			<xsd:documentation>Content model for gross income sourced at shareholder level schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		
				
			<!-- Gross Income Sourced At Shareholder Level -->
			<xsd:element name="GrossIncomeSourcedAtShrLevel" type="GrossIncmSourcedAtShrLevelType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross income sourced at shareholder level</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		

	<!-- Type for Repeating Group - Gross Income Sourced At Shareholder Level -->
	<xsd:complexType name="GrossIncmSourcedAtShrLevelType">
		<xsd:sequence>		
	
			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Gains -->
			<xsd:element name="Gains" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gains</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>				

			<!-- Losses -->
			<xsd:element name="Losses" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Losses</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>				
						
		</xsd:sequence>
	</xsd:complexType>	
	
</xsd:schema>
