schema/2015v2.1/CorporateIncomeTax/Common/IRS3115/ChangeToIPICMethodStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Change to Inventory Price Index Computation (IPIC) Method Statement</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>October 29, 2015</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>



	<!-- =========================================================================== -->

	<!-- === Change to Inventory Price Index Computation (IPIC) Method Statement === -->

	<!-- =========================================================================== -->



	<xsd:element name="ChangeToIPICMethodStatement">

		<xsd:annotation>

			<xsd:documentation>Change to Inventory Price Index Computation (IPIC) Method Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="ChangeToIPICMethodStatementType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="StringType" fixed="ChangeToIPICMethodStatement">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<!-- Change to Inventory Price Index Computation (IPIC) Method Statement Type -->

	<xsd:complexType name="ChangeToIPICMethodStatementType">

		<xsd:sequence>

			<xsd:element name="ExplanationTxt" type="ExplanationType" minOccurs="0"/>

		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
