schema/2008v2.3/CorporateIncomeTax/Common/IRS8835/IRS8835.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8835</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>November 13, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ================================================================== -->
	<!-- ======================  IRS Form 8835 ============================ -->
	<!-- ================================================================== -->


	<xsd:element name="IRS8835">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8835</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8835Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8835">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="fiscalYearTaxpayerIndicator" >
						<xsd:simpleType>
							<xsd:restriction base="StringType">
								<xsd:enumeration value="FY"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8835Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8835</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Section A - Electricity Produced at Qualified Facilities Placed In Service Prior to October 23, 2004 -->
			<xsd:element name="QualifiedFacilitiesPriorTo1023" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>

					<!-- Number of Kilowatt-Hours Produced and Sold -->
						<xsd:element name="NumKwHrsProducedAndSold" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Number of kilowatt-hours produced and sold</Description>
									<LineNumber>Section A Line 1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Total Kilowatt-Hours Produced and Sold Credit -->
						<xsd:element name="TotalKwHrsProducedAndSoldCr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total kilowatt-hours produced and sold credit</Description>
									<LineNumber>Section A Line 1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="USAmountType">
										<xsd:attribute name="referenceDocumentId" type="IdListType" />
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ClosedLoopFacilityKwHrsComputationSchedule" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>

						<!-- Credit Before Phaseout Adjustment -->
						<xsd:element name="CreditBeforePhaseoutAdjustment" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Credit before phaseout adjustment</Description>
									<LineNumber>Section A Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Phaseout Adjustment Rate -->
						<xsd:element name="PhaseoutAdjustmentRate" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Phaseout adjustment rate</Description>
									<LineNumber>Section A Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total Phaseout Adjustment -->
						<xsd:element name="TotalPhaseoutAdjustment" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total phaseout adjustment</Description>
									<LineNumber>Section A Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="USAmountType">
										<xsd:attribute name="referenceDocumentId" type="IdListType" />
										<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ClosedLoopFacilityPhaseoutAdjComputationSchedule" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>

						<!-- Credit Before Reduction -->
						<xsd:element name="CreditBeforeReduction" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Credit before reduction.  Subtract line 2 from line 1</Description>
									<LineNumber>Section A Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total of Government Grants -->
						<xsd:element name="TotalOfGovernmentGrants" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total of government grants</Description>
									<LineNumber>Section A Line 4</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total of Additions to the Capital Account -->
						<xsd:element name="TotalOfCapitalAccountAdditions" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total of additions to the capital account</Description>
									<LineNumber>Section A Line 5</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Credit Reduction Percentage -->
						<xsd:element name="CreditReductionPercentage" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Divide line 4 by line 5</Description>
									<LineNumber>Section A Line 6</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Credit Reduction -->
						<xsd:element name="CreditReduction" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Multiply line 3 by line 6</Description>
									<LineNumber>Section A Line 7</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adjusted Credit Reduction -->
						<xsd:element name="AdjustedCreditReduction" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Subtract line 7 from line 3</Description>
									<LineNumber>Section A Line 8</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Renewable Electricity Production Credit -->
						<xsd:element name="RenewableElectricityProdCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Section A Renewable electricity production credit</Description>
									<LineNumber>Section A Line 9</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adjusted Credit Reduction and Renewable Electricity Production Credit  -->
						<xsd:element name="AdjCrRedandRnwbleElecProdCr" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Adjusted credit reduction and renewable electricity production credit.  Add lines 8 and 9</Description>
									<LineNumber>Section A Line 10</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Part II - Allowable Credit -->

						<!--Amount allocated to patrons of cooperatives or beneficiaries   -->
						<xsd:element name="AmtAllocToPatronsofCooporBenef" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Amount allocated to patrons of cooperatives or beneficiaries</Description>
									<LineNumber>Section A Line 11</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!--  Estates, Trusts and Cooperatives Credit-->
						<xsd:element name="EstatesTrustsandCooperativesCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Estates, trusts and cooperatives credit</Description>
									<LineNumber>Section A Line 12</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>



					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Section B - Electricity and Refined Coal Produced at Qualified Facilities Placed In Service After October 22, 2004 -->
			<xsd:element name="QualifiedFacilitiesAfter1022" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Part I - Current Year Credit -->

						<!-- Number of Not Modified Closed-Loop Facility Kilowatt-Hours Produced and Sold -->
						<xsd:element name="NumClosedLoopKwHrsPrdcdAndSold" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Number of not modified closed-loop facility kilowatt-hours produced and sold</Description>
									<LineNumber>Section B Part I Line 1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Total Closed-Loop Facility Kilowatt-Hours Produced and Sold Credit -->
						<xsd:element name="TotClosedLoopKwHrsPrdcdSoldCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total not modified closed-loop facility kilowatt-hours produced and sold credit</Description>
									<LineNumber>Section B Part I Line 1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Number of Open-Loop Facility Kilowatt-Hours Produced and Sold -->
						<xsd:element name="NumOpenLoopPrdcdSold" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Number of open-loop facility kilowatt-hours produced and sold</Description>
									<LineNumber>Section B Part I Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Total Open-Loop Facility Kilowatt-Hours Produced and Sold -->
						<xsd:element name="TotOpenLoopPrdcdSold" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total open-loop facility kilowatt-hours produced and sold</Description>
									<LineNumber>Section B Part I Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total Closed and Open-Loop Facility Kilowatt-Hours Produced and Sold Credit -->
						<xsd:element name="TotClosedOpenKwHrsPrdcdSoldCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total closed and open-loop facility kilowatt-hours produced and sold credit</Description>
									<LineNumber>Section B Part I Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Closed and Open-Loop - Credit Before Phaseout Adjustment -->
						<xsd:element name="ClosedOpenLoopCrBfrPhaseoutAdj" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Closed and open-Loop - credit before phaseout adjustment</Description>
									<LineNumber>Section B Part I Line 4</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Closed and Open-Loop - Phaseout Adjustment Rate -->
						<xsd:element name="ClosedOpenLoopPhaseoutAdjRate" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Closed and open-Loop - phaseout adjustment rate</Description>
									<LineNumber>Section B Part I Line 4</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Closed and Open-Loop - Total Phaseout Adjustment -->
						<xsd:element name="ClosedOpenLoopTotalPhaseoutAdj" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Closed and open-Loop - total phaseout adjustment</Description>
									<LineNumber>Section B Part I Line 4</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Closed and Open-Loop - Kilowatt-Hours Credit Minus Phaseout Adjustment -->
						<xsd:element name="ClosedOpenLoopKwHrsCrMinusAdj" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Closed and open-loop - kilowatt-hours credit minus phaseout adjustment.  Subtract line 4 from line 3</Description>
									<LineNumber>Section B Part I Line 5</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Number of Refined Coal Tons Produced and Sold -->
						<xsd:element name="NumRefinedCoalTonsPrdcdAndSold" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Number of refined coal tons produced and sold</Description>
									<LineNumber>Section B Part I Line 6</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Total Refined Coal Tons Produced and Sold Credit -->
						<xsd:element name="TotRefinedCoalTonsPrdcdSoldCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total refined coal tons produced and sold credit</Description>
									<LineNumber>Section B Part I Line 6</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					<!-- Refined Coal - Credit Before Phaseout Adjustment -->
						<xsd:element name="RefinedCoalCrBeforePhaseoutAdj" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Refined coal - credit before phaseout adjustment</Description>
									<LineNumber>Section B Part I Line 7</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Refined Coal - Phaseout Adjustment Rate -->
						<xsd:element name="RefinedCoalPhaseoutAdjRate" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Refined coal - phaseout adjustment rate</Description>
									<LineNumber>Section B Part I Line 7</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Refined Coal - Total Phaseout Adjustment -->
						<xsd:element name="RefinedCoalTotalPhaseoutAdj" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Refined coal - total phaseout adjustment</Description>
									<LineNumber>Section B Part I Line 7</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Refined Coal - Tons Credit Minus Phaseout Adjustment -->
						<xsd:element name="RefinedCoalTonsCreditMinusAdj" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Refined coal - tons credit minus phaseout adjustment.  Subtract line 7 from line 6</Description>
									<LineNumber>Section B Part I Line 8</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Number of Indian Coal Tons Produced and Sold -->
						<xsd:element name="IndianCoalProducedAndSold" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Number of Indian coal tons produced and sold</Description>
									<LineNumber>Section B Part I Line 9</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="LongIntegerType">
									<xsd:totalDigits value="18" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Total Indian Coal Tons Produced and Sold Credit -->
						<xsd:element name="TotIndianCoalProducedAndSoldCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total Indian coal tons produced and sold credit</Description>
									<LineNumber>Section B Part I Line 9</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Refined Coal Credit Before Reduction -->
						<xsd:element name="RefinedCoalCrBeforeReduction" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Refined coal credit before reduction.  Add lines 5, 8 and 9</Description>
									<LineNumber>Section B Part I Line 10</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total of Government Grants -->
						<xsd:element name="TotalOfGovernmentGrants" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total of government grants</Description>
									<LineNumber>Section B Part I Line 11</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total of Additions to the Capital Account -->
						<xsd:element name="TotalOfCapitalAccountAdditions" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total of additions to the capital account</Description>
									<LineNumber>Section B Part I Line 12</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Credit Reduction Percentage -->
						<xsd:element name="CreditReductionPercentage" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Divide line 11 by line 12</Description>
									<LineNumber>Section B Part I Line 13</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Credit Reduction -->
						<xsd:element name="CreditReduction" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Multiply line 10 by the lessor of 1/2 or line 13</Description>
									<LineNumber>Section B Part I Line 14</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adjusted Credit Reduction -->
						<xsd:element name="AdjustedCreditReduction" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Subtract line 14 from line 10</Description>
									<LineNumber>Section B Part I Line 15</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Renewable Electricity, Refined Coal, and Indian Coal Production Credit -->
						<xsd:element name="RenElecRfndandIndianCoalProdCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Section B Renewable electricity, refined coal, and indian coal production credit </Description>
									<LineNumber>Section B Part I Line 16</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Government Grants and Modified Closed-Loop Biomass Credits -->
						<xsd:element name="GovtGrantsAndModifBiomassCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Add lines 15, and 16</Description>
									<LineNumber>Section B Part I Line 17</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Passive Activities Renewable Electricity and Refined Coal Production Credit -->
						<xsd:element name="RenewableElecRefinedCoalProdCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Passive activities renewable electricity and refined coal production credit</Description>
									<LineNumber>Section B Part I Line 18</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adjusted Government Grants and Modified Closed-Loop Biomass Credits -->
						<xsd:element name="AdjGovtGrantsAndModifBiomassCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Subtract line 18 from line 17</Description>
									<LineNumber>Section B Part I Line 19</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Renewable Electricity and Refined Coal Credit Allowed -->
						<xsd:element name="RnwblElecRefinedCoalCrAllwed" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Renewable electricity and refined coal credit allowed</Description>
									<LineNumber>Section B Part I Line 20</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Carryforward of Renewable Electricity and Refined Coal Credit -->
						<xsd:element name="CfwdRnwblElecRefinedCoalCr" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Carryforward of renewable electricity and refined coal credit </Description>
									<LineNumber>Section B Part I Line 21</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="USAmountType">
										<xsd:attribute name="form8884Indicator">
											<xsd:simpleType>
												<xsd:restriction base="StringType">
													<xsd:enumeration value="FROM FORM 8884"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
										<xsd:attribute name="form8884Amount" type="USAmountType" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>

						<!-- Carryback from Renewable Electricity and Refined Coal Credit  -->
						<xsd:element name="CybkRnwblElecRefinedCoalCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Carryback from renewable electricity and refined coal credit</Description>
									<LineNumber>Section B Part I Line 22</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total Allowed Tax Credit -->
						<xsd:element name="TotalAllowedTaxCredit" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total allowed tax credit.  Add lines 19 through 22</Description>
									<LineNumber>Section B Part I Line 23</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:simpleContent>
									<xsd:extension base="USAmountNNType">
										<xsd:attribute name="form6478Indicator">
											<xsd:simpleType>
												<xsd:restriction base="StringType">
													<xsd:enumeration value="FROM FORM 6478"/>
												</xsd:restriction>
											</xsd:simpleType>
										</xsd:attribute>
										<xsd:attribute name="form6478Amount" type="USAmountType" />
									</xsd:extension>
								</xsd:simpleContent>
							</xsd:complexType>
						</xsd:element>


						<!-- Amount Allocated to Patrons of the Cooperatives or Beneficiaries-->
						<xsd:element name="AmtAlloctoPtronsofCooporBenef" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Amount allocated to patrons of the cooperatives or beneficiaries</Description>
									<LineNumber>Section B Part II Line 24</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Estates, Trusts and  Cooperatives Credit-->
						<xsd:element name="EstatesTrustsandCooperativesCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Estates, trusts and  cooperatives credit</Description>
									<LineNumber>Section B Part II Line 25</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

                                                <!-- Part II - Allowable Credit -->

						<!-- Regular Tax Before Credits -->
						<xsd:element name="RegularTaxBeforeCredits" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Regular tax before credits</Description>
									<LineNumber>Section B Part II Line 26</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!--  Alternative Minimum Tax-->
							<xsd:element name="AlternativeMinimumTax" type="USAmountType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Alternative minimum tax</Description>
										<LineNumber>Section B Part II Line 27</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>


							<!--  Regular Tax Plus Alternative Minimum Tax-->
								<xsd:element name="RegTaxPlusAlternativeMinTax" type="USAmountType" minOccurs="0">
									<xsd:annotation>
							         		<xsd:documentation>
							                 		<Description>Regular tax plus alternative minimum tax</Description>
							 				<LineNumber>Section B Part II Line 28</LineNumber>
										</xsd:documentation>
									</xsd:annotation>
							     </xsd:element>




						<!-- Foreign Tax Credit -->
						<xsd:element name="ForeignTaxCredit" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Foreign tax credit</Description>
									<LineNumber>Section B Part II Line 29b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Credit from Form 8834 -->
						<xsd:element name="CreditFromForm8834" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Credit from Form 8834</Description>
									<LineNumber>Section B Part II Line 29c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Alternative Motor Vehicle Credit -->
						<xsd:element name="AlternativeMotorVehicleCredit" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Alternative motor vehicle credit</Description>
									<LineNumber>Section B Part II Line 29d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Alternative Fuel Vehicle Refueling Property Credit -->
						<xsd:element name="AltFuelVehicleRefuelingPropCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Alternative fuel vehicle  Refueling property credit</Description>
									<LineNumber>Section B Part II Line 29e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total Tax Credits -->
						<xsd:element name="TotalTaxCredits" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Add lines 29a through 29e</Description>
									<LineNumber>Section B Part II Line 29f</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Net Income Tax -->
						<xsd:element name="NetIncomeTax" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Net income tax</Description>
									<LineNumber>Section B Part II Line 30</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Net Regular Tax -->
						<xsd:element name="NetRegularTax" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Net regular tax</Description>
									<LineNumber>Section B Part II Line 31</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- 25% of Excess of Net Regular Tax -->
						<xsd:element name="Pct25OfExcessNetRegularTax" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Enter 25% (.25) of the excess, if any, of line 31 over $25,000</Description>
									<LineNumber>Section B Part II Line 32</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adjusted Net Income Tax -->
						<xsd:element name="AdjustedNetIncomeTax" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Subtract line 32 from line 30</Description>
									<LineNumber>Section B Part II Line 33</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- General Business Credit (Form 3800, Line 19) -->
						<xsd:element name="GeneralBusinessCredit" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>General business credit (form 3800, line 19)</Description>
									<LineNumber>Section B Part II Line 34a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Empowerment Zone And Renewal Community Employment Credit (Form 8844, Line 26) -->
						<xsd:element name="EmpowermentZoneRnwlComEmplmnCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Empowerment zone and renewal community employment credit (Form 8844, line 26)</Description>
									<LineNumber>Section B Part II Line 34b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Work Opportunity Credit (Form 5884, Line 23) -->
						<xsd:element name="WorkOpportunityCredit" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Work opportunity credit (Form 5884, line 23)</Description>
									<LineNumber>Section B Part II Line 34c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Alcohol Fuels Credit (Form 6478, Line 32) -->
						<xsd:element name="AlcoholCellulosicBiofulesCr" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Alcohol and cellulosic biofuels fuels credit (Form 6478, line 32)</Description>
									<LineNumber>Section B Part II Line 34d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Add Lines 41a Through 41d -->
						<xsd:element name="TotalCredit" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Add lines 34a through 34d</Description>
									<LineNumber>Section B Part II Line 34e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adjusted Net Income Tax Minus General Business Credit -->
						<xsd:element name="AdjNetIncomeTaxMinusGenBusCr" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Subtract line 34e from line 33</Description>
									<LineNumber>Section B Part II Line 35</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Current Year Credit Allowed -->
						<xsd:element name="CurrentYearCreditAllowed" type="USAmountNNType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Credit allowed for the current year.  Enter the smaller of line 25 or line 35</Description>
									<LineNumber>Section B Part II Line 36</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
