schema/2005v4.0/CorporateIncomeTax/Common/IRS8586/OverOnePassThroughEntitySchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Over One Pass-through Entity Schedule</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>October 19, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ====================================================== -->
	<!-- ======== Over One Pass-through Entity Schedule ======= -->
	<!-- ====================================================== -->

	<xsd:element name="OverOnePassThroughEntitySch">
		<xsd:annotation>
			<xsd:documentation>Over One Pass-through Entity Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OverOnePassThroughEntityScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Transfer</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="OverOnePassThroughEntitySchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Over One Pass-through Entity Schedule Type -->
	<xsd:complexType name="OverOnePassThroughEntityScheduleType">
		<xsd:sequence>
			<xsd:element name="Schedule" type="OverOnePassThroughEntityType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Over One Pass-through Entity Schedule Item Type -->
	<xsd:complexType name="OverOnePassThroughEntityType">
		<xsd:sequence>

			<!-- Entity employer identification number (EIN) -->
			<xsd:element name="EntityEmployerEIN" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Entity employer identification number (EIN)</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit Amount for Each Entity -->
			<xsd:element name="CreditAmountForEachEntity" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit amount for each entity</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
