schema/2009v1.7/CorporateIncomeTax/Common/IRS8900/IRS8900.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8900</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>September 29, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ===================================================================== -->
	<!-- =======================	IRS Form 8900 ============================ -->
	<!-- ===================================================================== -->

	<xsd:element name="IRS8900">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8900</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8900Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8900">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- ========================================= -->
	<!-- Qualified Railroad Track Maintenance Credit -->
	<!-- ========================================= -->

	<xsd:complexType name="IRS8900Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 8900</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Qualified Railroad Track Maintenance Expenditures  -->
			<xsd:element name="QualifiedRlrdTrackMaintExpend" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified railroad track maintenance expenditures</Description>
						<LineNumber>1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter 50% (.50) Of Line 1   -->
			<xsd:element name="FiftyPctRlrdTrackMaintExpend" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter 50% (.50) of line 1</Description>
						<LineNumber>2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Number of Miles of Railroad Track Owned or Leased  -->
			<xsd:element name="MilesOfRlrdTrackOwnedorLeased" type="LongIntegerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of miles of railroad track owned or leased</Description>
						<LineNumber>3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Less Number of Miles of Railroad Track Owned or Leased and Assigned   -->
			<xsd:element name="LessNumMileRlrdTrackOwnLsdAsgn" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Less number of miles of railroad track owned or leased and assigned</Description>
						<LineNumber>3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="LongIntegerType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="AssigneeRailroadTrackMilesStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Number Of Miles Of Railroad Track Assigned By Owner Or Lessee -->
			<xsd:element name="MileRlrdTrackAsgnByOwnrLessee" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of miles of railroad track assigned by owner or lessee</Description>
						<LineNumber>3c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="LongIntegerType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="AssignorRailroadTrackMilesStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Total   -->
			<xsd:element name="TotalRailroadTrack" type="LongIntegerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total</Description>
						<LineNumber>3d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply total by $3,500 -->
			<xsd:element name="AdjustedTotalRlrdTrack" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply total by $3,500</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter smaller of line 2 or line 4 -->
			<xsd:element name="QlfyPercentageOfRlrdTrack" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter smaller of line 2 or line 4</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified railroad track maintenance credit  -->
			<xsd:element name="QualifiedRlrdTrackMaintCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified railroad track maintenance credit</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current Year Credit -->
			<xsd:element name="CurrentYearCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year credit</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Railroad Track Maintenance Credit Included on Line 7 From Passive Activities -->
			<xsd:element name="PassiveCrIncludeInTotal" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified railroad track maintenance credit included on line 7 from passive activities (see instructions)</Description>
						<LineNumber>8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 8 From Line 7 -->
			<xsd:element name="QualRRTrkMaintCrFrPassiveAct" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 8 from line 7</Description>
						<LineNumber>9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Railroad Track Maintenance Credit Allowed For 2008 From Passive Activities -->
			<xsd:element name="QualRRTrkMaintCr2008" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified railroad track maintenance credit allowed for 2008 from passive activities (see instructions)</Description>
						<LineNumber>10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Carryforward of Any Qualified Railroad Track Maintenance Credit That Originated in a Tax Year That Began After 2007 -->
			<xsd:element name="CfwdQlfyRlrdTrackMaintCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Carryforward of any qualified railroad track maintenance credit that originated in a tax year that began after 2007</Description>
						<LineNumber>11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 9 Through 11. Report This Amount on Form 3800, Line 29g. -->
			<xsd:element name="TotalRRTrkMaintCr" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 9 through 11. Report this amount on Form 3800, line 29g</Description>
						<LineNumber>12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
