schema/2005v3.2/CorporateIncomeTax/Common/IRS8865/ItemizedOrdinaryIncomeLossStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Itemized Ordinary Income (Loss) Statement</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>June 7, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ========================================================= -->
	<!-- ======== Itemized Ordinary Income (Loss) Statement ====== -->
	<!-- ========================================================= -->


	<xsd:element name="ItemizedOrdinaryIncomeLossStmt">
		<xsd:annotation>
			<xsd:documentation>Itemized ordinary income (loss) statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
					<xsd:extension base="ItemizedOrdinaryIncomeLossStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ItemizedOrdinaryIncomeLossStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="ItemizedOrdinaryIncomeLossStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for itemized ordinary income (loss) statement</xsd:documentation>
		</xsd:annotation>				
		<xsd:sequence>			
		
			<!-- Ordinary Income (Loss) -->
			<xsd:element name="OrdinaryIncomeLoss"  type="OrdinaryIncomeLossType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ordinary income (loss)</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		

	<!-- Type of Repeating element - "OrdinaryIncomeLoss" above -->
	<xsd:complexType name="OrdinaryIncomeLossType">
		<xsd:sequence>

			<!-- Name -->
			<xsd:element name="Name" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partnership's, estate's or trust's name</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Address: choice between U.S. or foreign address -->
			<xsd:choice minOccurs="0">
				<!-- U.S. Address -->
				<xsd:element name="USAddress" type="USAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Partnership's, estate's or trust's U.S. address</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Foreign Address -->
				<xsd:element name="ForeignAddress" type="ForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Partnership's, estate's or trust's foreign address</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- EIN -->
			<xsd:element name="EIN" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partnership's, estate's or trust's EIN</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partnership's, estate's or trust's ordinary income (loss) amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
