schema/2015v3.0/TEGE/Common/Dependencies/OtherNotesLoansReceivableLongSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Tax Exempt and Government Entities Schema - Other Notes/Loans Receivable Long Schedule</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>May 27, 2016</ReleaseDate>			

		</xsd:documentation>

	</xsd:annotation>

	

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	

	<!-- ============================================================= -->

	<!-- ========  Other Notes/Loans Receivable Long Schedule ======== -->

	<!-- ============================================================= -->

	

	<xsd:element name="OtherNotesLoansRcvblLongSch">

		<xsd:annotation>

			<xsd:documentation>Other notes/Loans receivable long schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="OtherNotesLoansRcvblLongSchTyp">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="OtherNotesLoansReceivableLongSchedule">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>

	

	<xsd:complexType name="OtherNotesLoansRcvblLongSchTyp">

		<xsd:annotation>

			<xsd:documentation>Content model for other notes/loans receivable long schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>

			<xsd:element name="OtherNotesLoansRcvblLongGrp" type="OtherNotesLoansRcvblLongGrpType" minOccurs="0" maxOccurs="unbounded"/>

		</xsd:sequence>

	</xsd:complexType>

	

	<xsd:complexType name="OtherNotesLoansRcvblLongGrpType">

		<xsd:annotation>

			<xsd:documentation>Content model for other notes/loans receivable (long)</xsd:documentation>

		</xsd:annotation>

		

		<xsd:sequence>

	

			<!-- Borrower's Name -->

			<xsd:element name="BorrowerNameGrp" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Borrower's name</Description>

					</xsd:documentation>

				</xsd:annotation>

				<xsd:complexType>

					<xsd:sequence>

					 	<xsd:choice>

					 		<xsd:element name="PersonNm" type="PersonNameType"/>

				 			<xsd:element name="BusinessName" type="BusinessNameType"/>					 		

				 		</xsd:choice>				 		

					</xsd:sequence>

				</xsd:complexType>										 	

			</xsd:element>				

			

			<!-- Relationship to Insider -->

			<xsd:element name="InsiderRelationshipTxt" type="LineExplanationType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Relationship to insider</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



			<!-- Original Amount of Loan -->

			<xsd:element name="LoanOriginalAmt" type="USAmountNNType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Original Amount of Loan</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>			

			

			<!-- Balance Due -->

			<xsd:element name="BalanceDueAmt" type="USAmountNNType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Balance due</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

			<!-- Date of Note -->

			<xsd:element name="NoteDt" type="YearMonthType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Date of note</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

			<!-- Maturity Date -->

			<xsd:element name="LoanMaturityDt" type="YearMonthType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Maturity date</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

			<!-- Repayment Terms -->

			<xsd:element name="RepaymentTermsTxt" type="LineExplanationType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Repayment terms</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

			<!-- Interest Rate -->

			<xsd:element name="InterestRt" type="LargeRatioType">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Interest rate</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

			<xsd:element name="SecurityProvidedBorrowerTxt" type="LineExplanationType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Security provided by borrower</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>												

			

			<!-- Purpose of Loan -->

			<xsd:element name="LoanPurposeTxt" type="LineExplanationType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Purpose of loan</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

			<!-- Description of Lender Consideration -->

			<xsd:element name="LenderConsiderationDesc" type="LineExplanationType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Description of lender consideration</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

			<!-- Consideration FMV -->

			<xsd:element name="ConsiderationFMVAmt" type="USAmountNNType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Consideration FMV</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

		</xsd:sequence>

	</xsd:complexType>

	

</xsd:schema>
