schema/2015v2.0/CorporateIncomeTax/Common/IRS8621/IRS8621.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8621</Description>
			<TaxYear>2015</TaxYear>
			<MaturityLevel>Drop 3 Release</MaturityLevel>
			<ReleaseDate>Sept. 8, 2015</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ================================================================== -->
	<!-- ======================  IRS Form 8621 ============================ -->
	<!-- ================================================================== -->


	<xsd:element name="IRS8621">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8621</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8621Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8621">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="referenceDocumentId" type="IdListType"/>

					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ShareholdersStockOwnershipStmt TaxationOfExcessDistributionStmt IRS8886"/>

				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8621Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8621</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Name of Shareholder or Person Name of Shareholder -->
			<xsd:choice>

				<!-- Name of Shareholder  -->
				<xsd:element name="ShareholderName" type="BusinessNameType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of shareholder</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Person Name of Shareholder  -->
				<xsd:element name="ShareholderPersonNm" type="PersonNameType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Person name of shareholder</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Identifying Number or Missing EIN Reason -->
			<xsd:choice>

				<!-- Employer Identification Number -->
				<xsd:element name="EIN" type="EINType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Employer identification number</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Social Security Number -->
				<xsd:element name="SSN" type="SSNType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Social security number</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Missing EIN Reason -->
				<xsd:element name="MissingEINReasonCd" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Shareholder Address: choice between U.S. or foreign address -->
			<xsd:choice minOccurs="0">

				<!-- Shareholder U.S. Address -->
				<xsd:element name="ShareholderUSAddress" type="USAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Shareholder U.S. address</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Shareholder Foreign Address -->
				<xsd:element name="ShareholderForeignAddress" type="ForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Shareholder foreign address</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Shareholder Tax Year -->
			<xsd:element name="ShareholderTaxYr" type="YearType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Shareholder tax year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Shareholder Beginning Tax Year -->
			<xsd:element name="ShareholderTaxYearBeginDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Shareholder beginning tax year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Shareholder Ending Tax Year -->
			<xsd:element name="ShareholderTaxYearEndDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Shareholder ending tax year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Shareholder Type Choice -->
			<xsd:choice>

				<!-- Individual Shareholder -->

				<xsd:element name="IndividualShareholderInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Individual shareholder</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Corporation Shareholder -->
				<xsd:element name="CorporationShareholderInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Corporation shareholder</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Partnership Shareholder -->
				<xsd:element name="PartnershipShareholderInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Partnership shareholder</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- S Corporation Shareholder -->
				<xsd:element name="SCorporationShareholderInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>S corporation shareholder</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Nongrantor Trust Shareholder -->
				<xsd:element name="NongrantorTrustShareholderInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Nongrantor trust shareholder</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Estate Shareholder -->
				<xsd:element name="EstateShareholderInd" type="CheckboxType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Estate shareholder</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Check if any Excepted Specified Foreign Financial Assets are Reported on this Form -->
			<xsd:element name="ForeignFinancialAssetInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Check if any excepted specified foreign financial assets are reported on this form</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
				
			<!-- Name of Passive Foreign Investment Company (PFIC) or Qualified Electing Fund (QEF) -->
			<xsd:element name="PFICOrQEFName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of passive foreign investment company (PFIC) or qualified electing fund (QEF)</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Choice between: U.S. or Foreign Address of Passive Foreign Investment Company (PFIC) or Qualified Electing Fund (QEF) -->
			<xsd:choice minOccurs="0">

				<!-- U.S. Address of Passive Foreign Investment Company (PFIC) or Qualified Electing Fund (QEF) -->
				<xsd:element name="PFICOrQEFUSAddress" type="USAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>U.S. address of passive foreign investment company (PFIC) or qualified electing fund (QEF)</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Foreign Address of Passive Foreign Investment Company (PFIC) or Qualified Electing Fund (QEF) -->
				<xsd:element name="PFICOrQEFForeignAddress" type="ForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign address of passive foreign investment company (PFIC) or qualified electing fund (QEF)</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Employer Identification Number or EIN missing Reason -->
			<xsd:choice minOccurs="0">

				<!-- Employer Identification Number -->
				<xsd:element name="PFICOrQEFEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Employer identification number</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

					<!-- EIN Missing Reason -->
					<xsd:element name="EINMissingReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN missing reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Foreign Entity Identification Group -->
			<xsd:element name="ForeignEntityIdentificationGrp" type="ForeignEntityIdentificationGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Entity Identification Group</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>				
			
			<!-- Tax Year of Company or Fund -->
			<xsd:element name="TaxYr" type="YearType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year of company or fund</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Company or Fund Beginning Tax Year -->
			<xsd:element name="TaxYearBeginDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Company or fund beginning tax year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Company or Fund Ending Tax Year -->
			<xsd:element name="TaxYearEndDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Company or fund ending tax year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part I: Summary of Annual Information -->

			<!-- Description of Each Class of Shares Held by the Shareholder -->
			<xsd:element name="ClassOfShareTxt" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of each class of shares held by the shareholder</Description>
						<LineNumber>Part I Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Check if Shares Jointly Owned with Spouse -->
			<xsd:element name="JointlyOwnedWithSpouseInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Check if shares jointly owned with spouse</Description>
						<LineNumber>Part I Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Date Shares Acquired During Taxable Year -->
			<xsd:element name="SharesAcquiredDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date shares acquired during taxable year</Description>
						<LineNumber>Part I Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Number of Shares Held at the End of the Taxable Year -->
			<xsd:element name="EndTaxYearSharesCnt" type="IntegerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of shares held at the end of the taxable year</Description>
						<LineNumber>Part I Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Value of Shares Held at the End of the Taxable Year Choice -->
			<xsd:choice minOccurs="0">
			
				<!-- Value of Shares Held at the End of the Taxable Year $0-50,000 -->
				<xsd:element name="SharesValueRangeAInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Value of shares held at the end of the taxable year $0-50,000</Description>
							<LineNumber>Part I Line 4a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Value of Shares Held at the End of the Taxable Year $50,001-100,000 -->
				<xsd:element name="SharesValueRangeBInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Value of shares held at the end of the taxable year $50,001-100,000</Description>
							<LineNumber>Part I Line 4b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Value of Shares Held at the End of the Taxable Year $100,001-150,000 -->
				<xsd:element name="SharesValueRangeCInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Value of shares held at the end of the taxable year $100,001-150,000</Description>
							<LineNumber>Part I Line 4c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Value of Shares Held at the End of the Taxable Year $150,001-200,000 -->
				<xsd:element name="SharesValueRangeDInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Value of shares held at the end of the taxable year $150,001-200,000</Description>
							<LineNumber>Part I Line 4d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Value of Shares Held at the End of the Taxable Year More Than $200,000 -->
				<xsd:element name="SharesValueRangeEAmt" type="USAmountType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Value of shares held at the end of the taxable year more than $200,000</Description>
							<LineNumber>Part I Line 4e</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				
			</xsd:choice>
			
			<!-- Type of PFIC and Amount of any Excess Distribution or Gain Treated as an Excess Distribution Choice -->
			<xsd:choice minOccurs="0">
			
				<!-- Section 1291 Type Checkbox -->
				<xsd:element name="Section1291Ind">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Section 1291 type checkbox</Description>
							<LineNumber>Part I Line 5a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="CheckboxType">
								<xsd:attribute name="section1291Amt" type="USAmountType"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>
				
				<!-- Section 1293 (Qualified Electing Fund) Type Checkbox -->
				<xsd:element name="Section1293Ind">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Section 1293 (Qualified Electing Fund) type checkbox</Description>
							<LineNumber>Part I Line 5b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="CheckboxType">
								<xsd:attribute name="section1293Amt" type="USAmountType"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>

				<!-- Section 1296 (Mark to Market) Type Checkbox -->
				<xsd:element name="Section1296Ind">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Section 1296 (Mark to Market) type checkbox</Description>
							<LineNumber>Part I Line 5c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="CheckboxType">
								<xsd:attribute name="Section1296Amt" type="USAmountType"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>	
				
			</xsd:choice>

			<!-- Part II: Elections -->
			
			<!-- Election to Treat the PFIC as a QEF -->
			<xsd:element name="ElectionToTreatThePFICAsQEFInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Election to treat the PFIC as a QEF</Description>
						<LineNumber>Part II Line A</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Election to Extend Time for Payment of Tax -->
			<xsd:element name="ElectToExtndTmForPymtOfTxInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Election to extend time for payment of tax</Description>
						<LineNumber>Part II Line B</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			

			<!-- Election to Mark-to-market PFIC Stock -->
			<xsd:element name="ElectionToMarkToMrktPFICStkInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Election to mark-to-market PFIC stock</Description>
						<LineNumber>Part II Line C</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Deemed Sale Election -->
			<xsd:element name="DeemedSaleElectionInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deemed sale election</Description>
						<LineNumber>Part II Line D</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Deemed Dividend Election -->
			<xsd:element name="DeemedDividendElectionInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deemed dividend election</Description>
						<LineNumber>Part II Line E</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="DeemedDividendElectionStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			
			<!-- Election to Recognize Gain on Deemed Sale of PFIC -->
			<xsd:element name="ElectToRcgnzGainOnPFICSaleInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
							<Description>Election to recognize gain on deemed sale of PFIC</Description>
						<LineNumber>Part II Line F</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Dividend Election with Respect to Section 1297(e) PFIC -->
			<xsd:element name="DeemedDivElectSec1297ePFICInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Dividend election with respect to Section 1297(e) PFIC</Description>
						<LineNumber>Part II Line G</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="DeemedDivElectSec1297ePFICStmt"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>	
			
			<!-- Dividend Election with Respect to Section 1297(e) Former PFIC -->
			<xsd:element name="DeemedDivElectFrmrPFICInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Dividend election with respect to section 1297(e) Former PFIC</Description>
						<LineNumber>Part II Line H</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="DeemedDivElectRespectFormerPFICStmt"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>	

			<!-- Part III: Income from a Qualified Electing Fund (QEF) -->

			<!-- Enter Your Pro Rata Share of the Ordinary Earnings of the QEF -->
			<xsd:element name="ProRataShareOfQEFOrdnryEarnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter your pro rata share of the ordinary earnings of the QEF</Description>
						<LineNumber>Part III Line 6a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Portion of Line 6a that is Included in Income Under Section 951 or that May Be Excluded Under Section 1293(g) -->
			<xsd:element name="IncomePortionOfOrdinaryEarnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
							<Description>Enter the portion of Line 6a that is included in income under Section 951 or that may be excluded under Section 1293(g)</Description>
						<LineNumber>Part III Line 6b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Ordinary Iincome from QEF Amount -->
			<xsd:element name="OrdinaryIncomeFromQEFAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ordinary income from QEF amount</Description>
						<LineNumber>Part III Line 6c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter Your Pro Rata Share of the Total Net Capital Gain of the QEF -->
			<xsd:element name="ProRataShareOfTotNetCapGainAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter your pro rata share of the total net capital gain of the QEF</Description>
						<LineNumber>Part III Line 7a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Portion of Line 7a that is Included in Income Under Section 951 or that May Be Excluded Under Section 1293(g) -->
			<xsd:element name="IncomePortionOfNetCapGainAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the portion of Line 7a that is included in income under Section 951 or that may be excluded under Section 1293(g)</Description>
						<LineNumber>Part III Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 7b from Line 7a. This Amount is a Net Long-term Capital Gain -->
			<xsd:element name="NetLongTermCapitalGainAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract Line 7b from Line 7a. This amount is a net long-term capital gain</Description>
						<LineNumber>Part III Line 7c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 6c and 7c -->
			<xsd:element name="DividendIncomeAndNetLTCGAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 6c and 7c</Description>
						<LineNumber>Part III Line 8a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Total Amount of Cash and the Fair Market Value of Other Property Distributed or Deemed Distributed to You During the Tax Year of QEF -->
			<xsd:element name="TotalCashAndDistributionsAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the total amount of cash and the fair market value of other property distributed or deemed distributed to you during the tax year of QEF</Description>
						<LineNumber>Part III Line 8b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="QEFDistributionStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Enter the Portion of Line 8a not Already Included in Line 8b that is Attributable to Shares in the QEF that you Disposed of, Pledged, or Otherwise Transferred During the Tax Year -->
			<xsd:element name="PortionOfProRateOrdnryEarnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the portion of Line 8a not already included in Line 8b that is attributable to shares in the QEF that you disposed of, pledged, or otherwise transferred during the tax year</Description>
						<LineNumber>Part III Line 8c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 8b and 8c -->
			<xsd:element name="TotalCashAndPrtnOfProRataAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 8b and 8c</Description>
						<LineNumber>Part III Line 8d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 8d from Line 8a, and Enter the Difference -->
			<xsd:element name="ProRataLessCashAndPortionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract Line 8d from Line 8a, and enter the difference</Description>
						<LineNumber>Part III Line 8e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Total Tax for the Tax Year -->
			<xsd:element name="TotalTaxForTaxYearAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the total tax for the tax year</Description>
						<LineNumber>Part III Line 9a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Total Tax for the Tax Year Determined Without Regard to the Amount Entered on Line 8e -->
			<xsd:element name="TotTxWithoutProRataLessCashAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the total tax for the tax year determined without regard to the amount entered on Line 8e</Description>
						<LineNumber>Part III Line 9b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 9b from Line 9a -->
			<xsd:element name="DeferredTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract Line 9b from Line 9a</Description>
						<LineNumber>Part III Line 9c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part IV: Gain or (Loss) from Mark-to-Market Election -->

			<!-- Enter the Fair Market Value of Your PFIC Stock at the End of the Tax Year -->
			<xsd:element name="FairMarketValueOfPFICStkAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the fair market value of your PFIC stock at the end of the tax year</Description>
						<LineNumber>Part IV Line 10a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter Your Adjusted Basis in the Stock at the End of the Tax Year -->
			<xsd:element name="AdjustedBasisInStockEndOfTYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter your adjusted basis in the stock at the end of the tax year</Description>
						<LineNumber>Part IV Line 10b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Excess. Subtract Line 10b from Line 10a -->
			<xsd:element name="ExcessAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Excess. Subtract Line 10b from Line 10a</Description>
						<LineNumber>Part IV Line 10c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter Any Unreversed Inclusions (as Defined in Section 1296(d)) -->
			<xsd:element name="UnreversedInclusionsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter any unreversed inclusions (as defined in Section 1296(d))</Description>
						<LineNumber>Part IV Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Loss From Line 10c, But Only to the Extent of Unreversed Inclusions on Line 11. Include This Amount as an Ordinary Loss on Your Tax Return -->
			<xsd:element name="ExcessOrUnreservedInclsnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the loss from line 10c, but only to the extent of unreversed inclusions on line 11. Include this amount as an ordinary loss on your tax return</Description>
						<LineNumber>Part IV Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Fair Market Value of Stock on the Date of Sale or Disposition -->
			<xsd:element name="FMVStkOnDtSaleOrDisposAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Fair market value of stock on the date of sale or disposition</Description>
						<LineNumber>Part IV Line 13a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Adjusted Basis of the Stock on the Date of Sale or Disposition -->
			<xsd:element name="AdjBasisStkOnDtSaleOrDisposAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Adjusted basis of the stock on the date of sale or disposition</Description>
						<LineNumber>Part IV Line 13b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Amount to Include as Ordinary Income on Tax Return -->
			<xsd:element name="OrdinaryIncomeFromPFICStkAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount to include as ordinary income on tax return</Description>
						<LineNumber>Part IV Line 13c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Unreversed Inclusions -->
			<xsd:element name="StkSaleUnreversedInclusionsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unreversed inclusions</Description>
						<LineNumber>Part IV Line 14a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Loss Amount to Extent of Unreversed Inclusions -->
			<xsd:element name="LossLimitedByOrdinaryIncomeAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Loss amount to extent of unreversed inclusions</Description>
						<LineNumber>Part IV Line 14b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Loss Exceeding Unreversed Inclusion -->
			<xsd:element name="LossExcessOfUnrvrsdInclsnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Loss exceeding unreversed inclusion</Description>
						<LineNumber>Part IV Line 14c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>				

			<!-- Part V: Distributions and Disposition of Stock in a Section 1291 Fund -->

			<!-- Distributions and Disposition of Stock in a Section 1291 Fund -->
			<xsd:element name="DistriAndDisposOfStockTyp" type="DistriAndDisposOfStockType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Distributions and disposition of stock in a Section 1291 fund</Description>
						<LineNumber>Part V Lines 15a-16f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part VI: Status of Prior Year Section 1294 Elections and Termination of Section 1294 Elections -->

			<!-- Status of Prior Year Section 1294 Elections and Termination of Section 1294 Elections -->
			<xsd:element name="ElectionStatus" type="ElectionStatusType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Status of prior year Section 1294 elections and termination of Section 1294 elections</Description>
						<LineNumber>Part VI Lines 17-26</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Distribution and Disposition of Stock Type -->
	<xsd:complexType name="DistriAndDisposOfStockType">
		<xsd:sequence>

			<!-- Enter Your Total Distributions from the PFIC During the Current Tax Year -->
			<xsd:element name="TotalPFICDistriDurCurrTYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter your total distributions from the PFIC during the current tax year</Description>
						<LineNumber>Part V Line 15a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Total Distributions Made by the Company for Each of the 3 Years Preceding the Current Tax Year -->
			<xsd:element name="DistributionsIn3PrecedingTYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the total distributions made by the company for each of the 3 years preceding the current tax year</Description>
						<LineNumber>Part V Line 15b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Divide Line 15b by 3 -->
			<xsd:element name="AverageDistribution3PrecTYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Divide Line 15b by 3</Description>
						<LineNumber>Part V Line 15c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 15c by 125% -->
			<xsd:element name="AverageDistri3PrevTY125PctAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply Line 15c by 125%</Description>
						<LineNumber>Part V Line 15d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 15d from Line 15a -->
			<xsd:element name="TotalExcessDistributionAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract Line 15d from Line 15a</Description>
						<LineNumber>Part V Line 15e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter Gain or Loss from the Disposition of Stock of a Section 1291 Fund or Former Section 1291 Fund -->
			<xsd:element name="GainLossFromDisposOfStkAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter gain or loss from the disposition of stock of a Section 1291 fund or former Section 1291 fund</Description>
						<LineNumber>Part V Line 15f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Total of the Amounts Determined in Line 16a that are Allocatable to the Current Tax Year and Tax Years Before the Foreign Corporation Became a PFIC -->
			<xsd:element name="TotalAllcblCurrAndPrePFICTYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the total of the amounts determined in Line 16a that are allocatable to the current tax year and tax years before the foreign corporation became a PFIC</Description>
						<LineNumber>Part V Line 16b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Aggregate Increases in Tax (Before Credits) for Each Tax Year in Your Holding Period -->
			<xsd:element name="AggregateIncreaseInTxEachTYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the aggregate increases in tax (before credits) for each tax year in your holding period</Description>
						<LineNumber>Part V Line 16c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Credit -->
			<xsd:element name="ForeignTaxCreditAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign tax credit</Description>
						<LineNumber>Part V Line 16d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 16d from Line 16c -->
			<xsd:element name="AggregateIncrLessFrgnTxCrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract Line 16d from Line 16c</Description>
						<LineNumber>Part V Line 16e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Determine Interest on Each Net Increase in Tax Determined on Line 16e Using the Rates and Methods of Section 6621 -->
			<xsd:element name="InterestOnEachNetIncrInTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Determine interest on each net increase in tax determined on Line 16e using the rates and methods of Section 6621</Description>
						<LineNumber>Part V Line 16f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Election Status Type -->
	<xsd:complexType name="ElectionStatusType">
		<xsd:sequence>

			<!-- Tax Year of Outstanding Election -->
			<xsd:element name="OutstandingElectionTaxYr" type="YearType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year of outstanding election</Description>
						<LineNumber>Part VI Line 17</LineNumber>
					</xsd:documentation>
			</xsd:annotation>
			</xsd:element>

			<!-- Undistributed Earnings to which the Election Relates -->
			<xsd:element name="UndistributedEarningsAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Undistributed earnings to which the election relates</Description>
						<LineNumber>Part VI Line 18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Deferred Tax -->
			<xsd:element name="DeferredTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deferred tax</Description>
						<LineNumber>Part VI Line 19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Interest Accrued on Deferred Tax (Line 19) as of the Filing Date -->
			<xsd:element name="InterestAccruedOnDefrdTaxAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest accrued on deferred tax (Line 19) as of the filing date</Description>
						<LineNumber>Part VI Line 20</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Event Terminating Election -->
			<xsd:element name="EventTerminatingElectionTxt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Event terminating election</Description>
						<LineNumber>Part VI Line 21</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="35"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Earnings Distributed or Deemed Distributed During the Tax Year -->
			<xsd:element name="EarningsDistributedDurTheTYAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Earnings distributed or deemed distributed during the tax year</Description>
						<LineNumber>Part VI Line 22</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Deferred Tax Due with This Return -->
			<xsd:element name="DeferredTaxDueWithThisRetAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deferred tax due with this return</Description>
						<LineNumber>Part VI Line 23</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Accrued Interest Due with This Return -->
			<xsd:element name="AccruedInterestDueThisRetAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Accrued interest due with this return</Description>
						<LineNumber>Part VI Line 24</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Deferred Tax Outstanding After Partial Termination of Election -->
			<xsd:element name="DeferredTaxAfterPartialTermAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Deferred tax outstanding after partial termination of election</Description>
						<LineNumber>Part VI Line 25</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Interest Accrued After Partial Termination of Election -->
			<xsd:element name="InterestAccrAftrPartlTermAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest accrued after partial termination of election</Description>
						<LineNumber>Part VI Line 26</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
