schema/2007v2.5/CorporateIncomeTax/Common/IRS8861/CapitalizedSalariesAndWagesStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Statement of Capitalized Salaries and Wages and Full Absorption Method Inventory Reduction by Welfare-to-Work Credit</Description>
			<TaxYear>2007</TaxYear>
			<Version>Candidate Release 1.0</Version>
			<ReleaseDate>June 16, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ============================================================== -->
	<!-- =============  Statement of Capitalized Salaries and Wages =============== -->
	<!-- ============================================================== -->


	<xsd:element name="CapitalizedSalariesAndWgsStmt">
		<xsd:annotation>
			<xsd:documentation>Statement of Capitalized Salaries and Wages and Full Absorption Method Inventory Reduction by Welfare-to-Work Credit</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CapitalizedSalariesAndWgsType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="CapitalizedSalariesAndWagesStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="CapitalizedSalariesAndWgsType">
		<xsd:annotation>
			<xsd:documentation>Content model for Statement of Capitalized Salaries and Wages</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Statement" type="ExplanationType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
