schema/2008v2.14/TEGE/Common/Dependencies/OtherNotesLoansReceivableLongSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Other Notes/Loans Receivable Long Schedule</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>December 7, 2010</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ============================================================= -->
	<!-- ========  Other Notes/Loans Receivable Long Schedule ======== -->
	<!-- ============================================================= -->
	
	<xsd:element name="OtherNotesLoansRcvblLongSch">
		<xsd:annotation>
			<xsd:documentation>Other notes/Loans receivable long schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OtherNotesLoansRcvblLongSchTyp">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="OtherNotesLoansReceivableLongSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="OtherNotesLoansRcvblLongSchTyp">
		<xsd:annotation>
			<xsd:documentation>Content model for other notes/loans receivable long schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OtherNotesLoansRcvblLong" type="OtherNotesLoansRcvblLongType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="OtherNotesLoansRcvblLongType">
		<xsd:annotation>
			<xsd:documentation>Content model for other notes/loans receivable (long)</xsd:documentation>
		</xsd:annotation>
		
		<xsd:sequence>
	
			<!-- Borrower's Name -->
			<xsd:element name="BorrowersName" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Borrower's name</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
					 	<xsd:choice>
					 		<xsd:element name="Individual" type="PersonNameType"/>
				 			<xsd:element name="Business" type="BusinessNameType"/>					 		
				 		</xsd:choice>				 		
					</xsd:sequence>
				</xsd:complexType>										 	
			</xsd:element>				
			
			<!-- Relationship to Insider -->
			<xsd:element name="RelationshipToInsider" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Relationship to insider</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Original Amount of Loan -->
			<xsd:element name="OriginalAmountOfLoan" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Original Amount of Loan</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<!-- Balance Due -->
			<xsd:element name="BalanceDue" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Balance due</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Date of Note -->
			<xsd:element name="DateOfNote" type="YearMonthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of note</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Maturity Date -->
			<xsd:element name="MaturityDate" type="YearMonthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Maturity date</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Repayment Terms -->
			<xsd:element name="RepaymentTerms" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Repayment terms</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Interest Rate -->
			<xsd:element name="InterestRate" type="LargeRatioType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest rate</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<xsd:element name="SecurityProvidedByBorrower" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Security provided by borrower</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>												
			
			<!-- Purpose of Loan -->
			<xsd:element name="PurposeOfLoan" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Purpose of loan</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Description of Lender Consideration -->
			<xsd:element name="DescOfLenderConsideration" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of lender consideration</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Consideration FMV -->
			<xsd:element name="ConsiderationFmv" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Consideration FMV</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
