schema/2007v1.0/CorporateIncomeTax/Common/IRS6478/SmallEthanolProducerCreditElection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Small Ethanol Producer Credit Election</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 17, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ================================================================== -->
	<!-- ============= Small Ethanol Producer Credit Election ============= -->
	<!-- ================================================================== -->


	<xsd:element name="SmallEthanolProducerCrElection">
		<xsd:annotation>
			<xsd:documentation>Small Ethanol Producer Credit Election</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="SmallEthanolProducerCrElectionType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="SmallEthanolProducerCreditElection">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	

	<xsd:complexType name="SmallEthanolProducerCrElectionType">
		<xsd:annotation>
			<xsd:documentation>Content model for Small Ethanol Producer Credit Election</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Small Ethanol Producer Credit Election Information -->
			<xsd:element name="SmallEthanolProducerCrElect" type="SmallEthanolProducerCrElectType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Small Ethanol Producer Credit Election Information</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Repeating Group - Small Ethanol Producer Credit Election Information -->
	<xsd:complexType name="SmallEthanolProducerCrElectType">
		<xsd:sequence>

			<!-- Total Gallons of Qualified Ethanol Fuel Produced -->
			<xsd:element name="TotGallonsQlfyEthanolFuelPrdcd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Gallons of Qualified Ethanol Fuel Produced</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerType">
						<xsd:totalDigits value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Amount Allocated to Cooperative -->
			<xsd:element name="AmountAllocatedToCooperative" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount Allocated to Cooperative</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerType">
						<xsd:totalDigits value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Qualified Ethanol Fuel Production -->
			<xsd:element name="QualifiedEthanolFuelProduction" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Ethanol Fuel Production</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerType">
						<xsd:totalDigits value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
