schema/2014v5.0/TEGE/TEGE990PF/IRS990PF/OtherExpensesSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Tax Exempt and Government Entities Schema - Other Expenses Schedule</Description>

			<TaxYear>2014</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>TBD</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>

	

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	

	<!-- =========================================== -->

	<!-- ========= Other Expenses Schedule ========= -->

	<!-- =========================================== -->

	

	<xsd:element name="OtherExpensesSchedule">

		<xsd:annotation>

			<xsd:documentation>Other Expenses Schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="OtherExpensesScheduleType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="OtherExpensesSchedule">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>

	

	<xsd:complexType name="OtherExpensesScheduleType">

		<xsd:annotation>

			<xsd:documentation>Content model for Other Expenses Schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>



			<xsd:element name="OtherExpensesScheduleGrp" minOccurs="0" maxOccurs="unbounded">

				<xsd:complexType>

					<xsd:sequence>



						<!-- Description -->

						<xsd:element name="Desc" type="LineExplanationType" minOccurs="0">

							<xsd:annotation>

								<xsd:documentation>

									<Description>Description</Description>

								</xsd:documentation>

							</xsd:annotation>

						</xsd:element>



						<!-- Revenue and Expenses per Books -->

						<xsd:element name="RevenueAndExpensesPerBooksAmt" type="USAmountType" minOccurs="0">

							<xsd:annotation>

								<xsd:documentation>

									<Description>Revenue and Expenses per Books</Description>

								</xsd:documentation>

							</xsd:annotation>

						</xsd:element>



						<!-- Net Investment Income -->

						<xsd:element name="NetInvestmentIncomeAmt" type="USAmountType" minOccurs="0">

							<xsd:annotation>

								<xsd:documentation>

									<Description>Net Investment Income</Description>

								</xsd:documentation>

							</xsd:annotation>

						</xsd:element>



						<!-- Adjusted Net Income -->

						<xsd:element name="AdjustedNetIncomeAmt" type="USAmountType" minOccurs="0">

							<xsd:annotation>

								<xsd:documentation>

									<Description>Adjusted Net Income</Description>

								</xsd:documentation>

							</xsd:annotation>

						</xsd:element>



						<!-- Disbursements for Charitable Purposes -->

						<xsd:element name="DisbursementsCharitablePrpsAmt" type="USAmountType" minOccurs="0">

							<xsd:annotation>

								<xsd:documentation>

									<Description>Disbursements for Charitable Purposes</Description>

								</xsd:documentation>

							</xsd:annotation>

						</xsd:element>



					</xsd:sequence>

				</xsd:complexType>

			</xsd:element>



		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
