schema/2005v4.1/CorporateIncomeTax/Common/IRS3115/ChangeInOverallMethodOfAccountingStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Change in Overall Method of Accounting Statement</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 15, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ================================================================= -->
	<!-- ======== Change in Overall Method of Accounting Statement ======= -->
	<!-- ================================================================= -->


	<xsd:element name="ChangeInOverallMthdOfAcctStmt">
		<xsd:annotation>
			<xsd:documentation>Change in Overall Method of Accounting Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ChangeInOverallMthdOfAcctStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ChangeInOverallMethodOfAccountingStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="ChangeInOverallMthdOfAcctStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Change in Overall Method of Accounting Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Method of Accounting Used To Prepare Balance Sheet -->
			<xsd:element name="MethodUsedToPrepareBalSheet" type="MethodOfAccountingType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Method of Accounting Used To Prepare Balance Sheet</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Explanation of Differences -->
			<xsd:element name="ExplanationOfDifferences" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Explanation of Differences</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>		

</xsd:schema>
