schema/2014v6.0/CorporateIncomeTax/Common/IRS5471/InvestmentInSubsidiariesStmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Investment in Subsidiaries Statement</Description>

			<TaxYear>2014</TaxYear>

			<MaturityLevel>Drop 3 Release</MaturityLevel>

			<ReleaseDate>Sept.8, 2015</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>



	<!-- =================================================== -->

	<!-- ====== Investment in Subsidiaries Statement ======= -->

	<!-- =================================================== -->



	<xsd:element name="InvestmentInSubsidiariesStmt">

		<xsd:annotation>

			<xsd:documentation>Investment in Subsidiaries Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="InvstInSubsidiariesStmtType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="StringType" fixed="InvestmentInSubsidiariesStmt">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<!-- Investment in Subsidiaries Statement -->

	<xsd:complexType name="InvstInSubsidiariesStmtType">

		<xsd:annotation>

			<xsd:documentation>Investment in Subsidiaries Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>



			<xsd:element name="InvestmentInSubsidiariesItem" type="InvstInSubsidiariesItemType" minOccurs="0" maxOccurs="unbounded"/>



		</xsd:sequence>

	</xsd:complexType>



	<xsd:complexType name="InvstInSubsidiariesItemType">

		<xsd:sequence>



			<!-- Description -->

			<xsd:element name="Desc" type="LineExplanationType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Description</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

			<!-- Beginning Amount -->

			<xsd:element name="BeginningAmt" type="USAmountType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Beginning Amount</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



			<!-- Ending Amount -->

			<xsd:element name="EndingAmt" type="USAmountType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Ending Amount</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
