schema/2008v2.2/CorporateIncomeTax/Common/IRS3115/LegalBasisForChangeStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Legal Basis for Change Statement</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>September 25, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- ================ Legal Basis for Change Statement ============= -->
	<!-- =============================================================== -->

	<xsd:element name="LegalBasisForChangeStatement">
		<xsd:annotation>
			<xsd:documentation>Legal Basis for Change Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="LegalBasisForChangeStatementType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="LegalBasisForChangeStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Legal Basis for Change Statement Type -->
	<xsd:complexType name="LegalBasisForChangeStatementType">
		<xsd:sequence>
			<xsd:element name="Explanation" type="ExplanationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
