schema/2015v2.0/CorporateIncomeTax/Common/IRS8865/OtherRentalCreditsStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Other Rental Credits Statement</Description>
			<TaxYear>2015</TaxYear>
			<MaturityLevel>Drop 3 Release</MaturityLevel>
			<ReleaseDate>Sept. 8, 2015</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ================================================== -->
	<!-- =======  Other Rental Credits Statement   ======== -->
	<!-- ================================================== -->
	
	<xsd:element name="OtherRentalCreditsStatement">
		<xsd:annotation>
			<xsd:documentation>Other Rental Credits Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OtherRentalCreditsStatementType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="OtherRentalCreditsStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="OtherRentalCreditsStatementType">
		<xsd:annotation>
			<xsd:documentation>Content model for other rental credits statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="OtherRentalCreditGrp" type="OtherRentalCreditGrpType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="OtherRentalCreditGrpType">
		<xsd:annotation>
			<xsd:documentation>Content model for other rental credit</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Description -->
			<xsd:element name="Desc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Type</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Amount -->
			<xsd:element name="Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
