schema/2005v4.0/TEGE/Common/Dependencies/ControlledEntitySchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Controlled Entity Schedule</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>October 19, 2007</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ====================================================================== -->
	<!-- ================ Controlled Entity Schedule ====================== -->
	<!-- ====================================================================== -->

	<xsd:element name="ControlledEntitySchedule">
		<xsd:annotation>
			<xsd:documentation>Controlled Entity Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ControlledEntityScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ControlledEntitySchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="ControlledEntityScheduleType">
		<xsd:annotation>
			<xsd:documentation>Content model for Controlled Entity Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ControlledEntity" type="ControlledEntityType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ControlledEntityType">
		<xsd:annotation>
			<xsd:documentation>Content model for controlled entity schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Name of Controlled Entity -->
			<xsd:element name="NameOfControlledEntity" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of Controlled Entity</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Income Description -->
			<xsd:element name="IncomeDescription" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Income description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Income Amount -->
			<xsd:element name="IncomeAmount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Income amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Loan Amount -->
			<xsd:element name="LoanAmount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Loan amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Fund Transfers Description -->
			<xsd:element name="OtherFundTransfersDescription" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other fund transfers description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>		

			<!-- Other Fund Transfers Amount -->
			<xsd:element name="OtherFundTransfersAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Loan amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
