schema/2005v3.1/CorporateIncomeTax/Common/IRS3115/OverallMethodOfAccountingAttachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Overall Method of Accounting Attachment</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 19, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ================================================================= -->
	<!-- ============ Overall Method of Accounting Attachment ============ -->
	<!-- ================================================================= -->


	<xsd:element name="OverallMethodOfAccountingAtt">
		<xsd:annotation>
			<xsd:documentation>Overall Method of Accounting Attachment</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OverallMethodOfAccountingAttType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="OverallMethodOfAccountingAttachment">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="OverallMethodOfAccountingAttType">
		<xsd:annotation>
			<xsd:documentation>Content model for Overall Method of Accounting Attachment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		
				
			<!-- Item Change Info -->
			<xsd:element name="ItemChangeInfo" type="ItemChangeInfoType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Item Change Info</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		

	<!-- Type for Repeating Group - Item Change Info -->
	<xsd:complexType name="ItemChangeInfoType">
		<xsd:sequence>		

			<!-- Item -->
			<xsd:element name="Item" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Item being changed</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Present Method -->
			<xsd:element name="PresentMethod" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Present Method of item being changed</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Proposed Method -->
			<xsd:element name="ProposedMethod" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proposed Method of item being changed</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Present Overall Method Of Accounting -->
			<xsd:element name="PresentOverallMethodOfAcct" type="MethodOfAccountingType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Present Overall Method Of Accounting</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
