schema/2009v1.9/CorporateIncomeTax/Common/IRS3115/DescriptionOfPropertyBeingChangedStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Description of Property Being Changed Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>December 7, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ================================================================== -->
	<!-- ======== Description of Property Being Changed Statement ========= -->
	<!-- ================================================================== -->


	<xsd:element name="DescOfPropertyBeingChangedStmt">
		<xsd:annotation>
			<xsd:documentation>Description of Property Being Changed Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DescOfPropertyBeingChangedStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="DescriptionOfPropertyBeingChangedStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="DescOfPropertyBeingChangedStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Description of Property Being Changed Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		
				
			<!-- Description of Property Being Changed Info -->
			<xsd:element name="DescOfPropertyBeingChangedInfo" type="DescOfPropertyBeingChangedInfoType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of Property Being Changed Info</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="DescOfPropertyBeingChangedInfoType">
		<xsd:annotation>
			<xsd:documentation>Content model for Description of Property Being Changed Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Type of Property -->
			<xsd:element name="TypeOfProperty" type="ShortDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Type of Property</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Year Property Was Placed in Service -->
			<xsd:element name="YearPropertyWasPlacedInService" type="YearType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Year Property Was Placed in Service</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Property's Use In Trade or Business or Income-Producing Activity -->
			<xsd:element name="PropUseTradeBusOrIncmProdActy" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Property's Use In Trade or Business or Income-Producing Activity</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
