schema/2014v5.0/CorporateIncomeTax/Common/IRS926/GainRecognizedUnderSection904f3OnTransferStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Corporate Income Tax Schema - Gain Recognized Under Sec 904(f)(3) on Transfer Statement</Description>

			<TaxYear>2014</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>TBD</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>





	<!-- ========================================================================= -->

	<!-- =====  Gain Recognized Under Sec 904(f)(3) on Transfer Statement   ====== -->

	<!-- ========================================================================= -->





	<xsd:element name="GainRcgnzSect904f3TrnsfrStmt">

		<xsd:annotation>

			<xsd:documentation>Gain recognized under sec 904(f)(3) on transfer statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="GainRcgnzSect904f3TrnsfrStmtType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="GainRecognizedUnderSection904f3OnTransferStatement">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<xsd:complexType name="GainRcgnzSect904f3TrnsfrStmtType">

		<xsd:annotation>

			<xsd:documentation>Content model for gain recognized under sec 904(f)(3) on transfer statement</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>



			<!-- Gain Recognized Under Sec 904(f)(3) on Transfer Info -->

			<xsd:element name="GainRcgnzSect904f3TrnsfrInfo" type="GainRcgnzSect904f3TrnsfrInfoType" minOccurs="0" maxOccurs="unbounded">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Gain recognized under sec 904(f)(3) on transfer info</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



		</xsd:sequence>

	</xsd:complexType>



	<!-- Type for Repeating Group - Gain Recognized Under Sec 904(f)(3) on Transfer -->

	<xsd:complexType name="GainRcgnzSect904f3TrnsfrInfoType">

		<xsd:sequence>



			<!-- Description of Property Transferred -->

			<xsd:element name="PropertyTransferredDesc" type="LineExplanationType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Description of property transferred</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



			<!-- Amount of Gain Recognized -->

			<xsd:element name="GainRecognizedOnTransferAmt" type="USAmountType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Amount of gain recognized</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>





		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
