schema/2010v3.1/CorporateIncomeTax/Common/IRS5452/NoncashDistributionsTaxBasisAndFMVSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Noncash Distributions Tax Basis and Fair Market Value Schedule</Description>
			<TaxYear>2010</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 25, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ====================================================================== -->
	<!-- === Noncash Distributions Tax Basis and Fair Market Value Schedule === -->
	<!-- ====================================================================== -->


	<xsd:element name="NoncashDistriTaxBasisAndFMVSch">
		<xsd:annotation>
			<xsd:documentation>Noncash Distributions Tax Basis and Fair Market Value Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="NoncashDistriTaxBasisAndFMVSchType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="NoncashDistributionsTaxBasisAndFMVSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="NoncashDistriTaxBasisAndFMVSchType">
		<xsd:annotation>
			<xsd:documentation>Content model for Noncash Distributions Tax Basis and Fair Market Value Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		
				
			<!-- Noncash Distribution -->
			<xsd:element name="NoncashDistribution" type="NoncashDistributionType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Noncash Distribution</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		

	<!-- Type for Repeating Group - Noncash Distribution -->
	<xsd:complexType name="NoncashDistributionType">
		<xsd:sequence>		
	
			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Tax Basis -->
			<xsd:element name="TaxBasis" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax Basis</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Fair Market Value -->
			<xsd:element name="FairMarketValue" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Fair Market Value</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
		</xsd:sequence>
	</xsd:complexType>	
	
</xsd:schema>
