schema/2010v3.0/CorporateIncomeTax/Common/IRS8845/AllocationToPatronsStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Allocation to Patrons Statement</Description>

			<TaxYear>2010</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>September 29, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	<!-- =========================================== -->
	<!-- ===== Allocation to Patrons Statement ===== -->
	<!-- =========================================== -->
	<xsd:element name="AllocationToPatronsStatement">
		<xsd:annotation>
			<xsd:documentation>Allocation to Patrons Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="AllocationToPatronsStatementType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="AllocationToPatronsStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="AllocationToPatronsStatementType">
		<xsd:annotation>
			<xsd:documentation>Content model for allocation to patrons statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		
			<!-- Allocation To Patrons -->
			<xsd:element name="AllocationToPatrons" type="AllocationToPatronsType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Allocation To Patrons</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total -->
			<xsd:element name="Total" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Type for Repeating Group - Allocation To Patrons -->
	<xsd:complexType name="AllocationToPatronsType">
		<xsd:sequence>
		
			<!-- Description-->
			<xsd:element name="Description" type="ExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
