schema/2008v2.14/CorporateIncomeTax/Common/IRS8283/DeductionsTakenUnderSection170Stmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Deductions Taken under Section 170 Statement</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>December 7, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ============================================================= -->
	<!-- ======== Deductions Taken under Section 170 Statement ======= -->
	<!-- ============================================================= -->

	<xsd:element name="DeductionsUnderSection170Stmt">
		<xsd:annotation>
			<xsd:documentation>Deductions Taken under Section 170 Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DeductionsTakenUnderSection170StmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Transfer</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="DeductionsTakenUnderSection170Stmt">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Deductions Taken under Section 170 Statement Type -->
	<xsd:complexType name="DeductionsTakenUnderSection170StmtType">
		<xsd:annotation>
			<xsd:documentation>Deductions Taken under Section 170 Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="Statement" type="ShortExplanationType" minOccurs="0"/>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
