schema/2009v1.1/CorporateIncomeTax/Common/IRS5471/PaidInOrCapSurplusRecnclStmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Paid-in or Capital Surplus Reconciliation Statment Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 22, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =========================================================================== -->
	<!-- ====== Paid-in or Capital Surplus Reconciliation Statment Statement ======= -->
	<!-- =========================================================================== -->

	<xsd:element name="PaidInOrCapSurplusRecnclStmt">
		<xsd:annotation>
			<xsd:documentation>Paid-in or Capital Surplus Reconciliation Statment Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="PdInOrCapSurplusRecnclStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="PaidInOrCapSurplusRecnclStmt">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Paid-in or Capital Surplus Reconciliation Statment -->
	<xsd:complexType name="PdInOrCapSurplusRecnclStmtType">
		<xsd:annotation>
			<xsd:documentation>Paid-in or Capital Surplus Reconciliation Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="Item" type="PdInOrCapSurplusRecnclItemType" minOccurs="0" maxOccurs="unbounded"/>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PdInOrCapSurplusRecnclItemType">
		<xsd:sequence>

			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Beginning Amount -->
			<xsd:element name="BeginningAmount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Beginning Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Ending Amount -->
			<xsd:element name="EndingAmount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ending Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
