schema/2004v1.0/CorporateIncomeTax/Common/IRS970/AdjNotIncludedInIncomeOverThreeYearsExplnStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Adjustment Not Included in Income Over 3 Years Explanation</Description>
			<TaxYear>2004</TaxYear>
			<MaturityLevel>Initial Draft</MaturityLevel>
			<ReleaseDate>August 30, 2004</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =========================================================================================== -->
	<!-- ===============  Adjustment Not Included in Income Over 3 Years Explanation ========================== -->
	<!-- =========================================================================================== -->

	<xsd:element name="AdjNotIncldInIncmOver3YrsExpln">
		<xsd:annotation>
			<xsd:documentation>Adjustment Not Included in Income Over 3 Years Explanation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="AdjNotIncldInIncmOver3YrsExplnType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="AdjNotIncludedInIncomeOverThreeYearsExplnStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="AdjNotIncldInIncmOver3YrsExplnType">
		<xsd:annotation>
			<xsd:documentation>Adjustment Not Included in Income Over 3 Years Explanation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Explanation-->
			<xsd:element name="Explanation" type="ExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Explanation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
