schema/2015v3.0/CorporateIncomeTax/Common/IRS3115/ManufacturingProposedPoolStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Manufacturing Proposed Pool Statement</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>May 27, 2016</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>





	<!-- ================================================================= -->

	<!-- ============= Manufacturing Proposed Pool Statement ============= -->

	<!-- ================================================================= -->





	<xsd:element name="ManufacturingProposedPoolStmt">

		<xsd:annotation>

			<xsd:documentation>Manufacturing Proposed Pool Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="ManufacturingProposedPoolStmtType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="ManufacturingProposedPoolStatement">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>	

	

	<xsd:complexType name="ManufacturingProposedPoolStmtType">

		<xsd:annotation>

			<xsd:documentation>Content model for Manufacturing Proposed Pool Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>



			<xsd:element name="ShortExplanationTxt" type="ShortExplanationType" minOccurs="0" maxOccurs="unbounded"/>



		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
