schema/2015v3.0/CorporateIncomeTax/Common/IRS3115/MthdOfCostAllocationCostsNotFullyUnderSect263Aor460Stmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Method of Cost Allocation for Costs Not Fully Included Under Section 263A or 460 Statement</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>May 27, 2016</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>



	<!-- ================================================================================================== -->

	<!-- === Method of Cost Allocation for Costs Not Fully Included Under Section 263A or 460 Statement === -->

	<!-- ================================================================================================== -->



	<xsd:element name="MthdAllocnNotSect263Aor460Stmt">

		<xsd:annotation>

			<xsd:documentation>Method of Cost Allocation for Costs Not Fully Included Under Section 263A or 460 Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="MthdAllocnNotSect263Aor460StmtType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="StringType" fixed="MthdOfCostAllocationCostsNotFullyUnderSect263Aor460Stmt">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<!-- Method of Cost Allocation for Costs Not Fully Included Under Section 263A or 460 Statement -->

	<xsd:complexType name="MthdAllocnNotSect263Aor460StmtType">

		<xsd:sequence>

			<xsd:element name="ExplanationTxt" type="ExplanationType" minOccurs="0"/>

		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
