schema/2015v2.1/CorporateIncomeTax/Common/IRS8865/SeparateUnitsSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Separate Units Schedule</Description>
			<TaxYear>2015</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 29, 2015</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ============================================================== -->
	<!-- ==================== Separate Units Schedule ================= -->
	<!-- ============================================================== -->
	
	<xsd:element name="SeparateUnitsSchedule">
		<xsd:annotation>
			<xsd:documentation>Separate units schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="SeparateUnitsScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="SeparateUnitsSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="SeparateUnitsScheduleType">
		<xsd:annotation>
			<xsd:documentation>Content model for separate units schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Separate Unit -->
			<xsd:element name="SeparateUnitGrp" type="SeparateUnitGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Separate unit</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Type for Repeating Group - "SeparateUnit" above -->
	<xsd:complexType name="SeparateUnitGrpType">
		<xsd:sequence>
			<!-- Type -->
			<xsd:element name="ShortDesc" type="ShortDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Type</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Country -->
			<xsd:element name="CountryCd" type="CountryType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Country</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
