schema/2015v2.1/CorporateIncomeTax/Common/IRS6781/ExplanationOfForm1099BAdjustmentsSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Explanation of Form 1099-B Adjustments Schedule</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>October 29, 2015</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>





	<!-- ============================================================== -->

	<!-- ====== Explanation of Form 1099-B Adjustments Schedule ======= -->

	<!-- ============================================================== -->





	<xsd:element name="ExplanationOfForm1099BAdjSch">

		<xsd:annotation>

			<xsd:documentation>Explanation of Form 1099-B adjustments schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="ExplanationOfForm1099BAdjSchType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="ExplanationOfForm1099BAdjustmentsSchedule">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<xsd:complexType name="ExplanationOfForm1099BAdjSchType">

		<xsd:annotation>

			<xsd:documentation>Content model for explanation of Form 1099-B adjustments schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>

			<xsd:element name="Form1099BAdjustmentsInfo" type="Form1099BAdjustmentsInfoType" minOccurs="0" maxOccurs="unbounded"/>

		</xsd:sequence>

	</xsd:complexType>



	<!-- Type for Repeating Group - Form 1099-B Adjustments Info -->

	<xsd:complexType name="Form1099BAdjustmentsInfoType">

		<xsd:annotation>

			<xsd:documentation>Content model for Form 1099-B adjustment information</xsd:documentation>

		</xsd:annotation>



		<xsd:sequence>



			<!-- Description -->

			<xsd:element name="Desc" type="LineExplanationType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Description</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



			<!-- Amount -->

			<xsd:element name="Amt" type="USAmountType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Amount</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
