schema/2009v1.0/CorporateIncomeTax/Common/IRS8283/DoneesSignatureUnavailableStmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Donee's Signature Unavailable Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 20, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ======================================================== -->
	<!-- ======== Donee's Signature Unavailable Statement ======= -->
	<!-- ======================================================== -->

	<xsd:element name="DoneesSignatureUnavailableStmt">
		<xsd:annotation>
			<xsd:documentation>Donee's Signature Unavailable Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DoneesSignatureUnavailableStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Transfer</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="DoneesSignatureUnavailableStmt">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Donee's Signature Unavailable Statement Type -->
	<xsd:complexType name="DoneesSignatureUnavailableStmtType">
		<xsd:annotation>
			<xsd:documentation>Donee's Signature Unavailable Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="Statement" type="ShortExplanationType" minOccurs="0"/>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
