schema/2015v3.0/CorporateIncomeTax/Common/IRS8865/ItemizedOtherDecreasesSchedule2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Itemized Other Decreases Schedule</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>May 27, 2016</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>





	<!-- ============================================================ -->

	<!-- ============ Itemized Other Decreases Schedule ============= -->

	<!-- ============================================================ -->





	<xsd:element name="ItemizedOtherDecreasesSch2">

		<xsd:annotation>

			<xsd:documentation>Itemized Other Decreases Schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="ItemizedOtherDecreasesSch2Type">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="ItemizedOtherDecreasesSchedule2">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<xsd:complexType name="ItemizedOtherDecreasesSch2Type">

		<xsd:annotation>

			<xsd:documentation>Content model for Itemized Other Decreases Schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>

			<xsd:element name="ItemizedOtherDecreasesGrp" type="USItemizedEntryType" minOccurs="0" maxOccurs="unbounded"/>

		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
