schema/2014v5.0/CorporateIncomeTax/Common/IRS5713/BoycottRequestsStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Boycott Requests Statement</Description>
			<TaxYear>2014</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>TBD</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	<!-- =========================================== -->
	<!-- ======== Boycott Requests Statement ======= -->
	<!-- ============================================ -->
	<xsd:element name="BoycottRequestsStatement">
		<xsd:annotation>
			<xsd:documentation>Boycott Requests Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="BoycottRequestsStatementType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Boycott Requests</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="BoycottRequestsStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	<!-- Boycott Requests Statement -->
	<xsd:complexType name="BoycottRequestsStatementType">
		<xsd:annotation>
			<xsd:documentation>Boycott Requests Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="LongExplanationTxt" type="LongExplanationType"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
