schema/2005v3.2/CorporateIncomeTax/Common/IRS8844/IRS8844.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - IRS Form 8844</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>June 7, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =================================================================== -->
	<!-- =======================  IRS Form 8844 ============================ -->
	<!-- =================================================================== -->

	<xsd:element name="IRS8844">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8844</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8844Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8844">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8844Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 8844</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			
			<!-- ============ Part I: Current Year Credit ========= -->
			
			<!-- Qualified Empowerment Zone Wages -->
			<xsd:element name="QualifiedEmpowermentZoneWages" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Empowerment Zone Wages</Description>
							<LineNumber>Part I Line 1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Qualified Renewal Community Wages -->
			<xsd:element name="QualifiedRenewalCommunityWages" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified Renewal Community Wages</Description>
							<LineNumber>Part I Line 1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Qualified Empowerment Zone Wages -->
			<xsd:element name="TotalQualifiedEmpwrZoneWages" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total qualified Empowerment zone wages</Description>
							<LineNumber>Part I Line 1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Total Qualified Renewal Community Wages -->
			<xsd:element name="TotalQlfyRnwlCommunityWages" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total qualified renewal community wages</Description>
							<LineNumber>Part I Line 1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current Year Credit -->
			<xsd:element name="CurrentYearCredit1" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year credit</Description>
							<LineNumber>Part I Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credits From Flow-through Entities -->
			<xsd:element name="CreditsFromFlowthruEntities" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credits from flow-through entities</Description>
							<LineNumber>Part I Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Current Year EZRCE Credit -->
			<xsd:element name="TotalCurrentYearEZRCECredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total current year EZRCE credit</Description>
							<LineNumber>Part I Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- EZRCE Credit From Passive Activities -->
			<xsd:element name="EZRCECreditFromPassiveActy" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ezrce credit from passive activities</Description>
							<LineNumber>Part I Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 5 From Line 4 -->
			<xsd:element name="CreditWithoutPssvActyForPY" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 5 from line 4</Description>
							<LineNumber>Part I Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Passive Activity Credit Allowed for PY-->
			<xsd:element name="PssvActivityCreditAllowedForPY" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Passive activity credit allowed for PY</Description>
							<LineNumber>Part I Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Carryforward Of EZE Credit To PY-->
			<xsd:element name="CarryForwardOfEZECrToPY" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Carryforward of eze credit to PY</Description>
							<LineNumber>Part I Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current Year Credit -->
			<xsd:element name="CurrentYearCredit2" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year credit</Description>
							<LineNumber>Part I Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- ============ Part II: Allowable Credit============= -->
			
			<!-- Regular Tax Before Credits -->
			<xsd:element name="RegularTaxBeforeCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Regular tax before credits</Description>
							<LineNumber>Part II Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternative Minimum Tax -->
			<xsd:element name="AlternativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative minimum tax</Description>
							<LineNumber>Part II Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 11 And 12 -->
			<xsd:element name="SumOfRegularAndAltMinmumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 11 and 12</Description>
							<LineNumber>Part II Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Credit -->
			<xsd:element name="ForeignTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign tax credit</Description>
							<LineNumber>Part II Line 14a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Possessions Tax Credit (Form 5735) -->
			<xsd:element name="PossessionsTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Possessions tax credit (form 5735)</Description>
							<LineNumber>Part II Line 14c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit For Fuel From A Nonconventional Source -->
			<xsd:element name="CreditForFuelFromNnconvSource" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit for fuel from a nonconventional source</Description>
							<LineNumber>Part II Line 14d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Specified Credits -->
			<xsd:element name="OtherSpecifiedCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other specified credits</Description>
							<LineNumber>Part II Line 14e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Sum Of Lines 14a Through 14e -->
			<xsd:element name="TotalCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Sum of lines 14a through 14e</Description>
							<LineNumber>Part II Line 14f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Income Tax -->
			<xsd:element name="NetIncomeTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income tax</Description>
							<LineNumber>Part II Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Regular Tax -->
			<xsd:element name="NetRegularTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net regular tax</Description>
							<LineNumber>Part II Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Tentative Minimum Tax -->
			<xsd:element name="TentativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative minimum tax</Description>
							<LineNumber>Part II Line 17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter 25% Of Excess -->
			<xsd:element name="TwentyFivePercentOfExcess" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter 25% (.25) of the excess, if any, of line 16 over $25,000</Description>
							<LineNumber>Part II Line 18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Multiply Line 17 By 75% -->
			<xsd:element name="SeventyFivePercentOfTentMinTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 17 by 75%</Description>
							<LineNumber>Part II Line 19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Greater Of Line 18 Or Line 19 -->
			<xsd:element name="GreaterOfTentMinTaxOrExcess" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Greater of line 18 or line 19</Description>
							<LineNumber>Part II Line 20</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 20 From Line 15 -->
			<xsd:element name="SubtractGreaterFromNetIncTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 20 from line 15</Description>
							<LineNumber>Part II Line 21</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- General Business Credit -->
			<xsd:element name="GeneralBusinessCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>General business credit</Description>
							<LineNumber>Part II Line 22</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 22 From Line 21 -->
			<xsd:element name="SubtractGenBusCreditFromTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 22 from line 21</Description>
							<LineNumber>Part II Line 23</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit Allowed For Current Year -->
			<xsd:element name="CreditAllowedForCY" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit allowed for current year</Description>
							<LineNumber>Part II Line 24</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
