schema/2015v2.0/CorporateIncomeTax/Common/IRS3115/IRS3115.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 3115</Description>
			<TaxYear>2015</TaxYear>
			<MaturityLevel>Drop 3 Release</MaturityLevel>
			<ReleaseDate>Sept. 8, 2015</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- =============================================================== -->
	<!-- ======================  IRS Form 3115 ========================= -->
	<!-- =============================================================== -->


	<xsd:element name="IRS3115">
		<xsd:annotation>
			<xsd:documentation>IRS Form 3115</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS3115Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS3115">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="referenceDocumentId" type="IdListType"/>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OverallMethodOfAccountingAttachment TradeOrBusinessStatement LegalBasisForChangeStatement  ApplicantsReasonForProposedChangeStatement ParentCorporationInformationStatement ChangeInOverallMethodOfAccountingStatement ChangeInOverallMethodBreakdownStatement ChangeToCashMethodStatement ChangeToIPICMethodStatement IRS970 LongTermContractsStatement MfrGoodsSoldOrDistributedStatement ApplicantsContractsStatement DescriptionOfInventoryGoodsBeingChangedStatement DescriptionOfInventoryGoodsNotBeingChangedStatement ChangeFromLIFOToNonLIFOMethodStatement ChangeInValuingInventoriesAdditionalInformationStatement UnableToFurnishCopyOfForm970Statement AllocationAndCapitalizationMethodsStatement MthdOfCostAllocationCostsNotFullyUnderSect263Aor460Stmt RequestToDeferAdvancePaymentUnderRegSect14515Stmt LIFOInventoryOtherThanCostStatement ManufacturingProposedPoolStatement PresentAndProposedLIFOMethodsStatment PresentMethodDifferenceExplanationStatement ProposedChangeInPoolingInventoriesStatement ProposedChangeNotForLIFOInventoryStatement ProposedChangeNotForLIFOPoolsStatement ProposedNaturalBusinessUnitStatement WholesaleOrRetailGoodsProposedNumOfPoolsStatement BinaryAttachment DeferralMethodAdvancePayments GeneralDependencySmall"/>

				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS3115Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 3115</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!-- Name: choice between Business Name or Person Name -->
			<xsd:choice minOccurs="0">

				<!-- Business Name -->
				<xsd:element name="BusinessName" type="BusinessNameType" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of applicant(s) (if different than filer) and identification number(s) (see instructions)</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Person Name -->
				<xsd:element name="PersonNm" type="PersonNameType" maxOccurs="2">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of applicant(s) (if different than filer) and identification number(s) (see instructions)</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Identification Number: choice between SSN(s) or EIN or "APPLD FOR" or "FOREIGNUS" -->
			<xsd:choice minOccurs="0">

				<!-- SSN  -->
				<xsd:element name="SSN" type="SSNType" maxOccurs="2">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identification number</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- EIN -->
				<xsd:element name="EIN" type="EINType" maxOccurs="unbounded">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identification number</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Missing SSN/EIN Reason -->
				<xsd:element name="MissingSSNEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing identification number reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Principal business activity code or Inactive -->
			<xsd:choice minOccurs="0">

				<!-- Principal Business Activity Code -->
				<xsd:element name="PrincipalBusinessActivityCd" type="BusinessActivityCodeType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Principal business activity code</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Inactive principal business activity code -->
				<xsd:element name="InactivePrincipalBusActyCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Inactive Principal business activity code</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="Inactive"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Tax Year Beginnining -->
			<xsd:element name="TaxYearBeginDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year beginnining</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax Year Ending -->
			<xsd:element name="TaxYearEndDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year ending</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Name of Person to Contact -->
			<xsd:element name="ContactPersonNm" type="PersonNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of person to contact (if not the applicant, a power of attorney must be submitted)</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Contact Person's Phone Number -->
			<xsd:element name="TelephoneNum" type="PhoneNumberType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Contact person's telephone number</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Is Applicant Member of Consolidated Group? -->
			<xsd:element name="IsMemberOfConsolidatedGroupInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is applicant member of consolidated group?</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ConsolidatedGroupInformationStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Has Applicant Attached Form 2848? -->
			<xsd:element name="ApplicantAttachedFormInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Has the applicant attached Form 2848, Power of Attorney and Declaration of Representative?</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Who is Filing Form -->
			<xsd:element name="WhoIsFilingForm" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Choice between the following: -->
						<xsd:choice minOccurs="0">

							<!-- Indiviual -->
							<xsd:element name="IndividualInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Individual</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Corporation -->
							<xsd:element name="CorporationInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Corporation</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Controlled Foreign Corporation (Sec. 957) -->
							<xsd:element name="ControlledForeignCorpInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Controlled foreign corporation (Sec. 957)</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- 10/50 corporation (Sec. 904(d)(2)(E)) -->
							<xsd:element name="Corporation1050Ind" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>10/50 corporation (Sec. 904(d)(2)(E))</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Qualified Personal Service Corporation -->
							<xsd:element name="QualifiedPersonalSrvcCorpInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Qualified Personal Service Corporation (Sec. 448(d)(2))</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Exempt Organization -->
							<xsd:element name="ExemptOrganizationInd">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Exempt Organization</Description>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="CheckboxType">
											<xsd:attribute name="codeSectionTxt">
												<xsd:simpleType>
													<xsd:restriction base="AlphaNumericAndParenthesesType">
														<xsd:maxLength value="20"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>

							<!-- Cooperative -->
							<xsd:element name="CooperativeInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Cooperative (Sec. 1381)</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Partnership -->
							<xsd:element name="PartnershipInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Partnership</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- S Corporation -->
							<xsd:element name="SCorporationInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>S Corporation</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Insurance Company (Sec. 816(a)) -->
							<xsd:element name="InsuranceCompanySect816aInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Insurance Co. (Sec. 8126(a))</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Insurance Company (Sec. 831) -->
							<xsd:element name="InsuranceCompanySect831Ind" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Insurance Co. (Sec. 831)</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Other -->
							<xsd:element name="OtherApplicantTypeInd">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Other (specify)</Description>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="CheckboxType">
											<xsd:attribute name="desc">
												<xsd:simpleType>
													<xsd:restriction base="AlphaNumericAndSpaceType">
														<xsd:maxLength value="20"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>

						</xsd:choice>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Type of Accounting Method -->
			<xsd:element name="TypeOfAccountingMethod" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Choice between the following: -->
						<xsd:choice minOccurs="0">

							<!-- Depreciation or Amortization -->
							<xsd:element name="DepreciationOrAmortizationInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Depreciation or Amortization</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Financial Products and/or Financial Activities of Financial Institutions -->
							<xsd:element name="FinclProductsAndActivitiesInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Financial Products and/or Financial Activities of Financial Institutions</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Other -->
							<xsd:element name="OtherApplicantTypeInd">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Other (specify)</Description>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="CheckboxType">
											<xsd:attribute name="desc">
												<xsd:simpleType>
													<xsd:restriction base="AlphaNumericAndSpaceType">
														<xsd:maxLength value="20"/>
													</xsd:restriction>
												</xsd:simpleType>
											</xsd:attribute>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>

						</xsd:choice>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- ===== Part I - Information For Automatic Change Request ===== -->

			<!-- Designated Accounting Method Change Number -->
			<xsd:element name="DesignatedAccountingMthdChgNum" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Designated accounting method change number</Description>
						<LineNumber>Part I Line 1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerType">
						<xsd:totalDigits value="4"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Other Accounting Method -->
			<xsd:element name="MethodOfAccountingOtherInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other accounting method</Description>
						<LineNumber>Part I Line 1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="methodOfAccountingOtherDesc">
								<xsd:simpleType>
									<xsd:restriction base="LineExplanationType">
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Do Any Of The Eligibility Rules Restrict The Applicant From Filing The Requested Change Using The Automatic Consent Procedures (See Instructions)? -->
			<xsd:element name="RulesRstrAutoChangeProcInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Do any of the eligibility rules restrict the applicant from filing the requested change using the automatic consent procedures (see instructions)?</Description>
						<LineNumber>Part I Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BusDisqualifiesAutoCnsntStmt"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Has The Filer Provided All The Information And Statements Required. -->
			<xsd:element name="AllInformationProvidedInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Has the filer provided all the information and statements required.</Description>
						<LineNumber>Part I Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- ===== Part II - Information For All Requests ===== -->

			<!-- Did Or Will The Applicant Cease To Engage In The Trade Or Business To Which The Requested Change Relates, Or Terminate Its Existence, In The Tax Year Of Change? -->
			<xsd:element name="ApplcntTrdBusReqChgRelatesInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did or will the applicant cease to engage in the trade or business to which the requested change relates, or terminate its existence, in the tax year of change?</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Is The Applicant Requesting To Change To The Principal Method In The Tax Year Of Change Under Section 1.381(c)(4)-1(d)(1) Or 1.381(c)(5)-1(d)(1)? -->
			<xsd:element name="RequestChgUndSect1381Ind" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is the applicant requesting to change to the principal method in the tax year of change under section 1.381(c)(4)-1(d)(1) or 1.381(c)(5)-1(d)(1)?</Description>
						<LineNumber>Part II Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Preparer Other Than Filer Name -->
			<xsd:element name="PreparerOtherThanFilerNm" type="PersonNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Preparer other than filer name</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Choice between the following: Preparer Firm Name or Preparer Person Name -->
			<xsd:choice minOccurs="0">

				<!-- Preparer Firm Name -->
				<xsd:element name="PreparerFirmName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Preparer firm name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Preparer Person Name -->
				<xsd:element name="PreparerPersonNm" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Preparer person name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>
			
			<!-- Is Any Federal Returns Under Examination? -->
			<xsd:element name="AnyFederalReturnsUnderExamInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is any federal returns under examination?</Description>
						<LineNumber>Part II Line 6a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Any Federal Returns Under Examination Repeating Group -->
			<xsd:element name="ReturnsUnderExaminationInfo" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Examination Period Beginning Date -->
						<xsd:element name="ExaminationPeriodBeginDt" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Examination period beginning date</Description>
									<LineNumber>Part II Line 6a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Examination Period Ending Date -->
						<xsd:element name="ExaminationPeriodEndDt" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Examination period ending date</Description>
									<LineNumber>Part II Line 6a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Is Method of Change An Issue Under Consideration? -->
			<xsd:element name="AcctMthdChgUndConsiderationInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is method of change an issue under consideration?</Description>
						<LineNumber>Part II Line 6b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Method of Change Issue Under Consideration Repeating Group -->
			<xsd:element name="AcctMthdChgUndConsiderationGrp" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Consideration Beginning Date -->
						<xsd:element name="ConsiderationStartDt" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Consideration beginning date</Description>
									<LineNumber>Part II Line 6b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Consideration Ending Date -->
						<xsd:element name="ConsiderationEndDt" type="DateType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Consideration ending date</Description>
									<LineNumber>Part II Line 6b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Name and Phone Numbers of Examining Agents and Tax Year(s) -->
			<xsd:element name="ExaminingAgentContactInfo" type="ContactAndTaxYearInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name and phone numbers of examining agents and tax year(s)</Description>
						<LineNumber>Part II Line 6c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Has a Copy of This Form 3115 Been Provided to The Examining Agent? -->
			<xsd:element name="CopyProvidedToExaminingAgtInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Has a copy of this Form 3115 been provided to the examining agent?</Description>
						<LineNumber>Part II Line 6d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Does Audit Protection Apply to the Applicant's Requested Change in Method of Accounting? -->
			<xsd:element name="AuditProtectionApplyYesInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Does audit protection apply to the applicant's requested change in method of accounting?</Description>
						<LineNumber>Part II Line 7a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ApplicantReceivedAuditProtectionForRequestedChangeStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Does Audit Protection Apply to the Applicant's Requested Change in Method of Accounting? -->
			<xsd:element name="AuditProtectionApplyNoInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Does audit protection apply to the applicant's requested change in method of accounting?</Description>
						<LineNumber>Part II Line 7a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ApplcntNotRcvAudProtectionStmt"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Not Under Exam -->
			<xsd:element name="NotUnderExamInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Not under Exam</Description>
						<LineNumber>Part II Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- 3-Month Window -->
			<xsd:element name="ThreeMonthWindowInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>3-month window</Description>
						<LineNumber>Part II Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- 120 day -->
			<xsd:element name="OneHundredTwentyDaysPeriodInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>120 day</Description>
						<LineNumber>Part II Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Date Examination Ended -->
			<xsd:element name="ExaminationEndDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date examination ended</Description>
						<LineNumber>Part II Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Method Not Before Director -->
			<xsd:element name="MethodNotBeforeDirectorInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Method not before director</Description>
						<LineNumber>Part II Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Negative Adjustment -->
			<xsd:element name="NegativeAdjustmentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Negative adjustment</Description>
						<LineNumber>Part II Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- CAP: -->
			<xsd:element name="CAPInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>CAP:</Description>
						<LineNumber>Part II Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Date Member Joined Group -->
			<xsd:element name="MemberJoinedGroupDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date member joined group</Description>
						<LineNumber>Part II Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Audit Protection at End of Exam -->
			<xsd:element name="AuditProtectionExamInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Audit protection at end of exam</Description>
						<LineNumber>Part II Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Other -->
			<xsd:element name="OtherInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other</Description>
						<LineNumber>Part II Line 7b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Is Applicant Before an Appeals Office And/Or Federal Court? -->
			<xsd:element name="FedReturnBeforeAppealsInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is applicant before an appeals office and/or Federal Court?</Description>
						<LineNumber>Part II Line 8a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Is The Method of Accounting the Applicant is Requesting to Change an Issue Under Consideration by Appeals And/Or The Federal court? -->
			<xsd:element name="AcctMthdUnderCnsdrByFedCrtInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is the method of accounting the applicant is requesting to change an issue under consideration by Appeals and/or the Federal court?</Description>
						<LineNumber>Part II Line 8b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="AppealsFederalCourtExplanationStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Check Applicable Box: Appeals Officer And/Or Counsel For The Government -->
			<xsd:element name="AppealsOfficerInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Check Applicable Box: Appeals officer and/or Counsel for the Government</Description>
						<LineNumber>Part II Line 8c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Check Applicable Box: Appeals Officer and/or Counsel For The Government -->
			<xsd:element name="CounselForTheGovernmentInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Check Applicable Box: Appeals officer and/or Counsel for the Government</Description>
						<LineNumber>Part II Line 8c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter the Name and Telephone Number of the Appeal Officer or Counsel for the Government. -->
			<xsd:element name="AOOrGovtCounselCntctInfo" type="ContactAndTaxYearInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the name and telephone number of the appeal officer or counsel for the government.</Description>
						<LineNumber>Part II Line 8c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Has a Copy of This Form 3115 Been Provided to the Appeals Officer and/or Counsel for the Government? -->
			<xsd:element name="AOOrGovtCounselProvCopyInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Has a copy of this Form 3115 been provided to the Appeals officer and/or counsel for the government?</Description>
						<LineNumber>Part II Line 8d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- If for Federal Income Tax Purposes Partnership or S Corporation, Accounting Method Under Examination Before an Appeals Office or Federal Court? -->
			<xsd:element name="PrtshpSCorpAcctMthdUndExamInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>If for federal income tax purposes, the applicant is either an entity (including a limited liability company) treated as a partnership or an S corporation, is it requesting a change from a method of accounting that is an issue under consideration in an examination, before Appeals, or before a federal court, with respect to a federal income tax return of a partner, member, or shareholder of that entity?</Description>
						<LineNumber>Part II Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Has Change in Accounting Method Been Made in Past 5 Years? -->
			<xsd:element name="ChgInAcctMthdMadeInPast5YrsInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Has the applicant, its predecessor, or a related party requested or made (either an automatic change procedure or non-automatic change) a change in method of accounting within the past 5 years?</Description>
						<LineNumber>Part II Line 11a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="AppWithdrwNotPerfDndCnsntStmt ChangeInAccountingMethodOrPeriodForPast5YearsStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Any Pending Private Letter Ruling, Technical Advice, or Accounting Method or Period Change? -->
			<xsd:element name="PnReqPrvtLtrRlngTamAcctChgInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Does the applicant, its predecessor, or a related party currently have pending any request for a private letter ruling, a request for change in accounting method or accounting period, or a request for technical advice?</Description>
						<LineNumber>Part II Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="PrivateLetterRulingChgInAcctMthdTechAdviceReqStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Requesting Change to Overall Accounting? -->
			<xsd:element name="RequestingChgToOverallAcctInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is the applicant requesting to change its overall method of accounting?</Description>
						<LineNumber>Part II Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Will proposed method be used for books and records and financial statements? -->
			<xsd:element name="ProposedMethodUsedForBksInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Will proposed method be used for books and records and financial statements?</Description>
						<LineNumber>Part II Line 17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="UseOfProposedMethodOfAccountingStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Conference of Right Requested? -->
			<xsd:element name="ConferenceOfRightRequestedInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Does the applicant request a conference of right at the IRS National Office if the IRS proposes an adverse response?</Description>
						<LineNumber>Part II Line 18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Gross Receipts for 4 Years Preceding the Year of Change (repeats for each member of group, if applicable) -->
			<xsd:element name="GrossReceipts4YrsPreceding" type="GrossReceipts4YrsPrecedingType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross receipts for the 4 tax years preceding the year of change</Description>
						<LineNumber>Part II Line 19a and 19b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- ===== Part III - Information For Non-Automatic Change Request ===== -->

			<!-- Is Change Request Allowed Under Automatic Change? -->
			<xsd:element name="ChangeReqAllwUnderAutoChgInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is change request allowed under automatic change?</Description>
						<LineNumber>Part III Line 20</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="NonAutomaticChangeRequestProceduresStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- All Members of Consolidated Group Use Proposed Method? -->
			<xsd:element name="GroupMembersUsePrpsdMthdInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>If the applicant is a member of a consolidated group for the year of change, do all other members of the consolidated group use the proposed method of accounting for the item being changed?</Description>
						<LineNumber>Part III Line 23</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="AffiliatedGroupFilingConsolidatedReturnStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Qualified for Reduced User Fee, Required Information Attached? -->
			<xsd:element name="QlfyRdcUserFeeRqrInfoAttInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>If the applicant qualifies for a reduced user fee, attach the necessary information or certification required by Rev.Proc. 2003-1 (or its successor) (see instructions)</Description>
						<LineNumber>Part III Line 24b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ReducedUserFeeStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- ===== Part IV - Section 481(a) Adjustment ===== -->

			<!-- Does Published Guidance Require the Applicant to Implement the Requested Change in Method of Accounting on a Cut-Off Basis? -->
			<xsd:element name="RequireUseCutOffBasisYesInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Does published guidance require the applicant to implement the requested change in method of accounting on a cut-off basis?</Description>
						<LineNumber>Part IV Line 25</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="RequireUseCutOffBasisStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Does Published Guidance Require the Applicant to Implement the Requested Change in Method of Accounting on a Cut-Off Basis? -->
			<xsd:element name="RequireUseCutOffBasisNoInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Does published guidance require the applicant to implement the requested change in method of accounting on a cut-off basis?</Description>
						<LineNumber>Part IV Line 25</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Section 481(a) Adjustment -->
			<xsd:element name="NetSectionAdjustmentAmt" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter the net section 481(a) adjustment for the year of change</Description>
						<LineNumber>Part IV Line 26</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="increaseOrDecreaseCd">
								<xsd:simpleType>
									<xsd:restriction base="StringType">
										<xsd:enumeration value="+"/>
										<xsd:enumeration value="-"/>
									</xsd:restriction>
								</xsd:simpleType>
							</xsd:attribute>
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ComputationOfSection481aAdjustmentStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Entire Net Section 481(a) Adjustment Into Account ? -->
			<xsd:element name="TakingEntireSectAdjIntoAcctInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is the applicant making an election to take the entire amount of the adjustment into account in the tax year of change?</Description>
						<LineNumber>Part IV Line 27</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- $50,000 De Minimus Election -->
			<xsd:element name="DeMinimisElection50KInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>$50,000 de minimus election</Description>
						<LineNumber>Part IV Line 27</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Eligible Acquisition Transaction Election -->
			<xsd:element name="EligibleAcquisTransElectInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Eligible acquisition transaction election</Description>
						<LineNumber>Part IV Line 27</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Any Part of Adjustment Attributable to Transactions Between Members of Affiliated Group? -->
			<xsd:element name="PartOfAdjAttrblBtwnMembersInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is any part of the section 481(a) adjustment attributable to transactions between members of an affiliated group, a controlled group, or other related parties?</Description>
						<LineNumber>Part IV Line 28</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="Section481aAdjustmentStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- IRS3115 Schedule A - Change in Overall Method of Accounting -->
			<xsd:element name="IRS3115ScheduleA" type="IRS3115ScheduleAType" minOccurs="0"/>

			<!-- IRS3115 Schedule D - Change in the Treatment of Long-Term Contracts -->
			<xsd:element name="IRS3115ScheduleD" type="IRS3115ScheduleDType" minOccurs="0"/>

			<!-- IRS3115 Schedule E - Change in Depreciation or Amortization -->
			<xsd:element name="IRS3115ScheduleE" type="IRS3115ScheduleEType" minOccurs="0"/>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for repeating group element 'GrossReceipts4YrsPreceding' in Part II -->
	<xsd:complexType name="GrossReceipts4YrsPrecedingType">
		<xsd:sequence>

			<!-- Gross Receipts for 1st Preceding Year -->
			<xsd:element name="GrossReceiptsForFirstPrecYrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Receipts for 1st Preceding Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- End Date for 1st Preceding Year -->
			<xsd:element name="FirstPrecedingYearEndDt" type="YearMonthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>End Date for 1st Preceding Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Gross Receipts for 2nd Preceding Year -->
			<xsd:element name="GrossReceiptsFor2ndPrecYrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Receipts for 2nd Preceding Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- End Date for 2nd Preceding Year -->
			<xsd:element name="SecondPrecedingYearEndDt" type="YearMonthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>End Date for 2nd Preceding Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Gross Receipts for 3rd Preceding Year -->
			<xsd:element name="GrossReceiptsForThirdPrecYrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Receipts for 3rd Preceding Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- End Date for 3rd Preceding Year -->
			<xsd:element name="ThirdPrecedingYearEndDt" type="YearMonthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>End Date for 3rd Preceding Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Gross Receipts for 4th Preceding Year -->
			<xsd:element name="GrossReceiptsFor4thPrecYrAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross Receipts for 4th Preceding Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- End Date for 4th Preceding Year -->
			<xsd:element name="FourthPrecedingYearEndDt" type="YearMonthType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>End Date for 4th Preceding Year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- =============================================================== -->
	<!-- ===================  IRS Form 3115 Schedule A ================= -->
	<!-- =============================================================== -->

	<xsd:complexType name="IRS3115ScheduleAType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 3115 Schedule A</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!-- ===== Part I - Change in Overall Method of Accounting ===== -->
			

			<!-- Present Method -->
			<xsd:element name="PresentMethod" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Choice between Cash, Accrual, or Hybrid -->
						<xsd:choice minOccurs="0">

							<!-- Cash -->
							<xsd:element name="CashInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Cash</Description>
										<LineNumber>Schedule A Part I Line 1</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Accrual -->
							<xsd:element name="AccrualInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Accrual</Description>
										<LineNumber>Schedule A Part I Line 1</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Hybrid -->
							<xsd:element name="HybridInd">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Hybrid (attach description)</Description>
										<LineNumber>Schedule A Part I Line 1</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="CheckboxType">
											<xsd:attribute name="referenceDocumentId" type="IdListType"/>
											<xsd:attribute name="referenceDocumentName" type="StringType" fixed="PresentHybridMethodOfAccountingAttachment"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>

						</xsd:choice>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Proposed Method -->
			<xsd:element name="ProposedMethod" minOccurs="0">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Choice between Cash, Accrual, or Hybrid -->
						<xsd:choice minOccurs="0">

							<!-- Cash -->
							<xsd:element name="CashInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Cash</Description>
										<LineNumber>Schedule A Part I Line 1</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Accrual -->
							<xsd:element name="AccrualInd" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Accrual</Description>
										<LineNumber>Schedule A Part I Line 1</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Hybrid -->
							<xsd:element name="HybridInd">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Hybrid (attach description)</Description>
										<LineNumber>Schedule A Part I Line 1</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
								<xsd:complexType>
									<xsd:simpleContent>
										<xsd:extension base="CheckboxType">
											<xsd:attribute name="referenceDocumentId" type="IdListType"/>
											<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ProposedHybridMethodOfAccountingAttachment"/>
										</xsd:extension>
									</xsd:simpleContent>
								</xsd:complexType>
							</xsd:element>

						</xsd:choice>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Choice between the following: Income Accrued But Not Received or "NONE" indicator -->
			<xsd:choice minOccurs="0">

				<!-- Income Accrued But Not Received -->
				<xsd:element name="IncomeAccruedButNotReceivedAmt" type="USAmountType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Income accrued but not received</Description>
							<LineNumber>Schedule A Part I Line 2a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Income Accrued But Not Received - NONE indicator-->
				<xsd:element name="IncomeAccruedButNotRcvdNONECd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Income accrued but not received - NONE indicator</Description>
							<LineNumber>Schedule A Part I Line 2a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="NONE"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between the following: Income Received or Reported Before Earned or "NONE" indicator -->
			<xsd:choice minOccurs="0">

				<!-- Income Received or Reported Before Earned -->
				<xsd:element name="IncomeReceivedOrRptBfrEarnAmt">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Income received or reported before it was earned</Description>
							<LineNumber>Schedule A Part I Line 2b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="USAmountType">
								<xsd:attribute name="referenceDocumentId" type="IdListType"/>
								<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IncomeReceivedOrReportedBeforeEarnedStatement"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>

				<!-- Income Received or Reported Before Earned - NONE indicator-->
				<xsd:element name="IncomeRcvdOrRptBefEarnNONECd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Income received or reported before it was earned - NONE indicator</Description>
							<LineNumber>Schedule A Part I Line 2b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="NONE"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between the following: Expenses Accrued But Not Paid or "NONE" indicator -->
			<xsd:choice minOccurs="0">

				<!-- Expenses Accrued But Not Paid -->
				<xsd:element name="ExpensesAccruedButNotPaidAmt" type="USAmountType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Expenses accrued but not paid</Description>
							<LineNumber>Schedule A Part I Line 2c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Expenses Accrued But Not Paid - NONE indicator-->
				<xsd:element name="ExpensesAccruedButNotPdNONECd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Expenses accrued but not paid - NONE indicator</Description>
							<LineNumber>Schedule A Part I Line 2c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="NONE"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between the following: Prepaid Expense Previously Deducted or "NONE" indicator -->
			<xsd:choice minOccurs="0">

				<!-- Prepaid Expense Previously Deducted -->
				<xsd:element name="PrepaidExpensePrevDeductedAmt" type="USAmountType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Prepaid expense previously deducted</Description>
							<LineNumber>Schedule A Part I Line 2d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Prepaid Expense Previously Deducted - NONE indicator-->
				<xsd:element name="PrepaidExpnsPrevDedNONECd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Prepaid expense previously deducted - NONE indicator</Description>
							<LineNumber>Schedule A Part I Line 2d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="NONE"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between the following: Supplies On Hand Previously Deducted or "NONE" indicator -->
			<xsd:choice minOccurs="0">

				<!-- Supplies On Hand Previously Deducted -->
				<xsd:element name="SuppliesOnHandPrevDeductedAmt" type="USAmountType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Supplies on hand previously deducted</Description>
							<LineNumber>Schedule A Part I Line 2e</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Supplies On Hand Previously Deducted - NONE indicator-->
				<xsd:element name="SupOnHandPrevDeductedNONECd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Supplies on hand previously deducted - NONE indicator</Description>
							<LineNumber>Schedule A Part I Line 2e</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="NONE"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between the following: Inventory On Hand Previously Deducted or "NONE" indicator -->
			<xsd:choice minOccurs="0">

				<!-- Inventory On Hand Previously Deducted -->
				<xsd:element name="InventoryOnHandPrevDeductedAmt" type="USAmountType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Inventory on hand previously deducted</Description>
							<LineNumber>Schedule A Part I Line 2f</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Inventory On Hand Previously Deducted - NONE indicator-->
				<xsd:element name="InvntryOnHandPrevDedNONECd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Inventory on hand previously deducted - NONE indicator</Description>
							<LineNumber>Schedule A Part I Line 2f</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="NONE"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between the following: Other Amount or "NONE" indicator -->
			<xsd:choice minOccurs="0">

				<!-- Other Amount -->
				<xsd:element name="OtherAmt">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Other amount</Description>
							<LineNumber>Schedule A Part I Line 2g</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:complexType>
						<xsd:simpleContent>
							<xsd:extension base="USAmountType">
								<xsd:attribute name="referenceDocumentId" type="IdListType"/>
								<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OtherAmountsStatement"/>
							</xsd:extension>
						</xsd:simpleContent>
					</xsd:complexType>
				</xsd:element>

				<!-- Other Amount - NONE indicator-->
				<xsd:element name="OtherAmountNONECd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Other amount - NONE indicator</Description>
							<LineNumber>Schedule A Part I Line 2g</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="NONE"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between the following: Net Section 481(a) Adjustment or "NONE" indicator -->
			<xsd:choice minOccurs="0">

				<!-- Net Section 481(a) Adjustment -->
				<xsd:element name="NetSectionAdjustmentAmt" type="USAmountType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Net section 481(a) adjustment</Description>
							<LineNumber>Schedule A Part I Line 2h</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Net Section 481(a) Adjustment - NONE indicator-->
				<xsd:element name="NetSectionAdjustmentNoneCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Net section 481(a) adjustment - NONE indicator</Description>
							<LineNumber>Schedule A Part I Line 2h</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="NONE"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- Requesting Recurring Item Exception? -->
			<xsd:element name="RequestingRecurItemExcInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is the applicant also requesting the recurring item exception (section 461(h))?</Description>
						<LineNumber>Schedule A Part I Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Is the Applicant Making a Change to the Overall Cash Method Under Rev. Proc. 2002-28 (DCN "33")? -->
			<xsd:element name="DCN33Ind">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is the applicant making a change to the overall cash method under Rev. Proc. 2002-28 (DCN "33")?</Description>
						<LineNumber>Schedule A Part I Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="NAICSCodeStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- =============================================================== -->
	<!-- ===================  IRS Form 3115 Schedule D ================= -->
	<!-- =============================================================== -->

	<xsd:complexType name="IRS3115ScheduleDType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 3115 Schedule D</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!-- ===== Part I - Change in Reporting Income From Long-Term Contracts ===== -->

			<!-- Are Contracts Long-Term as Defined in Section 460(f)(1)? -->
			<xsd:element name="LongTermApplicantContractsInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Are the applicant's contracts long-term as defined in section 460(f)(1)?</Description>
						<LineNumber>Schedule D Part I Line 2a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Are Contracts Long-Term as Defined in Section 460(e)? -->
			<xsd:element name="AllContractsQlfySectionExcInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Do the applicant's long-term contracts for exception under section 460(e)?</Description>
						<LineNumber>Schedule D Part I Line 2b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ExceptionUnderSection460eStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Is applicant requesting to use the percentage-of completion method under Reg sec. 1.460-4(b)? -->
			<xsd:element name="ApplcntReqPctOfCompMethodInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is applicant requesting	to use the percentage-of completion method under Reg sec. 1.460-4(b)?</Description>
						<LineNumber>Schedule D Part I Line 2c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Will the applicant use the cost-to-cost method or the simplified cost-to-cost method? -->
			<xsd:element name="CmplnFctrCstCstSmplfdMthdInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Will the applicant use the cost-to-cost method or the simplified cost-to-cost method?</Description>
						<LineNumber>Schedule D Part I Line 2d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--Is applicant requesting to use the exempt-contract percentage-of-completion method under Reg sec. 1.460-4(c)(2)? -->
			<xsd:element name="ApplcntReqExmptComplnMethodInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is applicant requesting	to use the exempt-contract percentage-of-completion method under Reg sec. 1.460-4(c)(2)?</Description>
						<LineNumber>Schedule D Part I Line 2e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="CostComparisonOrMethodUsedStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Have Long-Term Manufacturing Contracts as Defined in Section 460(f)(2)? -->
			<xsd:element name="LTMfrContractsAsDefInSectInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Does the applicant have long-term manufacturing contracts as defined in section 460(f)(2)?</Description>
						<LineNumber>Schedule D Part I Line 3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="LongTermManufacturingContractsStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Does the applicant enter into cost-plus long-term contracts? -->
			<xsd:element name="EnterCostPlusLTCntrctInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Does the applicant enter into cost-plus long-term contracts?</Description>
						<LineNumber>Schedule D Part I Line 4a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Does the applicant enter into Federal long-term contracts? -->
			<xsd:element name="EnterFederalLTCntrctInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Does the applicant enter into Federal long-term contracts?</Description>
						<LineNumber>Schedule D Part I Line 4b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- ===== Part II - Change in Valuing Inventories Including Cost Allocation Changes ===== -->

			<!-- Application Subject To Section 263A? -->
			<xsd:element name="ApplicationSubjectToSectionInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is the applicant subject to section 263A?</Description>
						<LineNumber>Schedule D Part II Line 3a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
			
			<!-- Present Inventory Valuation Method in Compliance per Section 263A? -->
			<xsd:element name="PresInvntryVltnMethodCmplncInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Is the applicant's present inventory valuation method in compliance with section 263A?</Description>
						<LineNumber>Schedule D Part II Line 3b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="InvntryValuationMthdStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Inventory Being Changed -->
			<xsd:element name="InventoryBeingChanged" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Inventory Being Changed</Description>
						<LineNumber>Schedule D Part II Line 4a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>

						<!-- Present Method (1st column of table) -->
						<xsd:element name="PresentMethodTxt" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Methods" type="InventoryIdentificationAndValuationMethodsType" minOccurs="0"/>

									<xsd:element name="ValueEndOfTaxYearBefYrOfChgAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Enter the value at the end of the tax year preceding the year of change</Description>
												<LineNumber>Schedule D Part II Line 4b</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>

						<!-- Proposed Method (2nd column of table) -->
						<xsd:element name="ProposedMethodTxt" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Methods" type="InventoryIdentificationAndValuationMethodsType" minOccurs="0"/>

									<xsd:element name="ValueEndOfTaxYearBefYrOfChgAmt" type="USAmountType" minOccurs="0">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Enter the value at the end of the tax year preceding the year of change</Description>
												<LineNumber>Schedule D Part II Line 4b</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Inventory Not Being Changed -->
			<xsd:element name="InventoryNotBeingChanged" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Inventory Not Being Changed</Description>
						<LineNumber>Schedule D Part II Line 4a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>

						<!-- Present Method (3rd column of table) -->
						<xsd:element name="PresentMethodTxt" minOccurs="0">
							<xsd:complexType>
								<xsd:sequence>
									<xsd:element name="Methods" type="InventoryIdentificationAndValuationMethodsType" minOccurs="0"/>
								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- ===== Part III - Method of Cost Allocation ===== -->

			<!-- ===== Section B - Direct and Indirect Costs Required To Be Allocated ===== -->

			<!-- Direct Material -->
			<xsd:element name="DirectMaterial" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Direct material</Description>
						<LineNumber>Schedule D Part III Section B Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Direct Labor -->
			<xsd:element name="DirectLabor" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Direct labor</Description>
						<LineNumber>Schedule D Part III Section B Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Indirect Labor -->
			<xsd:element name="IndirectLabor" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Indirect labor</Description>
						<LineNumber>Schedule D Part III Section B Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Officers' Compensation -->
			<xsd:element name="OfficersCompensation" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Officers' compensation (not including selling activities)</Description>
						<LineNumber>Schedule D Part III Section B Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pension and Other Related Costs -->
			<xsd:element name="PensionAndOtherRelatedCosts" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pension and other related costs</Description>
						<LineNumber>Schedule D Part III Section B Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Employee Benefits -->
			<xsd:element name="EmployeeBenefits" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Employee benefits</Description>
						<LineNumber>Schedule D Part III Section B Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Indirect Materials and Supplies -->
			<xsd:element name="IndirectMaterialsAndSupplies" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Indirect materials and supplies</Description>
						<LineNumber>Schedule D Part III Section B Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Purchasing Costs -->
			<xsd:element name="PurchasingCosts" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Purchasing costs</Description>
						<LineNumber>Schedule D Part III Section B Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Handling, Processing, Assembly, and Repackaging Costs -->
			<xsd:element name="HandlingProcessingAssemblyCost" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Handling, processing, assembly, and repackaging costs</Description>
						<LineNumber>Schedule D Part III Section B Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Offsite Storage and Warehousing Costs -->
			<xsd:element name="OffsiteStorageWarehousingCosts" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Offsite storage and warehousing costs</Description>
						<LineNumber>Schedule D Part III Section B Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Depreciation, Amortization, and Cost Recovery Allowance for Equipment and Facilities Placed in Service and Not Temporarily Idle -->
			<xsd:element name="DeprecAmortzAndCostRecovery" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Depreciation, amortization, and cost recovery allowance for equipment and facilities placed in service and not temporarily idle</Description>
						<LineNumber>Schedule D Part III Section B Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Depletion -->
			<xsd:element name="Depletion" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Depletion</Description>
						<LineNumber>Schedule D Part III Section B Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Rent -->
			<xsd:element name="Rent" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rent</Description>
						<LineNumber>Schedule D Part III Section B Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Taxes Other Than State, Local, and Foreign Income Taxes -->
			<xsd:element name="TaxesNotStateLocalAndForeign" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Taxes other than state, local, and foreign income taxes</Description>
						<LineNumber>Schedule D Part III Section B Line 14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Insurance -->
			<xsd:element name="Insurance" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Insurance</Description>
						<LineNumber>Schedule D Part III Section B Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Utilities -->
			<xsd:element name="Utilities" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Utilities</Description>
						<LineNumber>Schedule D Part III Section B Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Maintenance and Repairs that Relate to a Production, Resale, or Long-Term Contract Activity -->
			<xsd:element name="MaintRepairsProdResaleLTCntrct" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Maintenance and repairs that relate to a production, resale, or long-term contract activity</Description>
						<LineNumber>Schedule D Part III Section B Line 17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Engineering and Design Costs -->
			<xsd:element name="EngineeringAndDesignCosts" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Engineering and design costs (not including section 174 research and experimental expenses)</Description>
						<LineNumber>Schedule D Part III Section B Line 18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Rework Labor, Scrap and Spoilage -->
			<xsd:element name="ReworkLaborScrapAndSpoilage" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Rework labor, scrap and spoilage</Description>
						<LineNumber>Schedule D Part III Section B Line 19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tools and Equipment -->
			<xsd:element name="ToolsAndEquipment" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tools and equipment</Description>
						<LineNumber>Schedule D Part III Section B Line 20</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Quality Control and Inspection -->
			<xsd:element name="QualityControlAndInspection" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Quality control and inspection</Description>
						<LineNumber>Schedule D Part III Section B Line 21</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Bidding Expenses Incurred in the Solicitation of Contracts Awarded to the Applicant -->
			<xsd:element name="ContractBiddingExpnssIncurred" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Bidding expenses incurred in the solicitation of contracts awarded to the applicant</Description>
						<LineNumber>Schedule D Part III Section B Line 22</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Licensing and Franchise Costs -->
			<xsd:element name="LicensingAndFranchiseCosts" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Licensing and franchise costs</Description>
						<LineNumber>Schedule D Part III Section B Line 23</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Capitalizable Service Costs -->
			<xsd:element name="CapitalizableServiceCosts" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Capitalizable service costs (including mixed services costs)</Description>
						<LineNumber>Schedule D Part III Section B Line 24</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Administrative Costs -->
			<xsd:element name="AdministrativeCosts" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Administrative costs (not including any costs of selling or any return on capital)</Description>
						<LineNumber>Schedule D Part III Section B Line 25</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Research and Experimental Expenses Attributable to Long-Term Contracts -->
			<xsd:element name="RsrchAndExptlExpnssLTContracts" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Research and experimental expenses attributable to long-Term contracts</Description>
						<LineNumber>Schedule D Part III Section B Line 26</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Interest -->
			<xsd:element name="Interest" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Interest</Description>
						<LineNumber>Schedule D Part III Section B Line 27</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Costs (required to be allocated) -->
			<xsd:element name="OtherCostsRqrToBeAllocated" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other costs (Attach a list of these costs)</Description>
						<LineNumber>Schedule D Part III Section B Line 28</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="PresentAndProposedMethodCheckboxesType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ListOfOtherCostsDirectAndIndirectCostsAttachment"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

			<!-- ===== Section C - Other Costs Not Required To Be Allocated ===== -->

			<!-- Marketing, Selling, Advertising, and Distribution Expenses -->
			<xsd:element name="MarketingSellAdvtgDistriExpnss" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Marketing, selling, advertising, and distribution expenses</Description>
						<LineNumber>Schedule D Part III Section C Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Research and Experimental Expenses -->
			<xsd:element name="OtherResearchAndExptlExpenses" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Research and experimental expenses not included on line 26 above</Description>
						<LineNumber>Schedule D Part III Section C Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Bidding Expenses -->
			<xsd:element name="OtherBiddingExpenses" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Bidding expenses not included on line 22 above</Description>
						<LineNumber>Schedule D Part III Section C Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- General and Administrative Costs -->
			<xsd:element name="GeneralAndAdministrativeCosts" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>General and administrative costs not included in Section B above</Description>
						<LineNumber>Schedule D Part III Section C Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Income Taxes -->
			<xsd:element name="IncomeTaxes" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Income taxes</Description>
						<LineNumber>Schedule D Part III Section C Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Cost of Strikes -->
			<xsd:element name="CostOfStrikes" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost of strikes</Description>
						<LineNumber>Schedule D Part III Section C Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Warranty and Product Liability Costs -->
			<xsd:element name="WarrantyProductLiabilityCosts" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Warranty and product liability costs</Description>
						<LineNumber>Schedule D Part III Section C Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Section 179 Costs -->
			<xsd:element name="Section179Costs" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 179 costs</Description>
						<LineNumber>Schedule D Part III Section C Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- On-site Storage -->
			<xsd:element name="OnSiteStorage" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>On-site storage</Description>
						<LineNumber>Schedule D Part III Section C Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Depreciation, Amortization, and Cost Recovery Allowance -->
			<xsd:element name="OtherDeprecAmortzCostRecovery" type="PresentAndProposedMethodCheckboxesType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Depreciation, amortization, and cost recovery allowance not included one line 11 above</Description>
						<LineNumber>Schedule D Part III Section C Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Costs (NOT required to be allocated) -->
			<xsd:element name="OtherCostsNotRqrToBeAllocated" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other costs (Attach a list of these costs)</Description>
						<LineNumber>Schedule D Part III Section C Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:complexContent>
						<xsd:extension base="PresentAndProposedMethodCheckboxesType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OtherCostsNotRequiredToBeAllocatedAttachment"/>
						</xsd:extension>
					</xsd:complexContent>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Inventory Identification and Valuation Method checkboxes in Schedule D, Part II -->
	<xsd:complexType name="InventoryIdentificationAndValuationMethodsType">
		<xsd:sequence>

			<!-- Specific Identification -->
			<xsd:element name="SpecificIdentificationInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Specific identification</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- FIFO -->
			<xsd:element name="FIFOInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>FIFO</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- LIFO -->
			<xsd:element name="LIFOInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>LIFO</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other -->
			<xsd:element name="OtherIdentificationMethodInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other (attach explanation)</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OtherIdentificationAndValuationMethodsStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Cost -->
			<xsd:element name="CostInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Cost or Market -->
			<xsd:element name="CostOrMarketInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost or market, whichever is lower</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Retail Cost -->
			<xsd:element name="RetailCostInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Retail cost</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Retail, Lower of Cost or Market -->
			<xsd:element name="LowerRetailOfCostOrMarketInd" type="CheckboxType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Retail, lower of cost or market</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other -->
			<xsd:element name="OtherValutionMethodInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other (attach explanation)</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="CheckboxType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="OtherIdentificationAndValuationMethodsStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Present Method and Proposed Method checkboxes in Schedule D, Part III, Sections A, B & C-->
	<xsd:complexType name="PresentAndProposedMethodCheckboxesType">
		<xsd:sequence>

			<!-- Present Method -->
			<xsd:element name="PresentMethodTxt" type="CheckOrNAType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Present method</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Proposed Method -->
			<xsd:element name="ProposedMethodTxt" type="CheckOrNAType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Proposed method</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- =============================================================== -->
	<!-- ===================  IRS Form 3115 Schedule E ================= -->
	<!-- =============================================================== -->

	<xsd:complexType name="IRS3115ScheduleEType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 3115 Schedule E</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!-- Change in Depreciation or Amortization (for each item or class of property for which a change is requested) -->
			<xsd:element name="ChangeInDeprecOrAmortization" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Property Depreciation Figured Under Section 1.167(a)-11? -->
						<xsd:element name="PropertyDeprecUnderSectionInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Is depreciation for the property figured under Regulations section 1.167(a)-11 (CLADR)?</Description>
									<LineNumber>Schedule E Line 1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Any Depreciation or Amortization Required Under Any Code Section? -->
						<xsd:element name="DepreciationOrAmortizationInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Is any of the depreciation or amortization required to be capitalized under any Code section (e.g., section 263A)?</Description>
									<LineNumber>Schedule E Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Applicable Section -->
						<xsd:element name="ApplicableSectionTxt" type="AlphaNumericAndParenthesesType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>If "Yes", enter the applicable section</Description>
									<LineNumber>Schedule E Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Depreciation or Amortization Election Been Made? -->
						<xsd:element name="DeprecOrAmortzElectionMadeInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Has a depreciation or amortization election been made for the property (e.g., the election under section 168(f)(1))?</Description>
									<LineNumber>Schedule E Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Election Made -->
						<xsd:element name="ElectionMadeTxt" type="AlphaNumericAndParenthesesType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>If "Yes", state the election made</Description>
									<LineNumber>Schedule E Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Lived in Property Before Renting It? -->
						<xsd:element name="LivedInPropertyBefRentingItInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>If the property is residential rental property, did the applicant live in the property before renting it?</Description>
									<LineNumber>Schedule E Line 4b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Public Utility Property? -->
						<xsd:element name="PublicUtilityPropertyInd" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Is the property public utility property?</Description>
									<LineNumber>Schedule E Line 4c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>

					<xsd:attribute name="referenceDocumentId" type="IdListType"/>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="DescriptionOfPropertyBeingChangedStatement ExplanationHowPropertyTreatedUnderPresentMethodStatement FactsSuprtProposedChgToDepreciateOrAmortizePropStmt CodeSectUnderWhichPropIsDeprecOrAmortzStatement"/>

				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>


	<!-- Type for Contact Information lines throughout this form -->
	<xsd:complexType name="ContactInfoType">
		<xsd:sequence>

			<!-- Name -->
			<xsd:element name="PersonNm" type="PersonNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Phone Number -->
			<xsd:element name="PhoneNum" type="PhoneNumberType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Phone Number</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Contact Information and tax year(s)-->
	<xsd:complexType name="ContactAndTaxYearInfoType">
		<xsd:annotation>
			<xsd:documentation>Type for Contact Information and tax year(s)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexContent>
			<xsd:extension base="ContactInfoType">
				<xsd:sequence>

					<!-- Tax year(s) -->
					<xsd:element name="TaxYr" type="YearType" minOccurs="0">
						<xsd:annotation>
							<xsd:documentation>
								<Description>Tax year(s)</Description>
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>

				</xsd:sequence>
			</xsd:extension>
		</xsd:complexContent>
	</xsd:complexType>

	<!-- Type for Alpha-Numeric (plus Space) -->
	<xsd:simpleType name="AlphaNumericAndSpaceType">
		<xsd:restriction base="StringType">
			<xsd:pattern value="[A-Za-z0-9 ]*"/>
		</xsd:restriction>
	</xsd:simpleType>

	<!-- Check ('X') or 'NA' Type -->
	<xsd:simpleType name="CheckOrNAType">
		<xsd:restriction base="StringType">
			<xsd:enumeration value="X"/>
			<xsd:enumeration value="NA"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
