schema/2015v2.0/CorporateIncomeTax/Common/IRS3115/OtherCostsNotRequiredToBeAllocatedAttachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Other Costs Not Required To Be Allocated Attachment</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Drop 3 Release</MaturityLevel>

			<ReleaseDate>Sept. 8, 2015</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>



	<!-- ================================================================== -->

	<!-- ======= Other Costs Not Required To Be Allocated Attachment ====== -->

	<!-- ================================================================== -->



	<xsd:element name="OtherCostsNotReqrToBeAllocAtt">

		<xsd:annotation>

			<xsd:documentation>Other Costs Not Required To Be Allocated Attachment</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="OtherCostsNotReqrToBeAllocAttType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="StringType" fixed="OtherCostsNotRequiredToBeAllocatedAttachment">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<!-- Other Costs Not Required To Be Allocated Attachment -->

	<xsd:complexType name="OtherCostsNotReqrToBeAllocAttType">

		<xsd:sequence>

			<xsd:element name="ShortExplanationTxt" type="ShortExplanationType" minOccurs="0"/>

		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
