schema/2005v3.1/CorporateIncomeTax/Common/IRS8865/CapitalGainDistributions.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Capital Gain Distributions </Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 19, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- =============================================== -->
	<!-- =======  Capital Gain Distributions    ======== -->
	<!-- =============================================== -->


	<xsd:element name="CapitalGainDistributions">
		<xsd:annotation>
			<xsd:documentation>Capital Gain Distributions </xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CapitalGainDistributionsType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="CapitalGainDistributions">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="CapitalGainDistributionsType">
		<xsd:annotation>
			<xsd:documentation>Content model for capital gain distributions</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CapitalGainDistri" type="CapitalGainDistriType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="CapitalGainDistriType">
		<xsd:annotation>
			<xsd:documentation>Content model for capital gain distributions</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		

			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		
	
</xsd:schema>
