schema/2006v3.2/PartnershipIncome/Common/IRS8912/IRS8912.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Partnership Income Tax Schema - IRS Form 8912</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>June 7, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ================================================================ -->
	<!-- =====================  IRS Form 8912 =========================== -->
	<!-- ================================================================ -->
	

	<xsd:element name="IRS8912">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8912</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8912Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8912">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8912Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8912</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			
		<!-- =============== Part I - Current Year Credit =============== -->
		
		<!-- Section A - Clean Renewable Energy Bond Credit -->
		<xsd:element name="CleanRenewableEnergyBondCredit" type="BondCreditType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Section A - Clean Renewable Energy Bond Credit</Description>
					<LineNumber>Part I Section A Line 1</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Section B - Gulf Bond Credit -->
		<xsd:element name="GulfBondCredit" type="BondCreditType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Section B - Gulf Bond Credit</Description>
					<LineNumber>Part I Section B Line 7</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- =============== Part II - Allowable Credit =============== -->

		<!-- Regular Tax Before Credit -->
		<xsd:element name="RegularTaxBeforeCredit" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Regular Tax Before Credit</Description>
					<LineNumber>Part II line 13</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Alternative Minimum Tax -->
		<xsd:element name="AlternativeMinimumTax" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Alternative Minimum Tax</Description>
					<LineNumber>Part II line 14</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Sum of Regular Tax and Alternative Minimum Tax -->
		<xsd:element name="SumRegularTaxAndAMT" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Sum of Regular Tax and Alternative Minimum Tax</Description>
					<LineNumber>Part II line 15</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
		<!-- Foreign Tax Credit -->
		<xsd:element name="ForeignTaxCredit" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Foreign Tax Credit</Description>
					<LineNumber>Part II line 16a</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
		<!-- Credits From F1040 -->
		<xsd:element name="CreditsFromF1040" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Credits from xsd:anyAttribute</Description>
					<LineNumber>Part II line 16b</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- American Samoa Economic Development Credit -->
		<xsd:element name="AmericanSamoaEconomicDevCr" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>American Samoa Economic Development Credit (Form 5735)</Description>
					<LineNumber>Part II line 16c</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Qualified Electric Vehicle Credit -->
		<xsd:element name="QualifiedElectricVehicleCredit" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Qualified Electric Vehicle Credit</Description>
					<LineNumber>Part II line 16d</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Other Specified Credits -->
		<xsd:element name="OtherSpecifiedCredits" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Other Specified Credits</Description>
					<LineNumber>Part II line 16e</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- General Business Credit -->
		<xsd:element name="GeneralBusinessCredit" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>General Business Credit</Description>
					<LineNumber>Part II line 16f</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Credit for Prior Year Minimum Tax -->
		<xsd:element name="CreditForPriorYearMinimumTax" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Credit for Prior Year Minimum Tax</Description>
					<LineNumber>Part II line 16g</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Qualified Zone Academy Bond Credit -->
		<xsd:element name="QualifiedZoneAcademyBondCredit" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Qualified Zone Academy Bond Credit</Description>
					<LineNumber>Part II line 16h</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexType>
				<xsd:simpleContent>
					<xsd:extension base="USAmountType">
						<xsd:attribute name="referenceDocumentId" type="IdListType"/>
						<xsd:attribute name="referenceDocumentName" type="StringType" fixed="IRS8860"/>
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>

		</xsd:element>

		<!-- Total of Credits -->
		<xsd:element name="TotalOfCredits" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Total of Credits</Description>
					<LineNumber>Part II line 16i</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Net Income Tax -->
		<xsd:element name="NetIncomeTax" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Net Income Tax</Description>
					<LineNumber>Part II line 17</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Clean Renewable Energy Bond Credit Allowed for Current Year -->
		<xsd:element name="CYCleanRnwblEnergyBondCr" type="USAmountNNType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Clean Renewable Energy Bond Credit Allowed for Current Year</Description>
					<LineNumber>Part II line 18</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Subtract Clean Renewable Energy Bond Credit from Net Income Tax -->
		<xsd:element name="SubtractBondCrFromNetIncomeTax" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Subtract Clean Renewable Energy Bond Credit from Net Income Tax</Description>
					<LineNumber>Part II line 19</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Gulf Bond Credit Allowed for Current Year -->
		<xsd:element name="CurrentYearGulfBondCr" type="USAmountNNType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Gulf Bond Credit Allowed for Current Year</Description>
					<LineNumber>Part II line 20</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- =============================================================================== -->
	<!-- ====== Type for Repeating Tables Rows in Part I, Section A and Section B ====== -->
	<!-- =============================================================================== -->

	<xsd:complexType name="BondCreditType">
		<xsd:sequence>

		<xsd:element name="Item" minOccurs="0" maxOccurs="unbounded">
      	<xsd:complexType>
      		<xsd:sequence>

				<!-- Bond Issuer's Name -->
				<xsd:element name="NameOfBondIssuer" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Bond Issuer's Name</Description>
							<LineNumber>Part I Section A line 1a and Section B line 7a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Bond Issuer's City -->
				<xsd:element name="City" type="CityType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Bond Issuer's City</Description>
							<LineNumber>Part I Section A line 1a and Section B line 7a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Bond Issuer's State -->
				<xsd:element name="State" type="StateType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Bond Issuer's State</Description>
							<LineNumber>Part I Section A line 1a and Section B line 7a</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Date Bond Issued -->
				<xsd:element name="DateBondIssued" type="DateType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Date acquired</Description>
							<LineNumber>Part I Section A line 1b and Section B line 7b</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Date Bond Disposed Of-->
				<xsd:element name="DateBondDisposedOf" type="DateType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Date Bond Disposed Of</Description>
							<LineNumber>Part I Section A line 1c and Section B line 7c</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Outstanding Bond Principle -->
				<xsd:element name="OutstandingBondPrinciple" type="USAmountType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Outstanding Bond Principle</Description>
							<LineNumber>Part I Section A line 1d and Section B line 7d</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Credit Rate -->
				<xsd:element name="CreditRate" type="RatioType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Credit Rate</Description>
							<LineNumber>Part I Section A line 1e and Section B line 7e</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Credit -->
				<xsd:element name="Creditdxe" type="USAmountType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Credit ((d) x (e))</Description>
							<LineNumber>Part I Section A line 1f and Section B line 7f</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Percent -->
				<xsd:element name="Percent" type="RatioType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Percent</Description>
							<LineNumber>Part I Section A line 1g and Section B line 7g</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Credit -->
				<xsd:element name="Creditfxg" type="USAmountType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Credit ((f) x (g))</Description>
							<LineNumber>Part I Section A line 1h and Section B line 7h</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
	 			</xsd:sequence>
			</xsd:complexType>
		</xsd:element>

		<!-- Total Credit -->
		<xsd:element name="TotalCredit" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Total Credit</Description>
					<LineNumber>Part I Section A line 2 and Section B line 8</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Bond Credits From S Corporations, Partnerships, Estates, or Trusts -->
		<xsd:element name="BondCredit" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Bond Credits From S Corporations, Partnerships, Estates, or Trusts</Description>
					<LineNumber>Part I Section A line 3 and Section B line 9</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
		<!-- Current Year Bond Credits -->
		<xsd:element name="CurrentYearBondCredits" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Current Year Bond Credits</Description>
					<LineNumber>Part I Section A line 4 and Section B line 10</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Amount Allocated to Beneficiaries of Estates and Trusts -->
		<xsd:element name="AmtAllocatedBeneficiariesEstTr" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Amount Allocated to Beneficiaries of Estates and Trusts</Description>
					<LineNumber>Part I Section A line 5 and Section B line 11</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Subtract lines -->
		<xsd:element name="SubtractLines" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Current Year Bond Credits</Description>
					<LineNumber>Part I Section A line 6 and Section B line 12</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

 		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
