schema/2005v3.0/CorporateIncomeTax/Common/Dependencies/SmallEthanolProducerCreditStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Small Ethanol Producer Credit Statement</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>November 8, 2006</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ================================================================== -->
	<!-- ============ Small Ethanol Producer Credit Statement ============= -->
	<!-- ================================================================== -->


	<xsd:element name="SmallEthanolProducerCreditStmt">
		<xsd:annotation>
			<xsd:documentation>Small Ethanol Producer Credit Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="SmallEthanolProducerCreditStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="SmallEthanolProducerCreditStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	

	<xsd:complexType name="SmallEthanolProducerCreditStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Small Ethanol Producer Credit Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Small Ethanol Producer Credit Information -->
			<xsd:element name="SmallEthanolProducerCreditInfo" type="SmallEthanolProducerCreditInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Small Ethanol Producer Credit Information</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Repeating Group - Small Ethanol Producer Credit Information -->
	<xsd:complexType name="SmallEthanolProducerCreditInfoType">
		<xsd:sequence>

			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Gallons Allocated to Partner -->
			<xsd:element name="GallonsAllocatedToPartner" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>The Number of Gallons of Qualified Ethanol Fuel Production Allocated to the Partner</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerType">
						<xsd:totalDigits value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Partner's Pro Rata Share -->
			<xsd:element name="PartnersProRataShare" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Partner's Pro Rata Share, in Gallons of the Partnership's Productive Capacity for Alcohol</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerType">
						<xsd:totalDigits value="9"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
