schema/2007v2.2/CorporateIncomeTax/Common/IRS3115/FactsSuprtProposedChgToDepreciateOrAmortizePropStmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Facts Supporting Proposed Change to Depreciate or Amortize Property Statement</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 15, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ===================================================================================== -->
	<!-- === Facts Supporting Proposed Change to Depreciate or Amortize Property Statement === -->
	<!-- ===================================================================================== -->

	<xsd:element name="ChgToDepreciateAmortzPropStmt">
		<xsd:annotation>
			<xsd:documentation>Facts Supporting Proposed Change to Depreciate or Amortize Property Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ChgToDepreciateAmortzPropStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="FactsSuprtProposedChgToDepreciateOrAmortizePropStmt">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Facts Supporting Proposed Change to Depreciate or Amortize Property Statement -->
	<xsd:complexType name="ChgToDepreciateAmortzPropStmtType">
		<xsd:sequence>
			<xsd:element name="Statement" type="ShortExplanationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
