schema/2006v3.2/CorporateIncomeTax/Common/IRS8586/PassThroughEntitySchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Pass-through Entity Schedule</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>June 7, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ============================================= -->
	<!-- ======== Pass-through Entity Schedule ======= -->
	<!-- ============================================= -->

	<xsd:element name="PassThroughEntitySchedule">
		<xsd:annotation>
			<xsd:documentation>Pass-through Entity Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="PassThroughEntityScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Transfer</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="PassThroughEntitySchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Pass-through Entity Schedule Type -->
	<xsd:complexType name="PassThroughEntityScheduleType">
		<xsd:sequence>
			<xsd:element name="Statement" type="PassThroughEntityType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- Pass-through Entity Schedule Item Type -->
	<xsd:complexType name="PassThroughEntityType">
		<xsd:sequence>

			<!-- Shareholder Name: choice between Business Name or Person Name -->
			<xsd:choice minOccurs="0">
				<!-- Shareholder Business Name -->
				<xsd:element name="ShareholderBusinessName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Shareholder business name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Shareholder Person Name -->
				<xsd:element name="ShareholderPersonName" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Shareholder person name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- Shareholder Identification Number or Missing EIN Reason -->
			<xsd:element name="ShareholderIdentificationNum" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Shareholder identification number</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:choice>
						<xsd:element name="ShareholderSSN" type="SSNType"/>
						<xsd:element name="ShareholderEIN" type="EINType"/>
						<xsd:element name="MissingEINReason">
							<xsd:simpleType>
								<xsd:restriction base="StringType">
									<xsd:enumeration value="APPLD FOR"/>
									<xsd:enumeration value="FOREIGNUS"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>
					</xsd:choice>
				</xsd:complexType>
			</xsd:element>

			<!-- Share of Credit -->
			<xsd:element name="ShareOfCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Share of credit</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Building Identification Number for Each Building -->
			<xsd:element name="BuildingIdNumForEachBuilding" type="BINType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Building identification number for each building</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
