schema/2006v4.0/CorporateIncomeTax/Common/IRS970/DetailedAnalysisOfAllInventoriesStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Detailed Analysis of All Inventories Statement</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>October 19, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================================== -->
	<!-- ===============  Detailed Analysis of All Inventories Statement ========================== -->
	<!-- =============================================================================== -->

	<xsd:element name="DetailedAnlysOfInventoriesStmt">
		<xsd:annotation>
			<xsd:documentation>Detailed Analysis of All Inventories Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DetailedAnlysOfInventoriesStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="DetailedAnalysisOfAllInventoriesStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="DetailedAnlysOfInventoriesStmtType">
		<xsd:annotation>
			<xsd:documentation>Detailed Analysis of All Inventories Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Explanation-->
			<xsd:element name="Explanation" type="MediumExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Explanation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
