schema/2005v3.3/CorporateIncomeTax/Common/IRS8865/DeductionsAllocableToOilGasAndGeothermalPropertiesStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Deductions Allocable to Oil, Gas, and Geothermal Properties Statement</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 17, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />

	<!-- =============================================================================== -->
	<!-- ==== Deductions Allocable to Oil, Gas, and Geothermal Properties Statement ==== -->
	<!-- =============================================================================== -->

	<xsd:element name="DedAllcblOilGasGthrmlPropStmt">
		<xsd:annotation>
			<xsd:documentation>Deductions allocable to oil, gas, and geothermal properties statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DedAllcblOilGasGthrmlPropStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="DeductionsAllocableToOilGasAndGeothermalPropertiesStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="DedAllcblOilGasGthrmlPropStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for deductions allocable to oil, gas, and geothermal properties statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Explanation" type="ShortExplanationType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
