schema/2010v2.0/CorporateIncomeTax/Common/IRS3115/UnableToFurnishCopyOfForm970Statement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Unable to Furnish Copy of Form 970 Statement</Description>
			<TaxYear>2010</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 19, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ================================================================== -->
	<!-- ========== Unable to Furnish Copy of Form 970 Statement ========== -->
	<!-- ================================================================== -->

	<xsd:element name="UnableToFurnishCopyOf970Stmt">
		<xsd:annotation>
			<xsd:documentation>Unable to Furnish Copy of Form 970 Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="UnableToFurnishCopyOf970StmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="UnableToFurnishCopyOfForm970Statement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Unable to Furnish Copy of Form 970 Statement -->
	<xsd:complexType name="UnableToFurnishCopyOf970StmtType">
		<xsd:sequence>
			<xsd:element name="Statement" type="ShortExplanationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
