schema/2015v2.0/TEGE/TEGE990PF/IRS990PF/AppliedToPriorYearElection.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Tax Exempt and Government Entities Schema - Applied to Prior Year Election</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Drop 3 Release</MaturityLevel>

			<ReleaseDate>Sept. 8, 2015</ReleaseDate>			

		</xsd:documentation>

	</xsd:annotation>

	

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

		

	<!-- ===================================================== -->

	<!-- ========== Applied to Prior Year Election =========== -->

	<!-- ===================================================== -->

	

	<xsd:element name="AppliedToPriorYearElection">

		<xsd:annotation>

			<xsd:documentation>Applied to Prior Year Election</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="AppliedToPriorYearElectionType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="AppliedToPriorYearElection">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>

	

	<xsd:complexType name="AppliedToPriorYearElectionType">

		<xsd:annotation>

			<xsd:documentation>Content model for Applied to Prior Year Election</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>



			<xsd:element name="ElectionDesc" type="ShortExplanationType" minOccurs="0"/>



		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
