schema/2006v4.2/CorporateIncomeTax/Common/IRS8865/BusinessStartupAndOrganizationalCostStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Business Startup and Organizational Cost Statement</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>March 11, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />

	<!-- ============================================================ -->
	<!-- ==== Business Startup and Organizational Cost Statement ==== -->
	<!-- ============================================================ -->

	<xsd:element name="BusStartupOrgnztnlCostStmt">
		<xsd:annotation>
			<xsd:documentation>Business startup and organizational cost statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="BusStartupOrgnztnlCostStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="BusinessStartupAndOrganizationalCostStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="BusStartupOrgnztnlCostStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for business satartup and organizational cost statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Explanation" type="ShortExplanationType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
