schema/2015v2.0/CorporateIncomeTax/Common/IRS8283/FairMarketValueStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Fair Market Value Statement</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Drop 3 Release</MaturityLevel>

			<ReleaseDate>Sept. 8, 2015</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>



	<!-- ============================================ -->

	<!-- ======== Fair Market Value Statement ======= -->

	<!-- ============================================ -->



	<xsd:element name="FairMarketValueStatement">

		<xsd:annotation>

			<xsd:documentation>Fair Market Value Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="FairMarketValueStatementType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Transfer</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="StringType" fixed="FairMarketValueStatement">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<!-- Fair Market Value Statement Type -->

	<xsd:complexType name="FairMarketValueStatementType">

		<xsd:annotation>

			<xsd:documentation>Fair Market Value Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>



			<xsd:element name="ShortExplanationTxt" type="ShortExplanationType" minOccurs="0"/>



		</xsd:sequence>

	</xsd:complexType>

</xsd:schema>
