schema/2009v1.0/CorporateIncomeTax/Common/IRS926/IntangiblePropertyTransferredFromTransactionStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Intangible Property Transferred From Transaction Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 20, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- =========================================================================================== -->
	<!-- ===============  Intangible Property Transferred From Transaction Statement =============== -->
	<!-- =========================================================================================== -->


	<xsd:element name="IntngblPropTrnsfrFromTrStmt">
		<xsd:annotation>
			<xsd:documentation>Intangible property transferred from transaction statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IntngblPropTrnsfrFromTrStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IntangiblePropertyTransferredFromTransactionStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IntngblPropTrnsfrFromTrStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for intangible property transferred from transaction statement</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!-- Intangible Property Transferred From Transaction Info -->
			<xsd:element name="IntngblPropTrnsfrFromTrInfo" type="IntngblPropTrnsfrFromTrInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Intangible property transferred from transaction info</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Repeating Group - Intangible Property Transferred From Transaction Info -->
	<xsd:complexType name="IntngblPropTrnsfrFromTrInfoType">
		<xsd:annotation>
			<xsd:documentation>Content model for intangible property transferred from transaction info</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!-- Description Of Intangible Property Transferred -->
			<xsd:element name="DescOfIntngblPropTrnsfr" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of intangible property transferred</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter a general description of the transfer, and any wider transaction of which it forms a part, including a chronology of the transfers involved and an identification of the other parties to the transaction to the extent known -->
			<xsd:element name="DescOfTrnsfrReg16038B1Td1iiB" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter a general description of the transfer, and any wider transaction of which it forms a part, including a chronology of the transfers involved and an identification of the other parties to the transaction to the extent known</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Provide a description of the consideration received by the U.S. person making the transfer, including its estimated fair market value and, in the case of stock or securities, the class or type, amount, and characteristics of the interest received -->
			<xsd:element name="DescOfCnsdrReg16038B1Td1iii"  type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Provide a description of the consideration received by the U.S. person making the transfer, including its estimated fair market value and, in the case of stock or securities, the class or type, amount, and characteristics of the interest received</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Provide a description of the intangible property transferred, including its adjusted basis.  Generally, each intangible asset must be separately identified.  Operating intangibles and foreign goodwill or going concern value, as defined in Regulations section 1.367(a)-1T (d) (5) (ii) and (iii), should be so identified and classified -->
			<xsd:element name="DescIntngblPropReg16038B1Td1iv" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Provide a description of the intangible property transferred, including its adjusted basis.  Generally, each intangible asset must be separately identified.  Operating intangibles and foreign goodwill or going concern value, as defined in Regulations section 1.367(a)-1T (d) (5) (ii) and (iii), should be so identified and classified</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Provide and explain the calculation of the annual deemed payment for the use of the intangible property required to be recognized by the transferor under the rules of Section 367(d) -->
			<xsd:element name="CalcAnnlPymtReg16038B1Td1v" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Provide and explain the calculation of the annual deemed payment for the use of the intangible property required to be recognized by the transferor under the rules of Section 367(d)</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- List any intangible with respect to which an election is being made under Regulations Section 1.367(d)-1T(g)(2) to treat the transfer as a sale.  Include the fair market value of the intangible on the date of the transfer and a calculation of the gain required to be recognized in the year of the transfer by reason of the election -->
			<xsd:element name="TrnsfrSaleReg16038B1Td1vi"  type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>List any intangible with respect to which an election is being made under Regulations Section 1.367(d)-1T(g)(2) to treat the transfer as a sale.  Include the fair market value of the intangible on the date of the transfer and a calculation of the gain required to be recognized in the year of the transfer by reason of the election</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- List any intangible property subject to Section 367(d) the transfer of which also gives rise to the recognition of gain under Section 904(f)(3) or Reg Section 1.367(a)-6T.  Provide a calculation of the gain required to be recognized with respect to such property, in accordance with the provisions of Reg Section 1.367(d)-1T(g)(4) -->
			<xsd:element name="IntngblPropReg16038B1Td1vii" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>List any intangible property subject to Section 367(d) the transfer of which also gives rise to the recognition of gain under Section 904(f)(3) or Reg Section 1.367(a)-6T.  Provide a calculation of the gain required to be recognized with respect to such property, in accordance with the provisions of Reg Section 1.367(d)-1T(g)(4)</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Describe any intangible property sold or licensed by the transferor to the transferee foreign corporation, and set forth the general terms of each sale or license -->
			<xsd:element name="IntngblPropReg16038B1Td1viii" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Describe any intangible property sold or licensed by the transferor to the transferee foreign corporation, and set forth the general terms of each sale or license</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Date of the initial transfer -->
			<xsd:element name="DateTrnsfrReg16038B1Td2iiA"  type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of the initial transfer</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter a general description of the transfer and any wider transaction of which it formed a part -->
			<xsd:element name="DescTrnsfrReg16038B1Td2iiC" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter a general description of the transfer and any wider transaction of which it formed a part</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter a general description of the subsequent transfer and any wider transaction of which it forms a part -->
			<xsd:element name="DescTrnsfrReg16038B1Td2iiiA" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter a general description of the subsequent transfer and any wider transaction of which it forms a part</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Provide a calculation of any gain required to be recognized by the U.S. person under the rules of Reg Section 1.367(d)-1T (d) through (f) -->
			<xsd:element name="CalcGainReg16038B1Td2iiiB"  type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Provide a calculation of any gain required to be recognized by the U.S. person under the rules of Reg Section 1.367(d)-1T (d) through (f)</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Under the rules of Reg Section 1.367(d)-1T (e) or (f) did anyone receive contingent annual payments for the use of the intangible property? -->
			<xsd:element name="RcvdAnnlPymtReg16038B1Td2iiiC"  type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Under the rules of Reg Section 1.367(d)-1T (e) or (f) did anyone receive contingent annual payments for the use of the intangible property?</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Choice between Person Name or Business Name -->
			<xsd:choice minOccurs="0">

				<!-- Name of Person receiving annual payment -->
				<xsd:element name="PersonName" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name of Person receiving annual payment</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Business Name of Person receiving annual payment -->
				<xsd:element name="BusinessName" type="BusinessNameLine1Type">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Business name of person receiving annual payment</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between US Address or Foreign Address -->
			<xsd:choice minOccurs="0">

				<!-- US Address of person receiving annual payment -->
				<xsd:element name="USAddress" type="USAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US address of person receiving annual payment</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Foreign Address of person receiving annual payment -->
				<xsd:element name="ForeignAddress" type="ForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign address of person receiving annual payment</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between Corporation SSN, EIN, or Missing EIN Reason -->
			<xsd:choice minOccurs="0">

				<!-- Identifying SSN of Person receiving annual payment -->
				<xsd:element name="SSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identifying SSN of person receiving annual payment</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Identifying EIN of Person receiving annual payment -->
				<xsd:element name="EIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identifying EIN of person receiving annual payment</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Missing EIN Reason -->
				<xsd:element name="MissingEINReason">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>




		</xsd:sequence>

	</xsd:complexType>

</xsd:schema>
