schema/2008v2.1/CorporateIncomeTax/Common/Dependencies/CreditsRelatedToRentalREActivitiesStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Credits Related to Rental Real Estate Activities Statement</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 22, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ==================================================================== -->
	<!-- ==== Credits Related to Rental Real Estate Activities Statement ==== -->
	<!-- ==================================================================== -->


	<xsd:element name="CreditsRltdToRentalREActyStmt">
		<xsd:annotation>
			<xsd:documentation>Credits related to rental real estate activities statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CrRltdToRentalREActyStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="CreditsRelatedToRentalREActivitiesStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="CrRltdToRentalREActyStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for credits related to rental real estate activities statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		
				
			<!-- Credits related to Rental Real Estate Activities -->
			<xsd:element name="CreditsRelatedToRentalREActy" type="CreditsRltdToRentalREActyType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credits related to rental real estate activities</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		

	<!-- Type for Repeating Group - Credits related to Rental Real Estate Activities -->
	<xsd:complexType name="CreditsRltdToRentalREActyType">
		<xsd:sequence>		
	
			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
						
		</xsd:sequence>
	</xsd:complexType>	
	
</xsd:schema>
