schema/2008v1.0/TEGE/Common/IRS990ScheduleJ/IRS990ScheduleJ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - IRS Form 990 Schedule J</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>March 3, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ====================================================================== -->
	<!-- ==================  IRS Form 990 Schedule J ================ -->
	<!-- ====================================================================== -->
	
	<xsd:element name="IRS990ScheduleJ">
		<xsd:annotation>
			<xsd:documentation>IRS Form 990 Schedule J</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS990ScheduleJType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS990ScheduleJ">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<!-- Schedule J (Form 990) Supplemental Compensation Information -->
	<!-- For certain Officers, Directors, Trustees, Key Employees, and Highly Compensated Employees -->
	<xsd:complexType name="IRS990ScheduleJType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 990 Schedule J</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Form990ScheduleJPartI" minOccurs="0">		
				<xsd:annotation>
					<xsd:documentation>Part I contents</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>		
					<xsd:sequence>

						<!-- First Class or Charter Travel -->
						<xsd:element name="FirstClassOrCharterTravel" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>First class or charter travel</Description>
									<LineNumber>Part I Line 1a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Travel for Companions -->
						<xsd:element name="TravelForCompanions" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Travel for companions</Description>
									<LineNumber>Part I Line 1a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Idemnification and Gross-Up Payments -->
						<xsd:element name="IdemnificationGrossUpPayments" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Idemnification and gross-up payments</Description>
									<LineNumber>Part I Line 1a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Discretionary Spending Account -->
						<xsd:element name="DiscretionarySpendingAccount" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Discretionary spending account</Description>
									<LineNumber>Part I Line 1a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Housing Allowance or Residence -->
						<xsd:element name="HousingAllowanceOrResidence" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Housing allowance or residence</Description>
									<LineNumber>Part I Line 1a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Payments For Use of Residence -->
						<xsd:element name="PaymentsForUseOfResidence" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Payments for use of residence</Description>
									<LineNumber>Part I Line 1a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Club Dues or Fees -->
						<xsd:element name="ClubDuesOrFees" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Club dues or fees</Description>
									<LineNumber>Part I Line 1a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Personal Services -->
						<xsd:element name="PersonalServices" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Personal services</Description>
									<LineNumber>Part I Line 1a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Written Policy Reference T and E Expenses? -->
						<xsd:element name="WrittenPolicyReTAndEExpenses" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Written policy reference T and E expenses?</Description>
									<LineNumber>Part I Line 1b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Substantiation Required? -->
						<xsd:element name="SubstantiationRequired" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Substantiation required?</Description>
									<LineNumber>Part I Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Compensation Committee -->
						<xsd:element name="CompensationCommittee" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Compensation committee</Description>
									<LineNumber>Part I Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Independent Consultant -->
						<xsd:element name="IndependentConsultant" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Independent consultant</Description>
									<LineNumber>Part I Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Form 990 of Other Organizations -->
						<xsd:element name="Form990OfOtherOrganizations" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Form 990 of other organizations</Description>
									<LineNumber>Part I Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Written Employment Contract -->
						<xsd:element name="WrittenEmploymentContract" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Written employment contract</Description>
									<LineNumber>Part I Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Compensation Survey -->
						<xsd:element name="CompensationSurvey" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Compensation survey</Description>
									<LineNumber>Part I Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Board or Committee Approval -->
						<xsd:element name="BoardOrCommitteeApproval" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Board or committee approval</Description>
									<LineNumber>Part I Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Severance Payment? -->
						<xsd:element name="SeverancePayment" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Severance payment?</Description>
									<LineNumber>Part I Line 4a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Supplemental Nonqualified Retirement Plan? -->
						<xsd:element name="SupplementalNonqualRetirePlan" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Supplemental nonqualified retirement plan?</Description>
									<LineNumber>Part I Line 4b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Equity Based Compensation Arrangement? -->
						<xsd:element name="EquityBasedCompArrangement" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Equity based compensation arrangement?</Description>
									<LineNumber>Part I Line 4c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Compensation Based On Revenue of Filing Org? -->
						<xsd:element name="CompBasedOnRevenueOfFilingOrg" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Compensation based on revenue of filing org?</Description>
									<LineNumber>Part I Line 5a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Compensation Based On Revenue of Related Orgs? -->
						<xsd:element name="CompBasedOnRevenueRelatedOrgs" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Compensation based on revenue of related orgs?</Description>
									<LineNumber>Part I Line 5b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Compensation Based On Net Earnings of Filing Org? -->
						<xsd:element name="CompBasedNetEarningsFilingOrg" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Compensation based on net earnings of filing org?</Description>
									<LineNumber>Part I Line 6a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Compensation Based On Net Earnings of Related Orgs? -->
						<xsd:element name="CompBasedNetEarningsRelateOrgs" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Compensation based on net earnings of related orgs?</Description>
									<LineNumber>Part I Line 6b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Any Non-Fixed Payments? -->
						<xsd:element name="AnyNonFixedPayments" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Any non-fixed payments?</Description>
									<LineNumber>Part I Line 7</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Initial Contract Exception? -->
						<xsd:element name="InitialContractException" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Initial contract exception?</Description>
									<LineNumber>Part I Line 8</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>	
				</xsd:complexType>		
			</xsd:element>		

			<xsd:element name="Form990ScheduleJPartII" minOccurs="0" maxOccurs="unbounded">		
				<xsd:annotation>
					<xsd:documentation>Part II contents</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>		
					<xsd:sequence>

						<!-- Name of Officer -->
						<xsd:choice>
							<xsd:element name="NamePerson" type="PersonNameType" minOccurs ="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Name of officer - person</Description>
										<LineNumber>Line 1, Column (A)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<xsd:element name="NameBusiness" type="BusinessNameType" minOccurs ="0">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Name of officer - business</Description>
										<LineNumber>Line 1, Column (A)</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>

						<!-- Column (B) Breakdown of W-2 or 1099-MISC Compensation -->
						<!-- Base Compensation from Filing Organization -->
						<xsd:element name="BaseCompensationFilingOrg" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Base compensation ($) from filing organization</Description>
									<LineNumber>Line 1, Column (B)(i)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Compensation Based on Related Organizations? -->
						<xsd:element name="CompBasedOnRelatedOrgs" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Compensation based on related organizations?</Description>
									<LineNumber>Part II Column (B)(i) </LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Bonus and Incentive Compensation from Filing Organization -->
						<xsd:element name="BonusFilingOrg" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Bonus and incentive compensation ($) from filing organization</Description>
									<LineNumber>Part II Column (B)(ii)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Bonus from Related Organizations -->
						<xsd:element name="BonusRelatedOrgs" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Bonus and incentive compensation ($) from related organizations</Description>
									<LineNumber>Part II Column (B)(ii) </LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other Compensation from Filing Organization -->
						<xsd:element name="OtherCompensationFilingOrg" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other compensation ($) from filing organization</Description>
									<LineNumber>Part II Column (B)(iii)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other Compensation from Related Organizations -->
						<xsd:element name="OtherCompensationRelatedOrgs" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other compensation ($) from realted organizations</Description>
									<LineNumber>Part II Column (B)(iii)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Deferred Compensation from Filing Organization -->
						<xsd:element name="DeferredCompFilingOrg" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Deferred compensation ($) from filing organization</Description>
									<LineNumber>Part II Column (C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Deferred Compensation from Related Organizations -->
						<xsd:element name="DeferredCompRelatedOrgs" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Deferred compensation ($) from related organizations</Description>
									<LineNumber>Part II Column (C)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Nontaxable Benefits from Filing Organization -->
						<xsd:element name="NontaxableBenefitsFilingOrg" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Nontaxable benefits ($) from filing organization</Description>
									<LineNumber>Part II Column (D)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Nontaxable Benefits from Related Organizations -->
						<xsd:element name="NontaxableBenefitsRelatedOrgs" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Nontaxable benefits ($) from related organizations</Description>
									<LineNumber>Part II Column (D)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total of (B)(i) - (D), From Filing Organizations -->
						<xsd:element name="TotalCompensationFilingOrg" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total of (B)(i) - (D), from filing org</Description>
									<LineNumber>Part II Column (E)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Total of (B)(i) - (D), From Related Organizations -->
						<xsd:element name="TotalCompensationRelatedOrgs" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Total of (B)(i) - (D), from related orgs</Description>
									<LineNumber>Part II Column (E)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Comp Reported Prior 990 - From Filing Organization -->
						<xsd:element name="CompReportPrior990FilingOrg" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Comp reported prior 990 - from filing org</Description>
									<LineNumber>Part II Column (F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Comp Reported Prior 990 - From Related Organizations -->
						<xsd:element name="CompReportPrior990RelatedOrgs" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Comp reported prior 990 - from related orgs</Description>
									<LineNumber>Part II Column (F)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>	
				</xsd:complexType>		
			</xsd:element>		

			<xsd:element name="Form990ScheduleJPartIII" minOccurs="0" maxOccurs="10">		
				<xsd:annotation>
					<xsd:documentation>Part III contents</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>		
					<xsd:sequence>

						<!-- Identifier -->
						<xsd:element name="Identifier" type="LineExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Identifier</Description>
									<LineNumber>Part III</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Return Reference -->
						<xsd:element name="ReturnReference" type="LineExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Return reference</Description>
									<LineNumber>Part III</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Explanation -->
						<xsd:element name="Explanation" type="ExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Explanation</Description>
									<LineNumber>Part III</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>	
				</xsd:complexType>		
			</xsd:element>		

		</xsd:sequence>
	</xsd:complexType>
	
	<!-- =========================================================================== -->
	<!-- ============= Local types, types for repeating groups etc. ================ -->
	<!-- =========================================================================== -->
	
</xsd:schema>
