schema/2013v4.0/CorporateIncomeTax/Common/IRS3115/BusDisqualifiesAutoCnsntStmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Reason Business Disqualifies From Qualifying For Automatic Consent Statement</Description>

			<TaxYear>2013</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>July 18, 2014</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>





	<!-- =============================================================================================== -->

	<!-- ======== Reason Business Disqualifies From Qualifying For Automatic Consent Statement ========= -->

	<!-- =============================================================================================== -->





	<xsd:element name="BusDisqualifiesAutoCnsntStmt">

		<xsd:annotation>

			<xsd:documentation>Business Disqualifies From Qualifying For Automatic Consent Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="BusDisqualifiesAutoCnsntStmtType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="BusDisqualifiesAutoCnsntStmt">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>





	<xsd:complexType name="BusDisqualifiesAutoCnsntStmtType">

		<xsd:annotation>

			<xsd:documentation>Content model for Business Disqualifies From Qualifying For Automatic Consent Info</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>



			<!-- Business Disqualifies From Qualifying For Automatic Consent Detail -->

			<xsd:element name="ExplantionTxt" type="ExplanationType" minOccurs="0" maxOccurs="unbounded">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Business disqualifies from qualifying for automatic consent detail</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
