schema/2013v4.0/CorporateIncomeTax/Common/IRS3115/ProposedChangeNotForLIFOPoolsStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Proposed Change Not For LIFO Pools Statement</Description>

			<TaxYear>2013</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>July 18, 2014</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>





	<!-- ================================================================= -->

	<!-- ========= Proposed Change Not For LIFO Pools Statement ========== -->

	<!-- ================================================================= -->





	<xsd:element name="PrpsdChgNotForLIFOPoolsStmt">

		<xsd:annotation>

			<xsd:documentation>Proposed Change Not For LIFO Pools Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="PrpsdChgNotForLIFOPoolsStmtType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="ProposedChangeNotForLIFOPoolsStatement">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>	

	

	<xsd:complexType name="PrpsdChgNotForLIFOPoolsStmtType">

		<xsd:annotation>

			<xsd:documentation>Content model for Proposed Change Not For LIFO Pools Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>



			<xsd:element name="ShortExplanationTxt" type="ShortExplanationType" minOccurs="0" maxOccurs="unbounded"/>



		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
