schema/2004v1.0/Common/efileMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file 1120x Schema - Content models for the transmission header, origin headers, base return header and acknowledgement</Description>
			<TaxYear>2004</TaxYear>
			<MaturityLevel>Initial Draft</MaturityLevel>
			<ReleaseDate>August 30, 2004</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="efileTypes.xsd"/>
	
	<!-- T R A N S M I S S I O N   F I L E   S O A P   H E A D E R   -   T R A N S M I S S I O N   H E A D E R -->
	
	<!-- Transmission Header -->
	<xsd:element name="TransmissionHeader" type="TransmissionHeaderType"/>
	<xsd:complexType name="TransmissionHeaderType">
		<xsd:sequence>
		
			<!-- Transmission ID -->
			<xsd:element name="TransmissionId" type="IdType">
				<xsd:annotation>
					<xsd:documentation>Must be unique for the transmitter for the tax year</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Transmission Time Stamp -->
			<xsd:element name="Timestamp" type="TimestampType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>The time stamp at the time of transmission.</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Transmitter -->
			<xsd:element name="Transmitter">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="ETIN" type="ETINType">
							<xsd:annotation>
								<xsd:documentation>The ETIN of the transmitter</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			
			<!-- Process Type -->
			<xsd:element name="ProcessType">
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:enumeration value="T">
							<xsd:annotation>
								<xsd:documentation>Test</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
						<xsd:enumeration value="P">
							<xsd:annotation>
								<xsd:documentation>Production</xsd:documentation>
							</xsd:annotation>
						</xsd:enumeration>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
		</xsd:sequence>
		
		<!-- Transmission Version -->
		<xsd:attribute name="transmissionVersion" type="StringType" use="required" fixed="1.0">
			<xsd:annotation>
				<xsd:documentation>Transmission Version</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<!-- T R A N S M I S S I O N   F I L E   S O A P   B O D Y   -   T R A N S M I S S I O N   M A N I F E S T -->
	
	<!-- Transmission Manifest -->
	<xsd:element name="TransmissionManifest" type="TransmissionManifestType">
		<xsd:annotation>
			<xsd:documentation>A list of all items in the transmission</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="TransmissionManifestType">
		<xsd:sequence>
			
			<!-- Reference Type -->
			<xsd:element name="Reference" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>

					<!-- Reference Content Location -->
					<xsd:attribute name="contentLocation" use="required">
						<xsd:annotation>
							<xsd:documentation>Must match the Content-Location MIME header and the ReturnId for the reference</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="URIType">
								<xsd:maxLength value="20"/>
							</xsd:restriction>
						</xsd:simpleType>
					</xsd:attribute>

					<!-- Reference Electronic Postmark -->
					<xsd:attribute name="electronicPostmark" type="TimestampType" use="optional">
						<xsd:annotation>
							<xsd:documentation>The Electronic Postmark for the reference as provided by the transmitter</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

				</xsd:complexType>
			</xsd:element>
				
		</xsd:sequence>
		
		<!-- Reference Count -->
		<xsd:attribute name="count" type="IntegerPosType" use="required">
			<xsd:annotation>
				<xsd:documentation>The number of references in the transmission</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
		
	<!-- A C K N O W L E D G E M E N T   F I L E   S O A P   H E A D E R   -   A C K N O W L E D G E M E N T   H E A D E R -->
	
	<!-- Acknowledgement Header -->
	<xsd:element name="AcknowledgementHeader" type="AcknowledgementHeaderType"/>
	<xsd:complexType name="AcknowledgementHeaderType">
		<xsd:sequence>
			<xsd:element name="AcknowledgementTimestamp" type="TimestampType"/>
		</xsd:sequence>

		<!-- Transmission Version -->
		<xsd:attribute name="transmissionVersion" type="StringType" use="optional" fixed="1.0">
			<xsd:annotation>
				<xsd:documentation>Transmission Version</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>

	</xsd:complexType>
	
	<!-- A C K N O W L E D G E M E N T   F I L E   S O A P   B O D Y   -   A C K N O W L E D G E M E N T   M A N I F E S T -->
	
	<!-- Acknowledgement Manifest -->
	<xsd:element name="AcknowledgementManifest" type="AcknowledgementManifestType">
		<xsd:annotation>
			<xsd:documentation>A list of all items in the transmission</xsd:documentation>
		</xsd:annotation>
	</xsd:element>
	<xsd:complexType name="AcknowledgementManifestType">
		<xsd:sequence>
		
			<!-- Reference Type -->
			<xsd:element name="Reference" maxOccurs="unbounded">
				<xsd:complexType>
					<!-- Reference Content Location -->
					<xsd:attribute name="contentLocation" type="URIType" use="required">
						<xsd:annotation>
							<xsd:documentation>Must match the Content-Location MIME header and the ReturnId for the reference</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:complexType>
			</xsd:element>
		</xsd:sequence>
		
		<!-- Reference Count -->
		<xsd:attribute name="count" type="IntegerPosType" use="required">
			<xsd:annotation>
				<xsd:documentation>The number of references in the acknowledgement</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>
	</xsd:complexType>
	
	<!-- A C K N O W L E D G E M E N T   F I L E   S O A P   A T T A C H M E N T   -   A C K N O W L E D G E M E N T -->
	
	<!-- Transmission Acknowledgement -->
	<xsd:element name="TransmissionAcknowledgement" type="TransmissionAcknowledgementType"/>
	<xsd:complexType name="TransmissionAcknowledgementType">
		<xsd:sequence>
			<xsd:element name="TransmissionId" type="IdType" minOccurs="0"/>
			<xsd:element name="TransmissionTimestamp" type="TimestampType" minOccurs="0"/>
			<xsd:element name="TransmissionStatus" type="StatusType"/>
			<xsd:element ref="Errors" minOccurs="0"/>

			<xsd:element name="GTXKey" type="GTXKeyType" />

			<!-- GTX key of Original Transmission that was Duplicated -->
			<xsd:element name="GTXKeyOfOriginalDuplicated" type="GTXKeyType" minOccurs="0" />
		</xsd:sequence>

		<!-- Transmission Version -->
		<xsd:attribute name="transmissionVersion" type="StringType" use="optional" fixed="1.0">
			<xsd:annotation>
				<xsd:documentation>Transmission Version</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>

	</xsd:complexType>
	
	<!-- Return Acknowledgement -->
	<xsd:element name="ReturnAcknowledgement" type="ReturnAcknowledgementType"/>
	<xsd:complexType name="ReturnAcknowledgementType">
		<xsd:sequence>
			<xsd:element name="ReturnId" type="ReturnIdType" minOccurs="0"/>
			<xsd:element name="FilerEIN" type="EINType" minOccurs="0"/>
			<xsd:element name="ReturnType" type="StringType" minOccurs="0"/>
			<xsd:element name="FilingTypeDescription" type="StringType" minOccurs="0"/>
			<xsd:element name="TaxPeriodEndDate" type="DateType" minOccurs="0"/>
			<xsd:element name="TaxYear" type="YearType" minOccurs="0"/>
			<xsd:element name="ReturnStatus" type="StatusType"/>
			<xsd:element name="CompletedValidation" type="StringType"/>
			<xsd:element name="PaymentIndicator" type="PaymentIndicatorType" minOccurs="0"/>
			<xsd:element ref="Errors" minOccurs="0"/>
		</xsd:sequence>

		<!-- Return Version -->
		<xsd:attribute name="returnVersion" type="StringType" use="optional">
			<xsd:annotation>
				<xsd:documentation>Return Version</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>

		<!-- Validating Schema Version -->
		<xsd:attribute name="validatingSchemaVersion" type="StringType" use="optional">
			<xsd:annotation>
				<xsd:documentation>Validating Schema Version</xsd:documentation>
			</xsd:annotation>
		</xsd:attribute>

	</xsd:complexType>
	
	<!-- Status Type-->
	<xsd:simpleType name="StatusType">
		<xsd:restriction base="StringType">
			<xsd:enumeration value="A">
				<xsd:annotation>
					<xsd:documentation>Accepted</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
			<xsd:enumeration value="R">
				<xsd:annotation>
					<xsd:documentation>Rejected</xsd:documentation>
				</xsd:annotation>
			</xsd:enumeration>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Payment Indicator Type -->
	<xsd:simpleType name="PaymentIndicatorType">
		<xsd:restriction base="StringType">
			<xsd:enumeration value="Payment Request Received"/>
		</xsd:restriction>
	</xsd:simpleType>
	
	<!-- Errors -->
	<xsd:element name="Errors">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="Error" maxOccurs="unbounded">
					<xsd:complexType>
						<xsd:sequence>
							<xsd:element name="XPath" type="StringType" minOccurs="0">
								<xsd:annotation>
									<xsd:documentation>The XPath expression indicating the full path from the root to the error element or attribute</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<xsd:element name="ErrorCategory" type="StringType"/>
							<xsd:element name="ErrorMessage" type="StringType"/>
							<xsd:element name="RuleNumber" type="StringType"/>
							<xsd:element name="Severity" type="StringType"/>
							<xsd:element name="DataValue" type="StringType" minOccurs="0"/>
						</xsd:sequence>
						<xsd:attribute name="errorId" use="required">
							<xsd:simpleType>
								<xsd:restriction base="IntegerPosType">
									<xsd:totalDigits value="6"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:attribute>
					</xsd:complexType>
				</xsd:element>
			</xsd:sequence>
			<xsd:attribute name="errorCount" type="IntegerNNType" use="required"/>
		</xsd:complexType>
	</xsd:element>
</xsd:schema>
