schema/2005v4.0/CorporateIncomeTax/Common/IRS8861/IRS8861.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - IRS Form 8861</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>October 19, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =================================================================== -->
	<!-- =======================  IRS Form 8861 ============================ -->
	<!-- =================================================================== -->

	<xsd:element name="IRS8861">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8861</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8861Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8861">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>				
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8861Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 8861</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

		<!-- ========= Part I: Current Year Credit ========= -->

		<!-- Qualified First-Year Wages -->
		<xsd:element name="QualifiedFirstYearWages" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Qualified first-year wages paid or incurred during the tax year</Description>
					<LineNumber>Part I Line 1a</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Total Qualified First-Year Wages -->
		<xsd:element name="TotalQualifiedFirstYearWages" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Total qualified first-year wages (35% of qualified first-year wages) paid or incurred during tax year</Description>
					<LineNumber>Part I Line 1a</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Qualified Second-Year Wages -->
		<xsd:element name="QualifiedSecondYearWages" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Qualified second-year wages paid or incurred during the tax year</Description>
					<LineNumber>Part I Line 1b</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Total Qualified Second-Year Wages -->
		<xsd:element name="TotalQualifiedSecondYearWages" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Total qualified second-year (50% of qualified second year) wages paid or incurred during tax year</Description>
					<LineNumber>Part I Line 1b</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Add lines 1a and 1b -->
		<xsd:element name="TotalQualified1stAnd2ndYrWages" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Add lines 1a and 1b</Description>
						<LineNumber>Part I Line 2</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
			<xsd:complexType>
				<xsd:simpleContent>
					<xsd:extension base="USAmountType">
						<xsd:attribute name="referenceDocumentId" type="IdListType"/>
						<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ControlledGroupMemberStatement CapitalizedSalariesAndWagesStatement" />
					</xsd:extension>
				</xsd:simpleContent>
			</xsd:complexType>
		</xsd:element>

		<!-- Welfare-To-Work Credit(s) -->
		<xsd:element name="WelfareToWorkCredits" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Welfare-to-work credit(s) from pass-through entities</Description>
					<LineNumber>Part I Line 3</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Current Year Credit -->
		<xsd:element name="CurrentYearCredit" type="USAmountNNType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Current year credit.  Add lines 2 and 3</Description>
					<LineNumber>Part I Line 4</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- ========= Part II: Allowable Credit ========= -->

		<!-- Regular Tax Before Credits -->
		<xsd:element name="RegularTaxBeforeCredits" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Regular tax before credits</Description>
					<LineNumber>Part II Line 5</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Alternative Minimum Tax -->
		<xsd:element name="AlternativeMinimumTax" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Alternative minimum tax</Description>
					<LineNumber>Part II Line 6</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Regular Tax Plus Alternative Minimum Tax -->
		<xsd:element name="RegularTaxPlusAltMinimumTax" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Add lines 5 and 6- Regular tax plus Alternative Minimum tax</Description>
					<LineNumber>Part II Line 7</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Foreign Tax Credit -->
		<xsd:element name="ForeignTaxCredit" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Foreign Tax Credit</Description>
					<LineNumber>Part II Line 8a</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Possessions Tax Credit -->
		<xsd:element name="PossessionsTaxCredit" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Possessions tax credit</Description>
					<LineNumber>Part II Line 8c</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Credit for Fuel from a Nonconventional Source -->
		<xsd:element name="CreditForFuelFromNnconvSource" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Credit for fuel from a nonconventional source</Description>
					<LineNumber>Part II line 8d</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Other Specified Credits -->
			<xsd:element name="OtherSpecifiedCredits" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Other specified credits</Description>
					<LineNumber>Part II line 8e</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Total Credits -->
		<xsd:element name="TotalCredits" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Add lines 8a through 8e</Description>
					<LineNumber>Part II line 8f</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Net Income Tax -->
		<xsd:element name="NetIncomeTax" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Net income tax</Description>
					<LineNumber>Part II line 9</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- Net Regular Tax -->
		<xsd:element name="NetRegularTax" type="USAmountNNType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Net regular tax</Description>
					<LineNumber>Part II line 10</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>

		<!-- 25%, If Any, of Line 10 Over $25,000 -->
		<xsd:element name="TwentyFivePercentOfExcess" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>25%, if any, of line 10 over $25,000.</Description>
					<LineNumber>Part II line 11</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
		<!-- Tentative Minimum Tax -->
		<xsd:element name="TentativeMinimumTax" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Tentative minimum tax</Description>
					<LineNumber>Part II line 12</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
		
		<!-- The Greater of Line 11 or 12 -->
		<xsd:element name="GreaterOfTentMinTaxOrExcess" type="USAmountType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>The greater of line 11 or 12</Description>
					<LineNumber>Part II line 13</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
			
		<!-- Subtract Line 13 from Line 9. If Zero or Less, Enter -0- -->
		<xsd:element name="SubtractGreaterFromNetIncTax" type="USAmountNNType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Subtract line 13 from line 9. If zero or less, enter -0-</Description>
					<LineNumber>Part II line 14</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>
			
		<!-- Credit Allowed for the Current Year -->
		<xsd:element name="CreditAllowedForCY" type="USAmountNNType" minOccurs="0">
			<xsd:annotation>
				<xsd:documentation>
					<Description>Credit allowed for the current year.  Enter the smaller of line 4 or line 14 here</Description>
					<LineNumber>Part II line 15</LineNumber>
				</xsd:documentation>
			</xsd:annotation>
		</xsd:element>						

	</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
