schema/2006v3.3/TEGE/TEGE990PF/IRS990PF/TaxUnderSection511Statement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Tax Under Section 511 Statement</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 17, 2007</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
		
	<!-- ============================================================== -->
	<!-- ============== Tax Under Section 511 Statement =============== -->
	<!-- ============================================================== -->
	
	<xsd:element name="TaxUnderSection511Statement">
		<xsd:annotation>
			<xsd:documentation>Tax Under Section 511 Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="TaxUnderSection511StatementType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="TaxUnderSection511Statement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="TaxUnderSection511StatementType">
		<xsd:annotation>
			<xsd:documentation>Content model for Tax Under Section 511 Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
		
			<xsd:element name="Statement" type="ExplanationType" minOccurs="0" />
			
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
