schema/2013v2.0/CorporateIncomeTax/Common/IRS8886/ContinuationOfForm8886ExpectedTaxBenefitsExplanation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Continuation Of Form 8886 Expected Tax Benefits Explanation</Description>

			<TaxYear>2013</TaxYear>

			<MaturityLevel>Draft Release</MaturityLevel>

			<ReleaseDate>September 16, 2013</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>



	<!-- ===================================================================== -->

	<!-- ==== Continuation Of Form 8886 Expected Tax Benefits Explanation ==== -->

	<!-- ===================================================================== -->



	<xsd:element name="ContF8886ExpctTaxBnftExpln">

		<xsd:annotation>

			<xsd:documentation>Continuation of Form 8886 expected tax benefits explanation</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="ContF8886ExpctTaxBnftExplnType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="ContinuationOfForm8886ExpectedTaxBenefitsExplanation">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<xsd:complexType name="ContF8886ExpctTaxBnftExplnType">

		<xsd:annotation>

			<xsd:documentation>Content model for continuation of Form 8886 expected tax benefits explanation</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>

			<xsd:element name="ContF8886ExpctTaxBenefitExpln" type="ContF8886ExpctTaxBenefitExplnType" minOccurs="0" maxOccurs="unbounded"/>

		</xsd:sequence>

	</xsd:complexType>



	<xsd:complexType name="ContF8886ExpctTaxBenefitExplnType">

		<xsd:annotation>

			<xsd:documentation>Content model for continuation of Form 8886 expected tax benefits explanation</xsd:documentation>

		</xsd:annotation>



		<xsd:sequence>



			<!-- Name -->

			<xsd:element name="BusinessName" type="BusinessNameType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Name</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



			<!-- Identification Number -->

			<xsd:element name="EIN" type="EINType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Identification number</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



			<!-- Expected Tax Benefits Explanation -->

			<xsd:element name="ExpectedTaxBenefitsExplnTxt" type="MediumExplanationType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Expected taxbenefits explanation</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
