schema/2005v4.1/CorporateIncomeTax/Common/IRS5884/IRS5884.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - IRS Form 5884</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 15, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- ====================== IRS Form 5884 ============================ -->
	<!-- =============================================================== -->

	<xsd:element name="IRS5884">
		<xsd:annotation>
			<xsd:documentation>IRS Form 5884</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS5884Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS5884">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS5884Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 5884</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Part I: Current Year Credit -->

			<!-- Wages Paid to Workers that Worked Between 120 and 399 Hours -->
			<xsd:element name="WagesBetween120And399Hours" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Wages Paid to Workers that Worked Between 120 and 399 Hours</Description>
						<LineNumber>1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Wages Paid to Workers that Worked Between 120 and 399 Hours -->
			<xsd:element name="TotalWagesBetween120And399Hrs" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Wages Paid to Workers that Worked Between 120 and 399 Hours</Description>
						<LineNumber>1a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Wages Paid to Workers that Worked 400 Hours or More -->
			<xsd:element name="WagesFor400HoursOrMore" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Wages Paid to Workers that Worked 400 Hours or More</Description>
						<LineNumber>1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit for Wages Paid to Workers that Worked 400 Hours or More -->
			<xsd:element name="CreditForWagesOf400OrMoreHours" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit for Wages Paid to Workers that Worked 400 Hours or More</Description>
						<LineNumber>1b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Wages -->
			<xsd:element name="TotalWages" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total wages</Description>
						<LineNumber>2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="USAmountType">
							<xsd:attribute name="referenceDocumentId" type="IdListType" />
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ControlledGroupMemberStatement DeductionDifferentiationStmt" />
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!-- Work Opportunity Credits from Pass Through Entities -->
			<xsd:element name="PassThruWorkOpportunityCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Work Opportunity Credits from Pass Through Entities</Description>
						<LineNumber>3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current Year Work Opportunity Credit -->
			<xsd:element name="CYWorkOpportunityCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current Year Work Opportunity Credit</Description>
						<LineNumber>4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II: Tax Liability Limit -->

			<!-- Regular Tax Before Credit -->
			<xsd:element name="RegularTaxBeforeCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Regular Tax Before Credit</Description>
						<LineNumber>5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternative Minimum Tax -->
			<xsd:element name="AlternativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative Minimum Tax</Description>
						<LineNumber>6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Regular Tax Plus Alternative Minimum Tax -->
			<xsd:element name="RegularTaxPlusAltMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Regular Tax Plus Alternative Minimum Tax</Description>
						<LineNumber>7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Credit -->
			<xsd:element name="ForeignTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign Tax Credit</Description>
						<LineNumber>8a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Possessions Tax Credit (Form 5735) -->
			<xsd:element name="PossessionsTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Possessions Tax Credit (Form 5735)</Description>
						<LineNumber>8c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit for Fuel from a Nonconventional Source -->
			<xsd:element name="NonconventionalFuelSourceCr" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit for Fuel from a Nonconventional Source</Description>
						<LineNumber>8d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Specified Credits -->
			<xsd:element name="OtherSpecifiedCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other specified credits</Description>
						<LineNumber>8e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 8a through 8l -->
			<xsd:element name="TotalTaxCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add Lines 8a through 8e</Description>
						<LineNumber>8f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Income Tax -->
			<xsd:element name="NetIncomeTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Income Tax</Description>
						<LineNumber>9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Net Regular Tax -->
			<xsd:element name="NetRegularTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net Regular Tax</Description>
						<LineNumber>10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- 25% of Line 11 Over $25,000 -->
			<xsd:element name="ExcessNetRegularTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>25% of line 15 over $25,000</Description>
						<LineNumber>11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Tentative Minimum Tax -->
			<xsd:element name="TentativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative Minimum Tax</Description>
						<LineNumber>12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- The Greater of Line 10 and 12 -->
			<xsd:element name="GreaterOfTentMinOrAdjNetRegTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>The Greater of Line 11 and 12</Description>
						<LineNumber>13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 13 from Line 9. If Zero or Less, Enter -0- -->
			<xsd:element name="AdjustedNetIncomeTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract Line 13 from Line 9. If Zero or Less, Enter -0-</Description>
						<LineNumber>14</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Work Opportunity Credit Allowed for the Current Year -->
			<xsd:element name="CYWorkOpportunityCreditAllowed" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Work Opportunity Credit Allowed for the Current Year</Description>
						<LineNumber>15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
