schema/2015v2.1/CorporateIncomeTax/Common/IRS6252/ExplanationOfDisposNotToAvoidTaxStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Explanation of Disposition Not to Avoid Tax Statement</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>October 29, 2015</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>





	<!-- ============================================================= -->

	<!-- === Explanation of Disposition Not to Avoid Tax Statement === -->

	<!-- ============================================================= -->



	<xsd:element name="ExplnDisposNotToAvoidTaxStmt">

		<xsd:annotation>

			<xsd:documentation>Explanation of disposition not to avoid tax statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="ExplnDisposNotAvoidTaxStmtType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="ExplanationOfDisposNotToAvoidTaxStatement">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<xsd:complexType name="ExplnDisposNotAvoidTaxStmtType">

		<xsd:annotation>

			<xsd:documentation>Content model for explanation of disposition not to avoid tax statement</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>

			<xsd:element name="ShortExplanationTxt" type="ShortExplanationType" minOccurs="0"/>

		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
