schema/2005v4.1/CorporateIncomeTax/Common/IRS8882/CreditFromPassThroughEntitiesStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Credit From Pass-Through Entities Statement</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 15, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ==================================================================================== -->
	<!-- ==================== Credit From Pass-Through Entities Statement =================== -->
	<!-- ==================================================================================== -->

	<xsd:element name="CreditFromPassThruEntitiesStmt">
		<xsd:annotation>
			<xsd:documentation>Credit From Pass-Through Entities Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CreditFromPassThruEntitiesStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="CreditFromPassThroughEntitiesStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="CreditFromPassThruEntitiesStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Credit From Pass-Through Entities Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="CreditFromPassThroughEntity" type="CreditFromPassThroughEntityType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ============ Type for Repeating Group of CreditFromPassThroughEntityType ==============-->

	<xsd:complexType name="CreditFromPassThroughEntityType">
		<xsd:annotation>
			<xsd:documentation>Content model for Credit From Pass-Through Entity</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>	

			<!-- EIN -->
			<xsd:element name="EIN" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EIN</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit Amount -->
			<xsd:element name="CreditAmount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
