schema/2005v3.1/CorporateIncomeTax/Common/IRS8874/PassThroughEntitiesCreditStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Pass-Through Entities Credit Statement</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 19, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ==================================================================================== -->
	<!-- ====================  Pass-Through Entities Credit Statement =================== -->
	<!-- ==================================================================================== -->

	<xsd:element name="PassThruEntitiesCreditStmt">
		<xsd:annotation>
			<xsd:documentation>Pass-Through Entities Credit Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="PassThruEntitiesCreditStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="PassThroughEntitiesCreditStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="PassThruEntitiesCreditStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Pass-Through Entities Credit Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="PassThroughEntitiesCredit" type="PassThroughEntitiesCreditType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<!-- ============ Type for Repeating Group of PassThroughEntitiesCreditType ==============-->

	<xsd:complexType name="PassThroughEntitiesCreditType">
		<xsd:annotation>
			<xsd:documentation>Content model for Pass-Through Entities Credit Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>	
			
			<!-- EIN -->
			<xsd:element name="EIN" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>EIN</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit Amount -->
			<xsd:element name="CreditAmount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
