schema/2010v3.6/TEGE/Common/IRS990ScheduleH/IRS990ScheduleH.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - IRS Form 990 Schedule H</Description>
			<TaxYear>2010</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>September 13, 2011</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ====================================================================== -->
	<!-- ==================  IRS Form 990 Schedule H ================ -->
	<!-- ====================================================================== -->
	
	<xsd:element name="IRS990ScheduleH">
		<xsd:annotation>
			<xsd:documentation>IRS Form 990 Schedule H</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS990ScheduleHType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS990ScheduleH">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<!-- Schedule H (Form 990) Hospitals -->

	<xsd:complexType name="IRS990ScheduleHType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 990 Schedule H</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Part I - Community Benefit Report -->		
			<!-- Charity Care Policy? -->
			<xsd:element name="CharityCarePolicy" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Charity care policy?</Description>
						<LineNumber>Part I Line 1a</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Written Policy? -->
			<xsd:element name="WrittenPolicy" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Written policy?</Description>
						<LineNumber>Part I Line 1b</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Policy Choice -->
			<xsd:choice minOccurs ="0">

				<!-- Policy Applied to All Hospitals -->
				<xsd:element name="PolicyAppliedToAllHospitals" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Policy applied to all hospitals</Description>
							<LineNumber>Part I Line 2</LineNumber> 
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Policy Applied to Most Hospitals -->
				<xsd:element name="PolicyAppliedToMostHospitals" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Policy applied to most hospitals</Description>
							<LineNumber>Part I Line 2</LineNumber> 
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Policy Tailored to Individual Hospitals -->
				<xsd:element name="PolicyTailoredToIndHospitals" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Policy tailored to individual hospitals</Description>
							<LineNumber>Part I Line 2</LineNumber> 
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- FPG Reference Free Care? -->
			<xsd:element name="FPGReferenceFreeCare" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>FPG reference free care?</Description>
						<LineNumber>Part I Line 3a</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- FPG Reference Free Care Percentage Choice -->
			<xsd:choice minOccurs="0">
				<!-- 100% -->
				<xsd:element name="Pcent100" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>100%</Description>
							<LineNumber>Part I Line 3a</LineNumber> 
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- 150% -->
				<xsd:element name="Pcent150" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>150%</Description>
							<LineNumber>Part I Line 3a</LineNumber> 
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- 200% -->
				<xsd:element name="Pcent200" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>200%</Description>
							<LineNumber>Part I Line 3a</LineNumber> 
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Other Percentage -->
				<xsd:element name="OtherPercentage">
					<xsd:complexType>
						<xsd:sequence>
							<!-- Other -->
							<xsd:element name="Other" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Other</Description>
										<LineNumber>Part I Line 3a</LineNumber> 
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							<!-- FPG Free Other Percentage -->
							<xsd:element name="FreeOtherPercentage" type="LargeRatioType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Free other percentage</Description>
										<LineNumber>Part I Line 3a</LineNumber> 
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>

			</xsd:choice>

			<!-- FPG Reference Discounted Care -->
			<xsd:element name="FPGReferenceDiscountedCare" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>FPG reference discounted care</Description>
						<LineNumber>Part I Line 3b</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- FPG Reference Discounted Care Percentage Choice -->
			<xsd:choice minOccurs="0">

				<!-- 200% -->
				<xsd:element name="Pcent200D" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>200%</Description>
							<LineNumber>Part I Line 3b</LineNumber> 
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- 250% -->
				<xsd:element name="Pcent250" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>250%</Description>
							<LineNumber>Part I Line 3b</LineNumber> 
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- 300% -->
				<xsd:element name="Pcent300" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>300%</Description>
							<LineNumber>Part I Line 3b</LineNumber> 
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- 350% -->
				<xsd:element name="Pcent350" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>350%</Description>
							<LineNumber>Part I Line 3b</LineNumber> 
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- 400% -->
				<xsd:element name="Pcent400" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>400%</Description>
							<LineNumber>Part I Line 3b</LineNumber> 
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Other Percentage -->
				<xsd:element name="DiscountedOther">
					<xsd:complexType>
						<xsd:sequence>
						<!-- Other -->
						<xsd:element name="Other" type="CheckboxType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other</Description>
									<LineNumber>Part I Line 3b</LineNumber> 
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						<!-- Discounted Other Percentage -->
						<xsd:element name="DiscountedOtherPercentage" type="LargeRatioType">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Discounted other percentage</Description>
									<LineNumber>Part I Line 3b</LineNumber> 
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>
						</xsd:sequence>
					</xsd:complexType>
				</xsd:element>
			
			</xsd:choice>

			<!-- Free or Discounted Care to Medically Indigent? -->
			<xsd:element name="FreeDiscCareMedicallyIndigent" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Free or discounted care to medically indigent?</Description>
						<LineNumber>Part I Line 4</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amounts Budgeted For Charity Care? -->
			<xsd:element name="AmountsBudgetedForCharityCare" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amounts budgeted for charity care?</Description>
						<LineNumber>Part I Line 5a</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Expenses Exceeded Budget? -->
			<xsd:element name="ExpensesExceededBudget" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Expenses exceeded budget?</Description>
						<LineNumber>Part I Line 5b</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Unable to Provide Care? -->
			<xsd:element name="UnableToProvideCare" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unable to provide care?</Description>
						<LineNumber>Part I Line 5c</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Annual Community Benefit Report? -->
			<xsd:element name="AnnualCommunityBenefitReport" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Annual community benefit report?</Description>
						<LineNumber>Part I Line 6a</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Report Publically Available? -->
			<xsd:element name="ReportPublicallyAvailable" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Report publically available?</Description>
						<LineNumber>Part I Line 6b</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Charity Care at Cost -->
			<xsd:element name="CharityCareAtCost" type="Form990SchHPartIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Charity care at cost</Description>
						<LineNumber>Part I Line 7a</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Unreimbursed Medicaid -->
			<xsd:element name="UnreimbursedMedicaid" type="Form990SchHPartIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unreimbursed Medicaid</Description>
						<LineNumber>Part I Line 7b</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Unreimbursed Costs -->
			<xsd:element name="UnreimbursedCosts" type="Form990SchHPartIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Unreimbursed costs</Description>
						<LineNumber>Part I Line 7c</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Charity Care -->
			<xsd:element name="TotalCharityCare" type="Form990SchHPartIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total charity care</Description>
						<LineNumber>Part I Line 7d</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Community Health Services -->
			<xsd:element name="CommunityHealthServices" type="Form990SchHPartIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Community health services</Description>
						<LineNumber>Part I Line 7e</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Health Professions Education -->
			<xsd:element name="HealthProfessionsEducation" type="Form990SchHPartIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Health professions education</Description>
						<LineNumber>Part I Line 7f</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subsidized Health Services -->
			<xsd:element name="SubsidizedHealthServices" type="Form990SchHPartIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subsidized health services</Description>
						<LineNumber>Part I Line 7g</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Research -->
			<xsd:element name="Research" type="Form990SchHPartIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Research</Description>
						<LineNumber>Part I Line 7h</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Cash and In-Kind Contributions -->
			<xsd:element name="CashAndInKindContributions" type="Form990SchHPartIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cash and in-kind contributions</Description>
						<LineNumber>Part I Line 7i</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Other Benefits -->
			<xsd:element name="TotalOtherBenefits" type="Form990SchHPartIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Other Benefits</Description>
						<LineNumber>Part I Line 7j</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Community Benefits -->
			<xsd:element name="TotalCommunityBenefits" type="Form990SchHPartIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total community benefits</Description>
						<LineNumber>Part I Line 7k</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part II -->					
			<!-- Physical Improvements and Housing -->
			<xsd:element name="PhysicalImprovementsAndHousing" type="Form990SchHPartIIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Physical improvements and housing</Description>
						<LineNumber>Part II Line 1</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Economic Development -->
			<xsd:element name="EconomicDevelopment" type="Form990SchHPartIIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Economic development</Description>
						<LineNumber>Part II Line 2</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Community Support -->
			<xsd:element name="CommunitySupport" type="Form990SchHPartIIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Community support</Description>
						<LineNumber>Part II Line 3</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Environmental Improvements -->
			<xsd:element name="EnvironmentalImprovements" type="Form990SchHPartIIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Environmental improvements</Description>
						<LineNumber>Part II Line 4</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Leadership Development -->
			<xsd:element name="LeadershipDevelopment" type="Form990SchHPartIIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Leadership development</Description>
						<LineNumber>Part II Line 5</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Coalition Building -->
			<xsd:element name="CoalitionBuilding" type="Form990SchHPartIIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Coalition building</Description>
						<LineNumber>Part II Line 6</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Health Improvement Advocacy -->
			<xsd:element name="HealthImprovementAdvocacy" type="Form990SchHPartIIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Health improvement advocacy</Description>
						<LineNumber>Part II Line 7</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Workforce Development -->
			<xsd:element name="WorkforceDevelopment" type="Form990SchHPartIIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Workforce development</Description>
						<LineNumber>Part II Line 8</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other -->
			<xsd:element name="Other" type="Form990SchHPartIIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other</Description>
						<LineNumber>Part II Line 9</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total -->
			<xsd:element name="Total" type="Form990SchHPartIIGroup1Type" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total</Description>
						<LineNumber>Part II Line 10</LineNumber> 
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part III - Bad Debt, Medicare, and Collection Practices -->	
			<!-- Bad Debt Expense Reported? -->
			<xsd:element name="BadDebtExpenseReported" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Bad debt expense reported?</Description>
						<LineNumber>Part III Section A Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Bad Debt Expense Amount -->
			<xsd:element name="BadDebtExpenseAmount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Bad debt expense amount</Description>
						<LineNumber>Part III Section A Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Attributable To -->
			<xsd:element name="AmountAttributableTo" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount attributable to</Description>
						<LineNumber>Part III Section A Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount Reimbursed by Medicare -->
			<xsd:element name="AmountReimbursedByMedicare" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount reimbursed by Medicare</Description>
						<LineNumber>Part III Section B Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Cost of Care Reimbursed by Medicare -->
			<xsd:element name="CostOfCareReimbursedByMedicare" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Cost of care reimbursed by Medicare</Description>
						<LineNumber>Part III Section B Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Line 5 Less Line 6 -->
			<xsd:element name="MedicareSurplusOrShortfall" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Line 5 less line 6</Description>
						<LineNumber>Part III Section B Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Checkbox Choice -->
			<xsd:element name="CostingMethodologyUsed" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Checkbox choice</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<xsd:choice minOccurs="0">

							<!-- Cost Accounting System -->
							<xsd:element name="CostAccountingSystem" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Cost accounting system</Description>
										<LineNumber>Part III Section B Line 8</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Cost to Charge Ratio -->
							<xsd:element name="CostToChargeRatio" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Cost to charge ratio</Description>
										<LineNumber>Part III Section B Line 8</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<!-- Other -->
							<xsd:element name="Other" type="CheckboxType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Other</Description>
										<LineNumber>Part III Section B Line 8</LineNumber>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

						</xsd:choice>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Written Debt Collection Policy? -->
			<xsd:element name="WrittenDebtCollectionPolicy" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Written debt collection policy?</Description>
						<LineNumber>Part III Section C Line 9a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Provision For Charity Care? -->
			<xsd:element name="ProvisionForCharityCare" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Provision for charity care?</Description>
						<LineNumber>Part III Section C Line 9b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Part IV - Management Companies and Joint Ventures -->					
			<!-- Repeating Group -->
			<xsd:element name="Form990ScheduleHPartIV" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Part IV repeating group</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>
						<!-- Name of Entity -->
						<xsd:element name="NameOfEntity" type="BusinessNameType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Name of entity</Description>
									<LineNumber>Part IV Column (a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Description of Entity's Primary Activity -->
						<xsd:element name="DescriptionEntPrimaryActivity" type="LineExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Description of entity's primary activity</Description>
									<LineNumber>Part IV Column (b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Organization's Profit % or Ownership % -->
						<xsd:element name="OrganizationProfitOrOwnership" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Organization's profit % or ownership %</Description>
									<LineNumber>Part IV Column (c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Officers, Etc. Profit % or Ownership % -->
						<xsd:element name="OfficersEtcProfitOrOwnership" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Officers, etc. profit % or ownership %</Description>
									<LineNumber>Part IV Column (d)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Physican's Profit % or Ownership % -->
						<xsd:element name="PhysicansProfitOrOwnership" type="RatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Physican's profit % or ownership %</Description>
									<LineNumber>Part IV Column (e)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Part V Section A - Facility Information -->

			<!-- Hospital Facility Number -->
			<xsd:element name="NumberOfHospitalFacilities" type="Count2Type">
				<xsd:annotation>
					<xsd:documentation>
						<Description>How many hospital facilities did the organization operate during the tax year?</Description>
						<LineNumber>Part V Section A</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			
			<!-- Repeating Group -->
			<xsd:element name="Form990ScheduleHPartVSectionA" minOccurs="1" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Part V Section A repeating group</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>

						<!-- Hospital Facility Number -->
						<xsd:element name="FacilityNumber" type="Count2Type">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Hospital facility number</Description>
									<LineNumber>Part V Section A</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Name -->
						<xsd:element name="Name" type="BusinessNameType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Name, business</Description>
									<LineNumber>Part V Section A</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Address -->
						<xsd:element name="Address" type="USAddressType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Address - US</Description>
									<LineNumber>Part V Section A</LineNumber>									
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Licensed Hospital -->
						<xsd:element name="LicensedHospital" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Licensed hospital</Description>
									<LineNumber>Part V Section A</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- General Medical and Surgical -->
						<xsd:element name="GeneralMedicalAndSurgical" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>General medical and surgical</Description>
									<LineNumber>Part V Section A</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Children's Hospital -->
						<xsd:element name="ChildrensHospital" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Children's hospital</Description>
									<LineNumber>Part V Section A</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Teaching Hospital -->
						<xsd:element name="TeachingHospital" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Teaching hospital</Description>
									<LineNumber>Part V Section A</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Critical Access Hospital -->
						<xsd:element name="CriticalAccessHospital" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Critical Access hospital</Description>
									<LineNumber>Part V Section A</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Research Facility -->
						<xsd:element name="ResearchFacility" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Research facility</Description>
									<LineNumber>Part V Section A</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Er - 24 Hours -->
						<xsd:element name="Er24Hours" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>ER - 24 hours</Description>
									<LineNumber>Part V Section A</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Er - Other -->
						<xsd:element name="ErOther" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>ER - other</Description>
									<LineNumber>Part V Section A</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other -->
						<xsd:element name="Other" type="LineExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other</Description>
									<LineNumber>Part V Section A</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Part V Section B - Facility Information -->
			<!-- Repeating Group -->
			<xsd:element name="Form990ScheduleHPartVSectionB" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Part V Section B repeating group</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>

						<!-- Name of Hospital Facility -->
						<xsd:element name="HospitalFacilityName" type="BusinessNameType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Name of hospital facility</Description>
									<LineNumber>Part V Section B</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Line Number of Hospital Facility -->
						<xsd:element name="HospitalFacilityNumber" type="Count2Type" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Line number of hospital facility</Description>
									<LineNumber>Part V Section B</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Conduct Community Needs Health Assessments? -->
						<xsd:element name="CHNAConducted" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Conduct community needs health assessments?</Description>
									<LineNumber>Part V Section B Line 1</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Definition of Community Served -->
						<xsd:element name="CommunityDefinition" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Definition of community served</Description>
									<LineNumber>Part V Section B Line 1a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Demographics of Community -->
						<xsd:element name="CommunityDemographics" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Demographics of community</Description>
									<LineNumber>Part V Section B Line 1b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Existing Health Care Facilities and Resources -->
						<xsd:element name="ExistingResources" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Existing health care facilities and resources</Description>
									<LineNumber>Part V Section B Line 1c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- How Data Obtained -->
						<xsd:element name="HowDataObtained" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>How data obtained</Description>
									<LineNumber>Part V Section B Line 1d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Health Needs of Community -->
						<xsd:element name="CommunityHealthNeeds" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Health needs of community</Description>
									<LineNumber>Part V Section B Line 1e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other Health Issues -->
						<xsd:element name="OtherHealthIssues" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other health issues</Description>
									<LineNumber>Part V Section B Line 1f</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Identifying Process -->
						<xsd:element name="IdentifyingProcess" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Identifying process</Description>
									<LineNumber>Part V Section B Line 1g</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Consulting Process -->
						<xsd:element name="ConsultingProcess" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Consulting process</Description>
									<LineNumber>Part V Section B Line 1h</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Information Gaps -->
						<xsd:element name="InformationGaps" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Information gaps</Description>
									<LineNumber>Part V Section B Line 1i</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- CHNA Describes Other -->
						<xsd:element name="Other" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>CHNA describes other</Description>
									<LineNumber>Part V Section B Line 1j</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Year Last Conducted CHNA -->
						<xsd:element name="NeedsAssessmentConducted" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Year last conducted CHNA</Description>
									<LineNumber>Part V Section B Line 2</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="IntegerNNType">
									<xsd:pattern value="[0-9]{2}"/>
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Take Community Input Into Account -->
						<xsd:element name="TakeIntoAccount" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Take community input into account</Description>
									<LineNumber>Part V Section B Line 3</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other Hospital Facilities? -->
						<xsd:element name="OtherFacilities" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other hospital facilities?</Description>
									<LineNumber>Part V Section B Line 4</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- CHNA Widely Available to Public? -->
						<xsd:element name="CHNAWidelyAvailable" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>CHNA widely available to public?</Description>
									<LineNumber>Part V Section B Line 5</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Available On Own Website -->
						<xsd:element name="OwnWebsite" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Available on own website</Description>
									<LineNumber>Part V Section B Line 5a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Needs Assessment Available Upon Request -->
						<xsd:element name="OnRequest" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Needs assessment available upon request</Description>
									<LineNumber>Part V Section B Line 5b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Available Other Method -->
						<xsd:element name="OtherMethod" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Available other method</Description>
									<LineNumber>Part V Section B Line 5c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adoption of Implementation Strategy -->
						<xsd:element name="AdoptImplementStrategy" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Adoption of implementation strategy</Description>
									<LineNumber>Part V Section B Line 6a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Execution of Implementation Strategy -->
						<xsd:element name="ExecuteImplementStrategy" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Execution of implementation strategy</Description>
									<LineNumber>Part V Section B Line 6b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Development of Community Benefit Plan -->
						<xsd:element name="DevelopCommunityPlan" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Development of community benefit plan</Description>
									<LineNumber>Part V Section B Line 6c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Participation in Community- Wide Benefit Plan -->
						<xsd:element name="ParticipateCommunityPlan" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Participation in community-wide benefit plan</Description>
									<LineNumber>Part V Section B Line 6d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Inclusion in Operational Plans -->
						<xsd:element name="IncludeOperationalPlans" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Inclusion in operational plans</Description>
									<LineNumber>Part V Section B Line 6e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Operational of Budget -->
						<xsd:element name="AdoptBudget" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Operational of budget</Description>
									<LineNumber>Part V Section B Line 6f</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Prioritization of Health Needs  -->
						<xsd:element name="PrioritizeHealthNeeds" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Prioritization of health needs </Description>
									<LineNumber>Part V Section B Line 6g</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Prioritization of Health Services -->
						<xsd:element name="PrioritizeServices" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Prioritization of health services</Description>
									<LineNumber>Part V Section B Line 6h</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other Needs Addressed -->
						<xsd:element name="OtherNeedsAddressed" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other needs addressed</Description>
									<LineNumber>Part V Section B Line 6i</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- All Needs Addressed? -->
						<xsd:element name="AllNeedsAddressed" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>All needs addressed?</Description>
									<LineNumber>Part V Section B Line 7</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Policy Explains Eligibility Criteria For Financial Assistance? -->
						<xsd:element name="EligibilityCriteriaExplained" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Policy explains eligibility criteria for financial assistance?</Description>
									<LineNumber>Part V Section B Line 8</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Policy Uses FPG Determine Free Care? -->
						<xsd:element name="UsesFPGFree" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Policy uses FPG determine free care?</Description>
									<LineNumber>Part V Section B Line 9</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of FPG Used to Determine Free Care -->
						<xsd:element name="FPGFreePercent" type="LargeRatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of FPG used to determine free care</Description>
									<LineNumber>Part V Section B Line 9</LineNumber> 
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Policy Uses FPG Determine Discounted Care? -->
						<xsd:element name="UsesFPGDiscounted" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Policy uses FPG determine discounted care?</Description>
									<LineNumber>Part V Section B Line 10</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Percentage of FPG Used to Determine Discount Care -->
						<xsd:element name="FPGDiscountPercent" type="LargeRatioType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Percentage of FPG used to determine discount care</Description>
									<LineNumber>Part V Section B Line 10</LineNumber> 
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Policy Explains Basis For Calculating Amounts? -->
						<xsd:element name="ExplainsBasis" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Policy explains basis for calculating amounts?</Description>
									<LineNumber>Part V Section B Line 11</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Income Level Basis -->
						<xsd:element name="IncomeLevel" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Income level basis</Description>
									<LineNumber>Part V Section B Line 11a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Asset Level Basis -->
						<xsd:element name="AssetLevel" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Asset level basis</Description>
									<LineNumber>Part V Section B Line 11b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Medical Indigency Basis -->
						<xsd:element name="MedicalIndigency" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Medical indigency basis</Description>
									<LineNumber>Part V Section B Line 11c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Insurance Status Basis -->
						<xsd:element name="InsuranceStatus" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Insurance status basis</Description>
									<LineNumber>Part V Section B Line 11d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Uninsured Discount Basis -->
						<xsd:element name="UninsuredDiscount" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Uninsured discount basis</Description>
									<LineNumber>Part V Section B Line 11e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Medicaid/Medicare Basis -->
						<xsd:element name="MedicaidMedicare" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Medicaid/Medicare basis</Description>
									<LineNumber>Part V Section B Line 11f</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- State Regulation Basis -->
						<xsd:element name="StateRegulation" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>State regulation basis</Description>
									<LineNumber>Part V Section B Line 11g</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other Basis -->
						<xsd:element name="OtherFactors" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other basis</Description>
									<LineNumber>Part V Section B Line 11h</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Policy Explains Method For Applying For Assistance? -->
						<xsd:element name="ExplainsApplicationMethod" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Policy explains method for applying for assistance?</Description>
									<LineNumber>Part V Section B Line 12</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Policy Includes Publicity Measures? -->
						<xsd:element name="IncludesPublicityMeasures" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Policy includes publicity measures?</Description>
									<LineNumber>Part V Section B Line 13</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Posted On Own Website -->
						<xsd:element name="PostedOnWebsite" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Posted on own website</Description>
									<LineNumber>Part V Section B Line 13a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Attached to Invoices -->
						<xsd:element name="AttachedToInvoices" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Attached to invoices</Description>
									<LineNumber>Part V Section B Line 13b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Posted in Emergency Room or Waiting Room -->
						<xsd:element name="PostedInEmergencyRoom" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Posted in emergency room or waiting room</Description>
									<LineNumber>Part V Section B Line 13c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Posted in Admissions Office -->
						<xsd:element name="PostedInAdmissionOffice" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Posted in admissions office</Description>
									<LineNumber>Part V Section B Line 13d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Provided Upon Admission -->
						<xsd:element name="ProvidedOnAdmission" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Provided upon admission</Description>
									<LineNumber>Part V Section B Line 13e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Financial Assistance Policy Available Upon Request -->
						<xsd:element name="AvailableOnRequest" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Financial assistance policy available upon request</Description>
									<LineNumber>Part V Section B Line 13f</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other Publicity -->
						<xsd:element name="OtherPublicity" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other publicity</Description>
									<LineNumber>Part V Section B Line 13g</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Policy Explains Actions Taken Upon Non-Payment? -->
						<xsd:element name="ActionsOnNonpayment" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Policy explains actions taken upon non-payment?</Description>
									<LineNumber>Part V Section B Line 14</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Report to Credit Agency Permitted -->
						<xsd:element name="PermitReportToCreditAgency" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Report to credit agency permitted</Description>
									<LineNumber>Part V Section B Line 15a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Lawsuit Permitted -->
						<xsd:element name="PermitLawsuit" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Lawsuit permitted</Description>
									<LineNumber>Part V Section B Line 15b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Lien On Residence Permitted -->
						<xsd:element name="PermitLienOnResidence" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Lien on residence permitted</Description>
									<LineNumber>Part V Section B Line 15c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Body Attachment Permitted -->
						<xsd:element name="PermitBodyAttachment" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Body attachment permitted</Description>
									<LineNumber>Part V Section B Line 15d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other Actions Permitted -->
						<xsd:element name="PermitOtherActions" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other actions permitted</Description>
									<LineNumber>Part V Section B Line 15e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Authorize Third-Party to Engage in Collection Activities? -->
						<xsd:element name="CollectionActivities" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Authorize third-party to engage in collection activities?</Description>
									<LineNumber>Part V Section B Line 16</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Credit Agency Engaged -->
						<xsd:element name="ReportToCreditAgency" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Credit agency engaged</Description>
									<LineNumber>Part V Section B Line 16a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Lawsuit Engaged -->
						<xsd:element name="Lawsuit" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Lawsuit engaged</Description>
									<LineNumber>Part V Section B Line 16b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Lien On Residence Engaged -->
						<xsd:element name="LienOnResidence" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Lien on residence engaged</Description>
									<LineNumber>Part V Section B Line 16c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Body Attachment Engaged -->
						<xsd:element name="BodyAttachment" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Body attachment engaged</Description>
									<LineNumber>Part V Section B Line 16d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other Actions Engaged -->
						<xsd:element name="OtherActions" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other actions engaged</Description>
									<LineNumber>Part V Section B Line 16e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Notified Upon Admission -->
						<xsd:element name="NotifyUponAdmission" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Notified upon admission</Description>
									<LineNumber>Part V Section B Line 17a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Notified Prior to Discharge -->
						<xsd:element name="NotifyBeforeDischarge" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Notified prior to discharge</Description>
									<LineNumber>Part V Section B Line 17b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Notified Patients in Communications -->
						<xsd:element name="NotifiedAllPatients" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Notified patients in communications</Description>
									<LineNumber>Part V Section B Line 17c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Documented Determination -->
						<xsd:element name="DocumentedDetermination" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Documented determination</Description>
									<LineNumber>Part V Section B Line 17d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other Action Taken -->
						<xsd:element name="OtherActionsTaken" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other action taken</Description>
									<LineNumber>Part V Section B Line 17e</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Non-Discriminatory Emergency Medical Care Policy? -->
						<xsd:element name="NondiscrimEmergencyCarePolicy" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Non-discriminatory emergency medical care policy?</Description>
									<LineNumber>Part V Section B Line 18</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- No Emergency Care -->
						<xsd:element name="NoEmergencyCare" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>No emergency care</Description>
									<LineNumber>Part V Section B Line 18a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- No Emergency Policy  -->
						<xsd:element name="NoEmergencyPolicy" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>No emergency policy </Description>
									<LineNumber>Part V Section B Line 18b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Limits Emergency Care -->
						<xsd:element name="EmergencyCareLimited" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Limits emergency care</Description>
									<LineNumber>Part V Section B Line 18c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Other Reason -->
						<xsd:element name="OtherReason" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Other reason</Description>
									<LineNumber>Part V Section B Line 18d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Charged Amount in Excess of Lowest Negotiated Rates? -->
						<xsd:element name="LowestNegotiatedRates" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Charged amount in excess of lowest negotiated rates?</Description>
									<LineNumber>Part V Section B Line 19a</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Charged Amount in Excess of Average Negotiated Rates? -->
						<xsd:element name="AverageNegotiatedRates" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Charged amount in excess of average negotiated rates?</Description>
									<LineNumber>Part V Section B Line 19b</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Charged More Than Medicare Rate? -->
						<xsd:element name="MedicareRate" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Charged more than medicare rate?</Description>
									<LineNumber>Part V Section B Line 19c</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Used Other Method -->
						<xsd:element name="UsedOtherMethod" type="CheckboxType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Used other method</Description>
									<LineNumber>Part V Section B Line 19d</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>


						<!-- Charged More Than Amount Generally Billed? -->
						<xsd:element name="AmountsGenerallyBilled" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Charged more than amount generally billed?</Description>
									<LineNumber>Part V Section B Line 20</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Gross Charges in Billing? -->
						<xsd:element name="GrossCharges" type="BooleanType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Gross charges in billing?</Description>
									<LineNumber>Part V Section B Line 21</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>

			</xsd:element>

			<!-- Part V Section C - Other Facilities That Are Not Licensed, Registered, or Similary Recognized as a Hospital Facilitym -->
			<xsd:element name="Form990ScheduleHPartVSectionC" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Part V Section C</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:sequence>

						<!-- Number of Other Facilities -->
						<xsd:element name="NumberOfOtherFacilities" type="Count2Type">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Number of other facilities</Description>
									<LineNumber>Part V Section C</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Repeating Group -->
						<xsd:element name="OtherFacilities" minOccurs="1" maxOccurs="unbounded">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Part V Section C repeating group</Description>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:complexType>
								<xsd:sequence>

									<!-- Name -->
									<xsd:element name="Name" type="BusinessNameType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Name, business</Description>
												<LineNumber>Part V Section C</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>

									<!-- Address -->
									<xsd:element name="Address" type="USAddressType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Address - US</Description>
												<LineNumber>Part V Section C</LineNumber>									
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>

									<!-- Facility Type -->
									<xsd:element name="FacilityType" type="LineExplanationType">
										<xsd:annotation>
											<xsd:documentation>
												<Description>Facility type</Description>
												<LineNumber>Part V Section C</LineNumber>
											</xsd:documentation>
										</xsd:annotation>
									</xsd:element>

								</xsd:sequence>
							</xsd:complexType>
						</xsd:element>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- Part VI Supplemental Information -->
			<!-- Repeating Group -->			
			<xsd:element name="Form990ScheduleHPartVI" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>Part VI contents</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>		
					<xsd:sequence>
					
						<!-- Identifier -->
						<xsd:element name="Identifier" type="LineExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Identifier</Description>
									<LineNumber>Part VI</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Return Reference -->
						<xsd:element name="ReturnReference" type="LineExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Return reference</Description>
									<LineNumber>Part VI</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Explanation -->
						<xsd:element name="Explanation" type="ExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Explanation</Description>
									<LineNumber>Part VI</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>	
				</xsd:complexType>		
			</xsd:element>		

		</xsd:sequence>
	</xsd:complexType>
	
	<!-- =========================================================================== -->
	<!-- ============= Local types, types for repeating groups etc. ================ -->
	<!-- =========================================================================== -->

	<!-- Type for Part I, Columns (a) through (f) Table -->
	<xsd:complexType name="Form990SchHPartIGroup1Type">
		<xsd:sequence>

			<!-- Number of Activities or Programs -->
			<xsd:element name="NumberOfActivitiesOrPrograms" type="IntegerNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of activities or programs</Description>
						<LineNumber>Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Persons Served -->
			<xsd:element name="PersonsServed" type="IntegerNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Persons served</Description>
						<LineNumber>Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Community Benefit Expense -->
			<xsd:element name="TotalCommunityBenefitExpense" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total community benefit expense</Description>
						<LineNumber>Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Direct Offsetting Revenue -->
			<xsd:element name="DirectOffsettingRevenue" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Direct offsetting revenue</Description>
						<LineNumber>Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Community Benefit Expense -->
			<xsd:element name="NetCommunityBenefitExpense" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net community benefit expense</Description>
						<LineNumber>Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Percent of Total Expense -->
			<xsd:element name="PercentOfTotalExpense" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Percent of total expense</Description>
						<LineNumber>Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Part II, Columns (a) through (f) Table -->
	<xsd:complexType name="Form990SchHPartIIGroup1Type">
		<xsd:sequence>

			<!-- Number of Activities or Programs -->
			<xsd:element name="NumberOfActivitiesOrPrograms" type="IntegerNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of activities or programs</Description>
						<LineNumber>Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Persons Served -->
			<xsd:element name="PersonsServed" type="IntegerNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Persons served</Description>
						<LineNumber>Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Community Building Expense -->
			<xsd:element name="TotalCommunityBuildingExpense" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total community building expense</Description>
						<LineNumber>Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Direct Offsetting Revenue -->
			<xsd:element name="DirectOffsettingRevenue" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Direct offsetting revenue</Description>
						<LineNumber>Column (d)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Community Building Expense -->
			<xsd:element name="NetCommunityBuildingExpense" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net community building expense</Description>
						<LineNumber>Column (e)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Percent of Total Expense -->
			<xsd:element name="PercentOfTotalExpense" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Percent of total expense</Description>
						<LineNumber>Column (f)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for all Count type elements (Number of something counts/tallys) -->
	<xsd:simpleType name="Count2Type">
		<xsd:restriction base="IntegerNNType">
			<xsd:totalDigits value="6"/>
		</xsd:restriction>
	</xsd:simpleType>
	
</xsd:schema>
