schema/2008v2.8/TEGE/TEGE990PF/IRS990PF/ExplanationOfLegisPoliticalActivities.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Explanation of Legislative Political Activities</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 20, 2009</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ====================================================================== -->

	<!-- ================ General Explanation Attachment ====================== -->

	<!-- ====================================================================== -->

	<xsd:element name="ExplanOfLegisPoliticalActvts">
		<xsd:annotation>
			<xsd:documentation>Explanation of legislative political activities attachment</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ExplanationOfLegisPoliticalActivitiesType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ExplanationOfLegisPoliticalActivities">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="ExplanationOfLegisPoliticalActivitiesType">
		<xsd:annotation>
			<xsd:documentation>Content model for Explanation of Legislative Political Activities Attachment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Explanation -->
			<xsd:element name="Explanation" type="MediumExplanationType" minOccurs="0">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
