schema/2010v3.6/CorporateIncomeTax/Common/IRS3115/ApplcntNotRcvAudProtectionStmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Applicant Will Not Receive Audit Protection For The Requested Change Statement</Description>
			<TaxYear>2010</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>September 13, 2011</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ================================================================================================= -->
	<!-- ======== Applicant Will Not Receive Audit Protection For The Requested Change Statement ========= -->
	<!-- ================================================================================================= -->


	<xsd:element name="ApplcntNotRcvAudProtectionStmt">
		<xsd:annotation>
			<xsd:documentation>Applicant Will Not Receive Audit Protection For The Requested Change Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ApplcntNotRcvAudProtectionStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ApplcntNotRcvAudProtectionStmt">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>


	<xsd:complexType name="ApplcntNotRcvAudProtectionStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Applicant Will Not Receive Audit Protection For The Requested Change Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Applicant Will Not Receive Audit Protection For The Requested Change Detail -->
			<xsd:element name="ApplcntNotRcvAudProtectionDtl" type="ExplanationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Applicant will not receive audit protection for the requested change detail</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
