schema/2013v2.0/CorporateIncomeTax/Common/IRS8621/DeemedDivElectSec1297ePFICStmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Deemed Dividend Election with Respect to a Section 1297(e) PFIC</Description>
			<TaxYear>2013</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>September 16, 2013</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ================================================================================ -->
	<!-- ======== Deemed Dividend Election with Respect to a Section 1297(e) PFIC ======= -->
	<!-- ================================================================================ -->

	<xsd:element name="DeemedDivElectSec1297ePFICStmt">
		<xsd:annotation>
			<xsd:documentation>Deemed Dividend Election with Respect to a Section 1297(e) PFIC</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DeemedDivElectSec1297ePFICStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Transfer</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="DeemedDivElectSec1297ePFICStmt">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Deemed Dividend Election Section 1297(e) PFIC Statement Type -->
	<xsd:complexType name="DeemedDivElectSec1297ePFICStmtType">
		<xsd:sequence>

			<!-- Name: choice between Name or Person Name -->
			<xsd:choice>
				<!-- Name -->
				<xsd:element name="BusinessName" type="BusinessNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Person Name -->
				<xsd:element name="PersonNm" type="PersonNameType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Person name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- Address: choice between U.S. or Foreign address -->
			<xsd:choice>
				<!-- US Address -->
				<xsd:element name="USAddress" type="USAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US Address</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Foreign Address -->
				<xsd:element name="ForeignAddress" type="ForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign address</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- Identifying Number: Choice between Social Security Number, Employer Identification Number or Missing EIN Reason -->
			<xsd:choice>

				<!-- Social Security Number -->
				<xsd:element name="SSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Social Security Number</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Employer Identification Number -->
				<xsd:element name="EIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Employer identification number</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Missing EIN Reason -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<!-- The CFC Qualification Date as Defined in Regulations Section 1.1297-3(d), for the Section 1297(e) PFIC -->
			<xsd:element name="CFCQualificationDt" type="DateType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>The CFC qualification date as defined in Regulations section 1.1297-3(d), for the Section 1297(e) PFIC</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Beginning Dates of the Taxable Year of the Shareholding in Which the CFC Qualifitication date falls (ie. The election year) -->
			<xsd:element name="CFCQlfyFallsInTxblYearBeginDt" type="DateType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Beginning dates of the taxable year of the shareholding in which the CFC qualifitication date falls (ie. The election year)</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Ending Dates of the Taxable Year of the Sharholding in Which the CFC Qualification Date Falls (i.e., The Election Year) -->
			<xsd:element name="CFCQlfyFallsInTxblYearEndDt" type="DateType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Ending dates of the taxable year of the sharholding in which the CFC qualification date falls (i.e., the election year)</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tax Year in Which the Amount was Previously Included in Income -->
			<xsd:element name="AmountIncludedInIncomeTaxYr" type="YearType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year in which the amount was previously included in income</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- The Law Under Which the Amount Was Previously Included in Income -->
			<xsd:element name="LawUnderWhichAmountWasIncldTxt" type="LineExplanationType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>The law under which the amount was previously included in income</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Description of Transaction in Which the Shareholder Acquired the Stock of the PFIC From the Other US Person -->
			<xsd:element name="TransactionDesc" type="LineExplanationType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of transaction in which the shareholder acquired the stock of the PFIC from the other US person</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- The Law Under Which the Shareholders Holding Period Includes The Holding Period of the Other US Person -->
			<xsd:element name="ShareholdersHoldingPrdLawTxt" type="LineExplanationType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>The law under which the shareholders holding period includes the holding period of the other US person</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Shareholders Pro Rata Share Schedule -->
			<xsd:element name="ShareholdersProRataShareInfo" type="ShareholdersProRataShareType" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Shareholders pro rata share schedule</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>			
		
		</xsd:sequence>

	</xsd:complexType>

	<xsd:complexType name="ShareholdersProRataShareType">
		<xsd:annotation>
			<xsd:documentation>Shareholders pro rata share schedule</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>			
			
			<!-- Tax Year for Each Tax Year the Taxpayer Held the Stock (i.e., The PFIC Stock the Taxpayer Held on the CFC Qualification Date). -->
			<xsd:element name="StockHeldByTaxpayerTaxYr" type="YearType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year for each tax year the taxpayer held the stock (i.e., the PFIC stock the taxpayer held on the CFC qualification date).</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Post 1986 E&P Prorated to the Shareholder for the Tax Year Specified in TxYrTPHeldStock -->
			<xsd:element name="Post1986EPProratedShrTaxYrAmt" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Post 1986 E &amp; P Prorated to the Shareholder for the tax year specified in TxYrTPHeldStock</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
	  		<!-- Amount of Post-1986 E&P in Post1986EIProratedShrHldr That is Prorated to the Shareholder for the Tax Year Specified in TxYrTPHeldStock -->
			<xsd:element name="Post1986EPProratedToShrAmt" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount of Post-1986 E &amp; P in Post1986EIProratedShrHldr that is prorated to the shareholder for the tax year specified in TxYrTPHeldStock</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	
			
			<!-- Explanation That Shows the Calculation of This Amount as Required Under Section 1297(e) PFIC for the Election Year -->
			<xsd:element name="CalculationDesc" type="LineExplanationType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Explanation that shows the calculation of this amount as required under Section 1297(e) PFIC for the election year</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>	

		</xsd:sequence>

	</xsd:complexType>

</xsd:schema>
