schema/2015v2.1/CorporateIncomeTax/Common/Dependencies/ForeignGrossIncomeAtPartnershipLevelOtherCategoriesSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Corporate Income Tax Schema - Foreign Gross Income At Partnership Level - Other Categories Schedule</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>October 29, 2015</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>





	<!-- ================================================================================== -->

	<!-- ===== Foreign Gross Income At Partnership Level - Other Categories Schedule ===== -->

	<!-- ================================================================================== -->





	<xsd:element name="FrgnGrossAtPrtshpLvlOthCatSch">

		<xsd:annotation>

			<xsd:documentation>Foreign gross income at partnership level - other categories schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="FrgnGrossAtPrtshpLvlOthCatSchType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="ForeignGrossIncomeAtPartnershipLevelOtherCategoriesSchedule">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<xsd:complexType name="FrgnGrossAtPrtshpLvlOthCatSchType">

		<xsd:annotation>

			<xsd:documentation>Content model for foreign gross income at partnership level - other categories schedule</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>



			<!-- Foreign Gross Income At Partnership Level - Other Categories -->

			<xsd:element name="OtherCategories" type="FrgnGrossAtPrtshpLvlOthCatType" minOccurs="0" maxOccurs="unbounded">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Foreign gross income at partnership level - other categories</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



		</xsd:sequence>

	</xsd:complexType>



	<!-- Type for Repeating Group - Foreign Gross Income At Partnership Level - Other Categories -->

	<xsd:complexType name="FrgnGrossAtPrtshpLvlOthCatType">

		<xsd:sequence>



			<!-- Description -->

			<xsd:element name="Desc" type="LineExplanationType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Description</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



			<!-- Amount -->

			<xsd:element name="Amt" type="USAmountType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Amount</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>



		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
