schema/2005v3.2/CorporateIncomeTax/Common/IRS6478/IRS6478.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - IRS Form 6478</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>June 7, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- ================================================================== -->
	<!-- ======================  IRS Form 6478 ============================ -->
	<!-- ================================================================== -->


	<xsd:element name="IRS6478">
		<xsd:annotation>
			<xsd:documentation>IRS Form 6478</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS6478Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS6478">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
					<xsd:attribute name="referenceDocumentId" type="IdListType"/>
					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="SmallEthanolProducerCreditElection"/>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS6478Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 6478</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Qualified Ethanol Fuel Production (in gallons) -->
			<xsd:element name="QualifiedEthanolFuelProduction" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified ethanol fuel production (in gallons)</Description>
						<LineNumber>Line 1 Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerType">
						<xsd:totalDigits value="8"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
			
			<!-- Qualified ethanol fuel production rate ( Column (b)) -->
			<xsd:element name="QualifiedEthanolFuelProdRate" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified ethanol fuel production rate</Description>
						<LineNumber>Line 1 Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Ethanol Fuel Credit (Column (a) x Column (b)) -->
			<xsd:element name="QualifiedEthanolFuelCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified ethanol fuel credit (Column (a) x Column (b))</Description>
						<LineNumber>Line 1 Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- 190 Proof or Greater (in gallons) -->
			<xsd:element name="Alcohol190ProofOrHigherPrf" type="Form6478NumGallonsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>190 proof or greater (in gallons)</Description>
						<LineNumber>Line 2 Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
				
			<!-- Alcohol 190 Proof or Greater Rate -->
			<xsd:element name="RateFor190OrHigherPrfAlcohol" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alcohol 190 proof or greater rate</Description>
						<LineNumber>Line 2 Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total 190 Proof or Greater  -->
			<xsd:element name="Alcohol190ProofOrGreaterCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total 190 Proof or Greater</Description>
						<LineNumber>Line 2 Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Less than 190 Proof but At Least 150 Proof (in gallons) -->
			<xsd:element name="GallonsOf150To189ProofAlcohol" type="Form6478NumGallonsType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Less than 190 proof but at least 150 proof (in gallons)</Description>
						<LineNumber>Line 3 Column (a)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alcohol Less Than 190 Proof but At Least 150 Rate -->
			<xsd:element name="RateFor150To189ProofAlcohol" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alcohol less than 190 proof but at least 150 proof rate</Description>
						<LineNumber>Line 3 Column (b)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Less than 190 Proof but At Least 150 Proof  -->
			<xsd:element name="Alcohol150To189ProofCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total less than 190 proof but at least 150 proof</Description>
						<LineNumber>Line 3 Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alcohol Fuel Credit(s) from a Partnership -->
			<xsd:element name="AlcoholFuelCreditFromPrtshp" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alcohol fuel credit(s) from a partnership</Description>
						<LineNumber>Line 4 Column (c)</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
			<!-- Add Lines 1 through 4, column c  -->
			<xsd:element name="AlcoholFuelCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 1 through 4, column c</Description>
						<LineNumber>Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alcohol Fuel Credit Included On Line 5 From Passive Activities -->
			<xsd:element name="AlcoholCreditFromPassiveActy" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alcohol fuel credit included on line 5 from passive activities</Description>
						<LineNumber>Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 6 from Line 5 -->
			<xsd:element name="NetAlcoholCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 6 from line 5</Description>
						<LineNumber>Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alcohol Fuel Passive Activity Credit Allowed For 2005  -->
			<xsd:element name="AlcoholPassiveCreditAllowed" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
							<Description>Alcohol fuel passive activity credit allowed for 2005 </Description>
						<LineNumber>Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Carryback Of Alcohol Fuel Credit From 2006 -->
			<xsd:element name="AlcoholFuelCreditCarryback" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Carryback of alcohol fuel credit from 2006</Description>
						<LineNumber>Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current year credit for alcohol used as fuel. Add lines 7 through 9 -->
			<xsd:element name="TotalCYCreditForAlcoholAsFuel" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year credit for alcohol used as fuel. Add lines 7 through 9</Description>
						<LineNumber>Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Regular Tax Before Credits -->
			<xsd:element name="RegularTaxBeforeCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Regular tax before credits</Description>
						<LineNumber>Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternative Minimum Tax -->
			<xsd:element name="AlternativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative minimum tax</Description>
						<LineNumber>Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Regular Tax Plus Alternative Minimum Tax -->
			<xsd:element name="RegularTaxPlusAltMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Regular Tax Plus Alternative Minimum Tax</Description>
						<LineNumber>Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Credit -->
			<xsd:element name="ForeignTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign tax credit</Description>
						<LineNumber>Line 14a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Possessions Tax Credit (Form 5735) -->
			<xsd:element name="PossessionsTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Possessions tax credit (Form 5735)</Description>
						<LineNumber>Line Line 14c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Credit for Fuel from a Nonconventional Source -->
			<xsd:element name="CreditForFuelFromNnconvSource" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Credit for fuel from a nonconventional source</Description>
						<LineNumber>Line 14d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Specified Credits -->
			<xsd:element name="OtherSpecifiedCredits" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Other specified credits</Description>
						<LineNumber>Line 14e</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add Lines 15a through 15e -->
			<xsd:element name="TaxCreditTotal" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add lines 15a through 15e</Description>
						<LineNumber>Line 14f</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Income Tax. -->
			<xsd:element name="NetIncomeTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income tax</Description>
						<LineNumber>Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Regular Tax. -->
			<xsd:element name="NetRegularTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net regular tax.</Description>
						<LineNumber>Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Enter 25% of the Excess -->
			<xsd:element name="NetRegularTax25PctOfExcess" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Enter 25% of excess</Description>
						<LineNumber>Line 17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Subtract Line 17 From line 15 -->
			<xsd:element name="NetIncomeTaxLessExcess" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 17 from line 15</Description>
						<LineNumber>Line 18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- General Business Credit -->
			<xsd:element name="GeneralBusinessCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>General Business Credit</Description>
						<LineNumber>Line 19</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract Line 19 from Line 18 -->
			<xsd:element name="AdjustedNetIncomeTax" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 19 from line 18</Description>
						<LineNumber>Line 20</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Current year credit for alcohol used as fuel. The smaller of the line 10 or 20. -->
			<xsd:element name="CYCreditForAlcoholAsFuel" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Current year credit for alcohol used as fuel. The smaller of the line 10 or 20.</Description>
						<LineNumber>Line 21</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Number of Gallons Type Used Throughout Form 6478 -->
	<xsd:simpleType name="Form6478NumGallonsType">
		<xsd:restriction base="IntegerType">
			<xsd:totalDigits value="9"/>
		</xsd:restriction>
	</xsd:simpleType>

</xsd:schema>
