schema/2009v1.8/CorporateIncomeTax/Common/IRS5452/ParentOfConsolidatingGroupSupportingInfoAttachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Parent of Consolidating Group Supporting Information Attachment</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 25, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ======================================================================= -->
	<!-- === Parent of Consolidating Group Supporting Information Attachment === -->
	<!-- ======================================================================= -->


	<xsd:element name="ParentSupportingInfoAttachment">
		<xsd:annotation>
			<xsd:documentation>Parent of Consolidating Group Supporting Information Attachment</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ParentSupportingInfoAttachmentType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ParentOfConsolidatingGroupSupportingInfoAttachment">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="ParentSupportingInfoAttachmentType">
		<xsd:annotation>
			<xsd:documentation>Content model for Parent of Consolidating Group Supporting Information Attachment</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Statement" type="LongExplanationType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
