schema/2006v4.0/TEGE/Common/Dependencies/SpecialEventsSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Special Events Schedule</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>October 19, 2007</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
		
	<!-- ============================================================== -->
	<!-- =================  Special Events Schedule =================== -->
	<!-- ============================================================== -->
	
	<xsd:element name="SpecialEventsSchedule">
		<xsd:annotation>
			<xsd:documentation>Special events schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="SpecialEventsScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="SpecialEventsSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="SpecialEventsScheduleType">
		<xsd:annotation>
			<xsd:documentation>Content model for special events schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="SpecialEvent" type="SpecialEventType" minOccurs="0" maxOccurs="5"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="SpecialEventType">
		<xsd:annotation>
			<xsd:documentation>Content model for special event</xsd:documentation>
		</xsd:annotation>
		
		<xsd:sequence>
		
			<!-- Event Name -->
			<xsd:element name="EventName" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Event name</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Gross Receipts -->
			<xsd:element name="GrossReceipts" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross receipts</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Contributions -->
			<xsd:element name="Contributions" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Contributions</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Gross Revenue -->
			<xsd:element name="GrossRevenue" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Gross revenue</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Direct Expense -->
			<xsd:element name="DirectExpense" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Direct expense</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>									
			
			<!-- Net Income (Loss) -->
			<xsd:element name="NetIncomeLoss" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net income (loss)</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>									
			
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
