schema/2007v2.5/CorporateIncomeTax/Common/Dependencies/CharitableContributionSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Charitable Contribution Schedule</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>June 16, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ============================================================== -->
	<!-- ===========  Charitable Contribution Schedule =============== -->
	<!-- ============================================================== -->


	<xsd:element name="CharitableContriSchedule">
		<xsd:annotation>
			<xsd:documentation>Charitable contribution schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CharitableContriScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="CharitableContributionSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="CharitableContriScheduleType">
		<xsd:annotation>
			<xsd:documentation>Content model for charitable contribution schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		
				
			<!-- Charitable Contribution -->
			<xsd:element name="CharitableContribution" type="CharitableContributionType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Charitable contribution</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		

	<!-- Type for Repeating Group - Charitable Contribution -->
	<xsd:complexType name="CharitableContributionType">
		<xsd:sequence>		
	
			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>				
		
			<!-- Name -->
			<xsd:element name="Name" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>							

			<!-- Code -->
			<xsd:element name="Code" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Code</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="StringType">
						<xsd:maxLength value="1" />
						<xsd:pattern value="[A-Za-z]"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>
	
		</xsd:sequence>
	</xsd:complexType>	
	
</xsd:schema>
