schema/2009v1.1/CorporateIncomeTax/Common/IRS8835/ClosedLoopFacilityPhaseoutAdjComputationSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Closed-Loop Facility Phaseout Adjustments Computation Schedule</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 22, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ============================================================================ -->
	<!-- ====== Closed-Loop Facility Phaseout Adjustments Computation Schedule ====== -->
	<!-- ============================================================================ -->

	<xsd:element name="ClosedLoopPhaseoutAdjCmptSch">
		<xsd:annotation>
			<xsd:documentation>Closed-Loop Facility Phaseout Adjustments Computation Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ClosedLoopPhaseoutAdjCmptSchType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="ClosedLoopFacilityPhaseoutAdjComputationSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Closed-Loop Facility Phaseout Adjustments Computation Schedule Type -->
	<xsd:complexType name="ClosedLoopPhaseoutAdjCmptSchType">
		<xsd:sequence>
			<xsd:element name="Computation" type="ExplanationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
