schema/2005v3.3/CorporateIncomeTax/Common/IRS8858/ElectiveReliefAgreementAndOrAnnualCertificationStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
    <xsd:annotation>
        <xsd:documentation>
            <Description>IRS e-file Corporate Income Tax Schema - Elective Relief Agreement And/Or Annual Certification Statement</Description>
            <TaxYear>2005</TaxYear>
            <MaturityLevel>Draft Release</MaturityLevel>
            <ReleaseDate>August 17, 2007</ReleaseDate>
        </xsd:documentation>
    </xsd:annotation>

    <xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

    <!-- ================================================================= -->
    <!--  Elective Relief Agreement And/Or Annual Certification Statement  -->
    <!-- ================================================================= -->

    <xsd:element name="ElectiveReliefAgrmtOrCertStmt">
        <xsd:annotation>
            <xsd:documentation>Elective Relief Agreement And/Or Annual Certification Statement</xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:complexContent>
                <xsd:extension base="ElectiveReliefOrCertStmtType">
                    <xsd:attributeGroup ref="DocumentAttributes">
                        <xsd:annotation>
                            <xsd:documentation>Common return document attributes</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attributeGroup>
                    <xsd:attribute name="documentName" type="StringType" fixed="ElectiveReliefAgreementAndOrAnnualCertificationStatement">
                        <xsd:annotation>
                            <xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
                        </xsd:annotation>
                    </xsd:attribute>
                </xsd:extension>
            </xsd:complexContent>
        </xsd:complexType>
    </xsd:element>

    <xsd:complexType name="ElectiveReliefOrCertStmtType">
        <xsd:annotation>
            <xsd:documentation>Content model for Elective Relief Agreement And/Or Annual Certification Statement</xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>

            <!-- Elective Relief Agreement And/Or Annual Certification Statement -->
            <xsd:element name="Statement" type="MediumExplanationType" minOccurs="0">
                <xsd:annotation>
                    <xsd:documentation>
                        <Description>Statement</Description>
                    </xsd:documentation>
                </xsd:annotation>
            </xsd:element>

        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>
