schema/2009v1.6/CorporateIncomeTax/Common/IRS3115/AffiliatedGroupFilingConsolidatedReturnStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Affiliated Group Filing Consolidated Return Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>August 19, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- ==== Affiliated Group Filing Consolidated Return Statement ==== -->
	<!-- =============================================================== -->

	<xsd:element name="AffltGroupFilingCnsldtRetStmt">
		<xsd:annotation>
			<xsd:documentation>Affiliated Group Filing Consolidated Return Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="AffltGroupFilingCnsldtRetStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="AffiliatedGroupFilingConsolidatedReturnStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Affiliated Group Filing Consolidated Return Statement Type -->
	<xsd:complexType name="AffltGroupFilingCnsldtRetStmtType">
		<xsd:sequence>
			<xsd:element name="Explanation" type="ShortExplanationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
