schema/2007v2.13/CorporateIncomeTax/Common/Dependencies/ControlledGroupMemberStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
				<Description>IRS e-file Corporate Income Tax Schema - Controlled Group Member Statement</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 20, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ================================================================ -->
	<!-- ============== Controlled Group Member Statement =============== -->
	<!-- ================================================================ -->

	<xsd:element name="ControlledGroupMemberStatement">
		<xsd:annotation>
				<xsd:documentation>Controlled Group Member Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ControlledGroupMemberStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="ControlledGroupMemberStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Controlled Group Member Statement Type -->
	<xsd:complexType name="ControlledGroupMemberStmtType">
		<xsd:annotation>
			<xsd:documentation>Controlled Group Member Statement Type</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="ControlledGroupMember" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>

						<xsd:element name="Name" type="BusinessNameType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Controlled Group Member Name</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<xsd:element name="ShareOfCredit" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>Member's Share of the Credit Amount</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
