schema/2010v3.3/CorporateIncomeTax/Common/Dependencies/OtherAdjustmentsAndTaxPreferenceItemsSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Other Adjustments and Tax Preference Items Schedule </Description>
			<TaxYear>2010</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>February 14, 2011</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ================================================================ -->
	<!-- ===== Other Adjustments and Tax Preference Items Schedule ====== -->
	<!-- ================================================================ -->


	<xsd:element name="OtherAdjAndTaxPrefItemsSch">
		<xsd:annotation>
			<xsd:documentation>Other adjustments and tax preference items schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OtherAdjAndTaxPrefItemsSchType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="OtherAdjustmentsAndTaxPreferenceItemsSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="OtherAdjAndTaxPrefItemsSchType">
		<xsd:annotation>
			<xsd:documentation>Content model for other adjustments and tax preference items schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Schedule" type="ExplanationType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
