schema/2009v1.4/CorporateIncomeTax/Common/Dependencies/Section42j5Schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Section 42(j)(5) Schedule</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>May 7, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ==================================================== -->
	<!-- ============ Section 42(j)(5) Schedule ============= -->
	<!-- ==================================================== -->


	<xsd:element name="Section42j5Schedule">
		<xsd:annotation>
			<xsd:documentation>Section 42(j)(5) Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Section42j5ScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="Section42j5Schedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	

	<xsd:complexType name="Section42j5ScheduleType">
		<xsd:annotation>
			<xsd:documentation>Content model for Section 42(j)(5) Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Section 42(j)(5) Information -->
			<xsd:element name="Section42j5Info" type="Section42j5InfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 42(j)(5) Information</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Repeating Group - Section 42(j)(5) Information -->
	<xsd:complexType name="Section42j5InfoType">
		<xsd:sequence>

			<!-- Type -->
			<xsd:element name="Type" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Type of Credit</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount of Income</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
