schema/2015v3.0/CorporateIncomeTax/Common/IRS970/OtherDollarValueMethodUsedExplnStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Other Dollar Value Method Used Explanation Statement</Description>
			<TaxYear>2015</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>May 27, 2016</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================================================== -->
	<!-- ===============  Other Dollar Value Method Used Explanation Statement ========================= -->
	<!-- =============================================================================================== -->

	<xsd:element name="OtherDollarValueMthdUsedExpln">
		<xsd:annotation>
			<xsd:documentation>Other Dollar Value Method Used Explanation Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OtherDollarValueMthdUsedExplnType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="OtherDollarValueMethodUsedExplnStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="OtherDollarValueMthdUsedExplnType">
		<xsd:annotation>
			<xsd:documentation>Other Dollar Value Method Used Explanation Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Explanation-->
			<xsd:element name="ShortExplanationTxt" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Explanation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
