schema/2015v2.1/CorporateIncomeTax/Common/IRS8865ScheduleK1/Form8865K1CollectiblesGainorLossExplanation.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8865 K1 Collectibles Gain or Loss Explanation</Description>
			<TaxYear>2015</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>October 29, 2015</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ========================================================================================= -->
	<!-- ================== Form 8865 K1 Collectibles Gain or Loss Explanation =================== -->
	<!-- ========================================================================================= -->
	
	<xsd:element name="F8865K1CollGainLossExpln">
		<xsd:annotation>
			<xsd:documentation>Form 8865 K1 Collectibles Gain or Loss Explanation</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="F8865K1CollGainLossExplnType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="Form8865K1CollectiblesGainorLossExplanation">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="F8865K1CollGainLossExplnType">
		<xsd:annotation>
			<xsd:documentation>Content model for form 8865 K1 collectibles gain or loss explanation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="F8865K1CollectiblesGainLossGrp" type="F8865K1CollectiblesGainLossGrpType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Type for Repeating Group -->
	<xsd:complexType name="F8865K1CollectiblesGainLossGrpType">
		<xsd:annotation>
			<xsd:documentation>Content model for form 8865 K1 collectibles gain or loss explanation</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ShortExplanationTxt" type="ShortExplanationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
