schema/2006v3.3/TEGE/TEGE990/IRS990/DisqualifiedPersonSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Disqualified Person Schedule</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 17, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ================================================= -->
	<!-- ========= Disqualified Person Schedule ========= -->
	<!-- ================================================= -->
	
	<xsd:element name="DisqualifiedPersonSchedule">
		<xsd:annotation>
			<xsd:documentation>Disqualified Person Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DisqualifiedPersonScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="DisqualifiedPersonSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="DisqualifiedPersonScheduleType">
		<xsd:annotation>
			<xsd:documentation>Content model for Disqualified Person Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			
			<!-- Disqualified Person -->
			<xsd:element name="DisqualifiedPersonInformation" type="DisqualifiedPersonInformationType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>Officer Compensation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>	

	<!-- Type for Repeating Group - Disqualified Person -->
	<xsd:complexType name="DisqualifiedPersonInformationType">
		<xsd:sequence>	
		
			<!-- Choice between a business name or a personal name -->
      			<xsd:choice minOccurs="0">
				<!-- Business Name -->
				<xsd:element name="DisqualBusinessName" type="BusinessNameType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Disqualified person business name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>	

				<!-- Person Name -->
				<xsd:element name="DisqualPersonName" type="PersonNameType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Disqualified person name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>	
 			</xsd:choice>
 			
			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Disqualified person compensation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
