schema/2009v1.6/CorporateIncomeTax/Common/Dependencies/DistributionsOfPropertyOtherThanMoneyStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Distributions of Property Other Than Money Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>August 19, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />

	<!-- ============================================================== -->
	<!-- ==== Distributions of Property Other Than Money Statement ==== -->
	<!-- ============================================================== -->

	<xsd:element name="DistriOfPropOtherThanMoneyStmt">
		<xsd:annotation>
			<xsd:documentation>Distributions of property other than money statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DistriOfPropOtherThanMoneyStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="DistributionsOfPropertyOtherThanMoneyStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="DistriOfPropOtherThanMoneyStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for distributions of property other than money statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Explanation" type="ExplanationType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
