schema/2007v1.1/TEGE/TEGE990PF/IRS990PF/SubstantialContributorsSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Substantial Contributors Schedule</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>October 19, 2007</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- =========================================================================== -->
	<!-- ================= Substantial Contributors Schedule ======================= -->
	<!-- =========================================================================== -->
	
	<xsd:element name="SubstantialContributorsSch">
		<xsd:annotation>
			<xsd:documentation>Substantial Contributors Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="SubstantialContributorsSchType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="SubstantialContributorsSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="SubstantialContributorsSchType">
		<xsd:annotation>
			<xsd:documentation>Content model for Substantial Contributors Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="SubstantialContributor" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Contributor's Name - Either a Business or a Person -->
						<xsd:choice minOccurs="0">

							<xsd:element name="BusinessName" type="BusinessNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Contributor's Business Name</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
							
							<xsd:element name="PersonName" type="PersonNameType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Contributor's Person Name</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

						</xsd:choice>
						
						<!-- Contributor's Address -  Either US or Foreign type -->
						<xsd:choice minOccurs="0">

							<xsd:element name="USAddress" type="USAddressType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Contributor's US Address</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>

							<xsd:element name="ForeignAddress" type="ForeignAddressType">
								<xsd:annotation>
									<xsd:documentation>
										<Description>Contributor's Foreign Address</Description>
									</xsd:documentation>
								</xsd:annotation>
							</xsd:element>
						</xsd:choice>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
