schema/2008v2.5/CorporateIncomeTax/Common/IRS970/GoodsAcqAtBelowMrktPricesStmt.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Goods Acquired at Below-Market Prices Statement</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>December 12, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================================== -->
	<!-- ===============  Goods Acquired at Below-Market Prices Statement   ============ -->
	<!-- =============================================================================== -->

	<xsd:element name="GoodsAcqAtBelowMrktPricesStmt">
		<xsd:annotation>
			<xsd:documentation>Goods Acquired at Below-Market Prices Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="GoodsAcqAtBelowMrktPricesStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="GoodsAcqAtBelowMrktPricesStmt">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="GoodsAcqAtBelowMrktPricesStmtType">
		<xsd:annotation>
			<xsd:documentation>Goods Acquired at Below-Market Prices Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Explanation-->
			<xsd:element name="Explanation" type="ShortExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Explanation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
