schema/2006v3.3/CorporateIncomeTax/Common/IRS8910/IRS8910.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - IRS Form 8910</Description>
			<TaxYear>2006</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 17, 2007</ReleaseDate>
		</xsd:documentation>		
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ===================================================================== -->
	<!-- ========================  IRS Form 8910  ============================ -->
	<!-- ===================================================================== -->


	<xsd:element name="IRS8910">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8910</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8910Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8910">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>					
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8910Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8910</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>
		
			<!-- ===== Part I - Tentative Credit ===== -->
			<xsd:element name="IRS8910PartI" type="IRS8910PartIType" minOccurs="0" maxOccurs="unbounded" />


			<!-- ===== Part II - Credit for Business/Investment Use Part Of Vehicle ===== -->
			<xsd:element name="BusinessInvestmentUse" type="BusinessInvestmentUseType" minOccurs="0" maxOccurs="unbounded" />

			<!-- Add Columns (a) Through (c) On Line 7 -->
			<xsd:element name="TotalBusinessInvestmentUseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add columns (a) through (c) on line 7</Description>
						<LineNumber>Part II Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Alternative motor vehicle credit -->
			<xsd:element name="AlternativeMotorVehicleCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Alternative motor vehicle credit</Description>
						<LineNumber>Part II Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Business/Investment Use Part Of Credit -->
			<xsd:element name="BusInvestmentUsePartOfCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business/investment use part of credit</Description>
						<LineNumber>Part II Line 10</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


			<!-- ===== Part III - Credit for Personal Use Part Of Vehicle ===== -->

			<!-- Subtract Line 7 From Line 5 -->
			<xsd:element name="TentativeCreditForPersonalUse" type="USAmountType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 7 from line 5</Description>
						<LineNumber>Part III Line 11</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add columns (a) through (c) on Line 11 -->
			<xsd:element name="TotTentCreditForPersonalUse" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add columns (a) through (c) on Line 11</Description>
						<LineNumber>Part III Line 12</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Regular Tax -->
			<xsd:element name="RegularTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Regular tax</Description>
						<LineNumber>Part III Line 13</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Foreign Tax Credit -->
			<xsd:element name="ForeignTaxCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign tax credit</Description>
						<LineNumber>Part III Line 14a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Qualified Electric Vehicle Credit -->
			<xsd:element name="QualifiedElectricVehicleCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Qualified electric vehicle credit</Description>
						<LineNumber>Part III Line 14c</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Add line 14(a) through 14(c) -->
			<xsd:element name="TotCreditsThatReduceRegularTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Add line 14(a) through 14(c)</Description>
						<LineNumber>Part III Line 14d</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Net Regular Tax -->
			<xsd:element name="NetRegularTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Net regular tax</Description>
						<LineNumber>Part III Line 15</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tentative Minimum Tax -->
			<xsd:element name="TentativeMinimumTax" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative minimum tax</Description>
						<LineNumber>Part III Line 16</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Subtract line 16 from line 15 -->
			<xsd:element name="SubtractLine16FromLine15" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Subtract line 16 from line 15</Description>
						<LineNumber>Part III Line 17</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Personal Use Part Of Credit -->
			<xsd:element name="PersonalUsePartOfCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Personal use part of credit</Description>
						<LineNumber>Part III Line 18</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>


	<!-- =============================================================== -->
	<!-- ==================  Part I - Tentative Credit  ================ -->
	<!-- =============================================================== -->

	<xsd:complexType name="IRS8910PartIType">
		<xsd:annotation>
			<xsd:documentation>Content model for Form 8910 Part I</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!-- ===== Year, Make, and Model of Vehicle ===== -->
			<xsd:element name="VehicleDescription" type="VehicleDescriptionType" minOccurs="0" />
			

			<!-- Date Vehicle Placed In Service -->
			<xsd:element name="VehiclePlacedInServiceDate" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date vehicle placed in service</Description>
						<LineNumber>Part I Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Maximum Credit Allowable -->
			<xsd:element name="MaximumAllowedCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Maximum credit allowable</Description>
						<LineNumber>Part I Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Phaseout Percentage -->
			<xsd:element name="PhaseoutPercentage" type="RatioType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Phaseout percentage</Description>
						<LineNumber>Part I Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Tentative credit -->
			<xsd:element name="TentativeCredit" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tentative credit</Description>
						<LineNumber>Part I Line 5</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="VehicleDescriptionType">
		<xsd:sequence>
			<!-- Year of Vehicle -->
			<xsd:element name="VehicleYear" type="YearType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Year of Vehicle</Description>
						<LineNumber>Part I Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Make of Vehicle -->
			<xsd:element name="VehicleMake" type="ShortDescriptionType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Make of Vehicle</Description>
						<LineNumber>Part I Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Model of Vehicle -->
			<xsd:element name="VehicleModel" type="ShortDescriptionType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Model of Vehicle</Description>
						<LineNumber>Part I Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<!-- ===== Part II - Lines 6 and 7 ===== -->

	<xsd:complexType name="BusinessInvestmentUseType">
		<xsd:sequence>
			<!-- Business/Investment Use Percentage -->
			<xsd:element name="BusinessInvestmentUsePct" type="RatioType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Business/investment use percentage</Description>
						<LineNumber>Part II Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Multiply Line 6 By Line 5 -->
			<xsd:element name="BusinessInvestmentUseAmount" type="USAmountType">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Multiply line 6 by line 5</Description>
						<LineNumber>Part II Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
