schema/2007v2.9/CorporateIncomeTax/Common/IRS8697/AdjustmentsToLongTermContractsSimplifiedFromK1Schedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Schedule of Adjustments to Long-Term Contracts Under Simplified Marginal Impact Method from Schedules  K-1</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>November 13, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ==================================================================================================================== -->
	<!-- ==== Schedule of Adjustments to Long-Term Contracts Under Simplified Marginal Impact Method from Schedules  K-1 ==== -->
	<!-- ==================================================================================================================== -->

	<xsd:element name="AdjLTContractsSimplifiedK1Sch">
		<xsd:annotation>
			<xsd:documentation>Schedule of Adjustments to Long-Term Contracts Under Simplified Marginal Impact Method from Schedules K-1</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="AdjLTContractsSimplifiedK1SchType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="AdjustmentsToLongTermContractsSimplifiedFromK1Schedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="AdjLTContractsSimplifiedK1SchType">
		<xsd:annotation>
			<xsd:documentation>Content model for Schedule of Adjustments to Long-Term Contracts Under Simplified Marginal Impact Method from Schedules  K-1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Schedule" type="AdjLTContractsSimplifiedK1Type" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="AdjLTContractsSimplifiedK1Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Schedule of Adjustments to Long-Term Contracts Under Simplified Marginal Impact Method from Schedules  K-1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- 1. Entity Name -->
			<xsd:element name="EntityName" type="BusinessNameType"  minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>1. Entity name </Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!--  PYLongTermContractsFromK1SchType -->
			<xsd:element name="PYLongTermContractsFromK1" type="PYLongTermContractsSimplifiedFromK1SchType"  minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Long-term contract income</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="PYLongTermContractsSimplifiedFromK1SchType">
		<xsd:annotation>
			<xsd:documentation>Content model for Schedule of Adjustments to Long-Term Contracts Under Simplified Marginal Impact Method from Schedules  K-1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			
			<!-- Year Identifier  -->
			<xsd:element name="Year" type="YearType"  minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Year identifier</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!--  Yearly Info  -->
			<xsd:element name="YearlyInfo" type="YearlyInfoType"  minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Yearly Info for long-term contract income</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="YearlyInfoType">
		<xsd:annotation>
			<xsd:documentation>Content model for Schedule of Adjustments to Long-Term Contracts Under Simplified Marginal Impact Method from Schedules  K-1</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>	
			
			<!-- 2. Adjustment from K-1 -->
			<xsd:element name="PriorYearAdjustmentFromK1" type="USAmountType"  minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>2. Adjustment from K-1</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  3. Net Adjustment to Income from Long-Term Contracts -->
			<xsd:element name="PYNetAdjustmentToIncome" type="USAmountType"  minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>3. Net adjustment to income from long-term contracts</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
