schema/2009v1.5/CorporateIncomeTax/Common/Dependencies/ForeignGrossIncomeAtCorpLevelOtherCatSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Foreign Gross Income at Corporate Level Other Categories Schedule</Description>
			<TaxYear>2010</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>July 15, 2010</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ========================================================================= -->
	<!-- == Foreign Gross Income at Corporate Level Other Categories Schedule  == -->
	<!-- ========================================================================= -->


	<xsd:element name="FrgnGroIncmCorpLvlOtherCatSch">
		<xsd:annotation>
			<xsd:documentation>Foreign gross income at corporate level other categories schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="FrgnGroIncmCorpOtherCatSchTyp">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ForeignGrossIncomeAtCorpLevelOtherCatSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="FrgnGroIncmCorpOtherCatSchTyp">
		<xsd:annotation>
			<xsd:documentation>Content model for foreign gross income at corporate level other categories schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Foreign Gross Income at Corporate Level Other Categories -->
			<xsd:element name="FrgnGrossIncmCorpListedCat" type="FrgnGrossIncmCorpOtherCatType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Foreign gross income at corporate level other categories</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Repeating Group - Foreign Gross Income at Corporate Level Other Categories -->
	<xsd:complexType name="FrgnGrossIncmCorpOtherCatType">
		<xsd:sequence>

			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
