schema/2010v3.6/CorporateIncomeTax/Common/IRS8697/AlternativeMethodOfInterestComputationStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Alternative Method of Interest Computation Statement</Description>
			<TaxYear>2010</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>September 13, 2011</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================================================== -->
	<!-- ====================== Alternative Method of Interest Computation Statement =================== -->
	<!-- =============================================================================================== -->

	<xsd:element name="AltMethodInterestCmptStmt">
		<xsd:annotation>
			<xsd:documentation>Alternative Method of Interest Computation Statement Part I, Lines 7or 8</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="AltMethodInterestCmptStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="AlternativeMethodOfInterestComputationStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="AltMethodInterestCmptStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for alternative method of interest computation statement part I, lines 7or 8</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ComputationStmt" type="ComputationStmtType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ComputationStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for alternative method of interest computation statement part I, lines 7or 8</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!--  Explanation -->
			<xsd:element name="Explanation" type="ExplanationType"  minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Explanation</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType"  minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
