schema/2008v1.0/CorporateIncomeTax/Common/IRS3468/Sect14812b2viiiAdjBasisOfBuildingStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Section 1.48-12(b)(2)(viii) Adjusted Basis of Building Statement</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>March 3, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ======================================================================== -->
	<!-- === Section 1.48-12(b)(2)(viii) Adjusted Basis of Building Statement === -->
	<!-- ======================================================================== -->

	<xsd:element name="Sect14812b2viiiAdjBssBldgStmt">
		<xsd:annotation>
			<xsd:documentation>Section 1.48-12(b)(2)(viii) Adjusted Basis of Building Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Sect14812b2viiiAdjBssBldgStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="Sect14812b2viiiAdjBasisOfBuildingStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- Section 1.48-12(b)(2)(viii) Adjusted Basis of Building Statement Type -->
	<xsd:complexType name="Sect14812b2viiiAdjBssBldgStmtType">
		<xsd:annotation>
			<xsd:documentation>Section 1.48-12(b)(2)(viii) Adjusted Basis of Building Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="Statement" type="ShortExplanationType" minOccurs="0" />

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
