schema/2009v1.10/CorporateIncomeTax/Common/IRS6252/ExplanationOfDisposNotToAvoidTaxStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Explanation of Disposition Not to Avoid Tax Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>September 13, 2011</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ============================================================= -->
	<!-- === Explanation of Disposition Not to Avoid Tax Statement === -->
	<!-- ============================================================= -->

	<xsd:element name="ExplnDisposNotToAvoidTaxStmt">
		<xsd:annotation>
			<xsd:documentation>Explanation of disposition not to avoid tax statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ExplnDisposNotAvoidTaxStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ExplanationOfDisposNotToAvoidTaxStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="ExplnDisposNotAvoidTaxStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for explanation of disposition not to avoid tax statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Statement" type="ShortExplanationType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
