schema/2009v1.8/TEGE/Common/Dependencies/SalesOfInventorySchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">



	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Tax Exempt and Government Entities Schema - Sales of Inventory List</Description>

			<TaxYear>2009</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>October 25, 2010</ReleaseDate>			

		</xsd:documentation>

	</xsd:annotation>

	

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	

	<!-- ================================================================== -->

	<!-- =================  Sales of Inventory List ======================= -->

	<!-- ================================================================== -->

	

	<xsd:element name="SalesOfInventoryList">

		<xsd:annotation>

			<xsd:documentation>Sales of inventory list</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="SalesOfInventoryListType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="SalesOfInventorySchedule">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>

	

	<xsd:complexType name="SalesOfInventoryListType">

		<xsd:annotation>

			<xsd:documentation>Content model for sales of inventory list</xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>

			<xsd:element name="SaleOfInventory" type="SaleOfInventoryType" minOccurs="0" maxOccurs="unbounded"/>

		</xsd:sequence>

	</xsd:complexType>

	

	<xsd:complexType name="SaleOfInventoryType">

		<xsd:annotation>

			<xsd:documentation>Content model for sale of inventory</xsd:documentation>

		</xsd:annotation>

		

		<xsd:sequence>

		

			<!-- Category -->

			<xsd:element name="Category" type="LineExplanationType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Category</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

			<!-- Gross Sales -->

			<xsd:element name="GrossSales" type="USAmountNNType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Gross sales</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

			<!-- Cost of Goods Sold -->

			<xsd:element name="CostOfGoodsSold" type="USAmountNNType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Cost of goods sold</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

			<!-- Net (Gross Sales minus Cost of Goods Sold) -->

			<xsd:element name="Net" type="USAmountType" minOccurs="0">

				<xsd:annotation>

					<xsd:documentation>

						<Description>Net (gross sales minus cost of goods sold)</Description>

					</xsd:documentation>

				</xsd:annotation>

			</xsd:element>

			

		</xsd:sequence>

	</xsd:complexType>

	

</xsd:schema>

