schema/2007v2.3/CorporateIncomeTax/Common/IRS8845/ControlledGroupOrBusinessStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Controlled Group Or Business Statement</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>March 11, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ========================================================== -->
	<!-- ======== Controlled Group Or Business Statement ========== -->
	<!-- ===========================================================-->
	
	<xsd:element name="ControlledGroupOrBusinessStmt">
		<xsd:annotation>
			<xsd:documentation>Controlled Group Or Business Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ControlledGroupOrBusinessStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ControlledGroupOrBusinessStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="ControlledGroupOrBusinessStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for controlled group or business statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Explanation" type="ExplanationType" minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>
	
</xsd:schema>
