schema/2003V21/TEGE/TEGE1120POL/IRS1120POL/DividendsSchedule.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Dividends Schedule</Description>
			<TaxYear>2003</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>April 8, 2004</ReleaseDate>			
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ======================================================================== -->
	<!-- ======================  Dividends Schedule ============================= -->
	<!-- ======================================================================== -->
	
	<xsd:element name="DividendsSchedule">
		<xsd:annotation>
			<xsd:documentation>Dividends schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DividendsScheduleType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="DividendsSchedule">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="DividendsScheduleType">
		<xsd:annotation>
			<xsd:documentation>Content model for dividends schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="Dividends" type="DividendsType" minOccurs="0" maxOccurs="10000"/>
		</xsd:sequence>
	</xsd:complexType>
	
	<xsd:complexType name="DividendsType">
		<xsd:annotation>
			<xsd:documentation>Content model for dividends</xsd:documentation>
		</xsd:annotation>
		
		<xsd:sequence>

			<!-- Stock or Fund Name -->
			<xsd:element name="StockOrFundName" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Stock or fund name</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Dividend Amount -->
			<xsd:element name="DividendAmount" type="USAmountNNType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Dividend Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>			
	</xsd:complexType>
	
</xsd:schema>
