schema/2008v2.1/CorporateIncomeTax/Common/IRS8865/ItemizedOtherIncreasesSchedule2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Itemized Other Increases Schedule</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>August 22, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ============================================================ -->
	<!-- ============ Itemized Other Increases Schedule ============= -->
	<!-- ============================================================ -->


	<xsd:element name="ItemizedOtherIncreasesSch2">
		<xsd:annotation>
			<xsd:documentation>Itemized Other Increases Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="ItemizedOtherIncreasesSch2Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="ItemizedOtherIncreasesSchedule2">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="ItemizedOtherIncreasesSch2Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Itemized Other Increases Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="ItemizedOtherIncreases" type="USItemizedEntryType" minOccurs="0" maxOccurs="unbounded" />
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
