schema/2013v2.0/CorporateIncomeTax/Common/Dependencies/GeneralDependencySmall.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - General Dependency Small (attachment not identified on the form or instructions)</Description>
			<TaxYear>2013</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>September 16, 2013</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ======================================================================================== -->
	<!-- === General Dependency Small (attachment not identified on the form or instructions) === -->
	<!-- ======================================================================================== -->

	<xsd:element name="GeneralDependencySmall">
		<xsd:annotation>
			<xsd:documentation>General Dependency Small (attachment not identified on the form or instructions)</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="GeneralDependencySmallType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="GeneralDependencySmall">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="referenceDocumentId" type="IdListType">
						<xsd:annotation>
							<xsd:documentation>List of document ID's of forms, schedules, supporting info. etc. attached to this form</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>

					<xsd:attribute name="referenceDocumentName" type="StringType" fixed="BinaryAttachment"/>

				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="GeneralDependencySmallType">
		<xsd:annotation>
			<xsd:documentation>Content model for General Dependency Small</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Choice between Business Name, or Person Name -->
			<xsd:choice minOccurs="0">

				<!-- Business Name -->
				<xsd:element name="BusinessName" type="BusinessNameType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Business Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Person Name -->
				<xsd:element name="PersonNm" type="PersonNameType" minOccurs="0">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Person Name</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Choice between SSN, EIN, or Missing EIN Reason -->
			<xsd:choice minOccurs="0">

				<!-- SSN -->
				<xsd:element name="SSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SSN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- EIN -->
				<xsd:element name="EIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Missing EIN Reason -->
				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>


			<!-- Form Line or Instruction Reference -->
			<xsd:element name="FormLineOrInstructionRefTxt" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Form line or instruction reference</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Regulations Reference -->
			<xsd:element name="RegulationReferenceTxt" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Regulations reference</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Description -->
			<xsd:element name="Desc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Description</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Attachment Information -->
			<xsd:element name="AttachmentInformationSmllDesc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>Attachment information</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="TextType">
						<xsd:maxLength value="5000"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
