schema/2008v2.2/TEGE/TEGE990PF/IRS990PF/OtherIncomeSchedule2.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Tax Exempt and Government Entities Schema - Other Income Schedule</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>September 25, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ========================================= -->
	<!-- ========= Other Income Schedule ========= -->
	<!-- ========================================= -->
	
	<xsd:element name="OtherIncomeSchedule2">
		<xsd:annotation>
			<xsd:documentation>Other Income Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OtherIncomeSchedule2Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="OtherIncomeSchedule2">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="OtherIncomeSchedule2Type">
		<xsd:annotation>
			<xsd:documentation>Content model for Other Income Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<xsd:element name="OtherIncome" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>

						<!-- Description -->
						<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Description</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Revenue and Expenses per Books -->
						<xsd:element name="RevenueAndExpensesPerBooks" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Revenue and Expenses per Books</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Net Investment Income -->
						<xsd:element name="NetInvestmentIncome" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Net Investment Income</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Adjusted Net Income -->
						<xsd:element name="AdjustedNetIncome" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Adjusted Net Income</Description>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
