schema/2015v2.0/CorporateIncomeTax/Common/Dependencies/Section1202ExclusionStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Section 1202 Exclusion Statement</Description>
			<TaxYear>2015</TaxYear>
			<MaturityLevel>Drop 3 Release</MaturityLevel>
			<ReleaseDate>Sept. 8, 2015</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>


	<!-- =========================================================== -->
	<!-- ============ Section 1202 Exclusion Statement ============= -->
	<!-- =========================================================== -->


	<xsd:element name="Section1202ExclusionStatement">
		<xsd:annotation>
			<xsd:documentation>Section 1202 Exclusion Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="Section1202ExclusionStatementType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="Section1202ExclusionStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	

	<xsd:complexType name="Section1202ExclusionStatementType">
		<xsd:annotation>
			<xsd:documentation>Content model for Section 1202 Exclusion Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Section 1202 Exclusion Information -->
			<xsd:element name="Section1202ExclusionGrp" type="Section1202ExclusionGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Section 1202 Exclusion Information</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Repeating Group - Section 1202 Exclusion Information -->
	<xsd:complexType name="Section1202ExclusionGrpType">
		<xsd:sequence>

			<!-- Description -->
			<xsd:element name="Desc" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount -->
			<xsd:element name="Amt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Share of Section 1202 Gain</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Business Name -->
			<xsd:element name="BusinessName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of Business</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Date Bought -->
			<xsd:element name="BoughtDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date the Stock was Bought</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Date Sold -->
			<xsd:element name="SoldDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date the Stock was Sold</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
