schema/2015v2.1/CorporateIncomeTax/Common/IRS8594/ConsiderationComputationStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>

		<xsd:documentation>

			<Description>IRS e-file Schema - Form 8594 Consideration Computation Statement</Description>

			<TaxYear>2015</TaxYear>

			<MaturityLevel>Final Release</MaturityLevel>

			<ReleaseDate>October 29, 2015</ReleaseDate>

		</xsd:documentation>

	</xsd:annotation>



	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>



	<!-- =========================================================================================== -->

	<!-- ==================== Form 8594 Consideration Computation Statement ======================== -->

	<!-- =========================================================================================== -->



	<xsd:element name="ConsiderationCmptStatement">

		<xsd:annotation>

			<xsd:documentation>Consideration Computation Statement</xsd:documentation>

		</xsd:annotation>

		<xsd:complexType>

			<xsd:complexContent>

				<xsd:extension base="ConsiderationComputationType">

					<xsd:attributeGroup ref="DocumentAttributes">

						<xsd:annotation>

							<xsd:documentation>Common return document attributes</xsd:documentation>

						</xsd:annotation>

					</xsd:attributeGroup>

					<xsd:attribute name="documentName" type="xsd:string" fixed="ConsiderationComputationStatement">

						<xsd:annotation>

							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>

						</xsd:annotation>

					</xsd:attribute>

				</xsd:extension>

			</xsd:complexContent>

		</xsd:complexType>

	</xsd:element>



	<xsd:complexType name="ConsiderationComputationType">

		<xsd:annotation>

			<xsd:documentation>Content model for Form 8594 Consideration Computation Statement </xsd:documentation>

		</xsd:annotation>

		<xsd:sequence>

			<xsd:element name="ExplanationTxt" type="ExplanationType" minOccurs="0"/>

		</xsd:sequence>

	</xsd:complexType>



</xsd:schema>
