schema/2015v3.0/CorporateIncomeTax/Common/IRS8594/IRS8594.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Form 8594</Description>
			<TaxYear>2015</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>May 27, 2016</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ================================================================ -->
	<!-- =======================  IRS Form 8594 ============================ -->
	<!-- ================================================================ -->

	<xsd:element name="IRS8594">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8594</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8594Type">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8594">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8594Type">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 8594</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Name -->
			<xsd:element name="BusinessName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- EIN, SSN or Missing EIN Reason -->
			<xsd:choice minOccurs="0">

				<!-- EIN -->
				<xsd:element name="EIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>EIN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- SSN -->
				<xsd:element name="SSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>SSN</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Missing EIN Reason -->
				<xsd:element name="BusinessMissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>

			</xsd:choice>

			<xsd:choice minOccurs="0">
				<!-- Purchaser Box -->
				<xsd:element name="PurchaserInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Check the box that identifies you: purchaser</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
				<!-- Seller Box -->
				<xsd:element name="SellerInd" type="CheckboxType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Check the box that identifies you: seller</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!-- =============== Part I: General Information ========================= -->
			<!-- Name of Other Party to Transaction -->
			<xsd:element name="OtherPartyName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of other party to the transaction</Description>
						<LineNumber>Part I Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Other Party's Identification Number (TINType) or Missing EIN Reason -->
			<xsd:choice minOccurs="0">
				<xsd:element name="OtherPartyEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Other party's identification number</Description>
							<LineNumber>Part I Line 1</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<xsd:element name="OtherPartySSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Other party's social security number</Description>
							<LineNumber>Part I Line 1</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<xsd:element name="MissingEINReasonCd">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Missing EIN reason</Description>
						</xsd:documentation>
					</xsd:annotation>
					<xsd:simpleType>
						<xsd:restriction base="StringType">
							<xsd:enumeration value="APPLD FOR"/>
							<xsd:enumeration value="FOREIGNUS"/>
						</xsd:restriction>
					</xsd:simpleType>
				</xsd:element>
			</xsd:choice>

			<!-- Address of Other Party: choice between U.S. or foreign address -->
			<xsd:choice minOccurs="0">
				<!-- US Address of Other Party -->
				<xsd:element name="OtherPartyUSAddress" type="USAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>US address of other party</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- Foreign Address of Other Party -->
				<xsd:element name="OtherPartyForeignAddress" type="ForeignAddressType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Foreign address of other party</Description>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>
			</xsd:choice>

			<!--  Date of Sale  -->
			<xsd:element name="SaleDt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Date of sale</Description>
						<LineNumber>Part I Line 2</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Total Sales Price  -->
			<xsd:element name="TotalSalePriceAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total sales price</Description>
						<LineNumber>Part I Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- ====================== Part II: Assets Transferred ======================= -->

			<!-- Assets Transferred Aggregate Fair Market Value (Class I) -->
			<xsd:element name="Class1FairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred aggregate fair market value (class I)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Assets Transferred Allocation of Sales Price (Class I) -->
			<xsd:element name="Class1SalesPriceAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred allocation of sales price (class I)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Assets Transferred Aggregate Fair Market Value (Class II) -->
			<xsd:element name="Class2FairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred aggregate fair market value (class II)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Assets Transferred Allocation of Sales Price (Class II) -->
			<xsd:element name="Class2SalesPriceAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred allocation of sales price (class II)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Assets Transferred Aggregate Fair Market Value (Class III) -->
			<xsd:element name="Class3FairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred aggregate fair market value (class III)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Assets Transferred Allocation of Sales Price (Class III) -->
			<xsd:element name="Class3SalesPriceAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred allocation of sales price (class III)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Assets Transferred Aggregate Fair Market Value (Class IV) -->
			<xsd:element name="Class4FairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred aggregate fair market value (class IV)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Assets Transferred Allocation of Sales Price (Class IV) -->
			<xsd:element name="Class4SalesPriceAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred allocation of sales price (class IV)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Assets Transferred Aggregate Fair Market Value (Class V) -->
			<xsd:element name="Class5FairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred aggregate fair market value (class V)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Assets Transferred Allocation of Sales Price (Class V) -->
			<xsd:element name="Class5SalesPriceAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred allocation of sales price (class V)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Assets Transferred Aggregate Fair Market Value (Class VI and Class VII) -->
			<xsd:element name="Class6And7FairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred aggregate fair market value (class VI and VII)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Assets Transferred Allocation of Sales Price (Class VI and VII) -->
			<xsd:element name="Class6And7SalesPriceAllocnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assets transferred allocation of sales price (class VI and VII)</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Total Assets Transferred Aggregate Fair Market Value -->
			<xsd:element name="TotalFairMarketValueAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Assets Transferred Aggregate Fair Market Value</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--  Total Assets Transferred Allocation of Sales Price -->
			<xsd:element name="TotalSalesPriceAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Assets Transferred allocation Fair Market Value</Description>
						<LineNumber>Part II Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Buyer or Seller Provide for Allocation of Price in Contract -->
			<xsd:element name="BuyerOrSellerProvAllocnPrcInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Did the buyer or seller provide for an allocation of the sales price in the contract</Description>
						<LineNumber>Part II Line 5a</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Are Aggregate Fair Market Values Listed -->
			<xsd:element name="AggregateValuesListedInd" type="BooleanType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Are aggregate fair market values listed</Description>
						<LineNumber>Part II Line 5b</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Purchase or Enter a license, agreement, or contract -->
			<xsd:element name="PrchsOrEntrAgrmtWithSellrInd" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Purchase or enter a license, agreement, or contract</Description>
						<LineNumber>Part II Line 6</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="BooleanType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ConsiderationComputationStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

			<!--======================= Part III: Supplemental Statement ======================= -->

			<!-- Tax Year Orig. Form 8594 and Supp. Stmts. Were Filed  -->
			<xsd:element name="OrignalFormFiledTaxYear" type="YearType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year orig. Form 8594 and supp. stmts. were filed</Description>
						<LineNumber>Part III Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!--Tax Return Form Number with Which Original Form 8594 and Supp. Stmts Were Filed -->
			<xsd:element name="TaxReturnFormNumberDsc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax return form number with which original form 8594 and supp. stmts were filed</Description>
						<LineNumber>Part III Line 7</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="ShortDescriptionType">
						<xsd:maxLength value="12"/>
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Supplemental Statement Previously Reported Allocation Sales Price (Class I) -->
			<xsd:element name="Class1PrevPriceAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement previously reported allocation sales price (class I)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Increase or (Decrease)(Class I) -->
			<xsd:element name="AggregateValuesListedIndAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement increase or (decrease)(class I)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Redetermined Allocation of Sales Price (Class I)-->
			<xsd:element name="Class1RedeterminedAllocnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement redetermined allocation of sales price (class I)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Previously Reported Allocation Sales Price (Class II) -->
			<xsd:element name="Class2PrevPriceAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement previously reported allocation sales price (class II)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Increase or (Decrease)(Class II) -->
			<xsd:element name="Class2IncreaseDecreaseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement increase or (decrease)(class II)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Redetermined Allocation of Sales Price (Class II)-->
			<xsd:element name="Class2RedeterminedAllocnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement redetermined allocation of sales price (class II)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Previously Reported Allocation Sales Price (Class III) -->
			<xsd:element name="Class3PrevPriceAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement previously reported allocation sales price (class III)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Increase or (Decrease)(Class III) -->
			<xsd:element name="Class3IncreaseDecreaseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement increase or (decrease)(class III)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Redetermined Allocation of Sales Price (Class III)-->
			<xsd:element name="Class3RedeterminedAllocnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement redetermined allocation of sales price (class III)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Previously Reported Allocation Sales Price (Class IV) -->
			<xsd:element name="Class4PrevPriceAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement previously reported allocation sales price (class IV)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Increase or (Decrease)(Class IV) -->
			<xsd:element name="Class4IncreaseDecreaseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement increase or (decrease)(class IV)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Redetermined Allocation of Sales Price (Class IV)-->
			<xsd:element name="Class4RedeterminedAllocnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement redetermined allocation of sales price (class IV)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Previously Reported Allocation Sales Price (Class V) -->
			<xsd:element name="Class5PrevPriceAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement previously reported allocation sales price (class V)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Increase or (Decrease)(Class V) -->
			<xsd:element name="Class5IncreaseDecreaseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement increase or (decrease)(class V)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Redetermined Allocation of Sales Price (Class V)-->
			<xsd:element name="Class5RedeterminedAllocnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement redetermined allocation of sales price (class V)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Previously Reported Allocation Sales Price (Class VI and VII) -->
			<xsd:element name="Class6And7PrevPriceAllocnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement previously reported allocation sales price (class VI and VII)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Increase or (Decrease)(Class VI and VII) -->
			<xsd:element name="Class6And7IncreaseDecreaseAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement increase or (decrease)(class VI and VII)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Supplemental Statement Redetermined Allocation of Sales Price (Class VI and VII)-->
			<xsd:element name="Class6And7RedetermAllocnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Supplemental statement redetermined allocation of sales price (class V and VII)</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Supplemental Statement Allocation Sales Price -->
			<xsd:element name="TotalOfPreviousPriceAllocnAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Supplemental Statement Allocation Sales Price</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Total Supplemental Statement Redetermined Allocation of Sales Price  -->
			<xsd:element name="TotalRedeterminedAllocationAmt" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total Supplemental Statement Redetermined Allocation of Sales Price</Description>
						<LineNumber>Part III Line 8</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Reason(s) for Increase or Decrease -->
			<xsd:element name="IncreaseOrDecreaseReasonsDsc" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Reason(s) for increase or decrease</Description>
						<LineNumber>Part III Line 9</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:complexType>
					<xsd:simpleContent>
						<xsd:extension base="ShortExplanationType">
							<xsd:attribute name="referenceDocumentId" type="IdListType"/>
							<xsd:attribute name="referenceDocumentName" type="StringType" fixed="ReasonsForIncreaseOrDecreaseStatement"/>
						</xsd:extension>
					</xsd:simpleContent>
				</xsd:complexType>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
