schema/2007v2.2/CorporateIncomeTax/Common/IRSFormT/DedExpendForOtherSilviculturalActivitiesSch.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Currently Deductible Expenditures for Other Silvicultural Activities Schedule</Description>
			<TaxYear>2007</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 15, 2008</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ===================================================================================== -->
	<!-- === Currently Deductible Expenditures for Other Silvicultural Activities Schedule === -->
	<!-- ===================================================================================== -->

	<xsd:element name="DedExpendSilviculturalActySch">
		<xsd:annotation>
			<xsd:documentation>Currently Deductible Expenditures for Other Silvicultural Activities Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="DedExpendSilviculturalActySchType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="DedExpendForOtherSilviculturalActivitiesSch">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="DedExpendSilviculturalActySchType">
		<xsd:annotation>
			<xsd:documentation>Content model for Currently Deductible Expenditures for Other Silvicultural Activities Schedule</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Repeating for Timber Deductible Expenditures Info -->
			<xsd:element name="TimberDedExpendInfo" type="TimberDedExpendInfoType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="TimberDedExpendInfoType">
		<xsd:annotation>
			<xsd:documentation>Content model for Timber Deductible Expenditures Info</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Account, Block, Tract, or Area -->
			<xsd:element name="AccountBlockTractOrArea" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Account, block, tract, or area</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Kind of Activity -->
			<xsd:element name="KindOfActivity" type="ShortDescriptionType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Kind of activity</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Number of Acres Treated -->
			<xsd:element name="NumberOfAcresTreated" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Number of acres treated</Description>
					</xsd:documentation>
				</xsd:annotation>
				<xsd:simpleType>
					<xsd:restriction base="IntegerType">
						<xsd:totalDigits value="20" />
					</xsd:restriction>
				</xsd:simpleType>
			</xsd:element>

			<!-- Expenditure Currently Deductible -->
			<xsd:element name="ExpenditureCurrentlyDeductible" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Expenditure currently deductible</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
