schema/2008v2.6/CorporateIncomeTax/Common/IRS1040ScheduleF/CCCLoanDetailCashMethodStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" 
xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Commodity Credit Corporation Loan Detail Cash Method Statement</Description>
			<TaxYear>2008</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>January 26, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ====================================================================== -->
	<!-- === Commodity Credit Corporation Loan Detail Cash Method Statement === -->
	<!-- ====================================================================== -->


	<xsd:element name="CCCLoanDetailCashMethodStmt">
		<xsd:annotation>
			<xsd:documentation>Commodity Credit Corporation Loan Detail Cash Method Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="CCCLoanDetailCashMethodStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="CCCLoanDetailCashMethodStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>	
	
	<xsd:complexType name="CCCLoanDetailCashMethodStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for Commodity Credit Corporation Loan Detail Cash Method Statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>		
				
			<!-- CCC Loan Detail -->
			<xsd:element name="CCCLoanDetail" type="CCCLoanDetailCashMethodType" minOccurs="0" maxOccurs="unbounded">	
				<xsd:annotation>
					<xsd:documentation>
						<Description>CCC loan detail</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
		</xsd:sequence>
	</xsd:complexType>		

	<!-- Type for Repeating Group - CCC Loan Detail -->
	<xsd:complexType name="CCCLoanDetailCashMethodType">
		<xsd:sequence>		
	
			<!-- Description -->
			<xsd:element name="Description" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			
			<!-- Amount -->
			<xsd:element name="Amount" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
						
		</xsd:sequence>
	</xsd:complexType>	
	
</xsd:schema>
