schema/2005v4.0/CorporateIncomeTax/Common/IRS3115/ListOfOtherCostsDirectAndIndirectCostsAttachment.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - List of Other Costs - Direct and Indirect Costs Attachment</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>October 19, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- ================================================================== -->
	<!-- === List of Other Costs - Direct and Indirect Costs Attachment === -->
	<!-- ================================================================== -->

	<xsd:element name="OtherDirectAndIndirectCostsAtt">
		<xsd:annotation>
			<xsd:documentation>List of Other Costs - Direct and Indirect Costs Attachment</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="OtherDirectAndIndirectCostsAttType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="StringType" fixed="ListOfOtherCostsDirectAndIndirectCostsAttachment">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<!-- List of Other Costs - Direct and Indirect Costs Attachment -->
	<xsd:complexType name="OtherDirectAndIndirectCostsAttType">
		<xsd:sequence>
			<xsd:element name="Statement" type="ShortExplanationType" minOccurs="0"/>
		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
