schema/2005v4.0/CorporateIncomeTax/Common/IRS8275R/IRS8275R.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - IRS Form 8275-R</Description>
			<TaxYear>2005</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>October 19, 2007</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>

	<!-- =============================================================== -->
	<!-- =======================  IRS Form 8275-R ========================= -->
	<!-- =============================================================== -->

	<xsd:element name="IRS8275R">
		<xsd:annotation>
			<xsd:documentation>IRS Form 8275-R</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="IRS8275RType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="IRS8275R">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="IRS8275RType">
		<xsd:annotation>
			<xsd:documentation>Content model for IRS Form 8275R</xsd:documentation>
		</xsd:annotation>

		<xsd:sequence>

			<!-- ===== Part I - General Information ===== -->

			<!-- General Information -->
			<xsd:element name="GeneralInformation" minOccurs="0" maxOccurs="unbounded">
				<xsd:complexType>
					<xsd:sequence>

						<!--  Regulation Section  -->
						<xsd:element name="RegulationSection"  minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>RegulationSection</Description>
									<LineNumber>Part I column (a)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:maxLength value="35" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Item or Group of Items -->
						<xsd:element name="ItemOrGroupOfItems" type="ShortDescriptionType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Item or Group of Items</Description>
									<LineNumber>Part I column (b)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Detailed Description of Items -->
						<xsd:element name="DetailedDescriptionOfItems" type="LineExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Detailed Description of Items</Description>
									<LineNumber>Part I column (c)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Form or Schedule -->
						<xsd:element name="FormOrSchedule" type="ShortDescriptionType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Form or Schedule</Description>
									<LineNumber>Part I column (d)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- Line Number -->
						<xsd:element name="LineNumber" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Line No.</Description>
									<LineNumber>Part I column (e)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
							<xsd:simpleType>
								<xsd:restriction base="TextType">
									<xsd:maxLength value="10" />
								</xsd:restriction>
							</xsd:simpleType>
						</xsd:element>

						<!-- Amount -->
						<xsd:element name="Amount" type="USAmountType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Amount</Description>
									<LineNumber>Part I column (f)</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

						<!-- ===== Part II - Detailed Explanation ===== -->

						<!-- Detailed Explanation -->
						<xsd:element name="DetailExplanation" type="ExplanationType" minOccurs="0">
							<xsd:annotation>
								<xsd:documentation>
									<Description>Detail Explanation</Description>
									<LineNumber>Part II</LineNumber>
								</xsd:documentation>
							</xsd:annotation>
						</xsd:element>

					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>

			<!-- ===== Part III - Information About Pass-Through Entity ===== -->

			<!-- Pass-Through Entity Name -->
			<xsd:element name="PassThroughEntityName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pass-through entity name</Description>
						<LineNumber>Part III Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pass-Through Entity Address -->
			<xsd:element name="PassThroughEntityAddress" type="USAddressType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Pass-through entity address</Description>
						<LineNumber>Part III Line 1</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Identifying Number of Pass-Through Entity: choice between SSN or EIN -->
			<xsd:choice minOccurs="0">

				<!-- SSN -->
				<xsd:element name="PassThroughEntitySSN" type="SSNType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identifying number of pass-through entity</Description>
							<LineNumber>Part III Line 2</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

				<!-- EIN -->
				<xsd:element name="PassThroughEntityEIN" type="EINType">
					<xsd:annotation>
						<xsd:documentation>
							<Description>Identifying number of pass-through entity</Description>
							<LineNumber>Part III Line 2</LineNumber>
						</xsd:documentation>
					</xsd:annotation>
				</xsd:element>

			</xsd:choice>

			<!-- Pass-Through Entity Tax Year (From) -->
			<xsd:element name="PassThroughEntityTaxYearFrom" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year of pass-through entity (from)</Description>
						<LineNumber>Part III Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Pass-Through Entity Tax Year (To) -->
			<xsd:element name="PassThroughEntityTaxYearTo" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Tax year of pass-through entity (to)</Description>
						<LineNumber>Part III Line 3</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- IRS Center Where Pass-Through Entity Filed Return -->
			<xsd:element name="IRSCenterWherePassThruEntFiled" type="IRSServiceCenterType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Internal Revenue Service Center where the pass-through entity filed its return</Description>
						<LineNumber>Part III Line 4</LineNumber>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
