schema/2009v1.3/CorporateIncomeTax/Common/IRS926/RecaptureUnderSection1503dOnTransferStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://www.irs.gov/efile" xmlns="http://www.irs.gov/efile"
xmlns:xsd="http://www.w3.org/2001/XMLSchema"
elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">

	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Corporate Income Tax Schema - Recapture Under Sec 1503(d) on Transfer Statement</Description>
			<TaxYear>2009</TaxYear>
			<MaturityLevel>Final Release</MaturityLevel>
			<ReleaseDate>December 23, 2009</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>

	<xsd:include schemaLocation="../../../Common/efileTypes.xsd" />


	<!-- ================================================================= -->
	<!-- =====  Recapture Under Sec 1503(d) on Transfer Statement   ====== -->
	<!-- ================================================================= -->


	<xsd:element name="RecaptureSect1503dTrnsfrStmt">
		<xsd:annotation>
			<xsd:documentation>Recapture under Sec 1503(d) on transfer statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="RecaptureSect1503dTrnsfrStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="RecaptureUnderSection1503dOnTransferStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>

	<xsd:complexType name="RecaptureSect1503dTrnsfrStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for recapture under Sec 1503(d) on transfer statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>

			<!-- Recapture Under Sec 1503(d) on Transfer Info -->
			<xsd:element name="RecaptureSect1503dTrnsfrInfo" type="RecaptureSect1503dTrnsfrInfoType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Recapture under Sec 1503(d) on transfer info</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>

	<!-- Type for Repeating Group - Recapture Under Sec 1503(d) on Transfer -->
	<xsd:complexType name="RecaptureSect1503dTrnsfrInfoType">
		<xsd:sequence>

			<!-- Description of Property Transferred -->
			<xsd:element name="DescPropTransferred" type="LineExplanationType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Description of property transferred</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>

			<!-- Amount of Recapture -->
			<xsd:element name="AmountOfRecapture" type="USAmountType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Amount of recapture</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>


		</xsd:sequence>
	</xsd:complexType>

</xsd:schema>
