schema/2013v2.0/CorporateIncomeTax/Common/IRS8900/AssignorRailroadTrackMilesStatement.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns="http://www.irs.gov/efile" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.irs.gov/efile" elementFormDefault="qualified" attributeFormDefault="unqualified" version="1.0">
	<xsd:annotation>
		<xsd:documentation>
			<Description>IRS e-file Schema - Assignor Railroad Track Miles Statement</Description>
			<TaxYear>2013</TaxYear>
			<MaturityLevel>Draft Release</MaturityLevel>
			<ReleaseDate>September 16, 2013</ReleaseDate>
		</xsd:documentation>
	</xsd:annotation>
	
	<xsd:include schemaLocation="../../../Common/efileTypes.xsd"/>
	
	<!-- ====================================================================== -->
	<!-- ============  Assignor Railroad Track Miles Statement ================ -->
	<!-- ====================================================================== -->
	
	<xsd:element name="AssignorRailroadTrackMilesStmt">
		<xsd:annotation>
			<xsd:documentation>Assignor railroad track miles statement</xsd:documentation>
		</xsd:annotation>
		<xsd:complexType>
			<xsd:complexContent>
				<xsd:extension base="AssignorRailroadTrackMilesStmtType">
					<xsd:attributeGroup ref="DocumentAttributes">
						<xsd:annotation>
							<xsd:documentation>Common return document attributes</xsd:documentation>
						</xsd:annotation>
					</xsd:attributeGroup>
					<xsd:attribute name="documentName" type="xsd:string" fixed="AssignorRailroadTrackMilesStatement">
						<xsd:annotation>
							<xsd:documentation>IRS internal use only. To avoid error in the return, do not include the attribute name or value.</xsd:documentation>
						</xsd:annotation>
					</xsd:attribute>
				</xsd:extension>
			</xsd:complexContent>
		</xsd:complexType>
	</xsd:element>
	
	<xsd:complexType name="AssignorRailroadTrackMilesStmtType">
		<xsd:annotation>
			<xsd:documentation>Content model for assignor railroad track miles statement</xsd:documentation>
		</xsd:annotation>
		<xsd:sequence>
			<!-- Assignor Railroad Track Miles -->
			<xsd:element name="AssignorRailroadTrackMilesGrp" type="AssignorRailroadTrackMilesGrpType" minOccurs="0" maxOccurs="unbounded">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Assignor railroad track miles statement</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
	
	<!-- Type for Repeating Group - Assignor Railroad Track Miles -->
	<xsd:complexType name="AssignorRailroadTrackMilesGrpType">
		<xsd:sequence>
			<!-- Name Of Each Assignor -->
			<xsd:element name="AssignorName" type="BusinessNameType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Name of each assignor</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Identification Number Of Each Assignor-->
			<xsd:element name="EIN" type="EINType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Identification number of each assignor</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Effective Date Of Each Assignment To The Assignee -->
			<xsd:element name="Dt" type="DateType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Effective date of each assignment to the assignee</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<!-- Total Number Of Miles Of Eligible Railroad Track Assigned By Each Assignor To The Assignee -->
			<xsd:element name="TotalRlrdTrackMilesQty" type="LongIntegerType" minOccurs="0">
				<xsd:annotation>
					<xsd:documentation>
						<Description>Total number of miles of eligible railroad track assigned by each assignor to the assignee</Description>
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>
